[2018-09-19 00:28] kathy-phet commented on #142
I don’t totally follow. Maybe we table this until Thursday when you can both look at my computer screen with me?

Sent from my iPhone

On Sep 18, 2018, at 6:24 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I used the spike in #133 (comment)<https://github.com/phetsims/wave-interference/issues/133#issuecomment-422466033> to see if the wave area was matching up wit

[2018-09-19 00:54] samreid commented on #142
I see the asymmetry you are referring to.  My preceding comment was checking for an overall offset in the coordinate mapping.  Here's the function we are using for mapping wave value => color:

![image](https://user-images.githubusercontent.com/679486/45724353-f66ffb80-bb72-11e8-86c6-62e1352eebf6.png)

On April 5, 2018 we decided we wanted to "try out flattening the range for zero amplitude. "  Ho

[2018-09-19 03:35] samreid commented on #143
I tested the same spike that was used here https://github.com/phetsims/wave-interference/issues/133#issuecomment-422466033 and referred to here https://github.com/phetsims/wave-interference/issues/142#issuecomment-422603485 and saw that the lattice matches up pretty well with the wave area chart (transparency added to make it easier to visualize):

![image](https://user-images.githubusercontent.co

[2018-09-19 04:08] samreid commented on #144
I can't figure out how to reproduce this problem.  @arouinfar tested the water drop model more generally here: https://github.com/phetsims/wave-interference/issues/37 .  Let's close for now.

[2018-09-19 04:08] #144 closed

[2018-09-19 04:11] samreid commented on #145
iPad Air is hitting 60fps for the sound scene, but it drops to 3-4fps when showing the particles.

[2018-09-19 04:40] samreid commented on #145
CanvasNode looks great and Waves Screen/Speaker/Particles is running at 60fps on iPad Air.  @arouinfar can you please check that the particle layout and rendering still looks as good as before?

Also, this change likely affects the memory usage of the sim, so iPad 2 crashing may be more or less likely now.  It will need testing.  See #128.

[2018-09-19 04:41] samreid commented on #128
In the aforementioned issue, we switched from hundreds of shaded sphere nodes to using one canvas. It likely impacts the memory usage, so I should run more crash tests.

[2018-09-19 20:30] arouinfar commented on #145
@samreid I compared master to dev.28 on the iPad Air, and things are running so much smoother on master!! I am noticing a bit more aliasing of the particles in master, however. Is there anything that can be done to sharpen them a bit?

master:
![img_0181](https://user-images.githubusercontent.com/8419308/45779347-00980580-bc18-11e8-8516-88b375713d6a.PNG)

dev.28:
![img_0182](https://user-images.gi

[2018-09-19 20:53] arouinfar commented on #137
Looks great @samreid!

[2018-09-19 20:53] #137 closed

[2018-09-19 20:55] arouinfar commented on #120
Slow motion is looking good @samreid.

[2018-09-19 20:55] #120 closed

[2018-09-19 21:47] arouinfar commented on #39
A frequency range of A4-A5 corresponds to 440 Hz to 880 Hz, which still allows for doubling f. That range is a little narrower than I would have liked, but I think it's an acceptable trade-off. Speaking with @kathy-phet she would also agree.

@samreid not sure if Mike will be available, but I will likely have some time to discuss parameter tuning after dev meeting tomorrow.

[2018-09-19 23:36] samreid commented on #145
I increased the sound particles resolution in the preceding commit, and it seems crisper on my Mac Chrome.  @arouinfar can you please test on the same platform you reported above?

[2018-09-19 23:41] arouinfar commented on #145
Looking much crisper @samreid! The performance on iPad Air seems pretty comparable to before, too.

![image](https://user-images.githubusercontent.com/8419308/45787468-c9831d80-bc32-11e8-850b-df23a4c5e914.png)

Not sure if anything else needs to be done for this issue, so I'll kick it back to you @samreid.

[2018-09-19 23:44] samreid commented on #145
Thanks, nothing else for this issue, closing.

[2018-09-19 23:44] #145 closed

[2018-09-19 23:49] samreid commented on #143
I'm not sure of the best way to investigate this.  Tagging for design meeting to get ideas.

[2018-09-20 00:43] samreid opened #148 "Prepare a stable, somewhat polished version by Friday afternoon"
@ariel-phet said we will be demoing a version on Monday Sept 24, and added:

I think we'll be meeting on Thursday Sept 20, so perhaps we can polish pixels then.  After our meeting we'll determine what else should be done before creating a dev version, and what level of testing we would like to do for it.

[2018-09-20 04:18] samreid commented on #146
I pushed a proposed fix, would be good for @arouinfar to review default values and ranges for each of the emitter types.

[2018-09-20 12:53] samreid commented on #24
Review in https://github.com/phetsims/scenery-phet/issues/395 is complete, and ScrollingChartNode has been moved to griddle.  Next I need to get a review for ScrollingChartNode, I'll create a separate issue for that.

[2018-09-20 13:01] samreid commented on #24
I created a new issue in griddle for reviewing the ScrollingChartNode.  On hold until that is complete.

[2018-09-20 13:12] samreid commented on #24
Removed hold to put https://github.com/phetsims/griddle/issues/30 on my Wave Interference "todo" list.

[2018-09-20 17:50] jonathanolson commented on #132
Oops, need to patch one more part of it.

<img width="1071" alt="screen shot 2018-09-20 at 11 49 23 am" src="https://user-images.githubusercontent.com/480878/45836961-685b5880-bccb-11e8-8c2e-f7c89a9577a9.png">

Can you test now?

[2018-09-20 18:53] KatieWoe opened #149 "CT Cannot read property length of undefined"
[code]

[2018-09-20 22:28] arouinfar commented on #146
@samreid the separation ranges and defaults look good to me!

[2018-09-20 22:28] #146 closed

[2018-09-20 23:17] arouinfar commented on #148
Here's a screenshot of the preliminary pixel-polishing. I'll enumerate the changes tonight/first thing tomorrow @samreid.

![image](https://user-images.githubusercontent.com/8419308/45851589-f8fc5d80-bcf8-11e8-9e43-5af7425b1c55.png)

[2018-09-21 02:46] samreid commented on #148
@arouinfar your proposed mock-up looks great, thanks.  I captured many of the changes, not sure if I got them all.  I'll commit and can you please review and make recommendations?

[2018-09-21 02:52] samreid commented on #148
Also, I'm not sure if I have icons for the scene radio buttons, can you check if they have been shared, particularly for the speaker?  Perhaps we should leave the hose icon as a hose to match with the play area since we won't have time to change that by end of business.

[2018-09-21 02:56] samreid commented on #149
It looks like I pushed a fix for this, but Bayes CT is currently offline.  I'll put this issue on hold until we can cross check it with Bayes.

[2018-09-21 03:05] samreid commented on #132
Looks great, I'm now getting the same behavior through `children=` and `visibility=`.  Leaving self-assigned to fine-tune the layout.

[2018-09-21 03:07] samreid opened #150 "Measuring Tape looks off-center"
![image](https://user-images.githubusercontent.com/679486/45858115-16d9ba80-bd19-11e8-9869-63c5def29af5.png)

From #132.

[2018-09-21 03:07] samreid commented on #132
I created a new issue for that part, closing.

[2018-09-21 03:07] #132 closed

[2018-09-21 16:28] arouinfar commented on #148
@samreid that was fast! The scene buttons in my mockups are old, and were just meant to communicate size/colors, so no need to change those any further. For the purpose of the site visit, I think the pixels have been sufficiently polished. :)

@ariel-phet can you take a look at master?

[2018-09-21 16:32] samreid commented on #148
Maybe it would be best for me to publish a dev version, then it if checks out we can use it without having to re-test it.

[2018-09-21 16:36] samreid commented on #148
Here's a dev version: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.30/phet/wave-interference_en_phet.html

[2018-09-21 19:03] samreid commented on #148
@ariel-phet and I worked together to fine tune other layout issues and published a new dev version:
https://github.com/phetsims/wave-interference/issues/148

Known issues:
1. On the diffraction screen, we would like the left panel to show the aperture rather than showing the gaussian.  This is a more complex change and I indicated about a 10% chance I can get to this in time.
2. On the diffraction

[2018-09-21 19:50] samreid commented on #148
From slack:

Sam Reid [1:15 PM]
Should I remove the “lines” option from the diffraction screen?  I think right now it’s only showing numerical artifacts and not showing any physics.

Ariel Paul [1:45 PM]
That seems reasonable for the moment

[2018-09-21 19:56] samreid commented on #148
I pushed a new dev version that omits the "lines" option from the diffraction screen: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.33/phet/wave-interference_en_phet.html

[2018-09-21 20:45] arouinfar commented on #148
@samreid dev.33 looks good to me!

A few more caveats/reminders for @ariel-phet's demo
* The particle view of sound is still in progress. The wavefronts are particularly weak at low-frequencies, and we still need to tune the model parameters to ensure better coordination between particle/wave views, but for the most part, things look about right.
* There's a slight misalignment between the wave in

[2018-09-21 20:46] arouinfar commented on #143
In design meeting yesterday, we noticed that the source point on the lattice also seems misaligned with the graph.

Here's another example taken from dev.32:
![image](https://user-images.githubusercontent.com/8419308/45904172-7da6b480-bda9-11e8-9c8d-f0b2cbf88d5b.png)

[2018-09-21 20:52] arouinfar commented on #142
In yesterday's design meeting, @ariel-phet mentioned that he wasn't particularly worried that the troughs look slightly wider than the peaks.  I can also live with this slight asymmetry (assuming there aren't any issues that arise in the interviews) as it really helps gives the nodes a more defined look.

@kathy-phet suggested that we try linearly scaling the brightness (rather than the current pi

[2018-09-21 23:03] arouinfar opened #151 "Intensity Graph cleanup and open questions"
For #126. Tagging for discussion at design meeting.

## 1
How quantitative does the Intensity graph need to be? Java has “position” axis which seems dimensionless (or at least doesn’t match scale/units of wave).

  @samreid commented:

## 2
In Java, peaks align with maxima’s position where the wave meets the left side of the screen (green lines). My eye expects the peaks to align to the red lines,

[2018-09-21 23:04] arouinfar commented on #126
@samreid after reviewing the design doc, I have created the above issue.

[2018-09-21 23:04] #126 closed

[2018-09-24 18:16] samreid commented on #24
On hold for review.

[2018-09-24 20:34] samreid commented on #45
Awaiting feedback, on hold again.

[2018-09-24 21:16] #148 closed

[2018-09-24 21:18] ariel-phet opened #152 "Consider adding wavelength readout to scenes with Light"
I was thinking perhaps we could add some sort of wavelength readout to the scenes with light. Although I like the frequency slider, and I think it keeps things consistent and pedagogically correct (since the frequency is really the constant quantity) being able to know the wavelength also seems relevant, since diffraction tends to happen when features are "on the order" of the wavelength. I was th

[2018-09-25 15:10] samreid commented on #142
Here's a picture with the original piecewise linear model. Single wave source, no interference, first screen.

[code]

![image](https://user-images.githubusercontent.com/679486/46023669-564e3100-c0a2-11e8-9cc4-a9b34feca145.png)

Here's a picture of a simple linear model:
[code]

![image](https://user-images.githubusercontent.com/679486/46023690-61a15c80-c0a2-11e8-8374-7de8cad2c581.png)

Just looki

[2018-09-25 15:19] samreid commented on #150
I swapped out the Measuring Tape icon with a blue rectangle with the same dimensions and it came out like this:

![image](https://user-images.githubusercontent.com/679486/46024461-14be8580-c0a4-11e8-8305-41580b992e72.png)

Perhaps the problem lies elsewhere?

[2018-09-25 15:20] samreid commented on #150
align:top came out like this:

![image](https://user-images.githubusercontent.com/679486/46024544-45062400-c0a4-11e8-8047-9865b7413c1a.png)

So it seems the other nodes have incorrect bounds.

[2018-09-25 15:28] samreid commented on #150
@jonathanolson can you please help me figure out what's causing the incorrect dimensions for these icons?  The code is in wave-interference/js/common/view/ToolboxPanel.js

[2018-09-25 15:36] samreid commented on #149
Bayes CT says wave-interference is currently passing, closing.

[2018-09-25 15:36] #149 closed

[2018-09-25 15:41] samreid commented on #54
Removed hold and assigned to @arouinfar to check status.

[2018-09-25 16:47] jonathanolson commented on #150
Commit is https://github.com/phetsims/scenery/commit/710ecf689ae8aa03a356737d017fdfaf123db009 (forgot to tag).

[2018-09-25 16:57] samreid commented on #150
Looks great @jonathanolson, thanks!  Closing.

[2018-09-25 16:57] #150 closed

[2018-09-25 22:00] arouinfar commented on #152
@ariel-phet in general, I like this suggestion. I do worry, however, that single-slit diffraction is better observed at a = 2 or 3 λ. I think this is partly due to the screen being relatively close to the slits. I'll tag for further discussion at design meeting.

### a ~ λ
<img width="813" alt="screen shot 2018-09-25 at 3 40 35 pm" src="https://user-images.githubusercontent.com/8419308/46044951-78

[2018-09-26 03:42] samreid commented on #7
From meeting notes:

[2018-09-26 04:00] samreid commented on #7
Is that saying we would show the gaussian in the top left?  If so, why?

[2018-09-26 04:04] samreid commented on #8
During our review, performance on the iPad air was low.  I'm seeing around 4fps while dragging a slider on this screen.  Some possibilities:

1. Reduce the size of the canvas
2. Could we hollywood an algorithm that would look as correct but run faster?

It seems we should investigate the canvas size first.

[2018-09-26 04:07] samreid commented on #9
@arouinfar would you like to create an initial design and propose an algorithm for this, or should I put something together?

[2018-09-26 04:11] samreid commented on #99
I'll be moving notes from https://github.com/phetsims/wave-interference/issues/7 to here and closing https://github.com/phetsims/wave-interference/issues/7.

- [ ] hard edge on bottom left image instead of showing gaussian there (but do show it in top left image). Even though we will still use gaussian for the model.
- [ ] Start with a circle where you just change the radius. Maybe we can get rid

[2018-09-26 04:11] samreid commented on #7
We'll continue discussion on these topics in the Diffraction design issue which is https://github.com/phetsims/wave-interference/issues/99

[2018-09-26 04:11] #7 closed

[2018-09-26 04:13] samreid commented on #8
If we end up hollywooding many-slit diffraction in #9, will we also want to hollywood the other apertures as well?

[2018-09-27 01:41] Denz1994 commented on #94
My comments in https://github.com/phetsims/capacitor-lab-basics/issues/244 should also be noted in this issue (https://github.com/phetsims/capacitor-lab-basics/issues/244#issuecomment-424449014 and https://github.com/phetsims/capacitor-lab-basics/issues/244#issuecomment-424449047).

Otherwise the `maxValue` functionality behaves well.

[2018-09-27 04:41] samreid commented on #94
Thanks @Denz1994, it seems we can close this issue and continue in https://github.com/phetsims/capacitor-lab-basics/issues/244

[2018-09-27 04:41] #94 closed

[2018-09-27 14:19] samreid commented on #8
I tried running the same FFT algorithm at 128x128 (previously was 256x256) and it got around 22fps on iPad Air for squares and 9fps for circles.  In my opinion, this seemed responsive enough for squares.

To test the hypothesis that the extra time was spent in rendering the secondary circle canvas, I omitted the calls that painted it to the secondary (displayed) canvas, but the frame rate remained

[2018-09-27 19:46] samreid commented on #8
I estimated 2-4 hours to test the Airy disk using a 3rd party library.  We'll investigate, but if it doesn't work, that's OK.

We'll start with radius only (only 1 control for circle--no ellipse).

[2018-09-27 20:15] samreid opened #153 "Particles lag behind wave crests"
https://github.com/phetsims/wave-interference/issues/39

![image](https://user-images.githubusercontent.com/679486/46172111-cb1a9a00-c25f-11e8-80e0-2e2468111a9c.png)

[2018-09-27 20:17] samreid commented on #39
We decided we would like to add controls for the free parameters so we can determine what's best.  I'll do so.

[2018-09-28 16:38] samreid opened #154 "Bug when changing frequency when paused"
During yesterday's design meeting, we saw a problem that was created like so:

1. set frequency to max
2. pause
3. set frequency to min
4. Press step many times

This led to a buggy behavior in the water drops and wave area.

[2018-09-28 16:39] arouinfar opened #155 "Update water drop artwork"
In yesterday's design meeting, @kathy-phet suggested darkening the water drop artwork (originally discussed in #15) so it's a bit easier to see against the gray background in the side-view.

<img src="https://user-images.githubusercontent.com/8419308/46220854-ac241280-c308-11e8-81c8-e9e48fdb45ad.png" width=200>

@samreid here are the updated the assets. I'll delete the .ai file from Drive once it'

[2018-09-28 16:48] samreid opened #156 "The FFT for rectangles shows artifacts at some values of width/height"
Discovered in yesterday's design meeting.  We will need to increase resolution or skip over problematic combinations of width x height.

[2018-09-28 19:11] samreid opened #157 "Add controls so we can explore sound particle physics parameter space"
At yesterday's design meeting, we decided it would be nice to add development controls for the sound particle physics free parameters, see https://github.com/phetsims/wave-interference/issues/39.  It would be great if we can find one set of parameters that work well across the frequency/amplitude spectrum.  If necessary, then we may search for sets of parameters at key frequencies and interpolate

[2018-10-01 14:38] samreid commented on #8
I wrote on slack:

Sam Reid [8:38 AM]
For Wave Interference, I would like to use the Bessel function to show diffraction for the circular aperture.  I saw this library https://github.com/SheetJS/bessel which is open source listed as Apache 2.0.  Is that compatible with our licensing?  Or is there a better way to evaluate or approximate the bessel function?

[2018-10-01 15:17] samreid commented on #39
Controls being added in https://github.com/phetsims/wave-interference/issues/157

[2018-10-01 15:18] samreid commented on #153
We may be able to address this with the controls introduced in https://github.com/phetsims/wave-interference/issues/157 for parent issue https://github.com/phetsims/wave-interference/issues/39

[2018-10-01 16:57] samreid commented on #8
Also, I wonder if it would be possible to just use an Airy Disk raster and stretch it, instead of dynamically computing it each time?  The same could be possible for rectangles.  This would give great performance as well as having a simpler implementation (as long as it is accurate).

[2018-10-01 17:08] samreid commented on #157
Controls added in preceding commit, we'll close this issue and continue the tuning in https://github.com/phetsims/wave-interference/issues/39

[2018-10-01 17:08] #157 closed

[2018-10-01 17:17] samreid opened #158 "Tune the sound particle physics"
In #39 we moved to a new sound particle physics model which computes a local gradient on the lattice to use as the force on the sound particle.  In #157 we added controls to explore the parameter space.  The next step is for Wave Interference design team members @kathy-phet @ariel-phet @samreid @arouinfar @KatieWoe to experiment with a dev version to find good combinations of free parameters:
http

[2018-10-01 17:17] samreid commented on #39
We'll address tuning in #158, on hold until that's complete.

[2018-10-01 17:38] samreid commented on #153
This is on hold pending tuning in #158

[2018-10-01 17:40] samreid commented on #156
One possibility mentioned in https://github.com/phetsims/wave-interference/issues/8 is to use rasters for the FFTs.  That would give higher resolution and reduce (eliminate?) artifacts.  On hold until we have decided how to proceed on #8

[2018-10-01 18:06] KatieWoe commented on #158
Preliminary findings for me.  It looks like the best results come from decreasing gradient force and increasing home force a frequency gets higher.  Haven't found any numbers that look exactly right yet, but it might be a good place to start.

[2018-10-01 18:33] KatieWoe commented on #158
My suggestions for now, though they could definitely still use some tweaking.
Randomness = 12 and Friction = .85 for all.
Low Frequency: Home Force = 2 and Gradient Force = 130
Medium Frequency: Home Force = 4 and Gradient Force = 99.5
High Frequency: Home Force = 6.5 and Gradient Force = 63

[2018-10-03 15:14] samreid commented on #8
Reviewing the existing implementation of FFT for rectangles, it seems scaling would work OK.  I'm planning to investigate this.

[2018-10-04 01:43] samreid commented on #8
I published a version that shows scaled (fast) and fft (slow) results side by side.  They look qualitatively similar:
![image](https://user-images.githubusercontent.com/679486/46448520-7e91fb80-c744-11e8-9a6a-72662b8ef0c8.png)

[2018-10-04 01:46] samreid commented on #8
@arouinfar I'd like to continue investigating this avenue for the circular aperture, but can you please check the preceding dev link to make sure it seems reasonable to you?

[2018-10-04 03:16] samreid commented on #8
Generating a circular aperture at 20 and scaling to 4 loses a lot of the dynamics:
![image](https://user-images.githubusercontent.com/679486/46451011-899f5880-c751-11e8-96f5-a3796a32ca51.png)

I'll test restricting the range to 10

[2018-10-04 03:36] samreid commented on #155
Committed and pushed, can you please review on phettest?

[2018-10-04 03:43] samreid commented on #143
I reduced the lattice size to a width of 10 and padding of 0 and saw this correspondence between the wave area and the chart:

![image](https://user-images.githubusercontent.com/679486/46451754-58c12280-c755-11e8-9260-4905e69c2cbb.png)

[2018-10-04 03:50] samreid commented on #143
I'm seeing the same offset for plane waves:

![image](https://user-images.githubusercontent.com/679486/46451947-5d3a0b00-c756-11e8-9f5d-7446ec10c237.png)

[2018-10-04 17:55] arouinfar commented on #155
I think the updated drop (left) has better contrast against the wave/gray than the original drop (right). Thanks @samreid!

![image](https://user-images.githubusercontent.com/8419308/46492847-f9eac000-c7cb-11e8-845a-3e8558bb57c6.png) ![image](https://user-images.githubusercontent.com/8419308/46492863-066f1880-c7cc-11e8-9dec-e87a8e8b189e.png)

![image](https://user-images.githubusercontent.com/8419

[2018-10-04 17:55] #155 closed

[2018-10-04 20:21] samreid opened #159 "Make the intensity chart gridlines match the reference units"

[2018-10-04 20:25] samreid opened #160 "Intensity chart should not go from "0" to "1""
Perhaps we need to remove the "1" label since it isn't really the max

[2018-10-04 20:29] samreid opened #161 "The light screen shouldn't saturate so early."
See #152

![image](https://user-images.githubusercontent.com/679486/46501147-e0547300-c7e1-11e8-9eb2-83cdcf3dd689.png)

We would like to turn down the scale factor in the light screen so it doesn't saturate too early.  It will not be coupled to the intensity chart scale.

[2018-10-04 20:37] samreid opened #162 "Reduce angle in light screen"
Not so much perspective

[2018-10-04 20:38] samreid opened #163 "Why is the interference graph so noisy?"
See:

![image](https://user-images.githubusercontent.com/679486/46501553-15ad9080-c7e3-11e8-86ae-5be07bc90ffe.png)

@kathy-phet says to consult with @jonathanolson as necessary.

This was not a problem in Java.

[2018-10-04 20:39] samreid commented on #163
If there was postprocessing smoothing in the Java version, we should try it.

[2018-10-04 20:40] samreid commented on #163
It could be a back-reflection?

[2018-10-04 20:43] arouinfar commented on #142
@samreid can create a dev version with the linear mapping?

[2018-10-04 22:47] arouinfar commented on #152
@ariel-phet we discussed this during today's design meeting. The general consensus was that this feature isn't strictly necessary.

Single-slit diffraction is best observed at a > 2λ (or d > 2λ for double-slit interference) -- see https://github.com/phetsims/wave-interference/issues/152#issuecomment-424516291 for screenshots. Supplying the precise λ value may not actually help.

Qualitatively, the

[2018-10-04 23:07] arouinfar opened #164 "Add zoom to intensity graph"
From discussion in #151, we decided to add zoom buttons to the intensity graph. Heres' a mockup:

![image](https://user-images.githubusercontent.com/8419308/46507776-73e46e80-c7f7-11e8-9172-2bd81d05eafd.png)

General behavior:
* Default zoom level should match current scaling in the sim.
* Allow 2-3 steps of zooming in and out
* When zoomed all the way in or out, the corresponding zoom button will

[2018-10-04 23:07] arouinfar commented on #151
Discussed in today's design meeting.

## 1

Position axis doesn't need explicit units (the were meaningless in Java), but the gridlines should map to the scale bar. These seem to already coordinate, but @samreid opened #159 to double check.

## 2

Let's try a little less perspective on the screen. See #162.

## 3

The noise is most apparent on the Interference screen. @samreid will investigate in

[2018-10-04 23:07] arouinfar commented on #151
Since the outstanding work is all documented in other issues, I'm going to go ahead and close this issue.

[2018-10-04 23:07] #151 closed

[2018-10-05 01:32] ariel-phet commented on #152
Since the equations we teach are basically d*sin(theta) = m(lambda) I think not being able read out lambda is problematic.

[2018-10-05 14:14] samreid commented on #142
I committed linear to master and created a dev version:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.37/phet/wave-interference_en_phet.html

@arouinfar can you please review and advise?

[2018-10-05 14:52] samreid commented on #143
I went to the rasterized canvasnode as mentioned in the preceding comment and created a debug slice on the lattice like so:

[code]

And this is centered in the middle:
![image](https://user-images.githubusercontent.com/679486/46542462-b780bc00-c87b-11e8-89b1-9fc5e1d840c0.png)

However, to the left and right sides it is not accurate:

![image](https://user-images.githubusercontent.com/679486/46542

[2018-10-05 15:16] samreid commented on #143
Moving the boundaries of the mapping like so gets things to match up:

![image](https://user-images.githubusercontent.com/679486/46543885-45aa7180-c87f-11e8-8ba3-96574f7e8e1a.png)

[code]

[2018-10-05 15:29] samreid opened #165 "Changing water plane wave frequency does nothing"
![image](https://user-images.githubusercontent.com/679486/46544538-1b59b380-c881-11e8-82fd-1de0c3512cfa.png)

Discovered during #143

[2018-10-05 15:33] samreid commented on #143
Looks OK for sound at this frequency:
![image](https://user-images.githubusercontent.com/679486/46544693-873c1c00-c881-11e8-8995-c5d7ecd2acff.png)

And at the sound low frequency:
![image](https://user-images.githubusercontent.com/679486/46544742-9de27300-c881-11e8-989b-dbf9ecbb8a53.png)

[2018-10-05 15:39] samreid commented on #143
@arouinfar I published a version with the improvement listed above.  It seems some cases are better, but can you please help me test more thoroughly?  Does this resolve or reduce the problem?  If the problem is still present, where is it worst and how severe is it?  Also be aware I created https://github.com/phetsims/wave-interference/issues/165 about a problem I noted in water plane wave frequenc

[2018-10-05 17:04] samreid commented on #154
Proposed fix committed above, and the instructions in the issue description work nicely now.  The flip side of this coin is that when changing from low frequency to high frequency, the simulation waits until one wave cycle is complete before sending the next drop.  @arouinfar can you please test the water drop frequency in a variety of contexts and see if there is any other incorrect behavior rela

[2018-10-05 17:46] samreid commented on #159
They matched by chance before, now they match by design (in the code), and if the scale indicator length is changed, the grid lines will change to match.  @arouinfar can you please test in master and make sure nothing was disturbed?

[2018-10-05 17:52] samreid opened #166 "Difficult to distinguish light wave area from intensity screen when wave is off."
When the wave is off, the intensity screen and wave area are the same color, with no boundary:

![image](https://user-images.githubusercontent.com/679486/46551461-13a40a00-c895-11e8-834e-72a1c3edf522.png)

Should we add a stroked edge or dotted line so it is clearer what is happening at that boundary?

[2018-10-05 17:55] samreid commented on #161
Here is the default configuration on the interference screen:

![image](https://user-images.githubusercontent.com/679486/46551603-6f6e9300-c895-11e8-8091-7fed3acf2fe3.png)

That does seem oversaturated as well, though not as bad as the case @arouinfar described.  Perhaps the problem is partly that the plane wave magnitude is too high?

[2018-10-05 18:03] samreid commented on #161
The previous scaling value was 7, I reduced it to 1 and found it was too low for this default case (nothing reached max).  A level of 2 seemed OK, though it reveals some artifacts at the edges that we were previous "wallpapering" over.

![image](https://user-images.githubusercontent.com/679486/46552023-9a0d1b80-c896-11e8-98e0-3d11151e5841.png)

I'll test this for plane waves.

[2018-10-05 18:03] samreid commented on #161
Changing this saturation point also has the effect of increasing the width of the minima on the screen.

[2018-10-05 18:07] samreid commented on #161
The scaling factor of 2 yields a yellow pattern like this:

![image](https://user-images.githubusercontent.com/679486/46552170-1c95db00-c897-11e8-9dba-3841d24e0c42.png)

@arouinfar can you please comment?  Is this better? Do you recommend a different scaling factor?  Or a query parameter so you can experiment with different values yourself?

I'll commit the change from 7 => 2 to master so you can

[2018-10-05 18:14] samreid commented on #162
The prior shear value was -0.5.  A value of 0 corresponds to no shearing.  I tested a few values and settled on -0.3.  I'll commit.  @arouinfar can you please review on phettest and let me know if this is good, or if you would like to try a different value?

[2018-10-05 18:16] samreid commented on #163
Note that some curves are not too noisy, even after allowing time for back-reflection:

![image](https://user-images.githubusercontent.com/679486/46552600-6d5a0380-c898-11e8-8587-069f0567e92c.png)

[2018-10-05 18:55] samreid commented on #163
Java was compacting values into the light screen, then reading color values off that and taking their magnitude to get the chart values.

[2018-10-05 19:07] samreid commented on #163
If I add 3-point vertical smoothing, the result from the top comment looks like this:

![image](https://user-images.githubusercontent.com/679486/46554681-41418100-c89e-11e8-84ae-f27875bd76e6.png)

Adding 2-point horizontal average at the sampling site gives this:

![image](https://user-images.githubusercontent.com/679486/46554836-bca33280-c89e-11e8-980b-5e0733531f86.png)

I found the Java version

[2018-10-05 19:09] samreid commented on #163
I also increased the temporal window from 120 to 180 and that helps it stabilize the temporal jitter.

[2018-10-05 19:12] samreid commented on #163
After the commit, it looks like this:

![image](https://user-images.githubusercontent.com/679486/46555363-43a4da80-c8a0-11e8-8e25-a23e7873dc7c.png)

@arouinfar can you please test on phettest and let me know your recommendations?

[2018-10-05 20:18] samreid opened #167 "Asymmetry in the intensity chart"
I can understand there is noise and artifacts in the intensity screen, but why is there asymmetry?

![image](https://user-images.githubusercontent.com/679486/46558172-76070580-c8a9-11e8-9ca8-ec495c3005cf.png)

[2018-10-05 20:36] arouinfar commented on #164
Looks awesome @samreid!

I'm on the fence about zoom level 1. In preliminary testing, I haven't found a case were it was particularly useful, though it doesn't hurt to leave it in.

Let's review with the team at the next design meeting.

[2018-10-05 20:41] arouinfar commented on #160
👍

[2018-10-05 20:41] #160 closed

[2018-10-05 20:51] arouinfar commented on #142
Thanks @samreid. I think the linear scaling is a no-go.
I find that the wave is a bit muddier, and the nodes are much harder to spot.

Linear:
![image](https://user-images.githubusercontent.com/8419308/46559508-d26c2400-c8ad-11e8-845e-7003f8e11693.png)

Piecewise:
![image](https://user-images.githubusercontent.com/8419308/46559524-def07c80-c8ad-11e8-952a-49f11aca6f13.png)

Agreed @samreid. From th

[2018-10-05 21:28] arouinfar commented on #143
@samreid I tested low, middle, and high frequencies in all scenes, and the correspondence between the lattice and graph is looking really good. I think we can go ahead and close this issue.

[2018-10-05 21:45] arouinfar commented on #162
Looks good to me @samreid.

[2018-10-05 21:45] #162 closed

[2018-10-05 21:48] arouinfar commented on #166
It is a bit hard to differentiate the two. @samreid can you try adding a thin white stroke around the lattice viewing window?

[2018-10-05 21:58] arouinfar commented on #159
Looks wonderful. Thanks @samreid.

[2018-10-05 21:58] #159 closed

[2018-10-05 21:58] kathy-phet commented on #142
@arouinfar - I wanted to post this Java version shot for comparison.
![image](https://user-images.githubusercontent.com/5096804/46561847-a86b2f80-c8b6-11e8-8b1c-03891c6b15ec.png)

I think the HTML version of the linear model is doing quite well, actually and the nodes are clearer than in the Java version. I worry pretty significantly about the non-physical side effects of rescaling. The correct ph

[2018-10-05 22:58] arouinfar commented on #142
I would agree that the linear scaling in HTML5 does look better than Java.

That said, a motivator for revisiting the linear mapping was the apparent asymmetry between the widths of the maxima and minima. The linear mapping doesn't actually fix the apparent asymmetry, and the maxima now appear quite broad.

Perhaps the solution would be to adjust the piecewise mapping so the y-intercept is somewhe

[2018-10-05 23:01] arouinfar commented on #163
@samreid the curve looks marginally smoother, but it's still quite noisy. I haven't noticed much difference in the temporal jittering, and if anything, master is a bit worse than before.

Unfortunately, I don't have any particularly clever ideas. @ariel-phet can you review and advise? I'll also tag this for follow-up in design meeting.

![image](https://user-images.githubusercontent.com/8419308/46

[2018-10-05 23:06] arouinfar commented on #152
@ariel-phet and I discussed this issue a bit more today.

Initially, @ariel-phet had been thinking about using the λ readout to verify the equations. However, Java doesn't provide any quantitative measure for wavelength, and this feature wasn't a teacher request.

We decided not to include the λ readout, but would be open to revisiting this discussion if this became a frequent teacher request in t

[2018-10-05 23:06] #152 closed

[2018-10-05 23:09] arouinfar commented on #134
@samreid the physics appears correct to me.

I had other worries concerning the graph scaling and screen saturation, but those issues are being discussed elsewhere, so I will close this issue.

[2018-10-05 23:09] #134 closed

[2018-10-05 23:49] kathy-phet commented on #163
I think it might need investigation of the modeling approach. I still think a discussion with JO or Mike around the model and the filtering/approach that is going on there might provide some possible causes.

[2018-10-06 00:17] samreid commented on #164
One possibility would be to keep 5 levels, so it remains symmetrical, but make level 1 equal to what level 2 is now.

[2018-10-06 02:57] samreid commented on #163
See also #167 regarding asymmetry in particular.

[2018-10-06 13:14] samreid opened #168 "Image failed to load"
In requirejs testing, I noted that the hose image failed to load on one occasion.  No errors or messages in the console:

![image](https://user-images.githubusercontent.com/679486/46571731-7948d280-c937-11e8-85c2-b59df951b447.png)

[2018-10-06 13:15] samreid commented on #168
When I switched back to the sim, the image flickered and appeared.  Perhaps some sort of transient effect due to race condition in the image load?  Closing until we see this problem again.

[2018-10-06 13:15] #168 closed

[2018-10-06 15:12] samreid commented on #167
I identified two sources of asymmetry in the wave physics.  After the above commit, the intensity is looking more symmetrical (same conditions as the screenshot in the top comment, which is interference screen, both sources on):
![image](https://user-images.githubusercontent.com/679486/46572672-34c53300-c947-11e8-89b6-c2d605c11f5b.png)

[2018-10-06 16:03] samreid commented on #163
In #167 we identified two sources of asymmetry and resolved them.  Now the graph for two sources/max frequency/max separation looks like this:

![image](https://user-images.githubusercontent.com/679486/46572754-68ed2380-c948-11e8-9ecd-1e247d75704d.png)

Switching to a 5-point vertical intensity average like in the Java, looks like this:
![image](https://user-images.githubusercontent.com/679486/465

[2018-10-06 22:03] samreid commented on #167
Closing.

[2018-10-06 22:03] #167 closed

[2018-10-08 04:04] samreid commented on #45
We'll continue in the scenery-phet issues, closing.

[2018-10-08 04:04] #45 closed

[2018-10-08 04:05] samreid commented on #24
Will continue in #124 and phetsims/griddle#30, closing.

[2018-10-08 04:05] #24 closed

[2018-10-08 04:07] samreid commented on #124
Code review should include https://github.com/phetsims/griddle/issues/30 if it is not completed yet.

Also, I renamed this issue to be about preparing for Code Review, in the future we'll create a separate issue with the code review checklist as the top comment.

[2018-10-08 04:09] samreid commented on #136
It seems likely I'll have time to work on this while awaiting feedback on other issues, removing deferred label.

[2018-10-08 04:12] samreid commented on #63
Re-self-assigning to remind me to reach out to @jonathanolson for discussion.

[2018-10-08 14:18] samreid commented on #136
Fixed in the preceding commit, closing.

[2018-10-08 14:18] #136 closed

[2018-10-08 14:19] samreid opened #169 "Plane wave leading edge flickers"
From https://github.com/phetsims/wave-interference/issues/47#issuecomment-409345014, the plane wave leading edge flickers.  Why?

[2018-10-08 15:02] samreid commented on #63
I leveraged the clip area bounds for the two dynamic charts and removed the bounds limitation for the other cases.  iPad Air is getting 60fps with all charts turned on.  This seems sufficient to close the issue, closing.

[2018-10-08 15:02] #63 closed

[2018-10-08 15:29] samreid commented on #168
This is also occurring elsewhere in the sim:
![image](https://user-images.githubusercontent.com/679486/46618383-95d23f80-cadc-11e8-8ca0-6e87644d6f07.png)

[2018-10-08 15:35] samreid commented on #169
Standardizing the phase helped somewhat, but there is still a "marching" behavior at the leading edge.  I'll investigate further.

[2018-10-08 15:36] samreid opened #170 "Graph line not centered"
![image](https://user-images.githubusercontent.com/679486/46618793-afc05200-cadd-11e8-9418-e1b29438367e.png)

[2018-10-08 15:43] samreid commented on #169
The flickering is still present a tiny bit, but much less severe after the two commits above.  Closing for now.

[2018-10-08 15:43] #169 closed

[2018-10-08 16:08] samreid commented on #170
Fixed, closing.  If this problem occurs again, we can compute the centering dynamically, knowing the initial curve is flat.

[2018-10-08 16:19] #170 closed

[2018-10-08 16:28] samreid commented on #99
@arouinfar can you please check in on the status of this issue and the design of the diffraction screen?

[2018-10-09 19:31] arouinfar commented on #166
@samreid it seems okay, but it's hard to tell because the screen is broken in master.

![image](https://user-images.githubusercontent.com/8419308/46693617-97c4fd00-cbc7-11e8-9e1c-3ed3258fdd06.png)

[2018-10-09 20:46] arouinfar opened #171 "Apparent interference pattern on screen for single source"
Discovered in #161

For a single source, I'm seeing some apparent maxima and minima on the screen, which makes me think that there are some reflections in the system.
![image](https://user-images.githubusercontent.com/8419308/46697235-6a7d4c80-cbd1-11e8-9a0c-bc14d4ac6495.png)

This is also apparent in dev.38, which has a larger saturation scale factor of 7.
![image](https://user-images.githubuserc

[2018-10-09 20:52] arouinfar commented on #161
@samreid I think a scale factor of 5 is looking pretty good!

In general the secondary maxima are visible, but appropriately dim.
<img src="https://user-images.githubusercontent.com/8419308/46696299-183b2c00-cbcf-11e8-9df8-757d9b27fa5c.png" width=300> <img src="https://user-images.githubusercontent.com/8419308/46696346-2ee18300-cbcf-11e8-8185-cce372e718ad.png" width=300>

There's still a bit of ov

[2018-10-09 20:54] samreid commented on #161
Another possibility would be to remove the Light Intensity Screen from the first screen of the sim.

[2018-10-09 20:55] arouinfar commented on #163
@samreid I think this is looking better. The graph looks symmetric about the midline, but the curves themselves are bit distorted. I'd still like for @ariel-phet to take a look and see what he thinks/recommends.

![image](https://user-images.githubusercontent.com/8419308/46698049-50446e00-cbd3-11e8-9389-f5471ff97edf.png)

[2018-10-09 20:57] arouinfar commented on #142
@samreid can you change the y-intercept of the mapping to 0.4 and publish a dev version?

[2018-10-09 21:08] arouinfar commented on #8
@samreid I'm not sure I follow your last few comments. Can we chat about this for a few minutes sometime tomorrow?

[2018-10-09 21:15] arouinfar commented on #154
@samreid thanks for the explanation. That makes more sense to me now, and I agree that it's an improvement.

The behavior actually seems pretty natural if you switch between min/max frequency while the sim is not paused.

[2018-10-09 21:15] #154 closed

[2018-10-09 21:30] arouinfar commented on #161
Yes, that too. Actually @ariel-phet and I had briefly discussed that option, but it slipped my mind when replying. I actually would prefer to remove the screen altogether, as I'm not sure what pedagogical purpose it serves on the Waves screen.

[2018-10-10 20:10] samreid commented on #8
In discussion with @arouinfar, we decided that scaling images seems like a reasonable approach.  We will need a design meeting to determine the ranges and whether we will need snapshots at multiple resolutions.

[2018-10-10 20:13] samreid commented on #8
By the same token, for the asymmetric or symmetric shapes, we may be able to use an image or a set of images rather than computing FFTs on the client machine.  I'll plan to leave the FFT code in, in case we used that for generating images, but we won't plan on running this on client machines.

[2018-10-10 20:18] samreid commented on #142
I referred @arouinfar to https://github.com/phetsims/wave-interference/blob/e1c87f1116f995c9cb8f0df25aa0d6fa6462dd02/js/common/view/LatticeCanvasNode.js#L107-L115 and she wants to take a look.  We also noted the asymmetry on the negative side, going from -1.5 instead of 2.  We should check that as well.

[2018-10-10 21:50] arouinfar commented on #158
@KatieWoe these values have been a big help, thank you!

Since @KatieWoe's recommendations for medium frequency were nearly at the midpoint of the high/low values, I decided to test the exact midpoints, and found now appreciable difference. I think a linear scaling would work just fine.

For high frequency, I found the gradient force to be a bit too low (wavefronts generally looked pretty faint in

[2018-10-11 14:57] samreid commented on #158
In the preceding commit, I applied the linear scaling described in the preceding comment.  @arouinfar can you please review on phettest?

[2018-10-11 17:55] arouinfar commented on #158
Looks great @samreid!

[2018-10-15 17:19] arouinfar commented on #52
@samreid the speaker assets are ready for implementation. I've temporarily stored them on Drive, and will delete once they've been checked in:
https://drive.google.com/drive/u/0/folders/16KGcFMtzekphF7qYhn1rdhg1unGsNV8b

Here's a slow-mo animation of the speaker in action.
![speaker](https://user-images.githubusercontent.com/8419308/46966341-b7966e00-d06a-11e8-97c0-321b23ff80c1.gif)

There are 21

[2018-10-15 17:19] arouinfar commented on #141
This was done for the assets delivered in #52, closing.

[2018-10-15 17:19] #141 closed

[2018-10-15 17:39] arouinfar commented on #104
@samreid the water source asset is ready for implementation. Here's a mockup showing it in context.

![screen shot 2018-10-15 at 11 32 46 am](https://user-images.githubusercontent.com/8419308/46967547-14dfee80-d06e-11e8-91f6-1050afc45de6.png)

I've made the asset a bit long so that its end won't be visible unless at very wide aspect ratios, similar to the faucet in concentration:
![image](https://

[2018-10-15 18:32] arouinfar commented on #54
We had discussed this as a possible plane wave source:
![image](https://user-images.githubusercontent.com/8419308/46970129-735c9b00-d075-11e8-8d1e-afa957a22a11.png)

I'm a bit fuzzy on the details, and it looks like this unfortunately didn't make it into the meeting notes, but I believe we have these open questions:
* How do we indicate that the source has changed between scenes?
*  Do we put an i

[2018-10-16 14:58] arouinfar commented on #54
Thanks @samreid! I had a graveyard of rudimentary icons near the mockup in https://github.com/phetsims/wave-interference/issues/54#issuecomment-429965298, which reminded me of an earlier conversation. I'm not particularly tied to the idea of adding the icon, and you may be right that there are enough context cues elsewhere in the sim to indicate the scene has changed.

@samreid let's go ahead and

[2018-10-16 15:15] arouinfar opened #172 "Update scene selection icons"
Now that the water source has been finalized (#104), the scene icons should be updated.

By design, the water source is pretty generic looking. I don't think it does a great job of cueing the context of the scene, but that might be okay since it's the default scene. An alternative choice would be the water drop. Since the water drop is what initiates the wave, I don't think it's thematically diffe

[2018-10-19 14:21] samreid commented on #171
At yesterday's design meeting, we decided to investigate and try to understand this problem better.  We would like to keep the light screen on the waves screen.  @samreid will reach out to MD as needed for assistance.

[2018-10-19 14:31] samreid commented on #164
It sounded like the team approved of the existing zoom levels-- @arouinfar was that your impression, or should we revisit in another meeting?  If this is good, please close.

[2018-10-19 14:33] samreid commented on #163
Let's put this issue on hold until https://github.com/phetsims/wave-interference/issues/171 is addressed in case that solves the remainder of the problem.

[2018-10-19 14:55] samreid commented on #161
Yesterday, we decided we would like to keep the Light Intensity Screen on the first screen of the sim.  We may need a multiplier on that intensity screen, or larger intensity waves so they will match the rest of the sim.

[2018-10-19 14:56] samreid commented on #153
Tuning in #158 is complete, @arouinfar can you please double check specifically regarding particles lagging the wave crests?  If all is well, please close.

[2018-10-19 14:57] samreid commented on #128
On hold until dev testing.

[2018-10-19 15:01] samreid commented on #104
At yesterday's meeting, we decided we would like to try using the same faucet, but with a button on the body of the pipe instead of a plunger on the top.

[2018-10-19 15:03] samreid commented on #98
It has come to my attention that we have other simulations due around the same Jan 31, 2019 date.  I'm not sure how many fit that deadline.  It will be critical to space these out so we don't get jammed up.

[2018-10-19 15:04] arouinfar commented on #104
@samreid I've updated the assets on Drive, so back to you! :)

[2018-10-19 15:06] samreid commented on #39
Tuning in #158 is complete, @arouinfar can this issue be closed?

[2018-10-19 15:06] arouinfar commented on #172
@samreid  see https://github.com/phetsims/wave-interference/issues/104#issuecomment-431394209. I've updated the water source on Drive (in Wave Interference design folder). I included an iconic version for the scene button, but clipping the source artwork would also work.

[2018-10-19 15:31] samreid opened #173 "Reference issue for griddle#31"
See https://github.com/phetsims/griddle/issues/31.  This issue is to add that to the design meeting agenda.

[2018-10-19 20:08] arouinfar commented on #39
It sure can @samreid!

[2018-10-19 20:08] #39 closed

[2018-10-19 20:11] arouinfar commented on #153
The particles and waves are now well-matched. Thanks @samreid!

[2018-10-19 20:11] #153 closed

[2018-10-19 20:16] arouinfar commented on #164
Correct @samreid. The team liked it team liked the zoom feature, and the current zoom levels looked appropriate. No need to make any further tweaks. Closing.

[2018-10-19 20:16] #164 closed

[2018-10-19 20:18] arouinfar commented on #171
To add to @samreid's comments:

When measuring the E-field at the edge of the lattice, regions next to the apparent maxima in the screen have a larger amplitude (even though the lighter probe is farther from the source).
![image](https://user-images.githubusercontent.com/8419308/47241661-2ac51a80-d3b2-11e8-8185-2e98916a6155.png)

While the screen doesn’t necessarily have great pedagogical value on

[2018-10-19 20:29] arouinfar commented on #161
@samreid do you want to defer this issue until #171 is addressed, or is this separate enough?

[2018-10-19 20:39] samreid commented on #161
It seems we can decide on this separately.  The artifacts we see on #171 shouldn't change the magnitudes (unless we opt for a wave damping solution which changes the overall magnitude at the right hand side).

[2018-10-19 23:16] arouinfar commented on #161
Sound good @samreid. Given that the screen saturation is looking really good for interference, I'm hesitant to completely change things and go with a logarithmic mapping. I think it would make more sense to come up with a separate solution for the Waves screen, such as the intensity multiplier. I'll defer to @samreid's judgement on this, though.

[2018-10-20 03:42] samreid commented on #52
I added the artwork in the preceding commit.  @arouinfar you can delete the images from Google Drive at your convenience.

I'm also leaving this self-assigned to separate the two sources on screen 2 (they currently share the same node, this will need to be split up).

[2018-10-20 06:07] arouinfar commented on #52
Thanks @samreid. The speaker assets have been deleted from Drive.

[2018-10-20 15:54] samreid commented on #161
I'd like to experiment with both (a) changing the source amplitude and (b) changing the screen multiplier.

[2018-10-20 16:19] samreid opened #174 "The sound particles origin may not be quite right"
From https://github.com/phetsims/wave-interference/issues/52

Note the particles aren't aggregating exactly at the center of the oscillator:

![image](https://user-images.githubusercontent.com/679486/47257934-94e0cc80-d451-11e8-8a95-cbf1e211edc5.png)

[2018-10-20 17:05] arouinfar commented on #52
Looks great @samreid!!

[2018-10-20 17:05] arouinfar commented on #161
Sounds good @samreid.

[2018-10-21 14:07] samreid commented on #54
@arouinfar I committed the artwork to the wave-interference repo in the aforementioned commit, you can remove from Drive at your convenience.

[2018-10-22 15:12] samreid commented on #54
Initial draft committed, @arouinfar can you please review on phettest and provide feedback?

[2018-10-22 15:15] arouinfar commented on #54
I think it looks nice @samreid! Let's review it with the team in design meeting. I've deleted the asset file from Drive, so unassigning myself for now.

[2018-10-22 15:19] samreid commented on #104
It looks like scenery-phet has very similar or identical assets for this, I'd like to try that first to see if it will work.

[2018-10-22 15:36] arouinfar commented on #104
Sounds good @samreid. I modified the .ai file for faucetNode by removing the slider bit at the top, so if you can use what's already in scenery-phet, go for it. Here's a mockup showing the  updated water source in context:

![image](https://user-images.githubusercontent.com/8419308/47302104-e322d680-d5dd-11e8-9698-b26d25bfebdc.png)

[2018-10-22 15:58] ariel-phet commented on #166
Looks good to me!

[2018-10-22 15:58] #166 closed

[2018-10-22 16:04] samreid commented on #104
Initial draft pushed and ready for review.  @arouinfar can you please check phettest and provide feedback?

[2018-10-22 18:45] KatieWoe opened #175 "CT: Failure to grunt snapshot"
[code]

[2018-10-22 19:05] samreid commented on #175
Thanks @KatieWoe, proposed fix is in https://github.com/phetsims/wave-interference/commit/33c5b0414301f1e733488e5862459b6284ff8928, closing.

[2018-10-22 19:05] #175 closed

[2018-10-22 19:18] samreid commented on #161
To clarify on the problem, the maximum amplitude of the oscillator on the "Waves" screen is 10, the same as the amplitude of the oscillators on the other screens.  The light intensity screen gradient was fine tuned for constructive interference of two 10-amplitude oscillators.  So perhaps that means we need to increase the amplitude on the 1st screen to compensate (or reduce amplitude on the inter

[2018-10-23 14:56] samreid commented on #171
Here's a conversation on absorbing boundary conditions and a discussion about using a masking function on the boundary: https://scicomp.stackexchange.com/questions/26725/discrete-wave-simulation-absorbing-boundaries

[2018-10-23 15:11] samreid commented on #171
Note that we cannot simply apply damping across the entire wave area because we already like the existing behavior for the wave attenuation.  Adding a global damping term may eliminate the artifacts, but would disturb the attenuation.

[2018-10-23 15:14] samreid commented on #171
Here is the behavior with no damping terms:
![image](https://user-images.githubusercontent.com/679486/47370892-ec767680-d6a3-11e8-97b0-f18df84c6ec1.png)

[2018-10-23 15:42] samreid commented on #171
Here is a uniform exponential damping:

[code]

![image](https://user-images.githubusercontent.com/679486/47372863-e4b8d100-d6a7-11e8-8451-6d216de86300.png)

[2018-10-23 15:56] samreid commented on #171
I experimented with a damping scale factor of 0.99 everywhere on the lattice, with the idea that this would subtract off artifacts as quickly as they are being added--maybe it helped a little but there was still diffraction on the screen.

[2018-10-23 16:07] samreid commented on #171
Here's a radial mask for reference:

[code]

[2018-10-23 16:08] samreid commented on #171
I've scheduled a meeting with MD and putting this issue on hold until then.

[2018-10-23 16:41] samreid commented on #172
In the preceding commit, I switched to the new speaker icon and faucet icon, @arouinfar can you please review on phettest?

[2018-10-23 20:13] arouinfar commented on #172
Looks great @samreid!

[2018-10-23 20:13] #172 closed

[2018-10-23 21:42] arouinfar commented on #32
@samreid I've cleaned up the icons a bit, and added a white border so they stand out against the black home screen and navbar a bit better. The updated assets are temporarily up on Drive in the Wave Interference folder.

![screen_icons_2_waves](https://user-images.githubusercontent.com/8419308/47392209-33329380-d6d9-11e8-882e-0368e9b33930.png)

![screen_icons_2_interference](https://user-images.gi

[2018-10-24 03:12] samreid commented on #32
I updated the screen icons in the preceding commit, @arouinfar can you please review in context on phettest?  Close if all is well.  Thanks!

[2018-10-24 19:48] arouinfar commented on #32
Looks good to me @samreid! I briefly compared Chrome and Firefox, and didn't notice any appreciable difference.

[2018-10-24 23:54] arouinfar commented on #142
## Current behavior
![image](https://user-images.githubusercontent.com/8419308/47462700-680a1d80-d7a1-11e8-8347-7ce3bb16cf98.png)
![image](https://user-images.githubusercontent.com/8419308/47463150-aa802a00-d7a2-11e8-9476-7ed45c896518.png)

## Experimenting with L113

Changing the negative to -1.5 in [L113](https://github.com/phetsims/wave-interference/blob/e1c87f1116f995c9cb8f0df25aa0d6fa6462dd02

[2018-10-24 23:56] arouinfar commented on #161
I'd like to experiment with this locally so I can see things in action.

Over Slack, @samreid said:

[2018-10-25 16:18] samreid commented on #142
In the preceding commit, I changed the CUTOFF from 0.3 to 0.35.  I published a dev version with this value here: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.39/phet/wave-interference_en_phet.html.

@arouinfar can you please confirm it has the desired behavior?

[2018-10-25 16:31] arouinfar commented on #142
Thanks @samreid. The behavior looks correct to me! I've set up a few scenarios (similar to the table in https://github.com/phetsims/wave-interference/issues/142#issuecomment-432866615) that we can compare in design meeting.

[2018-10-25 17:50] arouinfar commented on #161
Changing the amplitude range does improve the screen saturation, but it also has some other effects that's we'll need to address. The color mapping will look a bit different, and the graph will need to be rescaled. Here's an initial test I did:

| max=10 (current) | max=13 | max=16 |
|---|---|---|
|<img src="https://user-images.githubusercontent.com/8419308/47468538-0c4b8e80-d7b9-11e8-8d7d-d38ff59

[2018-10-25 21:48] arouinfar commented on #104
The team liked the updated water source, we we can close this issue.

[2018-10-25 21:48] #104 closed

[2018-10-25 21:51] arouinfar commented on #54
We reviewed the generic plane wave source in design meeting today. Here's a screenshot of what it looks like:
<img src="https://user-images.githubusercontent.com/8419308/47532438-9d7c3d00-d86d-11e8-9eca-94ae3ecc683f.png" width=200>

The team thought the source itself was fine, but Kathy suggested adding the scene selection icons to the source so that the context would be a bit more obvious. The me

[2018-10-25 22:08] arouinfar commented on #142
We reviewed again in design meeting, and @kathy-phet thought `CUTOFF` = 0.4 might be preferable, so @samreid built us a version with that value.

@kathy-phet said she would review, and let us know what she thinks.
* [dev.40](https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.40/phet/wave-interference_en_phet.html): `CUTOFF` = 0.4
* [dev.39](https://phet-dev.colorado.edu/html/wave-inter

[2018-10-25 22:17] arouinfar commented on #173
See https://github.com/phetsims/griddle/issues/31#issuecomment-433224331 for today's discussion.

[2018-10-25 22:17] #173 closed

[2018-10-25 22:29] arouinfar opened #176 "When barrier is added, clear lattice to right of barrier"
If the plane wave has fully propagated in the lattice, adding a barrier creates some interesting phenomena to the right of the barrier.

![barrier_reflections](https://user-images.githubusercontent.com/8419308/47533874-a58aab80-d872-11e8-87af-c87f47ddb100.gif)

@samreid if a barrier is added to the play area, please clear the lattice to the right of the barrier. This would be similar to how we cur

[2018-10-25 22:34] arouinfar opened #177 "Find suitable ranges, defaults, and constrainValue for sliders"
Stemming from today's design discussion, I should find appropriate ranges/defaults for the Source Separation, Slit Width, and Slit Separation sliders.

Slider thumbs should also be snappy to allow for easier-to-reproduce experiments, so I'll also recommend values for `constrainValue`.

Currently, Slit Width is current shared for One Slit and Two Slit cases, but @samreid has said that they can be s

[2018-10-25 22:50] arouinfar opened #178 "Reverse direction of speaker membrane animation"
In today's design meeting @kathy-phet noticed that the speaker membrane appeared to be out of sync with the wave. Currently, the membrane at its leftmost position corresponds to a maxima in the lattice.
![image](https://user-images.githubusercontent.com/8419308/47534654-627e0780-d875-11e8-9b14-6cfbcece5455.png)

This is opposite to the behavior in Java. There, the maxima in the lattice occurs when

[2018-10-25 22:53] arouinfar opened #179 "Wave source on/off for each scene should be independent"
While playing with the sim in design meeting, @kathy-phet noticed that turning the source on in once scene also turned it on for other scenes.

This behavior seems a bit strange, given that the scenes are otherwise independent from each other.

We decided it made the most sense for the scenes to have independent on/off buttons so the user needs to take the action to turn the source on.

[2018-10-25 23:12] arouinfar commented on #139
We didn't have time for this in design meeting today, and it's probably best to discuss when @ariel-phet is around, so we'll need to prioritize this issue next design meeting.

I've done some preliminary exploration, and can think of some general observations:
* Translating a shape doesn't really change the FFT
* The size of the shape changes how much detail is seen (smaller = more zoomed in detai

[2018-10-25 23:18] arouinfar commented on #139
I'd like to come up with a set of ~10 images that best demonstrates my observations in https://github.com/phetsims/wave-interference/issues/139#issuecomment-433235620, so leaving myself assigned for now.

[2018-10-26 00:58] samreid commented on #177
We will also need to decide "rounding" for each of the sliders, for example rounding water to nearest 0.5cm and light to nearest 10nm.

[2018-10-26 00:59] samreid commented on #176
@kathy-phet also indicated that this errant behavior may indicate deeper problems in the model.  I surmised that the analytical model on left doesn't change the wave "history", so there is no momentum in the wave.  I should check on this as part of this issue.

[2018-10-26 01:04] samreid opened #180 "Wave is slow to start"
@kathy-phet pointed out that on the Slits screen, changing scenes with the wave on can lead to a significant delay in the appearance of the wave.  This may be addressed by #179 depending on the nature of the problem.

[2018-10-26 01:06] samreid opened #181 "Sometimes the water button is on but no drops come out, even though the wave is on"
May be related to changing scenes.  May be solved by #179 depending on the nature of the problem.

[2018-10-26 01:06] samreid opened #182 "Sound waves look like they change wavelength when going through the slits"
Or through a single slit.

[2018-10-26 01:07] samreid opened #183 "Reset all not resetting "two slits" back to "one slit""

[2018-10-26 01:07] samreid opened #184 "dev.39 and dev.40 seem to have a shift."
They are supposed to only differ in the wave rendering cutoff, but they seem to show a phase offset.

[2018-10-26 15:19] samreid commented on #161
Perhaps we should continue with #171 before deciding on this

[2018-10-26 16:12] samreid commented on #174
I don't have a good understanding of the mismatch in coordinates, but the above change seems to align the physical and lattice coordinates better.

[2018-10-26 16:22] samreid commented on #176
The model is setting the `currentValue` like a forcing function as part of Lattice.step, therefore those values should be propagating to the history properly, so I don't know what explains the behavior in https://github.com/phetsims/wave-interference/issues/176#issue-374158010.  Still, I've added a commit that clears the waves to the right when the barrier is added.

@arouinfar can you check this

[2018-10-26 17:11] arouinfar commented on #178
Looks good @samreid. Thanks!

[2018-10-26 17:11] #178 closed

[2018-10-26 17:15] arouinfar commented on #176
The behavior when adding a barrier looks great @samreid.

I'm not particularly bothered by the plane wave taking up the entire lattice when removing the barrier. Perhaps a more consistent alternative would be to clear the portion of the lattice that was to the right of the barrier, and then allow the plane wave to propagate the rest of the way across. If  you agree, and think that it'd be a relati

[2018-10-26 17:20] kathy-phet commented on #176
@samreid - I agree with the change to fix this issue, but still think it would be good to understand why the model was displaying this behavior as it may help us understand some of the artifacts seen in various cases?

[2018-10-26 18:19] samreid commented on #176
Thanks @arouinfar and @kathy-phet. I'll open up separate issues to continue discussion/investigation.

[2018-10-26 18:21] samreid opened #185 "Understand the wave behavior when adding a barrier without clearing the wave"
From https://github.com/phetsims/wave-interference/issues/176

![barrier_reflections](https://user-images.githubusercontent.com/8419308/47533874-a58aab80-d872-11e8-87af-c87f47ddb100.gif)

Even thought that problem has been solved by clearing the wave in #176 we would like to understand what was happening.

@kathy-phet said:

I'll take a closer look.

[2018-10-26 18:23] samreid opened #186 "When removing the barrier and clearing the wave, can it fill in gradually instead of immediately?"
From https://github.com/phetsims/wave-interference/issues/176#issuecomment-433464508

I said:

@arouinfar replied:

I'm not sure whether this is an easy change or not, self-assigning to investigate.

[2018-10-26 19:40] arouinfar commented on #176
Sure thing @samreid. Closing.

[2018-10-29 23:18] samreid opened #187 "Blue rectangle rendering artifact"
I've seen this several times, thought I had another issue for it but can't find it at the moment:

![image](https://user-images.githubusercontent.com/679486/47686000-940d1080-db9e-11e8-87c0-5382380d4b68.png)

[2018-10-29 23:22] samreid commented on #187
I'm wondering whether the flicker is related to the state of the water drops or lattice values:

![flicker](https://user-images.githubusercontent.com/679486/47686110-26adaf80-db9f-11e8-9ba7-9ec84e9d62d3.gif)

[2018-10-29 23:31] samreid commented on #179
Just moving `button1PressedProperty` and `button2PressedProperty` from WavesScreenModel to Scene may do the trick, but there is a lot of logic in WavesScreenModel that was leveraging this.  Also, how far should we go in moving the logic?  Should each scene have its own Lattice?

[2018-10-30 10:13] samreid commented on #179
There are some other features that are currently shared across scenes, and in order to implement this it would be good to know which other features should be independent vs shared across scenes

* Amplitude
* Pulse vs Continuous selection
* The tools (measuring tape, stopwatch, wave detector)
* Graph (on/off)
* Play/pause button state
* Normal/Slow selection
* Slits selection (no barrier/one slit/

[2018-10-30 10:15] samreid commented on #180
Let's put this on hold until #179 is addressed in case it solves the problem.

[2018-10-30 10:16] samreid commented on #181
Let's put this on hold until #179 is solved, in case it addresses the problem.

[2018-10-30 10:51] samreid commented on #182
There was an incorrect value for the sound scene time scale factor, which I corrected in the preceding commit.  Now the wavelengths match up as expected.  Unfortunately, the min/max frequencies and sound particle features were calibrated against the buggy time scale factor, so we will need to revisit that.

[2018-10-30 11:02] samreid commented on #182
If I change the frequency range from the current range of 440Hz-880Hz to the proposed range of 220Hz-440Hz, then it's much closer to the values we calibrated against.  These are the lines of code that determine the min and max frequencies for sound:

https://github.com/phetsims/wave-interference/blob/ff83584541e5dddc8d20bb3bf615dbb61e5c8a94/js/waves/model/WavesScreenModel.js#L137-L138

@arouinfar

[2018-10-30 11:05] samreid commented on #183
Proposed fix pushed, @arouinfar can you please test?

[2018-10-30 14:13] samreid opened #188 "there is an asymmetrical shadow around the barrier"
From #185, there is an asymmetrical shadow around the barrier:

![image](https://user-images.githubusercontent.com/679486/47724109-9a8d9d80-dc1b-11e8-8460-f4fdb93e0211.png)

[2018-10-30 14:29] samreid commented on #188
It's even worse for sound:

![image](https://user-images.githubusercontent.com/679486/47725288-e6414680-dc1d-11e8-8951-ae67f012bf88.png)

[2018-10-30 15:15] samreid commented on #185
After investigation, what I believe is happening is that in the area where we are setting the plane wave explicitly (when x < barrierLocation), we are setting the currentValue of the wave and not any of the prior history values of the wave.  When you step through motion after adding the barrier, the waves to the right of the barrier dissipate equally to the left and to the right.  I tried modifyin

[2018-10-30 15:36] samreid commented on #185
I see, applying the forcing function before switching the indices is the same as applying the forcing function at the previous time step.  Maybe it is best to (a) apply the forcing function once at the end of the step function or (b) to prevent the wave update physics from updating the cells set by the forcing function.  (a) is much simpler and requires less CPU, so let's try it first.

[2018-10-30 15:43] samreid commented on #176
Now that the root of the problem has been solved in #185, we have the option to remove or keep the "clear to the right of the barrier" code added in this issue.  Here is the behavior with the the "clear" removed now:

![wave-barrier](https://user-images.githubusercontent.com/679486/47730608-24dbfe80-dc28-11e8-9097-2dc4e26071cc.gif)

I don't feel strongly one way or the other, let me know what you

[2018-10-30 15:58] arouinfar commented on #176
@samreid since we clear the wave when dragging the barrier, I think the current behavior feels a bit more consistent. I'm inclined to leave things as the are, but glad to know you chased down the root of the problem.

[2018-10-30 15:58] #176 closed

[2018-10-30 15:59] arouinfar commented on #183
Looks good @samreid.

[2018-10-30 16:14] samreid commented on #185
Proposed fix committed, and the correct behavior is demonstrated in https://github.com/phetsims/wave-interference/issues/176.  I think we're at a good point to close this issue.  If we find other side effects of this change, we can create new issues for them.

[2018-10-30 16:14] #185 closed

[2018-10-30 16:41] samreid commented on #186
Proposed fix is committed, @arouinfar can you please test?

[2018-10-30 16:56] arouinfar commented on #182
If we ever decide to add actual sound to the sim, a range of A3-A4 would sound more pleasing.
A3 (220 Hz): https://www.youtube.com/watch?v=N5k0Ar3bgvM
A4 (440 Hz): https://www.youtube.com/watch?v=SsGhuUm_3-8
A5 (880 Hz): https://www.youtube.com/watch?v=C8nlAqr5KBY

I'll test out 220-440 Hz, and get back to you @samreid.

[2018-10-30 22:06] arouinfar commented on #186
Looks good @samreid

[2018-10-30 22:06] #186 closed

[2018-10-31 21:16] arouinfar commented on #182
@samreid, in principle, I'm fine with 220-440 Hz. It has a more pleasing sound, and the wave view looks better at the chosen scale.

However, when I tested 220-440 out locally, I noticed the particle view of was quite jittery. It's especially noticeable near the source. The wavefronts also lose some of their crispness. Unfortunately, I think we're going to need to re-tune the particle parameters.

[2018-10-31 21:30] arouinfar commented on #184
@samreid I am also reasonably convinced that the apparent phase shift is an optical illusion.

Here's another comparison of dev.40 (top) and dev.39 (bottom)
![image](https://user-images.githubusercontent.com/8419308/47820036-ddd23400-dd21-11e8-9af4-1674239f9fe0.png)

[2018-10-31 21:30] #184 closed

[2018-10-31 21:40] arouinfar commented on #54
So far, this is the best option I've come up with. The rounded rectangles are 30x30 px with a white background at 60% opacity.
![image](https://user-images.githubusercontent.com/8419308/47820390-fee75480-dd22-11e8-9967-bb61b3cf0adf.png)

@samreid can you give this a try? If you have any alternative ideas, I'd also be happy to mock them up!

[2018-11-01 01:47] samreid commented on #182
@arouinfar would you like to re-tune the parameters using the `?dev` controls?

[2018-11-01 14:20] arouinfar commented on #182
Sure @samreid. Can you open a new issue for re-tuning (or re-open the original)?

[2018-11-02 00:57] arouinfar commented on #158
In light of #182, we need to re-tune to particle parameters.

[2018-11-02 00:58] arouinfar commented on #182
Since the only remaining work is re-tuning the particle physics, I reopened #158. I think we can close this issue.

[2018-11-06 13:16] samreid commented on #54
First draft is committed and pushed, @arouinfar can you please test on phettest?

[2018-11-06 15:44] samreid commented on #187
The problem is not happening at the moment.

[2018-11-06 17:14] samreid commented on #187
Today @jonathanolson and I came across this:

![image](https://user-images.githubusercontent.com/679486/48081249-cd500c80-e1ac-11e8-9a5c-62639e63fff5.png)

[2018-11-06 21:31] samreid commented on #187
It looks like some texture is leaking out.  We are rendering the faucet pipe with a stretched `Image` in SVG--hence this is probably a Chrome-specific bug, maybe Mac specific too (and maybe a specific GPU).  We should do diligent testing of this in the built version to see if it is a pervasive problem.  Unassigning until closer to RC.

[2018-11-06 21:45] arouinfar commented on #54
It definitely looks like the mockup, thanks @samreid. I'll tag for design meeting so the team can confirm whether or not this is the desired look.

[2018-11-06 21:48] arouinfar commented on #158
@samreid have you published a dev version since #182 was addressed? If not, can you publish one for the parameter re-tuning?

[2018-11-06 22:31] samreid commented on #158
I published https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.41/phet/wave-interference_en_phet.html.  Before taking time to tune the sound particle physics, we should verify that we are happy with the min/max/default wavelengths of sound--were they disturbed when https://github.com/phetsims/wave-interference/issues/182 was fixed?

[2018-11-06 22:45] arouinfar commented on #182
@samreid not sure where my head was last week, but I should not have closed this issue.

I think we should update the frequency range to 220-440 Hz, and the default can be at 330 Hz.

[2018-11-07 00:16] samreid commented on #182
Range changed in commit, can you please review and test on phettest?

[2018-11-07 16:04] arouinfar commented on #182
The updated range and scaling all looks good @samreid. Can you publish a new dev version for the particle re-calibration?

[2018-11-07 16:20] samreid commented on #158
After changing the range of sound frequencies in https://github.com/phetsims/wave-interference/issues/182#issuecomment-436457162

I published a new dev version here:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.42/phet/wave-interference_en_phet.html

[2018-11-07 16:21] samreid commented on #182
Commented in https://github.com/phetsims/wave-interference/issues/158#issuecomment-436682429 and published a new dev version for recalibration.  Can this issue be closed?

[2018-11-07 16:22] arouinfar commented on #182
Perfect, thanks @samreid! There's nothing left for this issue.

[2018-11-07 16:22] #182 closed

[2018-11-08 13:45] samreid commented on #98
Relabeled for meeting:design to check on timeline and status.

[2018-11-08 19:15] arouinfar commented on #158
@samreid the ranges in the ?dev controls look a bit off. In particular the max values for the home force and gradient force are far too low. I'm also not sure what (if anything) to do with the CUTOFF value.

dev.34
<img src="https://user-images.githubusercontent.com/8419308/48221550-a67e0b80-e34f-11e8-8802-77802fe80711.png" width=200>

dev.42
<img src="https://user-images.githubusercontent.com/841

[2018-11-08 22:18] arouinfar commented on #179
* Amplitude - Independent
* Pulse vs Continuous selection - Global
* The tools (measuring tape, stopwatch, wave detector) - Global
* Graph (on/off) - Global
* Play/pause button state - Global
* Normal/Slow selection - Global
* Slits selection (no barrier/one slit/two slits) - Independent

[2018-11-08 22:28] arouinfar opened #189 "Move pulse/continuous buttons"
I should create some mockups.

[2018-11-09 13:56] samreid commented on #158
Based on a cursory inspection, @arouinfar and I agreed on these starting values.  I'll publish a dev version with these and @arouinfar can fine tune:

high frequency
14.75
0.8
0.725
1.01

min frequency
14.75
1.05
0.740
1.12

[2018-11-09 15:32] samreid commented on #158
I added the values above and made some additional adjustments (so values in the preceding comment won't match exactly with new controls), and I expanded the slider ranges for further tuning.  Here's a dev version: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.43/phet/wave-interference_en_phet.html

@arouinfar can you please take a look and adjust further as necessary?

[2018-11-12 18:18] arouinfar commented on #158
@samreid here are my recommendations. The wavefronts still aren't as crisp as they were before, but the particle/wave views are well-aligned.

|Frequency|Randomness|Home Force|Friction|Gradient Force|
|---|---|---|---|---|
|Low|10|1.00|0.70|1.15|
|High|10|0.70|0.70|0.85|

[2018-11-12 18:34] samreid commented on #158
Thanks @arouinfar.  Before going ahead and making changes to accommodate the newly recommended values, I wanted to compare to the values proposed in https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.43/phet/wave-interference_en_phet.html and make sure the changes are desirable.

Here's a gif that shows the max frequency case.  On the left are the values proposed in dev.43 and on the r

[2018-11-12 18:38] samreid commented on #158
This image shows the "both" view so we can check the correspondence between the particles and the lattice.  On the left are the values proposed in dev.43 and on the right are the values proposed in https://github.com/phetsims/wave-interference/issues/158#issuecomment-437979819 (high frequency case only)

![waves](https://user-images.githubusercontent.com/679486/48367894-55338c00-e66f-11e8-87bf-8db

[2018-11-12 18:53] samreid commented on #179
First draft of this work is committed and pushed.  It was a relatively complicated and extensive changed, and it should be tested thoroughly.  @arouinfar can you please review on phettest?

[2018-11-13 15:17] arouinfar commented on #32
In https://github.com/phetsims/joist/issues/538, we decided to add the ability for joist to handle the stroke around navbar icons. This option already exists for home screen icons. @pixelzoom commented:

[code]

@samreid I've removed the white outline from the screen icons, and have temporarily stored them in the sim folder. The Diffraction screen icon didn't have a stroke, so it doesn't need to b

[2018-11-13 15:54] samreid opened #190 "Use phet-core Enumeration"
Now that https://github.com/phetsims/phet-core/issues/42 is further along, we could use it for Wave Interference.

[2018-11-13 16:21] samreid commented on #32
Fixed in the preceding commit.  Looks great on the home screen.  Should we also do something about the navigation bar buttons, which do not have a stroke?

![image](https://user-images.githubusercontent.com/679486/48427186-75258700-e725-11e8-974d-009b44c19deb.png)

![image](https://user-images.githubusercontent.com/679486/48427230-8bcbde00-e725-11e8-94b4-11e046b92a52.png)

[2018-11-13 16:37] arouinfar commented on #32
Thanks @samreid, looks good. The ability to add a stroke around the navbar icons will be handled by @pixelzoom in https://github.com/phetsims/joist/issues/538. Until then, we should mark this issue as on-hold.

[2018-11-13 16:39] samreid commented on #32
Self-assigning so this will be on my list after the hold is removed.

[2018-11-15 17:41] arouinfar commented on #179
@kathy-phet this is the issue that @samreid was talking about in status.

[2018-11-19 14:20] samreid commented on #181
This appears to be solved by #179, closing.

[2018-11-19 14:20] #181 closed

[2018-11-19 14:21] samreid commented on #180
I'm not seeing the problem now that #179 has been addressed.

[2018-11-19 14:21] #180 closed

[2018-11-19 14:42] samreid commented on #171
MD and I met to discuss the problem once, but haven't no solution yet. I wrote to him two subsequent times but have not heard back.  I also reached out to MV:

Greetings from Colorado!  PhET is working on porting our 2D Wave Interference simulation and running into an issue we were hoping you could help with.  Full details are in https://github.com/phetsims/wave-interference/issues/171. The gist i

[2018-11-20 19:55] samreid commented on #171
In the preceding commit, I eliminated temporal damping and improved the masking function.  Here are the results:

![after](https://user-images.githubusercontent.com/679486/48799058-7164a800-ecc3-11e8-8147-3bb9945bfba2.png)

[2018-11-20 20:16] samreid commented on #171
I tried these masking functions as a function of depth, the orange one is shown on the right above.  The blue one is surprisingly much morse than before:

![image](https://user-images.githubusercontent.com/679486/48800254-7f67f800-ecc6-11e8-8211-30d4b7fe6875.png)

[2018-11-20 20:56] samreid commented on #171
I experimented with a few linear functions but couldn't improve upon the preceding sigmoid.  @arouinfar can you please test on phettest and see if that curve will be acceptable?

[2018-11-26 14:19] samreid commented on #163
I was able to improve absorption at the boundary somewhat--now the curve may look something like this:

![image](https://user-images.githubusercontent.com/679486/49019634-9d60ad00-f14b-11e8-81ba-443b7b22fc7b.png)

Is this acceptable for 1.0?

[2018-11-26 14:22] samreid commented on #161
I was able to make some incremental improvements in #171, and now the default one-source red light case looks like this:

![image](https://user-images.githubusercontent.com/679486/49019791-01837100-f14c-11e8-8c99-57f572e4d7aa.png)

@arouinfar can you please advise?

[2018-11-26 15:05] samreid commented on #98
We decided to postpone development of the diffraction screen until the other three screens are complete.  We do not expect the diffraction screen to be ready by the deadline for this issue.  I created a label for it called "wave-interference:diffraction-screen" so we can divide up that work.

[2018-11-26 15:14] samreid commented on #128
Launching a built version with `?fuzz` on iPad air is still showing no problems after 3 minutes.  That seems good enough to close this issue.  We can reopen or create supplemental issues if related problems are discovered during dev or RC testing.

[2018-11-26 15:15] samreid commented on #128
Oops, after closing I realized this issue is about iPad 2, not iPad air.  Leaving open for further investigation.

[2018-11-26 15:30] samreid commented on #128
More than 5 minutes of fuzzing on a built version on iPad 2 with no issues (except the fuzzing is notably sluggish).  This may have been helped by recent PhET-iO IO type memory fixes, or omitting the fourth screen.  In either case, this seems good enough to close this issue, and we can reopen if other problems are found in subsequent dev or RC testing.

[2018-11-26 16:04] samreid commented on #187
I tested in a built version on my Macbook Pro, and saw this:

![image](https://user-images.githubusercontent.com/679486/49026070-2d0d5800-f15a-11e8-95e0-8d7b6eb96733.png)

Those pipes disappear when the mouse cursor becomes a hand, and they reappear when the cursor switches back to an arrow.

[2018-11-26 16:13] samreid commented on #187
I'm not sure where to go with this issue.  Should we request @jonathanolson to look into it?  Or wait for further testing on more devices during dev/rc testing?  @ariel-phet can you please advise?

[2018-11-26 16:34] samreid opened #191 "Preparation for code review"
Related to https://github.com/phetsims/wave-interference/issues/124, this is a pre-code review checklist so I can make sure things are ready for the reviewer.

A note: a checked box means that item has been reviewed.  Problems are noted in new issues.

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with* ❌

P

[2018-11-26 17:01] samreid commented on #191
2.5MB

After a few minutes fuzzing (requirejs): 71.9MB
After 5 more minutes fuzzing (requirejs): 76.3MB
After 5 more minutes fuzzing (requirejs): 77.3MB

This review is for PhET-brand only.

[2018-11-26 17:30] samreid commented on #191
I asked on slack:

Sam Reid [10:28 AM]
From the code review document:

I added 49 occurrences of “This exists for the lifetime of the sim and doesn’t require disposal.”  Next the code review document says to do the same for Property.link, etc.
There are no dynamically createdl/destroyed Property/Emitter/etc in my simulation.  Should I still visit each site and add comments like that, or just add t

[2018-11-26 17:41] samreid commented on #191
@zepumph said "Implementation notes seems reasonable to me." and @jessegreenberg gave a 👍 .  Perhaps I'll go with that for now.

[2018-11-26 17:56] samreid commented on #191
The sim uses EventTimer, and seems to have good and consistent performance on iPad air and MacBook Pro.

[2018-11-26 18:01] samreid commented on #191
Pointer areas generally seemed large enough.  I saw one overlapping in this case, but not sure how it should be resolved:

![image](https://user-images.githubusercontent.com/679486/49032707-88474680-f16a-11e8-858b-68fc1b021bee.png)

Also, I'm not sure why the touch/mouse area is expanded for the top checkbox but not the others:

![image](https://user-images.githubusercontent.com/679486/49032746-9f

[2018-11-26 18:12] samreid opened #192 "Review pointer areas"
From #191

Pointer areas generally seemed large enough.  I saw one overlapping in this case, but not sure how it should be resolved:

![image](https://user-images.githubusercontent.com/679486/49032707-88474680-f16a-11e8-858b-68fc1b021bee.png)

Also, I'm not sure why the touch/mouse area is expanded for the top checkbox but not the others:

![image](https://user-images.githubusercontent.com/679486/

[2018-11-26 19:14] samreid opened #193 "String overlaps with stringTest=double"
From https://github.com/phetsims/wave-interference/issues/191

there are some stringTest=double overlaps:

![image](https://user-images.githubusercontent.com/679486/49036249-74084700-f174-11e8-9d61-c0040fb68355.png)

![image](https://user-images.githubusercontent.com/679486/49036261-79fe2800-f174-11e8-98f1-ea7f27179112.png)

![image](https://user-images.githubusercontent.com/679486/49036303-939f6f

[2018-11-26 19:15] samreid opened #194 "stringTest=long needs work"
See https://github.com/phetsims/wave-interference/issues/193

Currently looks like:
![image](https://user-images.githubusercontent.com/679486/49036408-e7aa5400-f174-11e8-9a93-5587bcbf6c85.png)

[2018-11-26 20:06] samreid opened #195 "Ensure credits are correct before publication"
From #191

[2018-11-26 20:23] samreid opened #196 "Should the ?theory lines show on the "Interference" screen?"
From #191 and https://github.com/phetsims/wave-interference/issues/136, the `?theory` query parameter only shows for the "Slits" screen.  Would we like it to show fo the "Interference" screen as well?

[2018-11-26 20:33] arouinfar commented on #161
@samreid I think the screen on Waves is far too dark. I'd recommend bumping up the max to 13, as shown in https://github.com/phetsims/wave-interference/issues/161#issuecomment-433144883. I'd experiment locally, but it looks like the code's undergone some restructuring.

[2018-11-26 20:35] arouinfar commented on #171
I'm definitely noticing less interference in master @samreid! This looks like a reasonable solution to me, so I'll go ahead and close this issue.

Master (left) vs. dev.43 (right)
<img width="105" alt="screen shot 2018-11-26 at 1 13 29 pm" src="https://user-images.githubusercontent.com/8419308/49039622-8935a380-f17d-11e8-877d-0dd4f141b7b6.png"> <img width="114" alt="screen shot 2018-11-26 at 1 13

[2018-11-26 20:35] #171 closed

[2018-11-26 20:38] arouinfar commented on #163
@samreid I think that's a huge improvement! I'm seeing some slight deformities near the outside edges of the curve, but overall it looks so much cleaner. I'd say this is definitely acceptable for 1.0, so closing.

![image](https://user-images.githubusercontent.com/8419308/49040622-50e39480-f180-11e8-87c4-a195cb7e77f5.png)

[2018-11-26 20:38] #163 closed

[2018-11-26 20:52] arouinfar commented on #196
Good question @samreid. I think `?theory` is particularly useful for slit interference because it can be a bit trickier to get the interference pattern to converge on the screen. It's much easier to set up two-source interference examples that converge on the screen. I also think it would also be a bit odd to see the `?theory` lines on Interference, because the origin would be at the midpoint of t

[2018-11-26 20:52] samreid commented on #161
You can now experiment by changing the range on this line:

https://github.com/phetsims/wave-interference/blob/32024a437466e638985214dad1d1aa8cc69d1f7a/js/common/model/Scene.js#L158

However, do we want to just change the scaling on the screen, or change the true amplitude of the oscillator?  I was unclear whether we were just tinkering with the amplitude to determine what the screen should look l

[2018-11-26 20:57] samreid commented on #196
That part doesn't bother me at all, for the same reason it is acceptable showing the origin at the center of the barrier on the slits screen.

I agree this feature will be very helpful to teachers that want to leverage it for the slits screen, but it could be confusing to teachers that want to draw correspondence between the slits screen and the interference screen.  That being said, I don't think

[2018-11-26 21:08] arouinfar commented on #196
@samreid I think we could defer `?theory` on Interference for 1.1+. Given the tight timeline, it doesn't seem worth it for 1.0.

[2018-11-26 21:15] arouinfar commented on #161
Good point @samreid. I think an intensity multiplier on Waves would be preferable. I'm pretty happy with how the current amplitude range looks in the lattice, as well as on the screens for Interference and Slits. Some other side effects of changing the amplitude values:
* Water drop size would end up larger
* There would be an odd mapping of tick marks to actual values in the amplitude slider
* Th

[2018-11-27 01:05] samreid commented on #196
Agreed, I'll self-assign for now to document accordingly, then we can decide how best to address for 1.1+.

[2018-11-27 04:22] samreid opened #197 "Low frequency water shows significant reflection artifacts"
I tested water at lowest frequency and saw significant reflection artifacts:

![image](https://user-images.githubusercontent.com/679486/49058455-53b2a980-f1c1-11e8-9dcc-6531a8257607.png)

I fine tuned the absorption profile in #171 mainly for red light--I wonder if different characteristics are needed for different frequencies/wavelengths.

[2018-11-28 04:39] samreid opened #198 "Recent TODOs"
Some TODOs came up during https://github.com/phetsims/wave-interference/issues/191

[2018-11-28 04:41] samreid commented on #191
I reviewed the review checklist and everything is either is reasonable shape for review, or noted in issues to be addressed before review.  Closing.

[2018-11-28 04:41] #191 closed

[2018-11-28 04:50] samreid commented on #161
Proposed fix increases scaling on screen 1 to 1.85.  Default light looks like this, other screens unaffected.

![image](https://user-images.githubusercontent.com/679486/49129815-74950080-f28e-11e8-8117-4195d3df6f26.png)

 @arouinfar can you please review on phettest?

[2018-11-28 05:00] samreid commented on #192
After commits, it looks like this:

![image](https://user-images.githubusercontent.com/679486/49130182-e4f05180-f28f-11e8-9b42-7ea50a86a82c.png)

Closing.

[2018-11-28 05:00] #192 closed

[2018-11-28 05:10] samreid commented on #193
Fixed (accidentally committed in https://github.com/phetsims/wave-interference/issues/192), closing.

[2018-11-28 05:10] #193 closed

[2018-11-28 05:34] samreid commented on #197
I tried damping the wave to eliminate interference effects, but this had many undesirable effects and did not solve the problem 100%.

[2018-11-28 14:08] samreid commented on #198
Fixed except for one noted in another issue, closing.

[2018-11-28 14:08] #198 closed

[2018-11-28 14:54] arouinfar commented on #195
@samreid we should also credit the legacy design team. Please add Wendy Adams to the team, and Noah Podolefsky to leadDesign. You can also remove me from graphicArts, since I'm already credited in leadDesign.

[2018-11-28 15:00] arouinfar commented on #194
Looking much better @samreid, but I'm still noticing a few things in https://github.com/phetsims/wave-interference/issues/194#issuecomment-442323708.
* "Intensity" doesn't appear to be translatable (wasn't replaced with the stringTest)
* The toolbox and panel on the right should be given an appropriate maxWidth to prevent them from spilling over the Intensity graph.
* The time scale factor should

[2018-11-28 15:35] KatieWoe opened #199 "cT: ReferenceError amplitude is not defined."
[code]

[2018-11-28 15:50] samreid commented on #194
Nice catch @arouinfar, thanks!

[2018-11-28 15:50] KatieWoe commented on #195
@samreid, so far for qa.

[2018-11-28 16:00] samreid commented on #194
Proposed fixes are committed.  @arouinfar can you please review on phettest?

[2018-11-28 16:04] samreid commented on #195
Credits now read:

[code]

Close if all is well.

[2018-11-28 16:04] samreid commented on #199
Fixed in f6df65dfe8484a04a68a7b9e98a0d7db5d7b7323, closing

[2018-11-28 16:04] #199 closed

[2018-11-28 16:16] arouinfar commented on #195
👍

[2018-11-28 16:16] #195 closed

[2018-11-28 17:55] arouinfar commented on #194
Getting close @samreid.

* The barriers panel on Slits is escaping `?dev`
<img width="278" alt="screen shot 2018-11-28 at 10 30 39 am" src="https://user-images.githubusercontent.com/8419308/49170628-cd4db300-f2f9-11e8-9c76-75b98461a3ed.png">

* The title and tick labels on the Frequency slider all overlap. There should be some vertical separation between the title and ticks. The tick marks also ne

[2018-11-28 18:21] arouinfar opened #200 "Items for Teacher Tips"
For #1

- [x] Apparent interference pattern in the screen - #171
- [x] Intensity curve is not perfect - #163
- [x] `?theory` - #74
- [x] Plane wave source is generic - #54
- [x] Absorbing boundary conditions - #197
- [x] Nature of plane wave model and changing amplitude - #210
- [x] Spatial averaging in graph - #137, #234
- [x] Color mapping - #142
- [x] Black background for light - #258
- [x] Tem

[2018-11-28 19:00] phet-steele commented on #195
I alphabetized SOME credits in the above commit.

[2018-11-28 20:45] samreid commented on #197
I tested the absorbing boundary conditions listed at https://www.phy.ornl.gov/csep/sw/node22.html

![image](https://user-images.githubusercontent.com/679486/49181023-840a5d00-f313-11e8-82ab-253dae4ef06b.png)

[code]

Note there is a bug in the bottom fortran code.  I did got reasonable behavior (not perfect) for the red light condition:

![image](https://user-images.githubusercontent.com/679486/49

[2018-11-28 20:46] samreid commented on #197
I should have mentioned: every now and then the entire wave goes negative--not sure why.

[2018-11-28 20:53] arouinfar commented on #161
@samreid I think that's definitely an improvement. Unfortunately, brightening up the screen makes the interference pattern on the screen more apparent.  I'm also a bit worried that the screen is SO much dimmer than the plane wave source. In both cases, the wavelength is the same, but the color in the lattice also looks very different. Can you take a look @samreid?

<img width="500" alt="screen sho

[2018-11-28 21:10] samreid commented on #171
The proposed solution was not wavelength-independent and failed for broad water waves--we will need a more general solution.  I'm continuing in https://github.com/phetsims/wave-interference/issues/197

[2018-11-28 21:13] arouinfar commented on #179
Everything looks great @samreid. Thanks!

[2018-11-28 21:13] #179 closed

[2018-11-28 23:01] samreid commented on #161
As part of https://github.com/phetsims/wave-interference/issues/197 I've averaged over some of that noise and it is looking cleaner.

The amplitude of the point source and the amplitude of the plane waves have been set independently to reach different goals for those screens.  Should we take efforts to redesign that and try to unify them?  If not, then maybe its OK for the screens to show differen

[2018-11-28 23:18] samreid commented on #197
@arouinfar this is a large change to the model physics near the boundaries, can you please test it out and make sure it seems reasonable?

[2018-11-28 23:26] samreid opened #201 "Issues to complete before first QA dev test"
This is an aggregate issue to identify what issues must be closed before first QA dev test.  I'll link issues so they will appear below.  When all are closed, this issue can be closed too and we can move to first QA dev test.

UPDATE: I'm still seeing several issues and not ready to link them yet.  Also I considered whether a label may be more appropriate....

[2018-11-28 23:56] arouinfar commented on #161
Agreed. I had forgotten about the amplitude attenuation, so the differences in screen intensity make perfect sense.

I think the screenshot in https://github.com/phetsims/wave-interference/issues/161#issuecomment-442638812 looks a bit smoother. Given the significant improvement on the Waves screen, I think we can go ahead and close this issue.

| Before  | After |
|---|---|
| <img width="145" alt=

[2018-11-28 23:56] #161 closed

[2018-11-29 00:03] arouinfar commented on #197
@samreid I tested all three screens, and things look reasonable to me.

[2018-11-29 00:03] #197 closed

[2018-11-29 00:12] arouinfar commented on #189
@samreid here's a mockup.

I vertically stacked the pulse/continuous buttons, but put continuous on top since it's the default state. I also moved the top/side radio group a bit to the left so it's left-aligned with the lattice.

![image](https://user-images.githubusercontent.com/8419308/49190651-87f8a800-f330-11e8-9164-b82c71cc6eae.png)

[2018-11-29 00:13] arouinfar opened #202 "Pixel polishing"
@samreid here are my recommended tweaks to [dev.44](https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.44/phet/wave-interference_en_phet.html)

- [x] Distance and time scale indicators should have the same font size, let's try 14 pt
- [x] Center-align playback controls with lattice, and bottom-align with resetAllButton. This will still leave enough room for the barrier arrow, as well a

[2018-11-29 00:38] samreid commented on #189
Completed in the preceding commit,  But I am seeing an overlap with the graph--not sure how to proceed:

![image](https://user-images.githubusercontent.com/679486/49191616-6ef1f600-f334-11e8-8ec6-e7bf6cb3293c.png)

[2018-11-29 00:39] samreid commented on #189
Also, would you like to move the top/side play/pause normal/slow buttons up to be centered between wave area and navbar?  Right now there is some awkward trapped space above them.

![image](https://user-images.githubusercontent.com/679486/49191635-87faa700-f334-11e8-804e-b8bb3925298e.png)

[2018-11-29 00:41] samreid commented on #189
This shows the pulse/continuous buttons centered between the edge of the wave and the dev bounds:

![image](https://user-images.githubusercontent.com/679486/49191716-e6278a00-f334-11e8-88c5-970c9375eb31.png)

[2018-11-29 01:15] samreid commented on #187
I've seen the problem frequently before the workaround and never since the workaround was applied.  I'll close for now, but will keep my eyes peeled and reopen if the problem recurs.

[2018-11-29 01:15] #187 closed

[2018-11-29 20:28] #189 closed, assigned to arouinfar

[2018-11-29 23:56] arouinfar commented on #194
@samreid I was ready to close this issue, but then I tested `?stringTest=double` and it became clear that the numberControl titles were getting obscured by the readouts.
![image](https://user-images.githubusercontent.com/8419308/49259614-53035880-f3f7-11e8-840e-9ed5625c13fb.png)
![image](https://user-images.githubusercontent.com/8419308/49259620-5bf42a00-f3f7-11e8-82cd-94a671a11e19.png)

The same

[2018-11-30 04:03] samreid commented on #194
Proposed fix committed, can you please review on phettest?

[2018-11-30 04:06] samreid commented on #201
I decided to mark issues that should be completed before dev test with high-priority label.  Other issues seem isolated--like they could be updated without disrupting testing.  Closing.

[2018-11-30 04:06] #201 closed

[2018-11-30 23:51] arouinfar commented on #194
👍

[2018-11-30 23:51] #194 closed

[2018-12-04 22:20] arouinfar commented on #158
@samreid the .gifs for dev.43 certainly do have a crisper wavefront. When running dev.43 with `?dev`, the values didn't quite match https://github.com/phetsims/wave-interference/issues/158#issuecomment-437366575, which is why I probably (unnecessarily) tinkered with the values.

I reviewed dev.43 again, and the particle view is looking pretty good to me, and certainly better than https://github.co

[2018-12-04 22:23] samreid commented on #158
There were refactorings, but no other intentional physics changes in SoundParticle.js since dev.43.  Closing for now.

[2018-12-04 22:23] #158 closed

[2018-12-04 23:04] arouinfar commented on #177
@samreid  here are my recommendations for the Separation slider on Interference. I'll report back with Slit Width and Slit Separation shortly.

| Scene | Min | Max | Default | tweaker increment | thumb increment (constrainValue) |
| --- | --- | --- | --- | --- | --- |
| Water | 1.0 cm | 5.0 cm | 3.0 cm | 0.1 cm | 0.5 cm |
| Sound | 100 cm | 400 cm | 200 cm | 1 cm | 10 cm |
| Light | 500 nm | 4000

[2018-12-05 05:01] arouinfar commented on #177
@samreid here are the rest of the values.

### Slit Width

| Scene | Min | Max | Default | tweaker increment | thumb increment (constrainValue) |
| --- | --- | --- | --- | --- | --- |
| Water | 0.5 cm | 2.5 cm |  1.5 cm | 0.1 cm | -- |
| Sound | 20 cm | 160 cm | 90 cm | 1 cm | 10 cm |
| Light | 200 nm | 1600 nm | 900 nm | 10 nm | 50 nm |

### Slit Separation

| Scene | Min | Max | Default | tweake

[2018-12-05 05:21] samreid commented on #177
Why is thumb increment (constrainValue) specified for Water source separation but not Water slit separation or Water slit width?

[2018-12-05 05:31] samreid commented on #177
In the preceding commits I matched the values for the bottom table (aside from the different slit separation defaults for sound and light), reassigned to @arouinfar to discuss the two preceding comments.

[2018-12-05 06:41] arouinfar commented on #177
The behavior on master is looking to me @samreid!

The range is pretty small, so it didn't make much sense to me to snap the thumb in increments greater than the tweaker increment.

I had forgotten about that detail! I had simply chosen the midpoint as the default, but matching the defaults to the source separation on Interference is fine by me.

[2018-12-05 06:41] #177 closed

[2018-12-05 17:01] samreid opened #203 "Anything else to complete before initial dev testing?"
All of the critical issues I'm aware of have been addressed.  The main outstanding issues are:

https://github.com/phetsims/wave-interference/issues/202
https://github.com/phetsims/wave-interference/issues/142
https://github.com/phetsims/wave-interference/issues/54

It would be nice to solve these before initial dev testing, but they appear limited in scope, such as tweaking an independent value f

[2018-12-05 17:35] arouinfar commented on #54
@samreid I don't love the icons on the plane wave source. It feels a bit cluttered to me. I'm getting ready for interviews, and I'd like to test it out without the icons. Can we remove the icons for dev testing?

This seems like a pretty cosmetic choice, so I don't know that it would have serious implications on QA.

[2018-12-05 17:36] arouinfar commented on #142
@kathy-phet we would like to address this issue before this sim goes to dev testing, can you review https://github.com/phetsims/wave-interference/issues/142#issuecomment-433222418?

@ariel-phet can you take a look at the options in https://github.com/phetsims/wave-interference/issues/142#issuecomment-433222418 and let me know what you think? I'm most on board with the color mapping in dev.39 or de

[2018-12-05 17:39] arouinfar commented on #203
@samreid I've commented on #54 and #142, and I can take care of #202 by the early afternoon.

[2018-12-05 18:30] zepumph opened #204 "Create a dev version for @arouinfar"
@samreid posted on slack:

[code]

I'm on it!

[2018-12-05 18:36] zepumph commented on #204
Here you are @arouinfar.

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.44/phet/wave-interference_all_phet.html

[2018-12-05 18:36] arouinfar commented on #204
Excellent, thanks @zepumph!

[2018-12-05 18:36] #204 closed

[2018-12-05 19:01] ariel-phet commented on #142
@arouinfar @samreid after playing around a bunch and doing side-by-side comparisons, dev.40 and dev.37 are close but with some subtle differences. I think I am pretty sold on dev.40 for a few reasons:

1. There is an ever so slightly gentler feathering of the peak of the wave when looking at water waves from a single source. To me this makes the waves look a bit more natural. This effect is pretty

[2018-12-05 19:23] ariel-phet commented on #203
@samreid nothing else comes to mind for me in terms of an initial dev test.

[2018-12-05 19:39] arouinfar commented on #142
Thanks @ariel-phet. During design meeting, dev.40 seemed acceptable to @kathy-phet, so let's go with that @samreid.

[2018-12-05 20:41] arouinfar opened #205 "Constrain tools to visible bounds"
@samreid it's currently possible to completely lose the tools by dragging them out of the window bounds.

For an example of the desired behavior, test the ruler, stopwatch, and period timer on the [Lab Screen](https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html?screens=3) of Pendulum Lab.

[2018-12-05 20:41] arouinfar commented on #205
If this is a quick fix, it would be nice to address before #203.

[2018-12-05 22:19] arouinfar commented on #54
After further Slack discussion with @ariel-phet, I'd like to instead try adding a text label to the plane wave source. This was also an idea that was mentioned at the end of a previous design meeting. The proposed labels would be:
* Water Wave Generator
* Sound Generator
* Light Generator

Here's mockup showing the text. The font size is the same as Normal/Slow, and there is a white rectangle with

[2018-12-05 22:21] arouinfar commented on #203
@samreid I recommended some pixel polishes in #202. I also spent quite a bit of time with the sim today, and the only other issue I ran into was #205.

[2018-12-06 17:51] arouinfar opened #206 "Low amplitude light looks really problematic"
First observed by @phet-steele, in what I assume was dev.44. (Screenshots below are from dev.44.)

If the amplitude is below the first tick mark, the light wave looks pretty awful, and it does not propagate across the lattice. While this looks buggy, I'm not particularly sure that this is actually a bug, but rather a consequence of choosing black to represent an empty light lattice. For Water and

[2018-12-06 17:58] arouinfar commented on #206
Looks like this was present in Java too.

![light_java](https://user-images.githubusercontent.com/8419308/49602473-c9e3a880-f945-11e8-8ab4-a176c2ccb89d.gif)

[2018-12-06 21:15] samreid commented on #206
I changed the threshold, back to @arouinfar and @phet-steele

[2018-12-06 21:44] #142 closed

[2018-12-06 22:53] samreid commented on #206
Also self-assigning in case I want to tinker with the threshold to avoid diamonding.

[2018-12-06 22:53] samreid opened #207 "Plane wave edge sometimes has leading edge flicker"
Figure out leading edge flicker on plane wave
 - should not delay dev testing, may publish 1.0 with this flicker

[2018-12-06 22:54] samreid opened #208 "Light screen has too long of a temporal window for averaging"
Same value is used for light chart and light screen.  At today's meeting we reduced it to 40 and it was quicker to respond but a bit more jumpy.  I'll commit 40 but we can check around if another value may be better.

[2018-12-06 22:56] samreid opened #209 "Reduce initial slit width so that the light intensity screen doesn't wash out in initial conditions"
From today's meeting, we saw that the default slit aperture was so wide that the light screen washed out.  We want to reduce that value so the default conditions are more sensible.  In another issue we will also be adding an amplitude slider to this screen.

[2018-12-06 22:57] samreid opened #210 "On interference screen and slits screen, add "amplitude" slider directly under the frequency slider."
On interference screen and slits screen, add "amplitude" slider directly under the frequency slider.  Make sure it affects both sources on the interference screen.

[2018-12-06 23:05] samreid commented on #203
We decided to aim for Friday December 14 to begin dev testing.

[2018-12-06 23:05] samreid commented on #54
@arouinfar said it would be nice to get this done before Monday so it could be used in initial interviews.

[2018-12-07 03:54] samreid commented on #54
Implemented in above commit and ready for review and testing, @arouinfar can you please take a look?

[2018-12-07 04:50] samreid commented on #202
That was already implemented, let me know if it looked incorrect or if I need to adjust it.

[2018-12-07 05:02] samreid commented on #202
I presume you mean the aqua radio buttons and not the scene radio buttons.

[2018-12-07 05:45] samreid commented on #202
I addressed each of the checkboxes, with a few notes and questions in my preceding comments.  @arouinfar can you please take a look?

[2018-12-07 05:46] samreid commented on #203
All known work tracked in other issues, closing.

[2018-12-07 05:46] #203 closed

[2018-12-07 05:53] samreid commented on #205
Measuring tape doesn't currently support the "edge-based" drag constraint--it is constrained based on the measuring tape body cross-hairs.  Should we open an issue to change this in scenery-phet?

[2018-12-07 06:13] samreid commented on #206
I found a better threshold that avoids diamonds while still having the desired behavior at extremely low amplitude.  Leaving assigned to @arouinfar and @phet-steele to test.

[2018-12-07 06:21] samreid commented on #209
Committed proposed value.  Note: I applied a change only to the light scene (not water or sound) and this changes the initial value for both single slit and double slits.  Works well in my testing, @arouinfar can you please take a look and advise?

[2018-12-07 06:23] samreid opened #211 "Set the default light frequency to green"
Set the default light frequency to green, in the middle of the available spectrum.

@arouinfar can you please confirm this is a desired feature?  I recalled we discussed about it but I hadn't written it down and just wanted to double check.

Will we need to re-tune values around the new defaults?

[2018-12-07 16:57] samreid commented on #210
Due to the nature of the model, changing the amplitude of the plane wave changes it everywhere to the left of the slits.  Perhaps this is one of the reasons we originally omitted the amplitude control on this screen.  Our options:

(a) add the amplitude slider to the slits screen, and let it change the amplitude everywhere (0 hours)
(b) omit the amplitude slider from the slits screen (0 hours)
(c)

[2018-12-07 17:00] samreid commented on #210
This is committed so you can review and test (a), but note that it is not wired up for water--only wired up for sound and light.  If we keep (a), then I'll need to spend 20 minutes or so wiring it up to the WaterScene.desiredAmplitudeProperty.

[2018-12-07 17:35] samreid opened #212 "Pixels shift and adjusts when dragging the timer node"
Discovered during https://github.com/phetsims/wave-interference/issues/205

It looks like this:

![adjusting](https://user-images.githubusercontent.com/679486/49663392-bdc21e80-fa0b-11e8-9b8b-638354a2e98f.gif)

@jonathanolson any idea what is causing this?

[2018-12-07 17:36] samreid commented on #212
I asked on slack #dev-public:

Has anyone seen this problem before, where the pixels shift and adjust while something is moving?

[2018-12-07 17:37] KatieWoe commented on #212
It shows up in firefox quite a bit.  Give me a minute to find it.

[2018-12-07 17:40] samreid commented on #212
Sam Reid [10:35 AM]
Has anyone seen this problem before, where the pixels shift and adjust while something is moving?

https://github.com/phetsims/wave-interference/issues/212

Kathryn Woessner [10:38 AM]
https://github.com/phetsims/wave-interference/issues/212#issuecomment-445307846
Mostly text, but it seems to be a firefox issue.  Is that where you saw it?

Jesse Greenberg [10:39 AM]
Yes, I enco

[2018-12-07 19:43] arouinfar commented on #206
@samreid 10^-3 is definitely looking nicer than 10^-6. A tradeoff of reducing the threshold is that lattice cells will illuminate a bit earlier, creating a less-clean looking halo around the initial wavefront. However, I think this is a reasonable compromise.

Here's what 10^-3 looks like:
<img src="https://user-images.githubusercontent.com/8419308/49669064-58772900-fa1d-11e8-9c49-7382e9aa6ecf.png

[2018-12-07 20:46] samreid commented on #205
I've constrained all objects to the visible bounds and made them stay in bounds as the window reshapes.  There are two oddities, both regarding the Measuring Tape common code component.  It does not keep its full bounds in the play area--only its cross-hairs.  Also, when the window reshapes, the measuring tape cross-hairs stays in the play area, but it can rotate if its draggable tip goes further

[2018-12-07 22:10] samreid commented on #207
It can be instructive to set to Light (red wavelength) and use pause/step.

[2018-12-07 22:38] samreid opened #213 "Should turning off the plane wave generator while paused clear the wave area?"
Noted during #207, Should turning off the plane wave generator while paused clear the wave area?

@arouinfar what do you think?

[2018-12-07 22:43] arouinfar commented on #202
@samreid everything's looking nice!

I had remembered in #189 that the playback controls weren't bottom-aligned with resetAllButton, but didn't confirm that in dev.44.  The current alignment looks great!

Correct! I could have been clearer in my original request. :)

I am noticing that there's some shifting in the numberControls between the scenes. It's particularly noticeable for the Slit Separat

[2018-12-07 22:44] samreid commented on #202
Thanks @arouinfar, I'll move that last point to a new issue.  Can this one be closed?

[2018-12-07 22:44] samreid opened #214 "shifting in the numberControls between the scenes"
From #202, @arouinfar said:

![numbercontrol](https://user-images.githubusercontent.com/8419308/49676286-51a8e000-fa36-11e8-9558-6086f3abd452.gif)

[2018-12-07 22:47] arouinfar commented on #54
@samreid looks pretty good. I have one tweak to suggest -- the maxWidth looks a bit too big. Can you make it a bit smaller so there's (roughly) equal whitespace above and below the string?

I'm thinking the string could expand until the magenta line:
![image](https://user-images.githubusercontent.com/8419308/49676535-502be780-fa37-11e8-9f9f-78e2ab6d81d3.png)

[2018-12-07 22:50] arouinfar commented on #208
@samreid I don't love how jumpy the Intensity graph looks with the lower averaging time, so I'll tinker with the value locally.

[2018-12-07 22:58] #202 closed

[2018-12-07 23:02] arouinfar commented on #213
@samreid, not necessarily. While clearing the wave immediately would be consistent with the unpaused behavior, it might look a bit strange. It seems a bit more natural to clear the wave when the sim is unpaused (or stepped forward).

That said, I don't have a particularly strong opinion on this issue, so I'll defer to your best judgement @samreid.

[2018-12-07 23:03] samreid commented on #207
There was a flaw in the phase calculation, and also a leakage in the numerical integration.  Looks much better now on my side, @arouinfar can you please review on phettest?

[2018-12-07 23:04] arouinfar commented on #207
Looks beautiful @samreid!

[2018-12-07 23:04] #207 closed

[2018-12-07 23:34] arouinfar opened #215 "MeasuringTapeNode's state is saved when retrieved from toolbox"
When reviewing #205, I noticed that the MeasuringTapeNode remembers how it was returned to the toolbox. The next time it is pulled out of the toolbox, it will have the same configuration.
![mtn](https://user-images.githubusercontent.com/8419308/49677703-73599580-fa3d-11e8-81f9-85fa27422e97.gif)

I do not find this to be particularly useful, and is contrary to how MeasuringTapeNode has behaved else

[2018-12-07 23:47] arouinfar commented on #205
@samreid the MeasuringTapeNode is master is still retrievable (by dragging the crosshairs attached to the body), so I don't think it's a problem that the body goes off-screen. In some sims, that may actually be advantageous.
![image](https://user-images.githubusercontent.com/8419308/49677944-afd9c100-fa3e-11e8-9358-da780ef29523.png)

The rotating also seems fine to me @samreid. The goal is to keep

[2018-12-07 23:50] arouinfar commented on #210
@samreid I think option (a) is perfectly fine, and is looking nice in master. I'll make a note to add this to the teacher tips, though.

[2018-12-08 00:18] arouinfar commented on #209
@samreid looks good!

[2018-12-08 00:18] #209 closed

[2018-12-08 00:20] arouinfar commented on #211
@samreid the motivation for changing the color to green was that it has a nicer pop against the black background. I tested to new defaults in #209 with the frequency at ~50%  (green) and things still look nice to me.

Please change the initial light frequency to 50%.

[2018-12-08 00:37] arouinfar opened #216 "New dev version for interviews"
@samreid my first interview is scheduled for 10AM on Monday (the 2nd is at 2PM). I can use dev.44 for interviews, but there have been some great improvements made since then, so it would be nice to publish a new dev version when time allows.

The issues that would be nice to wrap up before a new dev version would be:
- [x] #208
- [x] #210
- [x] #211

[2018-12-08 00:39] arouinfar commented on #54
The maxWidth is not critical to fix before interviews, so removing the high priority tag.

[2018-12-08 03:05] samreid commented on #211
Proposed fix in preceding commits, @arouinfar can you please double check on phettest?

[2018-12-08 03:11] samreid commented on #210
I wired this up to water as well, @arouinfar can you please review on phettest?

[2018-12-08 03:13] samreid commented on #208
Fixed on phettest, @arouinfar can you please review?

[2018-12-08 03:17] samreid commented on #216
Here's a dev version that has proposed (but unverified) fixed for the aforementioned issues: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.45/phet/wave-interference_en_phet.html

[2018-12-08 03:42] samreid commented on #205
I used the same behavior from bending light to keep the probes in bounds when their corresponding body is being dragged.  @arouinfar can you please review on phettest?

[2018-12-08 03:45] samreid commented on #213
It seems if the user unclicks the red plane wave generator button, the intention is to clear the waves, whether in play mode or pause mode.  It is also odd if the sim is paused and the user unclicks then clicks the red button--the waves restart and keep going.  I'd like to try clearing the wave area when the button is deselected when paused.

[2018-12-08 03:49] samreid commented on #213
Proposed fix committed, @arouinfar can you please test?

[2018-12-08 04:14] samreid commented on #214
Proposed fix committed.  I noted the same problem on the Slits screen but the effect is much less noticeable and further from the mouse (in the lower control panel), and only for water/sound.  This was a nontrivial solution and we do not have common code support for this, so I'd recommend for now to omit this fix for Slits screen lower control panel.  @arouinfar can you please review the commit an

[2018-12-08 04:18] samreid commented on #215
Proposed fix committed, @arouinfar can you please take a look?

[2018-12-08 21:30] samreid commented on #124
Draft of instructions for the reviewer.  Not ready for review yet, but I'll update this comment as I have more instructions to give.

I recommend to start with the documentation:
wave-interference/doc/implementation-notes.md
wave-interference/doc/model.md

Then when reviewing the code, to begin with these core model files which are central to the sim:
wave-interference/js/waves/model/WavesScreenMo

[2018-12-10 03:20] arouinfar commented on #215
@samreid I pulled all, and the measuring tape still behaves like the .gif in https://github.com/phetsims/wave-interference/issues/215#issue-388850870.

[2018-12-10 03:30] arouinfar commented on #215
Thanks @samreid! Looks good on reset all and when retrieving from the toolbox.

[2018-12-10 03:30] #215 closed

[2018-12-10 03:32] arouinfar commented on #211
👍

[2018-12-10 03:32] #211 closed

[2018-12-10 03:37] arouinfar commented on #210
Looks good!

[2018-12-10 03:37] #210 closed

[2018-12-10 03:37] arouinfar commented on #208
This seems like a better compromise @samreid, but I'll leave assigned to myself a bit longer just to be sure.

[2018-12-10 03:42] arouinfar commented on #205
The Wave Detector looks good, @samreid.

Can you update the bounds of the MeasuringTapeNode to `?dev` rather than the visible bounds?

[2018-12-10 03:43] arouinfar commented on #54
👍

[2018-12-10 03:43] #54 closed

[2018-12-10 03:45] samreid commented on #205
Will it be inconsistent for some of the tools to be limited by `?dev` and some to be limited by the visible bounds?  It seems you are recommending this to help keep the measuring tape closer to the area where it will be useful, but I were a student seeing the measuring tape hitting an invisible wall I would probably suspect it was a bug.

[2018-12-10 03:47] arouinfar opened #217 "Reduce maxWidth of Top/Side View radio buttons"
@samreid now that the playback controls have shifted a bit to the left, the maxWidth of the Top View/Side View strings should be a bit shorter.
![image](https://user-images.githubusercontent.com/8419308/49709785-49e26a80-fbf3-11e8-951e-a4c2730a6d69.png)

[2018-12-10 03:52] samreid commented on #217
Proposed fix committed, @arouinfar please review.

[2018-12-10 03:56] arouinfar opened #218 "Layer tools above all panels"
The z-ordering of the tools looks good, except for the Slits panel.
![image](https://user-images.githubusercontent.com/8419308/49710026-4ac7cc00-fbf4-11e8-8f56-a6f91b55618a.png)

[2018-12-10 03:57] arouinfar commented on #217
👍

[2018-12-10 03:57] #217 closed

[2018-12-10 03:59] samreid commented on #218
Proposed fix is committed, @arouinfar can you please review?

[2018-12-10 04:12] arouinfar commented on #205
I think the nature of the MeasuringTapeNode is a bit different, as the tool body needs to be on top of the area it is measuring. This is not the case for the TimerNode or the body of the Wave Detector. Allowing the TimerNode or Wave Detector to be dragged out of `?dev` allows these tools to be placed somewhere where they they won't occlude other UI components (for most users, at least).

For consi

[2018-12-10 04:13] arouinfar commented on #218
👍

[2018-12-10 04:13] #218 closed

[2018-12-10 04:16] arouinfar commented on #216
dev.46 has been behaving nicely for me @samreid, thanks!!

[2018-12-10 04:18] samreid commented on #205
I agree the measuring tape can only be useful for measuring things in the wave area, but it seems like a non-productive constraint to limit it to the dev bounds--I expect it would be perceived as buggy and inconsistent.

The same argument could be made about the measuring tape--it could be used over the wave area for a measurement, then moved out of the dev bounds (out of the way) temporarily whil

[2018-12-10 04:18] #205 closed

[2018-12-10 04:19] samreid commented on #216
We fixed a number of other issues in the last few commits, I'll send a new dev version in case you want to use that instead.

[2018-12-10 04:20] arouinfar commented on #216
Great, thanks!

[2018-12-10 04:30] arouinfar commented on #216
Thanks!

[2018-12-10 04:30] #216 closed

[2018-12-10 16:50] jonathanolson commented on #212
It definitely looks like moving the timer to the right of the panels is shifting blocks:

![fitted-block-bounds](https://user-images.githubusercontent.com/480878/49747472-bc3d6400-fc60-11e8-8ddd-2f4a5330e96b.PNG)

If this is a common problem, potentially I could turn SVG block fitting off on certain platforms.

I can only seem to reproduce this in Firefox. Does it happen in other browsers? (And th

[2018-12-10 17:03] KatieWoe commented on #212
@jonathanolson @samreid I looked at Win 10 and Mac 10.14 on Wave Interference master.  I wasn't able to reproduce on firefox on either.  What OS were both of you using?

[2018-12-10 17:16] KatieWoe commented on #212
From Slack:

[2018-12-10 18:05] samreid commented on #212
My video in the top comment was recorded on Mac/Chrome

[2018-12-10 18:15] KatieWoe commented on #212
Sorry for the confusion.  I thought this was just a firefox problem for some reason.  I didn't see it on Win 10 chrome and I just went to test on Mac 10.14 chrome and still don't see it.  Is it possible something changed in the common code?

[2018-12-10 21:04] jonathanolson commented on #212
Unlikely to have been a common code change.

[2018-12-11 00:14] samreid commented on #212
Do we publish sims with this symptom?

[2018-12-11 00:19] samreid opened #219 "Oscillator button pressed but no waves coming out."
Sometimes when switching scenes and turning things on and off, you can get into a scenario with the oscillator button pressed but no waves coming out.  I saw this several months ago but could not reproduce the problem.  @arouinfar saw it in an interview today.

Here's our slack chat:

Oh no, I saw something like that weeks ago but haven’t been able to reproduce it.
Maybe QA dev test will help us n

[2018-12-11 00:22] samreid opened #220 "Create initial dev test"
@arouinfar and I agreed the simulation is ready for initial dev test.  Self-assigning to double check on #219 in advance, and to create the dev version.  Heads up to @ariel-phet and @KatieWoe that this should be ready sometime on Tuesday.

[2018-12-11 00:32] samreid commented on #212
If I put `preventFit: true` on the WaveMeterNode, then the problem goes away for it and for the TimerNode.

[2018-12-11 00:36] samreid commented on #212
That commit addresses the problem on my machine.  @jonathanolson am I barking up the right tree?

[2018-12-11 02:01] samreid commented on #208
@arouinfar said:

I don’t think #208 should block a dev test

[2018-12-11 02:01] samreid commented on #206
@arouinfar said:

Steele said he was waiting for a dev test to confirm 206

[2018-12-11 03:25] samreid opened #221 "Water drop not reset"
Discovered while investigating https://github.com/phetsims/wave-interference/issues/219

Turn on water drops, then switch scenes, then switch back to water scene and quickly press reset.  The water drop keeps falling and creates a ripple.

[2018-12-11 03:27] #221 closed, assigned to samreid

[2018-12-11 03:51] samreid commented on #219
Fuzzing and pausing again reveals a similar error case:

![image](https://user-images.githubusercontent.com/679486/49777324-487d7480-fcbd-11e8-8428-aaf56fb0bf0d.png)

Note the waves are nonzero even though they cannot be seen, and the light screen is visible beneath the wave area.

[2018-12-11 04:13] samreid commented on #219
Steps to reproduce the problem:

1. Go to sound scene and select "particles"
2. Go to any other scene and start the wave.

Not shown due to faulty logic in WavesScreenView.js

[2018-12-11 16:40] samreid opened #222 "Measuring tape texts when changing scenes then dragging the measuring tape 1px"
Measuring tape texts when changing scenes then dragging the measuring tape 1px.

[2018-12-11 16:52] samreid commented on #222
Fixed, closing.

[2018-12-11 16:52] #222 closed

[2018-12-11 17:14] samreid opened #223 "Symbol is undefined on IE11"
I’m getting `'Symbol' is undefined` on built sim on IE11.  Is that a known or expected problem?

[2018-12-11 17:41] samreid commented on #223
Wave Interference code:
[code]

Transpiled code:
[code]

[2018-12-11 18:33] samreid commented on #223
Fixed, closing.

[2018-12-11 18:33] #223 closed

[2018-12-11 18:34] samreid opened #224 "Switching pulse to continuous can emit a spurious water drop"
Switching pulse to continuous can emit a spurious water drop

[2018-12-11 18:35] samreid opened #225 "The water side view edges are slightly angled."
The water side view edges are slightly angled. I don't think that's desirable, but maybe it isn't a big deal.

![image](https://user-images.githubusercontent.com/679486/49821908-d9ddfc80-fd38-11e8-9185-3dac678e2d49.png)

[2018-12-11 19:50] jonathanolson commented on #212
Yes, that would prevent the shifting/resizing of the underlying block.

@ariel-phet since this has now popped up in multiple places, I'm curious if it's worth some time to see when/where fitted blocks should be used. It reduces memory usage and can increase performance (on graphics-bound devices like iPad 3), but if it's causing issues like this then maybe it could be selectively enabled on certai

[2018-12-11 20:12] arouinfar commented on #219
@samreid I tested the steps in https://github.com/phetsims/wave-interference/issues/219#issuecomment-446066301 in dev.47 (version used in interviews) and could reliably reproduce the bug, but it no longer appears to be on master. Reviewing the screen capture footage, I think this was the same bug, because the student had switched to light after looking at the particle view of sound.

[2018-12-11 20:12] #219 closed

[2018-12-11 20:22] arouinfar opened #226 "Unify step size across scenes"
I noticed that the step forward button is on a different time scale across scenes, which feels really odd.

Water: 0.05 s
Sound: 0.115 ms? Steps alternate between 0.11 and 0.12 ms.
Light: 0.14 fs

The step size for Sound and Light doesn't seem very optimal. @samreid can we use 0.05 time units for all three scenes?

[2018-12-11 20:23] arouinfar commented on #226
If for some reason 0.05 ms/fs is not feasible for Sound/Light, I'd also be fine with a step size of 0.1 time units for all three scenes.

[2018-12-11 21:08] samreid commented on #226
Proposed fix pushed, @arouinfar can you please review and test?

[2018-12-11 21:18] samreid commented on #225
Well, the values at the midpoint are inset a bit, but that is so they will match perfectly with the graph.  As an intermediate solution, I can square it out like this, which seems less buggy:

![image](https://user-images.githubusercontent.com/679486/49830847-9347cc80-fd4f-11e8-9bc0-ecc38351f549.png)

[2018-12-11 21:20] samreid commented on #224
Fixed, @arouinfar can you please double check?

[2018-12-11 21:20] samreid commented on #225
Fixed as described above, @arouinfar can you please review/check?

[2018-12-11 21:30] arouinfar commented on #224
Looks good in master @samreid.

[2018-12-11 21:30] #224 closed

[2018-12-11 21:36] samreid opened #227 "Pulse button should be disabled when a pulse is firing"
Pulse button should be disabled when a pulse is firing.

[2018-12-11 21:43] arouinfar commented on #208
To elaborate on https://github.com/phetsims/wave-interference/issues/208#issuecomment-446044585. `HISTORY_LENGTH` will remain some constant number, which is why I think it's fine to send this sim into dev testing before this issue is closed. For now, 90 seems to be okay, but I would like to tune it a bit during dev testing to make sure I'm happy with it.

[2018-12-11 21:58] samreid commented on #227
This is only a problem for the water scene.

[2018-12-11 22:21] samreid commented on #227
Proposed fix is here, @arouinfar can you please test it out?

[2018-12-11 22:23] samreid opened #228 "Sometimes the RoundStickyPushButton highlights wrong"
Discovered during https://github.com/phetsims/wave-interference/issues/227.  Sometimes the highlight looks like "pressed" instead of "shiny"

![button-highlight](https://user-images.githubusercontent.com/679486/49834040-a90dbf80-fd58-11e8-9669-80ce5e333044.gif)

[2018-12-11 22:30] samreid commented on #228
It seems that `StickyToggleButtonInteractionStateProperty.buttonModel.looksPressedProperty` is somehow true for this case, will require further investigation.

[2018-12-11 22:33] samreid commented on #228
Here's the docs for `looksPressedProperty`

[code]

Assigning @jessegreenberg for investigation.

[2018-12-12 02:35] jessegreenberg commented on #228
This should be fixed in master, @samreid can you please confirm?

[2018-12-12 03:35] samreid commented on #228
I can't seem to break it any more, thanks for the fix!

[2018-12-12 03:35] #228 closed

[2018-12-12 04:34] samreid commented on #128
Testing dev.51 on iPad2 today I observed a crash.  I subsequently restarted safari, cleared other apps and was able to tap through every screen and every scene and use the simulation for >3 minutes with no crashing.  But this sim uses around 60MB of memory, so it could be susceptible to crashing on iPad2.  I'll see how far fuzzing goes at the moment.

[2018-12-12 05:17] samreid commented on #128
I can shave off 2.4MB (from 59.5MB to 57.1MB) in requirejs mode with assertions disabled by only declaring PhetioObject properties if PHET_IO_ENABLED.  This is pretty hackish though because some of the properties such as tandem and linkedElements, need to be defined anyways, so the solution looks haphazard.

[2018-12-12 05:44] samreid commented on #128
Some thoughts:

1. I don't want to send this sim to dev testing if we think we are going to redo a lot of the implementation focusing around memory savings.
2. On the other hand, requesting QA dev testing focused on iPad 2 memory and crashing may be good to help us determine whether the sim is acceptable or better understand the nature of the crashing.
3. Let's say we determine that the sim is cra

[2018-12-12 06:05] samreid commented on #128
Another possibility: even though the allocated canvas sizes don't show up on the heap, they may still contribute to iPad 2 crashing.  It would lead to very hackish code but we could try creating only one LatticeCanvasNode and passing it to each screen.  I'm not sure how layering would work or if scenery still allocates multiple `<canvas>` elements in that case.  It could take a few hours to test t

[2018-12-12 16:59] samreid commented on #220
Dev issue created in the QA repo (not linked from here so it doesn't appear as an issue discovered during testing).

[2018-12-12 16:59] #220 closed

[2018-12-12 17:02] samreid commented on #128
Notes from discussion with @ariel-phet:

* dev.51 ran on Ariel's iPad 2 for >5 minutes under normal usage with no crashing.
* We will be dropping support for iPad 2 soon, probably before Wave Interference 2.0 is released
* Equality Explorer weighs in at 70MB
* We will give to the QA team and ask to keep an eye out for crashing.
* If the sim happens to crash sometimes (but not all the time) on iPad

[2018-12-12 17:25] KatieWoe opened #229 "Button looks disabled when switching to pulse"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When switching from continuous to pulse, the button briefly looks disabled, even when no wave is there.  I have only seen this in the water scene so far.
**Steps to reproduce:**
1. Go to the waves screen
2. Go back and forth between the continuous and

[2018-12-12 17:50] KatieWoe opened #230 "Switching from continuous to pulse to continuous creates a wave."
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238.  May be related to https://github.com/phetsims/wave-interference/issues/144.
Under certain circumstances the water scene will create an unprompted wave when switching from pulse to continuous.  I have not reproduced with sound or light.  It may be ea

[2018-12-12 18:06] KatieWoe opened #231 "Timer resets when scene changes"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
On the wave screen, when switch from one type of wave to another, and then back, the timer will have reset itself.  This may be intended or unavoidable.  If so, please close.
**Steps to reproduce:**
1. Go to wave screen and start timer.  Note the type

[2018-12-12 19:04] KatieWoe opened #232 "Possible for drop to be above faucet"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
It is possible to have a drop of water falling above the faucet it came from.  Due to the nature of how this is achieved, it may be acceptable or unavoidable.
**Steps to reproduce:**
1. Go to the Interference screen and the water scene
2. Separate the

[2018-12-12 19:40] arouinfar commented on #232
@KatieWoe thanks for reporting, but I do not actually think this is a problem. The drop in your screenshot originated from the source that was further up. The next drop will originate from the sources's new location. The user had to take an action to move the water source down, so I don't think it will be strange to temporarily see a water drop above the source.

If we wanted to address this sort

[2018-12-12 19:40] #232 closed

[2018-12-12 19:54] arouinfar commented on #230
Nice find @KatieWoe.

@samreid here's a screen capture showing the top view.

![switchtopulse](https://user-images.githubusercontent.com/8419308/49895177-06fbdf00-fe0d-11e8-90e7-ad120b001f93.gif)

[2018-12-12 20:02] phet-steele commented on #231
Since I was confused by this question, maybe other people will be too! I asked @arouinfar on slack, and what she wants is a cleared, paused timer on a scene change, as if the u-shaped reset button were pressed.

[2018-12-12 20:59] KatieWoe opened #233 "Returning to a scene after reset all causes a flash"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When running a wave on a scene other than water in the Waves or Interference screen, hitting the reset all button and then returning to the scene will leave a brief flash of the old state.  A similar visual glitch seems to happen when a water wave is

[2018-12-12 21:52] KatieWoe opened #234 "Jagged curves on graph when frequency is high"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
The graph of a wave down the center can be rather jabbed, particularly when the frequency is high as with the blue colors of light.  @arouinfar asked for an issue to see if it could be cleaned up, but it may not have enough points and so it may not be

[2018-12-12 22:15] samreid commented on #234
If I recall correctly, we experimented with different smoothing strategies and found this was preferable.  There is a very small number of cells in the lattice that is used to generate the curve--I'm not sure what else we can do with this.  @arouinfar any thoughts?

[2018-12-12 22:38] samreid commented on #233
This does not occur on my Mac Chrome (or is nearly instant), but I can see it in my Mac Firefox.

[2018-12-12 22:54] samreid commented on #233
Pushed fix, @KatieWoe can you please verify on phettest?

[2018-12-12 22:58] KatieWoe commented on #233
Looks good on master.

[2018-12-12 23:01] samreid commented on #231
Proposed fix pushed, @KatieWoe can you please test on phettest?

[2018-12-12 23:06] KatieWoe commented on #231
Seems to behave well on master

[2018-12-12 23:19] arouinfar commented on #234
I asked @KatieWoe to open this issue so I could hear @samreid's thoughts on the issue. Thanks for jogging my memory @samreid. Light suffers more than the other scenes because the wavefronts are more closely spaced, but I agree that there isn't anything else we can do here.

[2018-12-12 23:19] #234 closed

[2018-12-12 23:30] #233 closed

[2018-12-12 23:31] samreid commented on #233
Marked closed so it will show up in red on the QA issue.  We can verify if in the next dev release if desired.

[2018-12-12 23:34] samreid commented on #231
Closing so this will show red on the QA issue.  We can verify in the next dev test or RC if necessary.

[2018-12-12 23:34] #231 closed

[2018-12-12 23:44] KatieWoe opened #235 "Two lines on intensity graph"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When there is no barrier on the Slits screen when using light, the intensity graph can show two lines that move and shift around.
**Steps to reproduce:**
1. Go to the Slits screen
2. Go to the Light scene
3. Select the No Barrier option
4. Turn on th

[2018-12-12 23:48] KatieWoe commented on #235
Note: These lines stay around if you add a barrier restart the the light generator, etc.  One can even stay as a new graph is being formed until the new graph reaches the height of that line.

[2018-12-13 01:56] samreid commented on #229
Proposed fix is here, @KatieWoe can you please test and verify on phettest?  If all is well, please close this issue so it will show red in the QA issue.  We can verify in next dev version if necessary.

[2018-12-13 03:21] samreid commented on #230
Proposed fix pushed to master, @KatieWoe can you please review on phettest and close if all is well?

I also noticed a potentially related problem, I'll create a new issue for it.

[2018-12-13 03:24] samreid opened #236 "Water drop doesn't create a wave when switching continuous to pulse"
From https://github.com/phetsims/wave-interference/issues/230 and may be related,

Waves screen
Pulse mode
Press faucet button
While drop is falling, switch to continuous mode.

Why does this trigger a wave?  Should the water drop keep falling?

[2018-12-13 03:32] samreid commented on #236
In slow motion, I can see this is the desired behavior--the drop continues falling and creates the wave.  However, now I'm seeing the opposite problem:

Waves Screen
Continuous Mode
Press faucet button
While drop is falling, switch to continuous mode

Why doesn't this trigger a wave?

[2018-12-13 03:43] samreid commented on #236
I thought it would be simplest and clear enough to consistently clear falling drops when switching between pulse and continuous.  @arouinfar can you please test this and make sure nothing else was disturbed?

[2018-12-13 03:49] samreid commented on #235
Does this occur on other platforms?  I'm unable to see the problem on Mac/Chrome or Mac/Firefox.

[2018-12-13 03:56] samreid commented on #235
I was able to reproduce the problem on Win/Firefox.  I even got up to 3 lines!!!  And it appeared that only one of the lines was animated at a time.

[2018-12-13 05:24] samreid opened #237 "Speaker button failed to render once on Win/Firefox"
During #235, I noticed on Win/Firefox that the speaker button failed to render:

![image](https://user-images.githubusercontent.com/679486/49917463-78af4980-fe5c-11e8-90ac-85ff257fccc9.png)

This happened while running https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.54/phet/wave-interference_en_phet.html and did not occur on any of 5 subsequent refreshes.

@KatieWoe can you be on th

[2018-12-13 15:48] KatieWoe commented on #229
This looks good.

[2018-12-13 15:48] #229 closed

[2018-12-13 15:50] KatieWoe commented on #230
Looks good in master

[2018-12-13 15:50] #230 closed

[2018-12-13 15:57] KatieWoe commented on #235
Just checked on Win 10 firefox in master and this seems to be fixed.

[2018-12-13 16:21] KatieWoe opened #238 "Cut off dots on wave examiner"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
firefox (not seen in chrome or edge)
**Problem description:**
For https://github.com/phetsims/QA/issues/238.  May be related to https://github.com/phetsims/wave-interference/issues/235 but it isn't fixed in master.
The dark and light grey dots on the wave examiner tool get cut in half at the last vertical line.  This leaves hal

[2018-12-13 16:24] samreid commented on #238
Does this happen on Mac Firefox?

[2018-12-13 16:31] KatieWoe commented on #238
Just checked 10.14 Firefox and it did not.

[2018-12-13 17:14] KatieWoe opened #239 "Timer node numbers shift on sound and light scenes"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
firefox (and others)
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When the timer reaches 100+ units there are some numbers that seem to jump or shrink.  stringTest=double still causes the issue, but it does not seem to be worse.  Only happens on sound and light scenes, likely due to slightly longer lab

[2018-12-13 17:21] samreid commented on #235
Thanks @KatieWoe, closing.

[2018-12-13 17:21] #235 closed

[2018-12-13 17:31] arouinfar commented on #236
Seems to be working nicely @samreid.

[2018-12-13 17:31] #236 closed

[2018-12-13 17:31] samreid commented on #239
I confirmed that the size difference is caused by the width of "11" in this case (in the decimal part), which is thinner than the other two digit values in the decimal parts.

@arouinfar have we investigated a fixed-width font for the timer node?

[2018-12-13 17:37] arouinfar commented on #239
@samreid I don't think so. Are you suggesting we switch to a monospaced font like Courier? I don't think we'll be able to control the typeface for 100% of users, given that we're generally at the mercy of the browser's font options.

[2018-12-13 18:11] samreid commented on #239
Courier is generally accepted as a "web safe" font, which means most or all browsers support it.  On Mac/Chrome Courier Bold looks like this, and the numbers don't shift around at all:

![image](https://user-images.githubusercontent.com/679486/49958302-9ebe0380-fec7-11e8-8bc8-34e72381bd16.png)

If you like the idea of monospace, but not this particular font, we could experiment with non-bold, or "

[2018-12-13 18:12] arouinfar commented on #239
Thanks @samreid. Let's check with the team in today's design meeting.

[2018-12-13 19:36] KatieWoe commented on #183
For https://github.com/phetsims/QA/issues/238.  This issue is occurring.  It also does not turn No Barrier into one slit.  This applies to all scenes on the screen and all browsers tested so far.  It does reset any size changes made. @samreid

[2018-12-13 19:59] KatieWoe opened #240 "line when two slits combine"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/238
On edge, there is a graphical artifact that appears when two slits are close enough together that they become one slit.  A small line appears and moves in that slit depending on where the separation is.  Did not see in chrome.
**Steps to reproduce:**
1.

[2018-12-13 20:17] KatieWoe opened #241 "Moving barrier while paused"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome and edge
**Problem description:**
For https://github.com/phetsims/QA/issues/238
Moving the barrier on the slits screen produces an odd effect while the sim is paused.  @arouinfar recommended that it might be good to clear the lattice in this situation .
**Steps to reproduce:**
1. Go to the slits screen.  Any scene
2. Mak

[2018-12-13 20:22] arouinfar commented on #241
@samreid similar to https://github.com/phetsims/wave-interference/issues/213, moving the barrier while the sim is paused should probably clear the lattice.

[2018-12-13 20:28] KatieWoe opened #242 "Shadow in front of barrier"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome and edge
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When the barrier is moved it creates a large shadow line in front of it.  A smaller such line can be seen before any movement, but it becomes more pronounced after.
**Steps to reproduce:**
1. Go to the slits screen and set up a barrier
2. Sta

[2018-12-13 20:53] samreid commented on #242
This issue was previously discovered and worked on in https://github.com/phetsims/wave-interference/issues/188 but looks like it wasn't solved completely.  I'll continue here, thanks for the report.

[2018-12-13 21:12] samreid commented on #124
I discussed this with @pixelzoom this afternoon.  So far, all of the issues discovered during dev testing have been local/modular in nature, and have not led to architecture changes or reorganization that would disturb a code review.  If this pattern holds up, we could start review Monday or Tuesday Dec 17-18.  I expect there will still be open issues and/or the dev test may not be complete, but w

[2018-12-13 21:40] samreid commented on #239
We discussed monospace for timer node a little bit in https://github.com/phetsims/scenery-phet/issues/402#issuecomment-424155232

[2018-12-13 21:44] KatieWoe opened #243 "Drag measure tape and barrier with same touch input"
**Device**
iPad (2018)
**OS**
iOS 12
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/238
It is possible to accidentally "pick up" the barrier while dragging the measuring tape across.  This can be replicated with the touch screen on Win 10, but much less reliably.  It does not occur every time.
**Steps to Reproduce**
1. Go to the sim on an iPad
2. Go to the sli

[2018-12-13 22:09] samreid commented on #243
This should be solved, but does not block publication.

[2018-12-13 22:09] KatieWoe commented on #243
Note for @ariel-phet.  Letting go drops both objects

[2018-12-13 22:10] samreid commented on #242
It should snap to cells.  Wouldn't block publication.

[2018-12-13 22:14] arouinfar commented on #241
This behavior looks a bit weird, but isn't technically wrong. @ariel-phet suggests we do nothing about this one, which seems reasonable to me, so closing.

[2018-12-13 22:14] #241 closed

[2018-12-13 22:16] arouinfar commented on #240
Since this is Edge specific, we decided not to address this issue.

[2018-12-13 22:16] #240 closed

[2018-12-13 22:18] arouinfar commented on #239
We decided to move forward with Lucida Console as the first choice of font, with Arial as a fallback.

[2018-12-13 22:28] #237 closed, assigned to KatieWoe

[2018-12-13 22:54] KatieWoe commented on #238
@samreid it _is_ on Mac.  I just realized that the Mac I had tested on was not up to date.  Version it worked on = 63.0.3.  After update (64.0) it is broken.

[2018-12-13 23:51] lmulhall-phet opened #244 "Graph and wave generator label overlap"
For https://github.com/phetsims/QA/issues/238.

![screen shot 2018-12-13 at 4 49 50 pm](https://user-images.githubusercontent.com/31285590/49974550-2cfdae00-fef7-11e8-9375-b7a35d389f98.png)

In this screencap, you can see the bottom part of the 'g' in light overlapping with the graph.

[2018-12-14 00:56] samreid commented on #239
Pushed proposed fix, @KatieWoe can you please verify on phettest?  Close if all is well.

[2018-12-14 01:02] samreid commented on #238
Same for me:

Working in Mac Firefox 63.0.3 (64-bit)
Broken on Mac Firefox 64.0 (64-bit)

[2018-12-14 01:03] samreid commented on #238
![waves-ok](https://user-images.githubusercontent.com/679486/49976930-58859600-ff01-11e8-956a-f2ce4a0df23a.gif)

[2018-12-14 01:03] samreid commented on #238
![waves-broken](https://user-images.githubusercontent.com/679486/49976938-6509ee80-ff01-11e8-87ba-72d2743011a0.gif)

[2018-12-14 01:51] samreid commented on #238
Proposed workaround committed, @KatieWoe can you please test?

[2018-12-14 03:51] samreid commented on #183
Proposed fix pushed, @KatieWoe can you please verify on phettest?

[2018-12-14 04:38] samreid commented on #242
I pushed a commit to align the barrier coordinates with the lattice cells, @KatieWoe can you please test?

[2018-12-14 04:41] samreid commented on #243
I can also use the measuring tape to pick up the timer.

[2018-12-14 04:58] samreid commented on #243
I've proposed a fix in https://github.com/phetsims/scenery/issues/910 but it would be best for @jonathanolson to take a look before we proceed.  On hold until then.

[2018-12-14 04:59] samreid commented on #242
On second thought, I have an "off by one" error somewhere, would like more time to investigate before turning over for review.

[2018-12-14 05:00] samreid commented on #244
@arouinfar how would you prefer this be addressed?

[2018-12-14 06:06] samreid commented on #174
This is out of alignment as identified in https://github.com/phetsims/wave-interference/issues/242, will need adjusting.

[2018-12-14 06:43] arouinfar opened #245 "In Pulse mode, make wave source button green with pulse icon"
While not technically for https://github.com/phetsims/QA/issues/238, this should be addressed before the next round of dev testing.

When switching from continuous to pulse, it was not clear to interviewees that they would need to press the button on the wave source to release a pulse (since the source had already been on in continuous mode). WOAS uses a green button with a pulse icon, so we'd lik

[2018-12-14 06:43] samreid opened #246 "Flicker while dragging barrier"
Dragging the barrier in plane wave mode flickers--caused by a fix after .51.  See https://github.com/phetsims/QA/issues/238

[2018-12-14 06:45] samreid opened #247 "Increase toolbox height by 10%"
Leave tool icons same size, but increase panel height by 10% to give more negative space in toolbox.

[2018-12-14 06:45] arouinfar commented on #32
Now that the default frequency is green (#211), we decided that the screen icons should be updated to match.

[2018-12-14 06:46] samreid opened #248 "Move down amplitude slider a bit so it doesn't interfere with light frequency knob"
Move down amplitude slider a bit so it doesn't interfere with light frequency knob

[2018-12-14 06:46] samreid opened #249 "Increase the size of scene radio buttons by 10%"
Increase the size of scene radio buttons by 10%

[2018-12-14 06:51] samreid commented on #174
There was indeed a bug here, I'll report further in #242 and leave this open for verification of the Sound Particle positions in particular.

[2018-12-14 06:53] arouinfar opened #250 "Pixel Polishing Round 2"
Not technically for https://github.com/phetsims/QA/issues/238, but close enough.

There were a few more suggested pixel polishes that came out of today's design meeting.
- [ ] Increase height of toolbox by 10%, but leave icons the same size. The goal is for there to be a bit more vertical padding.
- [ ] Increase size of scene selection buttons by 10%
- [ ] Increase separation between Frequency and

[2018-12-14 06:53] arouinfar commented on #250
Nevermind, looks like @samreid just opened #249 #248 and #247 so closing.

[2018-12-14 06:53] #250 closed

[2018-12-14 06:54] samreid commented on #242
There was a bug in the SoundParticleLayer that caused other bugs to compensate.  The SoundParticleLayer had a `RESOLUTION` scale factor to prevent pixellation of particles, but it didn't scale the particles properly.  Unfortunately, I changed the bounds to compensate.  This bounds adjustment showed a symptom that the barrier was not centered or dragging at the right quantized interval.

In my work

[2018-12-14 06:57] arouinfar commented on #244
What a catch @lmulhall-phet! Unfortunately, I don't have an elegant solution to recommend @samreid. Perhaps move the label so it's above the button? That feels a bit heavy, so I don't particularly like that option. Maybe @ariel-phet will have a good idea for this one.

[2018-12-14 06:58] samreid commented on #248
From @arouinfar's notes:

[2018-12-14 06:58] samreid commented on #247
From @arouinfar's notes:

[2018-12-14 06:59] samreid commented on #244
What about moving the label to the left?

[2018-12-14 07:04] samreid commented on #244
Some other possibilities:

a) Leave the "Water wave Generator" text centered as it is now, then hide it when the graph is showing.
b) Always show the "Water Wave Generator" text to the left of the wave generator (in the white area)
c) Show the text in the top part of the wave generator.

@amanda-phet just described today how it is preferable to not have things jump around to compensate for layout.

[2018-12-14 07:07] samreid commented on #244
I pushed (c) for discussion, you can see it in action on master.  Let me know your thoughts.

[2018-12-14 13:53] samreid commented on #174
Please see comments in https://github.com/phetsims/wave-interference/issues/242#issuecomment-447233239 and be apprised of particle position issues (like the one in the screenshot at the top of this file) during testing.

[2018-12-14 15:35] KatieWoe opened #251 "Residual wave after pulse or ending continuous"
**Test device:**
iPad and Dell
**Operating System:**
iOS 12 and Win 10
**Browser:**
safari and chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/238
When a single wave is produced, or a final wave front is made, there appear to be clear, smaller wave fronts moving behind it.
**Steps to reproduce:**
1. Go to the wave screen
2. Go to the light scene and select a bright, easy

[2018-12-14 15:43] KatieWoe commented on #239
The jumping behavior seems to be gone in master.

[2018-12-14 15:43] #239 closed

[2018-12-14 15:46] KatieWoe commented on #183
Looks good on master

[2018-12-14 15:46] #183 closed

[2018-12-14 15:50] KatieWoe commented on #238
I am now see this happening at the top of the graph.  Not fixed
![uptop](https://user-images.githubusercontent.com/41024075/50012999-434e4d00-ff7d-11e8-97ae-ab1e7fb14f6f.PNG)

[2018-12-14 15:51] samreid commented on #238
@jonathanolson can we schedule a time to investigate this?

[2018-12-14 16:33] kathy-phet commented on #238
@samreid - Since Firefox introduced this bug, lets not prioritize it for v1. We can fix it if firefox doesn't fix it by v2 perhaps.

[2018-12-14 16:34] kathy-phet commented on #238
But perhaps undo the last commit, because it made it worse.

[2018-12-14 16:54] KatieWoe opened #252 "Dilate Pointer Areas Around Wave button?"
I noticed that, when using an iPad, it seemed like pushing the button to start the wave didn't always work.  I looked at the touch pointer areas from those button and they look pretty small.  I think it might be useful if they are a bit bigger.  We'd have to be careful that they don't overlap when separation between two sources is as small as possible, but even a slightly larger target might be us

[2018-12-14 18:50] ariel-phet commented on #244
My vote would be to the left, in the whitespace, centered vertically on the button.

[2018-12-14 18:50] samreid commented on #245
I made the button green and used the same icon as on the radio button.  @arouinfar can you please pull and review?

[2018-12-14 18:52] samreid commented on #244
I'll take a picture of master for the record, then I'll try @ariel-phet's recommendation.

[2018-12-14 18:53] samreid commented on #244
Here's master:

![image](https://user-images.githubusercontent.com/679486/50021581-cc25b280-ff96-11e8-85eb-866f5dfe1275.png)

![image](https://user-images.githubusercontent.com/679486/50021591-d2b42a00-ff96-11e8-971a-62b3484aaca2.png)

[2018-12-14 18:56] samreid commented on #244
Here's the text off to the left:

![image](https://user-images.githubusercontent.com/679486/50021681-1c047980-ff97-11e8-9db9-82519e3a5ead.png)

![image](https://user-images.githubusercontent.com/679486/50021732-3ccccf00-ff97-11e8-84a9-42c7514a0816.png)

[2018-12-14 18:58] samreid commented on #244
Here's a patch that gives https://github.com/phetsims/wave-interference/issues/244#issuecomment-447420525.  However I think https://github.com/phetsims/wave-interference/issues/244#issuecomment-447419637 is preferable because the label is on the wave generator.  When the text is to the left, it gives the impression that it is labeling the entire wave area instead of just the generator.

[code]

[2018-12-14 19:07] samreid commented on #245
OK, all set.

[2018-12-14 19:11] JRomero0613 opened #253 "Dev Query Parameter Has Additional Slider Options Not Seen Elsewhere"
For https://github.com/phetsims/QA/issues/238 when using the ?dev query parameter a box with four slider options appears on the waves and interference screens. The sliders adjust randomness, home force, friction, and gradient force. This slider box does not appear on the standalone sim, or with any other query parameters. This might be a non-issue as users will most likely not apply this query par

[2018-12-14 19:14] samreid commented on #253
Those are developer controls-- @arouinfar is appropriate to show those with `?dev` or should I put them in some other query parameter?

[2018-12-14 19:38] KatieWoe commented on #242
Water and light seem better with this issue, but not sound.  Behavior of the waves also seems rather off while dragging the barrier.  Everything disappears with light (which may be intended) and everything starts flashing with the other two.

[2018-12-14 19:49] samreid commented on #238
Reverted, putting on hold until 2.0.

[2018-12-14 19:50] KatieWoe opened #254 "Behavior of wave different when moving step by step"
For https://github.com/phetsims/QA/issues/238
When a sim is paused, moving step by step produces different waves than when played normally.
1. Go to the wave screen and go to the light scene (easier to see)
2. Play the wave for a bit
3. Pause the sim
4. Step by step, advance the sim and note change in wave

![stepdif](https://user-images.githubusercontent.com/41024075/50024183-ce8c0a80-ff9e-11e8-9

[2018-12-14 19:58] KatieWoe commented on #174
Looks ok.  I'm not seeing this issue in master.

[2018-12-14 19:58] #174 closed

[2018-12-14 20:05] samreid commented on #247
Proposed fix committed, @arouinfar can you please review?

[2018-12-14 20:09] samreid commented on #248
Updated in pushed commit, @arouinfar can you please take a look?

[2018-12-14 20:15] samreid commented on #249
I increased the icon size by around 10, @arouinfar can you please review?

[2018-12-14 20:15] KatieWoe commented on #254
Seems to be a light and sound problem.  Don't see it as much on water it seems.

[2018-12-14 20:55] lmulhall-phet opened #255 "Jittery leading wave when barrier is removed"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.14

<b>Browser</b>

Chrome 71.0.3578.98

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/238. Related to https://github.com/phetsims/wave-interference/issues/207. See title and gif.

<b>Steps to Reproduce</b>

1. Slits screen.
2. Generate wave.
3. Remove barrier.

<b>Visuals</b>

![issue](https://user-images.g

[2018-12-14 21:05] KatieWoe opened #256 "Pixelated wave"
For https://github.com/phetsims/QA/issues/238
Under some circumstances the waves can look rather pixelated.  This seems to occur more when frequency is high and separation is small, but is noticeable in other circumstances as well.
![image](https://user-images.githubusercontent.com/41024075/50027386-3d6e6100-ffa9-11e8-89a8-6c33ac5610f7.png)

[2018-12-15 03:10] arouinfar commented on #253
@samreid these controls are a bit in the way when using `?dev`. Since we've finished tuning the sound particle physics, it seems appropriate to retire them.

[2018-12-15 03:17] arouinfar commented on #252
Great suggestion @KatieWoe! This is the worst case scenario for the Interference screen, which should still leave ample room for dilation of the touch area around the on/off button.
![image](https://user-images.githubusercontent.com/8419308/50038436-277e9180-ffe5-11e8-87e5-5900cb7afd4a.png)

@samreid seems like we could make the touch areas pretty generous here. Let's try something like this:
<img

[2018-12-15 04:04] samreid commented on #252
Here's a dilation of 8 view coordinates:

![image](https://user-images.githubusercontent.com/679486/50038825-a96dbb00-ffe3-11e8-906e-c04074e7a04d.png)

Pushed and ready for review, @arouinfar can you please take a look?

[2018-12-15 04:15] ariel-phet commented on #244
Huh, on top looks much better than I thought it would. Lets go with that @samreid

[2018-12-15 04:19] samreid commented on #244
Text on top is committed to master, I double checked the ?stringTest=double and ?stringTest=long and it seemed a good fit.  @arouinfar do you want to do any other double checks on this?  Close if all is well.

[2018-12-15 04:35] samreid commented on #256
We use an optimization in LatticeCanvasNode that accelerates performance and makes iPad 2 usage possible (though not great) and gives great performance on iPad 4.  The optimization is that the entire lattice is rendered as one cell = one pixel, then that is blown up.

Perhaps changing to a WebGL renderer could offer more resolution without increasing CPU demands.  It could take 4-12 hours to get a

[2018-12-15 04:41] samreid commented on #255
I struggled with this in https://github.com/phetsims/wave-interference/issues/207 and still do not understand the underlying problem.  https://github.com/phetsims/wave-interference/issues/207 was solved by carefully choosing the phase of the plane wave so it is not a problematic value, but we cannot control the phase of the wave when the user chooses when to remove the barrier.  This doesn't seem

[2018-12-15 04:42] samreid commented on #254
I wonder if this was broken by the fix in https://github.com/phetsims/wave-interference/issues/226

[2018-12-15 04:42] samreid commented on #226
Reopening to investigate if this change broke https://github.com/phetsims/wave-interference/issues/254

[2018-12-15 04:43] samreid commented on #242
Perhaps this is the same problem as identified in https://github.com/phetsims/wave-interference/issues/246?

[2018-12-15 04:46] samreid commented on #242
On the sound scene, I can see some values where the barrier has a front-shadow and some where it does not.  It suggests a different calculation is being used for where to show the barrier vs where the barrier appears in the model.  I thought I switched all of these to use `Math.floor` but perhaps I missed one or perhaps there is another factor at play.

[2018-12-15 04:50] samreid commented on #128
@KatieWoe were there any iPad 2 tests run during the dev test?  Here is a note from the dev request:

[2018-12-15 14:30] arouinfar commented on #253
Looks good to me @samreid.

[2018-12-15 14:30] #253 closed

[2018-12-15 14:31] arouinfar commented on #244
Text on top looks nice @samreid! Thanks for iterating on this with @ariel-phet.

[2018-12-15 14:32] #244 closed

[2018-12-15 14:36] arouinfar commented on #32
@samreid I've uploaded the updated screen icon assets to the sim design folder
https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYdWdmeGo0QVhvMUk

[2018-12-15 19:36] samreid commented on #32
New screen icons committed, @arouinfar can you please review?

[2018-12-15 19:43] samreid commented on #226
I don't think we can fix this.  The step time must be exactly 1/STEP_TIME so that the step button behavior will match the running behavior.  See #254.  The other variable we have is `this.sceneProperty.value.timeScaleFactor`, but that is determined by the wave speed.  Therefore I recommend we close this issue as "will not fix".  @arouinfar can you please review and discuss?

[2018-12-15 19:44] samreid commented on #254
I reverted #254 and commented why it doesn't seem possible.  @KatieWoe can you please verify that this issue is resolved?

[2018-12-15 22:09] samreid commented on #242
I added quantization in the view layer and it seems to have fixed the problem for sound.  However, now for the sound scene, when you initially grab the barrier, it jumps a cell or two to the left, and I'm not sure why.

[2018-12-16 04:31] arouinfar commented on #32
Looks good @samreid. Marking as on-hold again until the joist work wraps up.

[2018-12-16 05:45] samreid commented on #242
I moved the barrier location into lattice coordinates.  All tests seem good except the lattice jumps a bit when starting a drag in the light scene.

[2018-12-16 05:59] samreid commented on #242
I was able to fix that problem by switching to rounding instead of flooring.  All tests seem OK on my side, but all things with coordinate frames will need to be rechecked.  This includes wave area, barrier locations, oscillator locations, emitter locations, wave detector node, etc.

[2018-12-16 16:55] samreid commented on #243
Proposed fix is pushed, @KatieWoe can you please test and verify?

[2018-12-16 17:09] samreid commented on #246
Proposed fix is pushed, @KatieWoe can you please verify?

[2018-12-17 15:31] KatieWoe commented on #128
I did some testing for about 7 - 10 minutes and did not see any crashes. @samreid

[2018-12-17 15:57] samreid commented on #128
Sounds good, thanks for testing, closing.

[2018-12-17 15:57] #128 closed

[2018-12-17 16:02] samreid opened #257 "Turning on the lower speaker resets the phase of the upper speaker"
Screen 2.
Turn on Top speaker
Turn on Bottom Speaker

Notice the phase of the top speaker is reset (top has a truncated wave)

![image](https://user-images.githubusercontent.com/679486/50099046-6aee2100-01da-11e9-997d-861d2e7d3aa0.png)

[2018-12-17 16:14] samreid commented on #251
I believe the cause of the extra ripples is that the wave is being suddenly set to 0.  It seems our options are to live with this behavior or use something like exponential decay to slowly restore the oscillator value back to zero. I'm not sure what the period would be for this new decay phase, nor do I know whether it would introduce undesirable artifacts or behavior.  @arouinfar @kathy-phet @ari

[2018-12-17 16:30] KatieWoe commented on #252
Looks good on the Waves and Interference screen.  Not implemented on the Slits screen.  Do we want it to be @arouinfar?

[2018-12-17 16:35] samreid commented on #252
That was not intentional, self-assigning to fix that up.

[2018-12-17 16:39] KatieWoe commented on #254
This looks good on master.

[2018-12-17 16:39] #254 closed

[2018-12-17 16:39] samreid commented on #252
Proposed fix pushed, @KatieWoe can you please double check and close if all is well?

[2018-12-17 16:47] KatieWoe commented on #243
This seems fixed on master

[2018-12-17 16:53] KatieWoe commented on #246
This seems fixed in master.

[2018-12-17 16:53] #246 closed

[2018-12-17 17:00] KatieWoe commented on #252
Looks good in master.

[2018-12-17 17:00] #252 closed

[2018-12-17 17:04] pixelzoom commented on #255
I'll be happy to take a look at this after I've become familiar with the sim (via code review).  But this is most likely something in @jonathanolson's wheelhouse.

[2018-12-17 17:23] KatieWoe commented on #242
Looks good on master

[2018-12-17 17:23] #242 closed

[2018-12-17 17:32] ariel-phet commented on #256
@samreid that sounds worth of investigation for 2.0, not for 1.0. Lets defer for the moment.

[2018-12-17 17:45] ariel-phet commented on #255
@samreid @lmulhall-phet definitely should not block publication of 1.0 and could be deferred to 2.0 for the following reasons:

1. As @samreid pointed out, not really pedagogically problematic

2. "no barrier" is sort of very uninteresting, just a plane wave, so unlikely for students/teachers to remain on that setting long. Slits is where it is at

However, the plane wave on https://phet-dev.color

[2018-12-17 18:02] samreid commented on #255
@ariel-phet are you referring to the leading edge of the plane wave, or generally the wave depiction in the entire wave area?

[2018-12-17 18:10] ariel-phet commented on #251
@samreid there is definitely something odd here. I am not so disturbed by there being some ripples, but this behavior is not the same as Java.

What is actually more important in my opinion is that if you start off on "pulse" and then send a single pulse out, the entire background is eventually green. That seems pedagogically just wrong, it is like the space is just all filled with green light. Ag

[2018-12-17 18:14] ariel-phet commented on #251
@samreid when the pulse is used or the continuous wave is turned off, couldn't there be some wave sent out that is sort of invisible to the user that clears the lattice and puts in to the default starting condition? That seems to be what Java is doing?

[2018-12-17 18:39] samreid commented on #251
Let's focus this issue on the the numerical artifacts in the lattice due to the discontinuity in the oscillator derivative.  I'll create a new issue about returning the light background to dark.

[2018-12-17 18:41] samreid opened #258 "Light view should return to black."
In https://github.com/phetsims/wave-interference/issues/251#issuecomment-447942761 @ariel-phet said:

[2018-12-17 18:43] arouinfar commented on #258
This has also bugged me @samreid, but I didn't realize the Java version reset the lattice to black.

[2018-12-17 18:43] samreid commented on #251
@ariel-phet I'll investigate the light view returning to black in #258.  Do you think we should investigate eliminating the discontinuity in the oscillator derivative that is leading to trailing ripples in the lattice values?

[2018-12-17 18:46] arouinfar commented on #256
@samreid @ariel-phet I haven't noticed too many pixelated situations like the one in https://github.com/phetsims/wave-interference/issues/256#issue-391278476, so it definitely seems reasonable to defer.

[2018-12-17 18:51] arouinfar commented on #252
Good catch @KatieWoe! Thanks for taking care of it @samreid.

[2018-12-17 18:55] samreid commented on #258
The pulse rendering in Java looks like this, and the wave disappears before it reaches the right hand side of the lattice:

![image](https://user-images.githubusercontent.com/679486/50108199-e3aca780-01f1-11e9-992b-0cf0483b3dd8.png)

Is this acceptable?

Should I pursue a similar algorithm as in Java?  An alternative would be to use a heuristic to determine when the time average of the wave in a c

[2018-12-17 19:08] kathy-phet commented on #256
I've noticed pixelation occuring sometimes too. It seems somewhat unpredictable, and I've seen it create some odd readings on the charting tool too.

I think its worth investigating WebGL as an alternative, but agree it can be deferred to 2.0.

[2018-12-17 19:17] samreid commented on #256
The proposed usage of WebGL would only apply in the view layer--would not change the underlying model values or what is shown on the charts.  Should we open another issue to investigate odd readings on the charting tool?

[2018-12-17 20:44] arouinfar commented on #258
That looks pretty bad to me, but I agree with @ariel-phet. Let's address the continuous wave first.

The Java algorithm seems like a reasonable place to start to me @samreid. I think the other approach could get messy. What about a low-amplitude wave far from the source? We would need a reasonable threshold that didn't allow any cells to turn black unless the source was truly off.

[2018-12-17 20:48] arouinfar commented on #245
@samreid looking pretty good.

A few pixel polishing suggestions:
* The icon could pop a bit more. Let's add a white stroke around the pulse icon, similar to WOAS.
* The pulse tails are a bit too close to the button edge. Try reducing the tail length slightly  and/or slightly reducing the icon size so there's a bit of padding between the icon and button edge.

[2018-12-17 21:00] arouinfar commented on #226
Understood @samreid. The behavior in #254 is definitely problematic, and different step sizes across scenes is at worst somewhat inconvenient.

[2018-12-17 21:00] #226 closed

[2018-12-17 22:47] samreid commented on #251
I'm happy to investigate #258, but wanted to make sure everyone is aware that #258 only applies to the light scene, and will not address artifacts seen on the water or sound scene.

[2018-12-18 14:02] samreid opened #259 "Code Review"
The sim is ready for code review.  Here are notes from https://github.com/phetsims/wave-interference/issues/124#issuecomment-445491430

# Notes for the reviewer

I recommend to start with the documentation:
wave-interference/doc/implementation-notes.md
wave-interference/doc/model.md

Then the code part of the review should begin with an understanding of these core model files which are central to

[2018-12-18 14:02] samreid commented on #124
I opened the code review issue, closing this one.

[2018-12-18 14:02] #124 closed

[2018-12-18 16:43] samreid opened #260 "Memory Leak Testing"
Initial reports recorded in https://github.com/phetsims/wave-interference/issues/128#issuecomment-422420248

Today's results over >30 minutes (testing on Mac Chrome in requirejs mode + with ?fuzz)

![image](https://user-images.githubusercontent.com/679486/50168680-31d0b200-02a9-11e9-9226-7d262590a03e.png)

Prior testing and this testing reveals the typical asymptotic behavior, closing.

[2018-12-18 16:50] pixelzoom commented on #1
It looks like this checklist has not been maintained by @samreid @arouinfar or @KatieWoe.   I've started code review in https://github.com/phetsims/wave-interference/issues/259, and this issue is not providing info needed to complete that checklist.

[2018-12-18 17:04] pixelzoom opened #261 "add more vertical space between checkboxes and radio buttons?"
Related to code review #259, pointer areas.

There's plenty of vertical space, why is there so little spacing between vertically stacked radio buttons and checkboxes?

![screenshot_943](https://user-images.githubusercontent.com/3046552/50170064-46627980-02ac-11e9-850c-13bf37f994dc.png)

[2018-12-18 17:07] KatieWoe commented on #1
I was unaware of this.  QA section updated.

[2018-12-18 17:08] pixelzoom opened #262 "odd grouping of UI components"
Related to #259 code review, noticed in #261.

In the Waves screen, when the speaker radio button is selected, the control panel looks like this:

![screenshot_944](https://user-images.githubusercontent.com/3046552/50170221-9b05f480-02ac-11e9-9093-8fadce1b81e0.png)

Having the bottom 4 UI components (1 checkbox, 3 radio buttons) grouped together makes them look related, when in fact the Graphs che

[2018-12-18 17:22] pixelzoom opened #263 "model.md issues"
Related to code review #259, where @samreid said:

wave-interference/doc/implementation-notes.md
wave-interference/doc/model.md

Formatting of model.md is jacked, and it's unclear whether it was reviewed by @arouinfar.

[2018-12-18 17:31] pixelzoom opened #264 "implementation-notes.md issues"
Related to code review #259, where @samreid said:

wave-interference/doc/implementation-notes.md
wave-interference/doc/model.md

There are some formatting problems, and I have a couple of specific questions.

[2018-12-18 17:45] pixelzoom commented on #264
I fixed quite a bit of formatting in the above commits.  Remaining issues for @samreid to address:

- [] The equations that begins `f(x,y,t+1)` is malformed, probably just missing a closing paren on the right side of the equation.
- [ ] As a courtesy to the reader, I've typically linked class names to their source files. E.g. [WaveInterferenceQueryParameters](https://github.com/phetsims/wave-inter

[2018-12-18 18:00] pixelzoom opened #265 "incomplete attribution in images/license.json"
Related to code review #259.

In `images/license.json`, "Mariah" needs a last name.

[code]

[2018-12-18 18:15] pixelzoom opened #266 "what to do about old-style format patterns?"
Noted in code review #259, and related to general issue https://github.com/phetsims/scenery-phet/issues/446.

Wave Interference is a new sim, but is using old-style format patterns, i.e.:

[code]

Creating more strings that use the old-style seems like something that we want to avoid.  Whether we do anything for Wave Interference depends on decisions for https://github.com/phetsims/scenery-phet/is

[2018-12-18 18:27] pixelzoom opened #267 "replace Math.round with Util.roundSymmetric"
From code review checklist in #259:

This sims has 12 occurrences of `Math.round`.   If there are any exceptions where `Math.round` is required, document them.  Otherwise replace with `Util.roundSymmetric`.

[2018-12-18 18:44] samreid commented on #263
Formatting changes look good, self-unassigning but leaving @arouinfar assigned to make sure the content is complete and correct.

[2018-12-18 18:57] samreid commented on #264
I'm not seeing the problem.  The current value is:

`f(x,y,t+1) = c*c(f(x+1,y,t) + f(x-1,y,t) + f(x,y-1,t) + f(x,y+1,t) - 4*f(x,y,t)) - f(x,y,t-1) + 2*f(x,y,t)`

Giving each function call a "nickname", this is equivalent to:

`f(x,y,t+1) = c*c(f1 + f2 + f3 + f4 - 4*f5) - f6 + 2*f7`

Can you please elaborate?  I'm probably missing something.

[2018-12-18 18:59] pixelzoom commented on #264
You're right, it's wellformed - I got lost in the parens.

[2018-12-18 18:59] samreid commented on #264
Fixed in aforementioned commit.

[2018-12-18 19:08] samreid commented on #264
I fixed the type name, thanks!

Good idea! I added numerous links to source files.

[2018-12-18 19:15] samreid commented on #265
Proposed fix pushed, ready for review.

[2018-12-18 19:17] samreid commented on #266
Should we be using this pattern for now? https://github.com/phetsims/scenery-phet/issues/317#issuecomment-315156244

[2018-12-18 19:35] pixelzoom opened #268 "incorrect type expressions for type-specific Property subclasses"
Noted in code review #259.

Using `{Property.<boolean>}`, `{Property.<number>}`, and `{Property.<string>}` is generally:

(1) ... unnecessary.  In these cases you should be (and are) using `BooleanProperty`, `NumberProperty`, and `StringProperty` respectively.

(2) ... incorrect, because the Property subclasses add functionality to Property.  E.g.:

[code]

... is incorrect, because `NumberPropert

[2018-12-18 19:40] samreid commented on #268
Proposed fix pushed, please review.

[2018-12-18 19:45] pixelzoom commented on #268
Type expressions are also unnecessary in cases like this:

[code]

.. for the same reason that they are unnecessary for:

[code]

... it's obvious what the type is.

[2018-12-18 20:13] pixelzoom commented on #259
@samreid was apparently making changes while I was doing this review, and I encountered one heckuva merge mess when I went to push.  I had to manually merge a bunch of files, not at all confident that I got everything.  Inspect https://github.com/phetsims/wave-interference/commit/c8fb3fde0734ac5554d054bc4b513df99faf8178 and https://github.com/phetsims/wave-interference/commit/b698e4ee268559355cd04

[2018-12-18 20:17] pixelzoom commented on #265
Confirmed, closing.

[2018-12-18 20:17] #265 closed

[2018-12-18 20:19] pixelzoom opened #269 "address REVIEW comments"
Related to code review #259.

I'm adding `//REVIEW` comments for things that don't warrant a GitHub issue.  Close this issue when those comments have been addressed and removed.

[2018-12-18 20:59] pixelzoom opened #270 "relationship between "emitter" toggle buttons and "wave temporal type""
Noted during code review #259.

A few things that I find odd about the relationship between the toggle buttons on the "emitters" (faucet, speaker, light) and the radio buttons for "continuous" vs "pulse" (`WaveTemporalType` in the code).   See screenshots below.

(1) The toggle buttons change color based on which radio button is selected, but the radio buttons are not color coded the same way (or

[2018-12-18 21:13] pixelzoom opened #271 "nonstandard names for model classes"
Related to code review #259.

The screen names in this sim are Waves, Interference, Slits, and Diffraction.  So based on other sims that I've reviewed, I'd expect to find top-level model classes `WavesModel`, `InterferenceModel`, `SlitsModel`, and `DiffractionModel` respectively.  `DiffractionModel` is as expected. But  the others are `WavesScreenModel`, `InterferenceScreenModel`, `SlitsScreenMode

[2018-12-18 21:22] pixelzoom opened #272 "confusion between "emitter" vs AXON/Emitter"
Related to code review #259.

I found the use of "emitter" in a non-AXON context to be confusing, in type names (EmitterNode) and documentation ("for each emitter").  The confusion could be avoided by either using a synonym, or clarifying in the documentation.

[2018-12-18 22:47] pixelzoom commented on #264
implementation-notes.md say:

* view coordinates
* lattice coordinates (integer), with damping regions
* Scene-specific physical coordinates (such as cm or nm)

I had a difficult time locating the transforms related to these.  How about some "see..." pointers for each?

[2018-12-18 22:51] pixelzoom commented on #264
... for example, I see this in BarriersNode:

[code]

... and I suspect that these are what is being referred to in implementation-notes.md.  But why are the transforms in BarrierNode, a view component that is specific to the Slits screen?

[2018-12-18 23:02] samreid commented on #272
If you think of a better name over the course of the review, I'd love to hear it!

[2018-12-18 23:09] pixelzoom opened #273 "inconsistent naming of Enumerations"
Related to code review #259.

There are currently 2 patterns used to name Enumerations:

(1) 'Enum' suffix: `BarrierTypeEnum, PlaySpeedEnum`

(2) 'Type' suffix: `ApertureType, SoundViewType, SceneType, ViewType, WaveSpatialType, WaveTemporalType`

I don't have a preference on which pattern is used, but it would be nice to pick one.

[2018-12-18 23:10] pixelzoom commented on #273
And I don't think we need to necessarily be consist across _all_ sims, just within a sim.

[2018-12-18 23:13] samreid commented on #273
It seems it would be best for this sim to change:

BarrierTypeEnum => BarrierType
PlaySpeedEnum => PlaySpeedType

[2018-12-18 23:13] pixelzoom commented on #273
I guess I do have a preference.  'Type' is misleading. These are not types, they are enumerations.  So I think 'Enum' is the appropriate suffix.

[2018-12-18 23:15] samreid commented on #273
So will several of these end with `TypeEnum`?  For instance, `ApertureEnum` sounds incorrect because it doesn't enumerate apertures, it enumerates aperture types.

[2018-12-18 23:16] arouinfar commented on #263
Looks good to me. Thanks @pixelzoom @samreid!

[2018-12-18 23:16] #263 closed

[2018-12-18 23:18] arouinfar commented on #261
Thanks for the suggestion @pixelzoom. I agree the checkboxes and aqua radio buttons are a bit tighter than necessary.  @samreid can you add a px or two of padding between these components?

[2018-12-18 23:31] arouinfar commented on #1
The checklist is now up to date, but reflects the progress for the screens which will be included in the 1.0 release. Leaving assigned to @ariel-phet to add a section for the 2.0 release.

[2018-12-18 23:56] pixelzoom opened #274 "issues with rotationAmountProperty"
WaveScreenModel defines `rotationRange` and `rotationAmountProperty` like this:

[code]

Besides the fact that something named "rotation amount" should be something like a rotation angle, not some magic constants...  This leads to code smell elsewhere. There are numerous places where the magic 0 and 1 are interpreted (sometimes to 1 decimal place, for some reason).

WaveScreenModel:

[code]

WaveS

[2018-12-18 23:58] pixelzoom commented on #274
Ah... so in WaveScreenModel:

[code]

So 0 and 1 are not the only values, it does range continuously between 0 and 1, presumably to rotate between top and side views.

Then I'm not sure what to do here.  It sure is confusing, and it's probably because of the `rotatationRange` and `rotationAmountProperty` names.

[2018-12-19 00:15] pixelzoom opened #275 "issues with config pattern"
Related to code review #259.

This is my first encounter with the "config" pattern.  Instead of a bunch of constructor parameters or an options hash, this pattern bundles a bunch of required properties into one object, and the associated parameter is typically named `config`.

This pattern is used in Scene and it's subclasses, and WaveInterferenceTimerNode.  Let's have a look at Scene's constructo

[2018-12-19 00:37] pixelzoom opened #276 "duplicated code in TheoryInterferenceOverlay"
For code review #259, identified by `grunt find-duplicates`:

This code is duplicated in 2 places in TheoryInterferenceOverlay.  Lines 63-79 and 86-101.

[code]

[2018-12-19 00:40] pixelzoom opened #277 "duplicated code in LatticeCanvasNode and LightScreenNode"
For code review #259, identified by grunt find-duplicates.

The code below is duplicated in LatticeCanvasNode.js (lines 51-68) and LightScreenNode.js (lines 59-76).

[code]

[2018-12-19 03:38] samreid commented on #269
From slack conversation:

For now, I'd like to make `//REVIEW*` comments where I have addressed a `//REVIEW` comment.  @pixelzoom can search for this string to see where threads require feedback/discussion/verification.  Threads that are completed satisfactorily can be deleted.

[2018-12-19 05:39] samreid commented on #272
Proposed renaming committed, please review.

[2018-12-19 14:03] samreid commented on #269
My comment https://github.com/phetsims/wave-interference/issues/269#issuecomment-448458817 is getting buried in commits.  Summarizing relevant points:

1. I've made many commits, please pull before resuming review
2. Please notify me when you resume the review so that I can hold off on further commits
3. My responses to review comments have an asterisk: `REVIEW*`
4. Review comments you made that I

[2018-12-19 16:18] pixelzoom commented on #273
If it makes life easier, I'm OK with 'Type' suffix.

[2018-12-19 16:21] samreid commented on #273
Do you prefer `ApertureType` or `ApertureTypeEnum`?

[2018-12-19 16:32] samreid commented on #264
`latticeToViewTransform` is only needed to shape and position the barriers, hence it is defined in BarrierNode.  Anything else to do for this issue other than to add "see..." pointers for the coordinate frames in implementation-notes?

[2018-12-19 17:14] pixelzoom opened #278 "3rd-party code in DiffractionScreenView"
Related to #259 code review.

Review of the 'Diffraction' screen was not part of this review, since it's not included in 1.0.  But this bit of odd code in `DiffractionScreenView` was noticed, and generated a discussion that's worth capturing here.

This was the code in questions. `$h` seemed like a very odd function name.

[code]

Slack discussion identified this as code that was copied from GitHu

[2018-12-19 17:46] pixelzoom opened #279 "where should Ranges for NumberProperties live?"
Related to code review #259.

This started as several REVIEW comments, but it's gotten complicated, so creating this issue.

This issue applies to `NumberProperty` instances in `Scene`, `WaterScene`, and (possibly) `DiffractionModel`.

Ranges for many (all?) model NumberProperties are not not specified.  Instead, they are associated with the UI components.

For example, in `Scene`:

[code]

A few

[2018-12-19 17:54] pixelzoom commented on #279
Also worth noting that some `NumberProperty` instances _do_ have `Range` specified in the model. See for example `frequencyProperty` and `amplitudeProperty` in `Scene`.   So there's an inconsistency here.  Why the different treatment?

[2018-12-19 18:03] pixelzoom opened #280 "use factory pattern for creating scene icons"
Related to #259 code review.

This was originally a REVIEW comment, promoted to an issue because it got complicated.

`WaveInterferenceSceneIcons` is currently a class that is instantiated, and it's fields are the individual icons. Current implementation:

[code]

And the usage in `WaveInterferenceControlPanel` is:

[code]

REVIEW comment thread in `WaveInterferenceSceneIcons`:

[2018-12-19 18:15] pixelzoom commented on #280
@samreid asked:

Factory implementation:

[code]

Usage in `WaveInterferenceControlPanel `:

[code]

[2018-12-19 18:20] pixelzoom commented on #280
While preparing the above recommendation, I noticed a couple of anomalies in `WaveInterferenceSceneIcons` related to  @samreid's statement that "they have commensurate dimensions":

(1)`faucetIcon` is in fact being sized differently: `this.faucetIcon.scale( iconWidth / this.faucetIcon.width * 0.7 );`   Why not just use a different `iconWidth`, if that's what is desired?

(2) `speakerIcon` is being

[2018-12-19 18:23] pixelzoom commented on #280
One more nit about WaveInterferenceSceneIcons, in case you choose to keep the "instantiated class" approach instead of factory...  The icon names (`faucetIcon`, `speakerIcon`, `laserPointerIcon`) are not at all related to scene names.  `waterSceneIcon`, `soundSceneIcon`, and `lightSceneIcon` would be more appropriate.

[2018-12-19 18:43] pixelzoom opened #281 "nonstandard pattern for static constants"
Related to code review #259.

This was originally a REVIEW comment, but I'm promoting it to an issue.

During a recent ES6 discussion (led by @jonathanolson, if I recall correctly) we discussed the lack of static constants in JS, and the alternatives.  And I believe that we concluded that this pattern was the most straightforward:

[code]

@samreid is using a different pattern in Wave Interference

[2018-12-19 19:01] pixelzoom opened #282 "some code in Scene belongs in its subclasses"
Related to code review #259.  This originally was a REVIEW comment, promoting to an issue.

Here's the relevant code and REVIEW comment thread:

[code]

The "requirejs loop" comment made me take a closer look at `Scene`.  The uses of `SceneType` therein have a code smell to them.  This is a case of a base class (`Scene`) containing code that is specific to subclasses (`WaterScene`, `SoundScene`, `

[2018-12-19 19:43] pixelzoom opened #283 "factor out subcomponents of WaveInterferenceControlPanel"
Related to code review #259.

This was promoted to an issue after beginning its life as these REVIEW comments:

The main problem here is that there are big chunks of "responsibility" that could be encapsulated, but are instead sprinkled throughout the `WaveInterferenceControlPanel` constructor.  A few suggestions to make this panel more readable/maintainable:

(1) Factor out new class `FrequencyCo

[2018-12-19 19:51] pixelzoom commented on #283
There's a similar (and related) chunk of code in `InferenceScreenView` that could be factored out.

(4) Factor out new class `SeparationControl` with these responsibilities: creates the 3 separation `NumberControls`; toggles visibility of the NumberControls based on `model.sceneProperty`.  `const toggleNode =  new ToggleNode` would be replaced with `const separationControl = new SeparationControl(

[2018-12-19 19:56] pixelzoom commented on #279
Here are the Ranges in question, currently in the view:

[code]

Footnote: `waterRange`, `soundRange` and `lightRange` should be renamed. They are actually ranges for slit width.

[2018-12-19 19:59] pixelzoom opened #284 "use better names for Ranges in SlitsControlPanel"
Related to code review #259, and #279.

`SlitsControlPanel` has some inadequate names for Ranges.

These are Ranges for slit width, and should be renamed to indicate that, e.g. `waterSlitWidthRange`.
[code]

These are Ranges for slit separation. Consider renaming to (e.g) `waterSlitSeparationRange`.
[code]

[2018-12-19 20:12] pixelzoom opened #285 "credits"
Finalize the credits in wave-interference-main.js.

[2018-12-19 20:54] pixelzoom opened #286 "WaveGeneratorNode API is too broad"
Related to code review #259:

The constructor API for `WaveGeneratorNode` and its subclasses is too broad.  Notes:

* `WaveGeneratorNode` does not use `@param {WavesScreenModel} model`, that parameter can be deleted.
* `LighterGeneratorNode` does not require the entire model, only `model.lightScene`.
* `SoundGeneratorNode` does not require the entire model, only `model.soundScene`
* `WaterGenerato

[2018-12-19 21:03] pixelzoom opened #287 "ToolboxPanel API is too broad"
Related to code review #259:

ToolboxPanel does not need the entire model, it needs 4 Properties: isMeasuringTapeInPlayAreaProperty, measuringTapeTipPositionProperty, isTimerInPlayAreaProperty, isWaveMeterInPlayAreaProperty.

[2018-12-19 21:04] pixelzoom opened #288 "WaterSideViewNode API is too broad"
Related to code review #259:

WaterSideViewNode does not need the entire model.  It needs model.waterScene.

[2018-12-19 21:06] pixelzoom opened #289 "TheoryInterferenceOverlay API is too broad"
Related to code review #259:

TheoryInterferenceOverlay does not need the entire model. It needs model.scenes and model.sceneProperty.

[2018-12-19 21:10] pixelzoom opened #290 "SlitsControlPanel API is too broad"
Related to code review #259:

SlitsControlPanel does not need the entire model. It needs scenePropery, waterScene, soundScene, and lightScene.

[2018-12-19 21:17] pixelzoom commented on #264
Adding "see..." pointers should do it.

[2018-12-19 21:21] pixelzoom commented on #259
Code review check list has been completed. See ❌ for items that required the creation of one or more issues.  See ⚠️ for items that were conditionally checked off.  See ℹ️ for notes related to items that passed.

I created 29 associated issues, and a bunch of `REVIEW` comments (see #269).

@samreid back to you, let me know if you have any questions.

[2018-12-19 21:34] pixelzoom commented on #269
@samreid I've reviewed all of your replies to REVIEW comments since yesterday. All remaining REVIEW comments that require your response can be identified by searching for "REVIEW^".

[2018-12-19 21:36] pixelzoom commented on #262
Note that decisions made here may impact https://github.com/phetsims/wave-interference/issues/283.

[2018-12-19 21:37] pixelzoom commented on #283
Note that decisions made in https://github.com/phetsims/wave-interference/issues/262 may require additional refactoring.

[2018-12-19 21:39] pixelzoom commented on #283
Note that decisions made in https://github.com/phetsims/wave-interference/issues/262 may introduce the need for additional refactoring.  But the goal is encapsulate subcomponents that have significant code in their own class files.