[2017-10-06 01:45] samreid opened #1 "Master Checklist"
# Wave Interference Port Master Checklist

## Design
- [x] **Sim folder and design doc created** (Date: 10/05/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle

[2017-10-06 01:45] samreid opened #2 "GitHub labels"
@mattpen can you please grant this repo the GitHub labels?

[2017-10-06 01:48] samreid opened #3 "Port the model and investigate GPU for rendering/computations"
At today's meeting we agreed the Java model implementation is working well and could be a good direct port.  We also discussed using the GPU for rendering and/or for the simulation.

[2017-10-06 02:04] zepumph commented on #2
The deed is done.

[2017-10-06 02:04] #2 closed

[2017-10-07 03:42] ariel-phet opened #4 "Meeting with STROBE team for design requests and timeline"
## Possible Design changes/enhancements

1. Add the STROBE logo (included below, no tagline needed) to a piece of equipment. AP suggested this as an easy design change to help "brand" the sim, such as when we have put the CU logo on the flatirons in projectile motion. This request seems very easy.

2. Potentially extending the wavelength range into x-ray, soft x-ray (to be more in line with the pa

[2017-10-07 03:47] ariel-phet commented on #4
STROBE Logo (tag line not necessary)

![strobe logo](https://user-images.githubusercontent.com/4051174/31304519-f2357706-aadf-11e7-96c3-fb1444bf6984.png)

[2017-10-07 03:48] ariel-phet commented on #4
@samreid does the model for this sim use a fourier transform for the farfield diffraction pattern? If so putting in some other patterns might not be too bad. If not, lets discuss.

[2017-10-07 13:14] samreid commented on #4
The diffraction patterns emerge from application of the discretized wave equation which is described at http://www.mtnmath.com/whatth/node47.html . The fourier transform is not used to compute the diffraction patterns.

[2017-10-09 01:46] samreid commented on #3
Running a 55,55 grid on iPad2 with webgl rectangles gives 10 frames per second.  But turning off the renderer gives 60fps for the model, so we can try canvas or pure webgl to do better.

[2017-10-09 02:04] samreid commented on #3
CanvasNode is running 15fps but looks pretty nice!  Perhaps it would feel slower if dragging something but just for animating the wave 15fps may be OK.  Maybe we should try webgl renderer though.

[2017-10-09 16:38] samreid commented on #3
At 60x60 (same lattice as Java), we have

scenery rectangles webgl: 117ms/frame
canvas: 83ms/frame
webgl: 33ms/frame

May be able to get better webgl performance by using triangle strip or better handling of vertex data

[2017-10-09 21:25] ariel-phet commented on #4
@samreid we have a fourier transform used in other sims I imagine like https://phet.colorado.edu/en/simulation/fourier

For a far field diffraction pattern I imagine we would want to use an FFT for computation. All though this is not an essential design request, it would be good to know an estimate at some point of how much effort it would be to implement such a model for a 4th screen.

It might b

[2017-10-09 21:41] samreid commented on #4
It would be good to know more about the model requirements before speculating or prototyping.  So the user could choose characteristics of predefined apertures (like dimension of a rectangular one, or radius of a circular one, or axes of an elliptical one), or draw an arbitrary aperture (by toggling on and off elements in a grid?) and choose the wavelength of light, then see the diffraction patter

[2017-10-09 21:42] samreid commented on #4
Also, would we do 1D slits or only 2D?

[2017-10-09 21:48] ariel-phet commented on #4
@samreid for the purposes of STROBE, only 2D. I think it would be best to think of the aperture as a 2D grid, if that is the case, we should be able to use an arbitrary aperture. Some of the things you mention would certainly be nice. Ideally the STROBE group learning goal is that there is a relationship between the object and its diffraction pattern, so being able to adjust some parameters would

[2017-10-09 22:04] samreid commented on #4
Evaluating this MIT code: https://github.com/turbomaze/JS-Fourier-Image-Analysis

I see circles:
![image](https://user-images.githubusercontent.com/679486/31360339-1fe1c9b6-ad0b-11e7-86a2-25a9ac729db8.png)

and squares:
![image](https://user-images.githubusercontent.com/679486/31360389-6669d5c2-ad0b-11e7-860d-5dfff8850bd4.png)

It didn't seem exactly like the example you posted in https://github.c

[2017-10-09 22:12] ariel-phet commented on #4
@samreid it is correct, the images I showed are actual diffraction patterns. Since most beams shined on a aperture have a Gaussian intensity distribution you get some other effects. I think if you did a gausian filter on the square aperture for instance it would look very much like the picture above.

[2017-10-09 22:31] samreid commented on #4
I put a gaussian blur (note: not exactly the same as a gaussian distribution) on the circle and saw a closer match for example in https://github.com/phetsims/wave-interference/issues/4#issuecomment-335295040

![image](https://user-images.githubusercontent.com/679486/31361136-0b2f3036-ad0f-11e7-855d-13561bbfdb05.png)

Would you like any further investigation/prototyping regarding the 2D discrete FF

[2017-10-10 01:11] ariel-phet commented on #4
@samreid no I think that is enough to show feasibility

[2017-10-10 01:13] ariel-phet commented on #4
@arouinfar you might want to look over this issue, my guess is we will want to discuss some elements of this issue in the next design meeting.

[2017-10-10 02:27] samreid commented on #3
Even though I cut the number of vertices to about a third, triangle strip is still running at about 50ms/frame (a few frames under this mark).  This is the same as running with TRIANGLES.  Here's a poor-man's branch in case we go back to TRIANGLE_STRIP:

[code]

[2017-10-10 02:46] samreid commented on #3
Combined with 1D value and 2D vertices, I can get down to around 34ms/frame.  The triangle strip has some rough edges, I'll keep investigating.

[2017-10-10 03:09] samreid commented on #3
I've got about as far as I can go with a direct model port, the next thing we could do to improve performance on iPad2 would be to reduce the size of the lattice (currently 100x100 and getting about 25fps).  @jonathanolson probably would be great at optimizing performance here too.

[2017-10-10 03:11] samreid commented on #3
We could also try running the model on the GPU, may take a few days for me to learn how to do that.  @jonathanolson could probably speed that up.  But we would need to read data from the canvas for use in the sim, may slow things down.

[2017-10-10 15:33] samreid commented on #3
Initial version is published here: http://www.colorado.edu/physics/phet/dev/html/wave-interference/1.0.0-dev.1/wave-interference_en.html

[2017-10-11 06:20] samreid opened #5 "Units issues from Java"
This error looks like an oversight, not by design.

Originally reported in https://github.com/phetsims/special-ops/issues/21

IntensityReader.java is where the samples are plotted on the chart.  The value for time is apparently given by in seconds of real-life time, not the simulation time.  LightModule.java line 47 shows a timeScale of 3.6 which is not accounted for in the plot.

I tried relabeli

[2017-10-11 18:47] samreid opened #6 "Add single/double slit and controls"
@ariel-phet said:

Do you imagine scene selection buttons to choose between none/single/double slits?  Then sliders to adjust the spacing/width?  Or will we have grab handles on the apertures to manipulate them directly?

[2017-10-11 19:49] ariel-phet commented on #6
I think we had basically decided the 3 initial screens would be something like "single source" "Double source" "Slits" so, yes, on the "slits" screen I would imagine single and double slit scene selection. I don't see none as a useful option to begin with.

My instinct for slits controls would be sliders (as in the original sim) for 2 main reasons:
1. Likely better for occlusion
2. the scale of th

[2017-10-11 19:49] ariel-phet commented on #6
@arouinfar thoughts on the above?

[2017-10-11 21:35] arouinfar commented on #6
Agreed with @ariel-phet -- we'll likely break the screens into single source, double source, and slits. However, we've also discussed the possibility of each screen having three scenes, one for each context (water, sound, light). I don't think that single slit and double slit would technically be scenes, but they should behave like radio options. We don't need a "none" option for slits, since the

[2017-10-12 19:06] samreid commented on #4
We discussed using the strobe logo without the word "strobe" since that language could be confusing to students seeing this for the first time.

[2017-10-12 22:10] arouinfar commented on #4
In today's design meeting, we discussed the design changes described by @ariel-phet in https://github.com/phetsims/wave-interference/issues/4#issue-263613851. The full discussion can be found in the [meeting notes](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.1l7x665hkv24), but to summarize:

1. We'll likely include the iconic spectrum and pulse fr

[2017-10-13 15:28] ariel-phet commented on #4
I think we are good for now on this issue. Unassigning but leaving opened.

[2017-10-13 22:43] samreid opened #7 "Diffraction screen TODOs"
After discussion with @ariel-phet we decided to proceed with these TODOs:

- [x] Add diffraction slits with fixed width and option to change spacing and angle
- [x] hard edge on bottom left image instead of showing gaussian there (but do show it in top left image).  Even though we will still use gaussian for the model.
- [ ] slider by the laser to set wavelength, visible region only.  This can be

[2017-10-16 05:18] samreid opened #8 "FFT performance on iPad is poor"
At 256x256 the diffraction FFT and rendering is very slow on iPad2 (several seconds) and realtime updates while dragging the slider are not possible.  It may be possible to run this computation on the GPU to improve performance, but it would likely take several weeks to port the FFT to run in WebGL (if it is possible at all).  We can cut the resolution to 128x128 on iPad, but I expect that will lo

[2017-10-16 05:30] samreid commented on #6
What should the screens be named?

https://github.com/phetsims/wave-interference/issues/6#issuecomment-335927164 suggested:

**"single source" "Double source" "Slits"**

Some other possibilities:
**"Waves" "Interference" "Double Slit"**
**"Intro" "Two Waves" "Two Slits"**
**"One Source" "Two Sources" "Slits"**

I can always change names later but it is good to take a "best guess" as I am starting

[2017-10-16 14:18] samreid opened #9 "Create design and algorithm for multiple slits diffraction"
In https://github.com/phetsims/wave-interference/issues/7 I implemented slits with spacing and angle.  I'm using the same 2D FFT as the other patterns but I'm not sure whether the pattern is correct--it seems odd and would be good to have @ariel-phet take a look.  Please test a variety of angles because it angle=0 and angle >0 seem asymmetrical and probably one of them is exhibiting artifacts.

De

[2017-10-16 14:18] samreid commented on #7
I added diffraction slits but assigned #9 to @ariel-phet to check the behavior.

[2017-10-16 17:02] ariel-phet commented on #8
@samreid would it be possible to have a "mode" we use on certain platforms were the update is not realtime? As we discussed before the update happens on release of the slider (so moving the slider turns the diffraction pattern blank and a then the new diffraction pattern comes into place when the slider is released)

It would be good to verify if this is also an issue on iPad Air. At some point, l

[2017-10-16 17:11] ariel-phet commented on #9
@samreid the pattern is a bit difficult to evaluate because we don't really have a diffraction grating yet. A few changes we should make:

1. Instead of "spacing" we should be thinking about a "number of lines"
2. The "slits" should be much thinner. The slits should all be the minimal allowable width. By "allowable" I mean the minimum width we can use for computation (in this case I am guessing 1

[2017-10-16 17:13] ariel-phet commented on #9
@samreid also once we have the horizontal pattern looking good, we may decide that angle is not necessary and it would be better to focus on being able to change wavelength as the primary learning goal. Angle is interesting, but given the way the computation is done we might get lots of artifacts as you suggest.

[2017-10-16 23:01] arouinfar commented on #6
Great suggestions @samreid! I really like
1. Waves
2. Interference
3. Slits
4. Diffraction

I think "Waves" and "Interference" both sound exciting while being descriptive. The first screen serves as an introduction to waves and wave properties. The 2nd screen will be the first introduction to interference (unless we allow the wall on the 1st screen). "Slits" is more inclusive of both single-slit a

[2017-10-17 01:22] ariel-phet commented on #6
I like that order - Waves, Interference, Slits, Diffraction

[2017-10-17 03:35] samreid commented on #9
I switched to slit size = 1 pixel, centered it and converted to use `numberOfLines` instead of slit separation.  I left the rotation control to help us test for artifacts, but rotation is no longer centering the slits.  Let's discuss and decide where to go:
https://www.colorado.edu/physics/phet/dev/html/wave-interference/1.0.0-dev.4/wave-interference_en.html

[2017-10-17 03:49] ariel-phet commented on #9
@samreid something is not right...

First of all the diffraction pattern should be horizontal, but it is showing up as vertical.

If shining a "gaussian-esque" laser beam through a vertical diffraction grating, we should see a horizontal pattern something like this:

![ipat](https://user-images.githubusercontent.com/4051174/31645909-ce9f634a-b2bb-11e7-9664-8c2e427bbef3.jpg)

We might have to play

[2017-10-17 06:46] samreid commented on #9
I'll try adding a gaussian distribution over the slits and see what that looks like.

[2017-10-17 16:08] samreid commented on #9
Gaussians don't seem to be helping:
![image](https://user-images.githubusercontent.com/679486/31675765-d9b53dd8-b322-11e7-9866-7a3eeaa57f48.png)

![image](https://user-images.githubusercontent.com/679486/31675880-1f8d474c-b323-11e7-9dec-4bc1dbc1c9f3.png)

Poor man's branch here in case we want to go back to this:

[code]

[2017-10-17 16:14] samreid commented on #9
@ariel-phet it is not clear to me why the Fourier Transform is failing for this case.  Any ideas? Want to try using dsin(theta)=m*lambda to synthesize the result?  By the way, I found this page a useful reference: https://en.wikipedia.org/wiki/Diffraction#Diffraction_grating

[2017-10-17 16:23] ariel-phet commented on #9
@samreid yes, I was thinking just using d*sin(theta)=m*lambda would be easiest in this case.

My guess is that to make the FFT work you need to play some games thinking about how to make a grating somewhat infinite and working in the illumination. Doesn't seem worth it when we should be able to hollywood fairly well with the diffraction grating equation.

[2017-10-17 16:23] ariel-phet commented on #9
@samreid yes, I was thinking just using d*sin(theta)=m*lambda would be easiest in this case.

My guess is that to make the FFT work you need to play some games thinking about how to make a grating somewhat infinite and working in the illumination. Doesn't seem worth it when we should be able to hollywood fairly well with the diffraction grating equation.

[2017-10-19 21:28] samreid opened #10 "Is the output pattern off by 90 degrees?"
We need to identify ground truth.  Central max looks right but qualitative behavior was confusing.

[2017-10-19 21:29] samreid opened #11 "Plane wave vs single slit"
For the wave lattice, we would like to try a plane wave with single slit to see if we see max and secondary maximum

[2017-10-23 02:40] samreid commented on #11
I tried a plane wave and a thin single slit and the max and secondary maximum weren't obvious:

![image](https://user-images.githubusercontent.com/679486/31870074-21c34c1a-b769-11e7-8450-80a2112c023e.png)

[2017-10-23 02:50] samreid commented on #11
I made the lattice wider and expanded the slit width and I think I am seeing the secondary maximum now:

![image](https://user-images.githubusercontent.com/679486/31870336-9e213f50-b76a-11e7-874d-4d1734f8ec08.png)

[2017-10-23 02:55] samreid commented on #11
For my reference, here is the plane wave code:

[code]

Here's a poor man's branch:

[code]

[2017-10-23 20:28] veillette commented on #10
The diffraction pattern on wave interference does not have the correct behavior.

For instance, for the rectangular slit, increasing the width of the slit (which is on the horizontal axis), should narrow the diffraction profile along the x -axis.  By Narrowing the profile, I mean that the zero of the Fourier transform, should get closer to one another.
Similarly, increasing the height of the slit

[2017-10-23 20:35] veillette commented on #10
Here is a link with shows the expected behavior for different aperture.
http://demonstrations.wolfram.com/2DFourierTransforms/

[2017-10-26 20:55] samreid commented on #10
@ariel-phet asked me to reassign this to him to look into the expected patterns and to discuss with a contact at JILA.

[2017-10-27 15:55] samreid opened #12 "use a rectangle instead of a line to create plane wave to avoid artifacts and reflections"
could try simulating a rectangle for the plane wave instead of a column of pixels.

This will be more performance demanding but will look better than an estimated damping effect.

[2017-11-02 19:44] samreid commented on #8
@ariel-phet said it is probably we will drop iPad2 support in the summer.  We would go to whatever minimum hardware could run iOS 10 (whether iPad mini, etc)

[2017-11-10 03:20] veillette commented on #10
In line 366, where the color of the diffraction pattern is assigned, are the indices l and k in reversed order? Assigning to @samreid.

[2017-11-10 03:21] veillette commented on #10
I'm referring to the DiffractionScreenView.js file

[2017-11-10 03:30] samreid commented on #10
Thanks @veillette, I switched the indices and that seems to have corrected it.  @ariel-phet, can you please review and verify on phettest?

Also @veillette I bet the author of https://github.com/turbomaze/JS-Fourier-Image-Analysis/blob/master/js/main.js would appreciate the correction, would you like to submit a GitHub issue to that repo?

[2017-11-10 20:51] veillette commented on #10
We can track the GitHub issue at
https://github.com/turbomaze/JS-Fourier-Image-Analysis/issues/2

[2017-11-13 17:09] veillette commented on #10
The issue was fixed upstream by https://github.com/turbomaze/JS-Fourier-Image-Analysis/issues/2#event-1337516518.

Assigning back to @samreid to see if he needs to pull the corrected library.

[2017-11-14 00:04] samreid commented on #10
I adopted the proposed solution from https://github.com/turbomaze/JS-Fourier-Image-Analysis/issues/2 and it works great, thanks @veillette and @turbomaze and @waldyrious

Leaving assigned to @ariel-phet to review the behavior on phettest.

[2017-11-14 19:50] samreid commented on #10
For review, here is the original behavior which was reported to be buggy in the top 2 comments of this thread:
https://www.colorado.edu/physics/phet/dev/html/wave-interference/1.0.0-dev.4/wave-interference_en.html

And here is the behavior after we've rotated it by 90 degrees:
https://www.colorado.edu/physics/phet/dev/html/wave-interference/1.0.0-dev.5/wave-interference_en.html

[2017-11-14 21:05] ariel-phet commented on #10
Comparing to the demo link @veillette provided dev.5 seems correct. Closing

[2017-11-14 21:05] #10 closed

[2018-03-02 00:58] samreid opened #13 "Barriers should be absorbing instead of reflecting."
The barriers in the model currently force the lattice values to constant value of 0, this has the effect of reflecting the waves.  Instead we would prefer that the barriers (say, for the double slit) absorb the wave instead of reflect it--this will help students focus on the interference on the opposite side of the slits instead of the complex reflective pattern on the incident side of the slits.

[2018-03-02 02:52] samreid opened #14 "Will the amplitude/frequency controls and toolbox be on the left?"
Will the amplitude/frequency controls and toolbox be on the left?  I thought we decided to move them to the left to make room for the screen on the right, but I don't see that documented in today's notes.

[2018-03-02 02:53] samreid opened #15 "Show falling water drops"
@ariel-phet and @arouinfar it would be nice to have good raindrop artwork.  Maybe a good task for our artist?

[2018-03-02 14:12] samreid opened #16 "Are the scenes synchronized?"
Does changing the frequency in the Water scene also change the frequency in the Sound scene?  Does it change the wavelength in the Light scene?

[2018-03-02 16:15] samreid opened #17 "Should I use "thin subtypes" pattern or factor out constants?"
I'm trying a strategy where I factor out classes like `WaveInterferenceText extends Text` and `WaveInterferencePanel extends Panel`, etc.  It seems easy to use and will factor out sim-specific customizations but it is leading to a proliferation of types.  I wonder if things would be cleaner if these were constants in a constants file for options and I just used Text/Panel directly instead.

I've s

[2018-03-02 16:39] samreid opened #18 "Is the dotted line only shown when the "graph" is selected?"
The mock-up shows the graph selected, but I can't tell if the dotted line should be there when the graph is not shown (I suspect it should not be, but wanted to double check).

[2018-03-02 17:13] samreid opened #19 "Instead of “water level” do you think “water height” would be clearer for students?"
What age/grade level is the target for this simulation?

[2018-03-02 17:17] arouinfar commented on #15
@ariel-phet @samreid Mariah created a water droplet icon for SOM, and I think it would also work for Wave Interference.
https://github.com/phetsims/states-of-matter/blob/master/images/liquid-icon.png
https://github.com/phetsims/states-of-matter/blob/master/assets/liquid-icon.ai

![image](https://user-images.githubusercontent.com/8419308/36911971-80b1254e-1e02-11e8-993d-df528b24358b.png)

[2018-03-02 17:18] arouinfar commented on #15
@ariel-phet @samreid what would you think about re-using this artwork?

[2018-03-02 17:18] samreid commented on #15
It seems good to me--let's try it in context.

[2018-03-02 17:23] arouinfar commented on #18
Great question @samreid! The dotted white line should only be visible when the graph is on.

Reassigning to @samreid so he'll see this before closing.

[2018-03-02 17:24] samreid commented on #18
Got it, thanks! Closing.

[2018-03-02 17:24] #18 closed

[2018-03-02 17:38] arouinfar commented on #19
@samreid the sim is primarily designed for high school and university students. However, waves are commonly taught in middle school, so some teachers may use Wave Interference (though WOAS or BL could also be leveraged). In particular, I think the Waves and Interference screens could be used in middle school classrooms, so it would be good to keep younger learners in mind and be accommodating, whe

[2018-03-02 17:40] arouinfar commented on #14
@samreid my impression was that we would try moving the wave source and viewing window to the left, but wouldn't necessarily move amplitude and frequency controls. I have a meeting with KP and AP this afternoon, so I'll double check with them and report back.

[2018-03-06 18:27] samreid commented on #19
I renamed existing occurrences in the sim and will try to remember to update other ones as I go.

[2018-03-06 18:27] #19 closed

[2018-03-06 18:52] samreid opened #20 "Should the chart extend a little beyond the wave area?"
Should the chart extend a little beyond the wave area?  Right now the horizontal axis labels "0" and "10" are partway on partway off and it looks odd:

![image](https://user-images.githubusercontent.com/679486/37051869-e3399cb6-2134-11e8-9527-8df9384bae77.png)

[2018-03-06 21:35] arouinfar commented on #20
@samreid it's important that the x-axis lines up with the wave viewing window, even though it will leave the 0/10 a bit stranded on the edges.

One alternative would be to enclose the entire graph in a light gray background:
![image](https://user-images.githubusercontent.com/8419308/37059410-9df59bf8-214a-11e8-9b79-71ed71002db5.png)

Another option would be to offset the 0 and 10 a bit so that the

[2018-03-06 22:18] samreid commented on #20
The first option still looks odd at "0" and "10" but it's not clear which is better.  Here's how it looks in the sim at the moment (I know it's still not a perfect match):

![image](https://user-images.githubusercontent.com/679486/37061697-7fe66c94-2151-11e8-91be-84cace56f6a3.png)

I'm inclined to ask @kathy-phet and/or @ariel-phet opinion before spending more time on it.  Sound OK?  If so, please

[2018-03-06 22:21] samreid opened #21 "Can/should we remove the graph title?"
From https://github.com/phetsims/wave-interference/issues/20#issuecomment-370949324

It's unclear why we need to repeat "Water Height" twice.  Why not remove the top label?  It seems "Water Height" is redundant, and "at Center" is already covered by the dotted line (or we could include "at center" on the vertical axis).

![image](https://user-images.githubusercontent.com/679486/37061850-fb481306-2

[2018-03-06 23:13] arouinfar commented on #21
@samreid I agree that "Water Height at Center" is redundant, but we wanted to make the connection between the two white dashed lines explicitly clear. I think we'll need interviews to determine if the title is overkill, or is truly helpful. I would be okay with removing the title for now, and seeing how it's interpreted in interviews. Let's discuss in design meeting.

I see what you're getting at,

[2018-03-07 00:18] arouinfar commented on #16
That's an excellent question @samreid, and I've been giving it a bit of thought.

I think it makes the most sense for the states to be separate. For example, maxing out frequency in sound scene will not affect the frequency in the water scene. When switching scenes, the wave animation could start over.

Certain controls should be global, however, including:
* Continuous/pulse
* Top/side-view
* Gra

[2018-03-07 00:22] arouinfar commented on #20
@samreid nice progress! Let's discuss the graph at design meeting this week. These issues mostly seem like pixel polishing, so I think it can wait a few days until then.  If not, please reassign me.

[2018-03-07 00:29] arouinfar commented on #14
@samreid I don't think we'll be able to move the amplitude/frequency controls to the left. On the Interference screen, there will be two sources with variable separation, which will require a column of space reserved for just the sources.

![image](https://user-images.githubusercontent.com/8419308/37066628-8eb59bb6-2163-11e8-9926-f8b18dbc07ef.png)

I am, however, working on shifting the wave viewi

[2018-03-07 00:30] arouinfar commented on #14
@samreid please feel free to close if you don't have any further concerns.

[2018-03-07 02:20] samreid commented on #16
I'm happy to proceed as you recommended but would love to hear your reasoning about making the frequency/amplitude independent in each scene.

[2018-03-07 06:11] samreid opened #22 "Color coding for the probe sensor"
The mockup shows the probe sensor like this:

![image](https://user-images.githubusercontent.com/679486/37076383-9a6c8a20-2193-11e8-8857-f33ff6c05df8.png)

I wonder if we should colorize the probes/wires and the lines on the chart to indicate which is which (or some other way to distinguish them).

[2018-03-07 06:17] samreid commented on #22
I noticed the other icon shows the probes as different colors:

![image](https://user-images.githubusercontent.com/679486/37076591-8a0a5710-2194-11e8-8236-b4745d22b2ba.png)

[2018-03-07 18:53] arouinfar commented on #22
@samreid the mockup is very much a wireframe. I reused a common .ai asset for the probe, which is why it's green and doesn't have the proper crosshairs.

Please use the probe color/style used in the wave detector in Bending Light.

[2018-03-07 18:55] arouinfar commented on #22
The probes, wires, and associated curve are all color-coordinated -- one darker gray, and one lighter gray.

![image](https://user-images.githubusercontent.com/8419308/37111962-66c40610-21fe-11e8-9bc4-0e2bf3928eba.png)

[2018-03-07 19:13] samreid opened #23 "TimerNode button not working on iPad2"

[2018-03-08 04:14] samreid commented on #3
There is an open source project at http://m-ender.github.io/webgl-ripples/ which demonstrates how to simulate floating point values by using RGB values in order to work on platforms like iPad2 which do not support floating point texture writes directly.  That project gives very good performance on iPad2 even at a very large, high-resolution lattice.  (A large lattice will also help us mitigate noi

[2018-03-08 04:46] samreid commented on #3
Here's a snapshot from the iPad2, showing the frame rate is around 50fps:

![image](https://user-images.githubusercontent.com/679486/37133497-e6543b14-2250-11e8-9f31-780d0753104b.png)

[2018-03-08 06:07] kathy-phet commented on #3
If WebGL is decided as best option, I do think having JO help / lead that part would be good to be efficient. I do think that non-WebGL fallback would need to have nominally the same behavior so do not have students on different devices getting different results. Could be at a reduced resolution though.

MIT license works well - so glad there is no issue there.

[2018-03-08 10:39] jonathanolson commented on #3
@samreid, do you mean you might be grabbing the value at a few locations per frame, or would you need the ability to read a significant amount of data?

[2018-03-08 14:15] samreid commented on #3
We will be mimicking the behavior in the Java simulation and adding a new chart:

This one reads values at a point as a function of time:
![image](https://user-images.githubusercontent.com/679486/37155399-1e03f21c-22a0-11e8-9b5a-fbab289cf5a9.png)

These two show the values at the right side of the plot (I think Java samples from several columns)
![image](https://user-images.githubusercontent.com/6

[2018-03-08 14:19] samreid commented on #3
@jonathanolson I'd recommend to get an iPad2 (if you don't already have one)--would be useful for this WebGL project.  I'm not sure if we have an extra one (@phet-steele would know) or need to order another one (@oliver-phet could help with that).  Tagging @ariel-phet so he's aware I recommended it.

[2018-03-08 16:36] samreid commented on #3
By comparison, we are getting 20fps on iPad2 at a lattice size of 100x100:

![image](https://user-images.githubusercontent.com/679486/37163068-11cab77e-22b4-11e8-9766-02db350cdc8e.png)

[2018-03-08 16:58] jonathanolson commented on #3
Sounds like performance testing on the iPad with how to get values out (and how to optimize) will be important.

I do have one checked out that I forgot about (Lave), so I can use that.

[2018-03-08 16:59] arouinfar commented on #3
![image](https://user-images.githubusercontent.com/8419308/37164155-c5e50744-22b6-11e8-948e-56cb743fc589.png)

@samreid the location of the chart is a bit different than Java, but model does have something similar. Not sure how much of a difference it will make implementation-wise, but thought it would be good to clarify.
![image](https://user-images.githubusercontent.com/8419308/37164264-089d13d8

[2018-03-08 18:39] samreid commented on #3
@ariel-phet said the JavaScript implementation 100x100 lattice on iPad2 (20fps) is not too shabby and may be acceptable.  He asked if @phet-steele could test on an Android tablet and a Chromebook to see what the performance is like there.  @phet-steele do you have an Android tablet you could use for this?

[2018-03-08 18:45] samreid commented on #3
Thanks for correcting me, I temporarily forgot about that one in the Java.

[2018-03-08 20:40] samreid commented on #3
@ariel-phet said performance on our simulations is key, so the WebGL is good to look into.  OK if the fallback isn't optimal and not 100% quantitatively identical to the WebGL one.

[2018-03-08 20:44] samreid commented on #3
@samreid will add reading data from WebGL into the prototype, then publish something for @phet-steele to test on our supported platforms.

[2018-03-09 03:14] arouinfar commented on #3
After our discussion in design meeting, I don't think there are any questions left for me, so unassigning myself.

[2018-03-09 17:16] #14 closed

[2018-03-09 17:21] samreid opened #24 "Move the probe sensor tool to common code"
This tool is used in Bending Light and now Wave Interference.  It would be good to generalize and move to common code.

@ariel-phet and @arouinfar can you think of any other existing or upcoming sims with this kind of measuring tool?

![image](https://user-images.githubusercontent.com/679486/37220245-456c0ea0-2383-11e8-9801-16fe1a4db047.png)

In the common code, should I make it:
1. Always have 2

[2018-03-09 17:37] samreid commented on #17
Sam Reid [10:32 AM]
Let’s say I want to have the same font size and text color throughout my sim.  What is the best way to factor that out?

(1) in a constants file, I have FONT_SIZE: … and TEXT_COLOR: … and whenever I need text I use `new Text(...,{fontSize: MySimConstants.FONT_SIZE,fill:MySimConstants.TEXT_COLOR}
(2) options object in the constants file: `new Text(…,MySimConstants.TEXT_OPTIONS);

[2018-03-09 17:38] ariel-phet commented on #24
@samreid I think you mean a probe that includes a graph readout. So I think the title should be indicative of that. I think optionally having 1-2 probes makes sense. More than 2 would be cumbersome and likely 3 graphs on such a small window of the tool would be overload anyhow.

But I could imagine such a tool as a "non contact" oscilloscope or such in other future sims. It seems best suited to gr

[2018-03-09 17:40] samreid commented on #17
@jonathanolson said:

[2018-03-09 17:46] samreid commented on #16
We discussed this at yesterday's design meeting.  The proposed philosophy is that when switching between water, sound and light, the wave representation should look predominantly the same (same amplitude, same frequency, same source position), because the user will mainly want to focus on the difference in medium, rather than changing lots of variables at once.

We decided based on the need for th

[2018-03-09 17:47] samreid commented on #17
@pixelzoom said:

[2018-03-09 18:32] samreid commented on #3
Sam Reid [11:01 AM]
I would like to adapt a public MIT-licensed GitHub project for running the computational model of Wave Interference in WebGL.  The source is https://github.com/m-ender/webgl-ripples  I will be making extensive changes to the implementation.  Some options how to proceed:
(1) fork the repo, make changes in my fork, then publish as a new sherpa dependency
(2) use it as a conceptua

[2018-03-09 18:36] samreid commented on #3
@pixelzoom said:

[2018-03-09 18:40] samreid commented on #3
For now, I'm inclined to create a fork, try reading data from the webgl texture, and set up a cross-platform test from QA, that will help us understand the costs and benefits more before we invest in sim development.  But it seems important to design the fallback and webgl model to have the same interface and try to make them interchangeable (despite them being in different languages/technologies)

[2018-03-09 19:17] samreid commented on #3
Reading the full texture every frame cuts the frame rate to 10fps on iPad2.

[2018-03-09 19:23] arouinfar commented on #24
@samreid I think the wave detector tool is a good start, but would need extra features such as optional vertical axis and grid labels.

I agree with @ariel-phet. I think the tool should have 1-2 probes, but not more.  The only sim that I can think of that would need a similar tool would be CCK: AC. The ammeter would need one probe, and the voltmeter would need two probes which work together to pro

[2018-03-09 19:26] ariel-phet commented on #3
@samreid - what platforms are we supporting that do not support WebGL? I am not fully convinced we need a WebGL fallback

[2018-03-09 19:27] ariel-phet commented on #3
And @samreid agreed, we decided WebGL is certainly worth investigation, but we will not fully decide to go down that path until we have investigated and understand better what it will take.

[2018-03-09 19:30] ariel-phet commented on #3
@samreid maybe you can help me understand this....I know some GPU's are blacklisted for webgl, but it looks to me like every modern browser supports WebGL (not WebGL 2.0)

https://caniuse.com/#search=webgl

[2018-03-09 19:37] arouinfar commented on #16
Thanks for summarizing @samreid!  A few other points we discussed:
* We'll most likely call the wavelength slider on the Light scene "Frequency". This would provide better consistency with the other scenes, and as @ariel-phet pointed out, it could be considered more accurate because the frequency of light is unchanged by its medium.
* Turning on the continuous source in one scene will turn it on i

[2018-03-09 19:41] samreid commented on #3
As far as I know, all of PhET's supported platforms are supposed to have WebGL. (Not 100% sure how far back we plan to support for Android though).  But we still run into cases sometimes where a particular computer doesn't have WebGL.  I recalled in particular: https://github.com/phetsims/charges-and-fields/issues/106 (which seemed like WebGL was present but it was acting funny) and Molecule Shape

[2018-03-09 19:45] ariel-phet commented on #3
@samreid I think I am of the opinion that we can move to a "requires WebGL" paradigm. To me that is like us no longer supporting Windows XP, and eventually dropping iPad2 support (when we feel appropriate). yes, some clients will be left behind, but that is just life.

I think the fallback could simply be that the sim opens but says "This simulation requires WebGL" with some clear explanation.

I

[2018-03-09 19:46] ariel-phet commented on #3
@samreid I can also pretty confidently say that all Android devices we support have WebGL. We don't "officially" support android devices on our website, but the Android app only does 5.0 and later I believe. For instance, my current phone does not run the app. So for app customers, I am not worried at all.

[2018-03-09 19:47] arouinfar commented on #16
Additionally, we decided to have the wave source on at startup. The wave will propagate from the source, similar to Java, like so:
![image](https://user-images.githubusercontent.com/8419308/37226659-ed3f1280-2397-11e8-9b10-c092001e1ad2.png)
![image](https://user-images.githubusercontent.com/8419308/37226682-014d53e0-2398-11e8-8fdd-dbdfa9f98353.png)
![image](https://user-images.githubusercontent.co

[2018-03-09 20:53] kathy-phet commented on #3
I am somewhat concerned about that for this particular sim, since this sim is partially supported by a grant for delivery into the developing world - specifically where cheeper devices are used.

[2018-03-10 03:50] samreid opened #25 "Investigate gpu.js"
As part of #3 we should investigate https://github.com/gpujs/gpu.js, it advertises itself as a subset of JavaScript that can be compiled to shaders or run in JS, it could be a way for us to write the algorithm once and get it to run on GPU with a CPU fallback.  We should at least check the performance characteristics on iPad2 (I don't know how they get data out of the WebGL, or if they require flo

[2018-03-10 16:18] samreid commented on #25
In testing this out, I ran into https://github.com/gpujs/gpu.js/issues/241.  The main point of gpu.js is to factor out the boilerplate of encoding data and running it on the GPU.  It uses a parser to take a subset of JS and transpile to JS and shader code.  You cannot debug the kernel directly, you would need to write it separately in subset of JS for debugging.

I tried to tinker with understandi

[2018-03-11 21:21] samreid opened #26 "z-ordering for the graph and slits"
I noticed this in the mock-up

![image](https://user-images.githubusercontent.com/679486/37258588-b5da469e-253f-11e8-9880-6ecfe90e6531.png)

@arouinfar do you really want the z-order to be:
chart background
barriers
chart curve

That is, that the barriers are layered between the chart background and foreground?

[2018-03-12 14:54] arouinfar commented on #26
@samreid the z-order should be: wave, barrier, chart background, chart curve (top). I remember re-ordering the barrier on Friday, so I checked the .ai file, and z-order was correct there. Looks like the updated mockup didn't make it into the design doc, so I updated the doc.
![image](https://user-images.githubusercontent.com/8419308/37290618-5835ded4-25d2-11e8-8ff3-74a089cdc31d.png)

[2018-03-12 21:05] ariel-phet commented on #3
@kathy-phet - all modern browsers support WebGL. We only support the latest version of browsers, so I do not see this as different than anything else we do with HTML5. We do not have the resources to support good performance on ancient android devices.

Unassiging myself for now.

[2018-03-14 15:47] samreid commented on #13
Brainstorming: perhaps at lattice cells near the barrier we could use asymmetrical neighborhoods for updating the wave.  For instance, lattice cells just to the left of the barrier would not use values in the barrier as part of their neighborhood sum.  Perhaps this would prevent the reflection?

[2018-03-14 15:52] samreid commented on #13
@jonathanolson or @ariel-phet how is the open boundary condition implemented in Wave on a String?

[2018-03-14 17:49] samreid commented on #22
I made the probes gray in the above commit, we'll close for now and create a new issue if fine-tuning is needed.

[2018-03-14 17:49] #22 closed

[2018-03-14 18:36] jonathanolson commented on #13
WOAS uses step[ n - 1 ] and step[ n ] to compute step[ n + 1]. It modifies some of the boundary values before/after the step, seen in WOASModel (anything referring to typeEndProperty).

[2018-03-14 18:54] veillette commented on #13
In physics and electric engineering, impedance matching is used to minimize reflection of signals.
https://en.wikipedia.org/wiki/Reflections_of_signals_on_conducting_lines

This is used in coax cable to prevent the reflection of a signal. The end of the line is terminated with a resistor.  One might think that you would like a high resistance, but it turns out that the resistance of the terminal r

[2018-03-15 02:20] samreid commented on #13
Here's the relevant code from Wave on a String:

[code]

I can see the difference in the code but I don't understand the conceptual difference between `noEnd` and `looseEnd`.

[2018-03-15 03:09] jonathanolson commented on #13
Also this at the end of the step:
[code]
Off the bat I also don't know the exact concepts being used, I'd have to sort through it a bit.

[2018-03-18 23:00] samreid opened #27 "Make it easier to visualize the minima in the wave area"
In the original simulation, the value for amplitude=0 in the wave is the center of the lattice coloring.  For red, it is this "medium red":

![image](https://user-images.githubusercontent.com/679486/37572176-e2489bf8-2acc-11e8-8687-0b8a16bdd6b6.png)

For experienced users, it is easy to see how the "grayish red" matches up with the minima in the graph.  But for novices, or when the pattern isn't a

[2018-03-19 15:08] samreid commented on #27
Here's a paintCanvas implementation that shows the behavior in the preceding screenshot:

[code]

[2018-03-19 15:17] samreid commented on #27
Another problem is that the representation in https://github.com/phetsims/wave-interference/issues/27#issue-306293583 is that the coloring in the wave area has a different meaning than the coloring in the intensity panel.

[2018-03-19 15:20] samreid commented on #27
To clarify, I'm not advocating for red/blue color scheme, but wanted to discuss the meaning of black in the wave area vs black in the intensity panel and wondering if we can unify them.  Before I revert the trial code above, here's another depiction that shows how black in the area can align with black in the intensity panel:

![image](https://user-images.githubusercontent.com/679486/37604484-b3db

[2018-03-21 15:54] samreid commented on #4
@arouinfar can you please read through this issue and create sub-issues for remaining work?

[2018-03-21 15:59] samreid opened #28 "Frequency min should not be labeled "0""
I noticed the frequency slider goes to "0" but the value doesn't go to 0.  I can actually see the pedagogical advantage of going to 0, but this is buggy at the moment.  After it's fixed, we can create a separate issue about whether it should really go to 0.

[2018-03-23 19:03] arouinfar opened #29 "Incorporate STROBE logo into the sim"
In #4, we discussed adding the STROBE logo to this sim

![image](https://user-images.githubusercontent.com/8419308/37848621-64519a48-2e9a-11e8-95de-fada22d55358.png)

Self-assigning to mock up some options.

[2018-03-23 19:06] arouinfar opened #30 "Add soft x-rays to light scenes"
In #4 we discussed

In the [8/12/17](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.1l7x665hkv24) design meeting we decided to support soft x-rays

Self assigning to work on the mockups.

[2018-03-23 19:07] arouinfar commented on #4
I converted points (1) and (2) from https://github.com/phetsims/wave-interference/issues/4#issuecomment-336289686 into the above issues. Closing.

[2018-03-23 19:07] #4 closed

[2018-03-23 19:19] arouinfar opened #31 "Unfuddle triage"
I remember doing some review of Unfuddle, but it looks like I never did a formal triage.

Wave Interference Tickets:
https://phet.unfuddle.com/a#/account/search?query=wave%2Binterference&filter=tickets,tickets-neq-closed

* Issues/suggestions that we will fix/implement/consider, should be made into GitHub issues and the Unfuddle ticket closed with a comment that it will be addressed in the HTML5 v

[2018-03-23 19:20] arouinfar commented on #12
@samreid I think this would be good to bring up again in design meeting. I'll  tag #11 for design meeting discussion.

[2018-03-23 19:49] arouinfar commented on #31
Relevant tickets that need further review/should be moved over to GitHub:
- [ ] https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3752
- [ ] https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2539
- [ ] https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2535
- [ ] https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/922
- [ ] https://phet.unfuddle.com/a#/proj

[2018-03-24 02:34] samreid opened #32 "Screen Icons"
@arouinfar can you recommend screen icons for the simulation?

[2018-03-25 02:45] samreid commented on #27
Also, this overlaps with the issue of the "dark wave" in light mode.  If we chose black = 0 amplitude, then we wouldn't need a special model for wave propagation in the light scene.

[2018-03-25 02:51] samreid commented on #28
"0 frequency" seems pedagogically useful, but the wavelength slider shouldn't go to 0.  But I'm concerned about matching frequency/wavelength across scenes since we'll want blue = 450nm and red=750nm or so.  Do we want to restrict ourselves to a proportion of 1:1.5 in all scenes?

[2018-03-26 02:45] samreid commented on #6
We've designed screen order and controls in the Slits screens, closing.

[2018-03-26 02:45] #6 closed

[2018-03-26 18:09] arouinfar commented on #27
Thanks for doing this investigation @samreid! I think this is something that we should definitely discuss with the rest of the team during the next design meeting.

In general, I think black=-1 works really well for interpreting a single propagating wave. It's easy to see the wave maxima and minima, though I will concede that it is a bit tricker to pinpoint which color represents the node.

Compar

[2018-03-26 18:18] arouinfar commented on #27
@samreid brings up an excellent point.

In Java, the water and sound viewing windows displays the node color in the absence of a wave. For light, the node color would be the "medium red" (by default), but we instead chose to use black. On one hand, this makes sense -- the absence of light would be black. However, this contradicts the other contexts, and requires special-case code.

[2018-03-26 18:27] arouinfar commented on #32
@samreid I think it would be something like
* **Waves:** A propagating wave
* **Interference:** Two sources, but probably no interference pattern, as we would want students to discover that on their own
* **Slits:** Double slits, possibly with a wave approaching, but again, probably wouldn't show the interference pattern
* **Diffraction:** Laser beam shining grating, possibly with or without the l

[2018-03-26 18:57] samreid commented on #32
I'd recommend to add proposed/stand-in screen icons sooner rather than later, even if they are not the final ones.

[2018-03-26 21:15] arouinfar commented on #32
@samreid I've emailed you stand-in screen icons.

[2018-03-26 21:16] arouinfar commented on #32
After you've implemented these, please reassign this issue to me. I'll mark it as on-hold until the design is far enough along to create the final icons.

[2018-03-26 21:42] samreid commented on #32
I added the screen icons in the preceding commit.  No need to change them now, but I thought I'd jot down my initial reactions so I don't forget:
1. Black on black is hard to parse (black background against navbar or home screen)
2. The red stands out nicely, but maybe would be more consistent to match first color in the sim, of blue (for water).
3. The slits will need to be much larger (zoomed in

[2018-03-26 21:51] arouinfar commented on #32
Thanks for the feedback @samreid!

Agreed. I've added a white stroke to the icons.

For speed, I cloned and resused the same wave when creating the icons. Definitely agree that the Waves icon should represent the water scene.

The barrier visibility isn't great. I'll make it a bit more cartoonish when working on the final version.

[2018-03-28 21:47] arouinfar opened #33 "Review Unfuddle TODOs"
During #31, I found this ticket:
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/332

Looks like something that @samreid should take a look at, or close if irrelevant.

[2018-03-28 21:50] arouinfar opened #34 "Changing source frequency causes artifacts on the lattice"
For #31

Reported in Unfuddle Ticket [#2657](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2657)

@samreid perhaps this is something you should consider for HTML5?

[2018-03-28 22:02] arouinfar opened #35 "User suggestion: Plane waves"
For #31

Unfuddle Ticket[ #2539](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2539)

I am wondering if,
      * in addition to the "droplet" type source, you could make an option of a dowel sweeping
        back and forth (to make planar waves).
The plan would then be to have students explore planar waves interacting with a single
slit to explore what conditions make for a good "po

[2018-03-29 00:58] samreid commented on #34
I implemented that several months ago and it is working nicely.

[2018-03-29 00:58] #34 closed

[2018-03-29 18:02] arouinfar opened #36 "User suggestion: hide wave pattern/viewing window"
For #31

Unfuddle Ticket [#3752](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3752) is a user suggestion for Quantum Wave Interference, but seems also applicable to Wave Interference.

I would suggest that the option to hide the wave pattern in the simulation be added. This would transform the simulation from an explanatory one to an exploratory one, since, based on the results, th

[2018-03-29 18:16] arouinfar opened #37 "Water drop not visible when pusling"
For #31

In Unfuddle Ticket [#2535](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2535), Wendy Adams reported:

I don't think there's any reason why we wouldn't want the water drop to be visible when pulsing the water source. Seems like a legacy bug, so assigning @samreid so he's aware.

[2018-03-29 18:17] arouinfar opened #38 "Reflection artifacts when source turned off"
For #31

In Unfuddle Ticket [#2535](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2535), Wendy Adams reported:

The same thing happens in the sound tab.  A few reflections are seen and then it settles into a continuous vibration. The particle view however appears perfectly stationary, just the graph vibrates.
If you drag the barrier back and forth  a bit, you can get huge waves that

[2018-03-29 19:10] arouinfar opened #39 "Considerations for particle view of sound"
For #31

Unfuddle Ticket [#604](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/604)

Wendy:

tends to pile the particles up in the regions of high intensity and
lose them from the nodes of the wave, so as time progresses it gets
emptier and emptier along the interference nodes. I had let it run a
while before the screenshot and was not paying that much attention, so
did not notice it

[2018-03-29 23:21] arouinfar commented on #35
Discussed in the 03.29.18 [meeting notes](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.cqvtya3zpio5). Plane waves are the typical source used for slit interference, and are something we are planning to pursue for the Slits screen. I don't think there's anything else that needs to be done for this particular issue, but we can open new issues as ques

[2018-03-29 23:21] #35 closed

[2018-04-03 02:17] samreid commented on #11
In the preceding commits, I'm filling the incident area with the desired incoming plane wave.

[2018-04-04 18:34] samreid opened #40 "Review NGSS regarding period and energy"
Notes from Jan 4, 2018 design meeting:

* Do we want to support the relationship between frequency and period? Could have 2 sliders -- update period slider would move thumb on frequency slider.
* Do we show period? Or do we require it to be measured?
* Review NGSS to see what it has to say about period

@arouinfar can you please look into this and let me know your thoughts?

[2018-04-04 18:38] samreid opened #41 "Show wave combination on wave detector tool?"
Notes from January 4, 2018 design meeting:

In order to track the waves independently, I would need to change the model architecture to have 3 lattices instead of 1.  This would only be applicable to the 2nd screen (two sources).  Are we going to investigate this?

[2018-04-04 19:06] arouinfar commented on #40
@samreid thanks for following up. I added the [relevant standards](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.omh49itn0px) to the design doc, and they do not reference wave period, only frequency.

Given that period is not mentioned in the standards, and hasn't been a user request, I don't think we need to add any period-related features.

[2018-04-04 19:06] #40 closed

[2018-04-04 19:09] arouinfar commented on #41
@samreid I don't think we will show the combined wave in the tool, but I think this is definitely something we should discuss in design meeting. I already had the wave detector tool design on the agenda for tomorrow, so I've added this issue as well.

[2018-05-01 03:17] samreid opened #42 "Units for Sound scene"
In the Java version, the sound wave tank measures 100cm and the default wavelength is 52cm = E5 (the E above concert A).  However, on the lattice this wavelength makes it very difficult to see interference:

![image](https://user-images.githubusercontent.com/679486/39459743-f7b0ee72-4cba-11e8-928d-dec7ccc4f8d6.png)

But it is easy to see the particle behavior:

![image](https://user-images.githubu

[2018-05-01 03:34] samreid opened #43 "Units for water scene"
According to http://hyperphysics.phy-astr.gsu.edu/hbase/watwav.html
the velocity of idealized ocean waves is:
[code]
For the Java version, I measured lambda = 5.57E-2m, and v=5.57E-2/2.07m/s, giving  a depth of 0.0073cm.

@arouinfar can you please double check my math?  If it checks out, should we revise the timer or size of the wave pool or frequency values to give a more realistic wave speed or

[2018-05-01 16:53] phet-steele opened #44 "Assertion failed: A rectangle needs to have a non-negative finite height (-42.4576271186441)"
1. Slits screen
2. Select "Two Slits"
3. Slide "Slit Separation" to zero while keeping "Slit Width" > 0.

[code]

[2018-05-01 23:36] arouinfar commented on #43
I estimated the wavelength of water at the default frequency to be ~5cm (nodes at 2 cm & 7 cm).
![image](https://user-images.githubusercontent.com/8419308/39497362-38821052-4d60-11e8-9543-fedf760678c7.png)

Measuring mid-trough to mid-trough on the wave itself results in roughly the same wavelength
![image](https://user-images.githubusercontent.com/8419308/39497427-8a4b92b4-4d60-11e8-8153-a02329e8

[2018-05-02 00:14] samreid commented on #43
Leaving assigned to myself to make sure the HTML5 water units are on par with the Java units.

[2018-05-02 17:48] phet-steele commented on #44
Fixed.

[2018-05-02 17:48] #44 closed

[2018-05-03 20:25] samreid commented on #13
Since we can use the strategy from #11 to simulate the incoming wave, we will not need to implement absorbing barriers, closing.

[2018-05-03 20:25] #13 closed

[2018-05-03 20:27] samreid commented on #16
As far as I can tell, we have achieved all of the recommendations in the prior comments, closing.

[2018-05-03 20:27] #16 closed

[2018-05-03 20:28] samreid commented on #17
The thin subtypes is working well, I'll pull out different values where necessary, closing.

[2018-05-03 20:28] #17 closed

[2018-05-03 20:32] samreid commented on #28
Fixed, closing.

[2018-05-03 20:32] #28 closed

[2018-05-03 21:05] samreid commented on #20
Bubble out around on the left and right side, like in the top one on https://github.com/phetsims/wave-interference/issues/20#issuecomment-370936580 but keeping the top and bottom tabs.

[2018-05-03 21:05] samreid commented on #20
And make it more transparent.

[2018-05-03 21:10] samreid commented on #21
Water:

title: Water Level at Center
axis label: Water Level

Sound: check Java, then add "at Center" for the title.

[2018-05-03 22:47] arouinfar commented on #42
@samreid I think it's important to have a large range of frequencies, but the minimum should probably be something we can hear -- such as A0 (27.5 Hz) -- not the 0.5 Hz minimum we talked about in April 12th design meeting. (However, 0.5 Hz would still be an appropriate minimum for water.)

Since sound isn't the default scene, and the scenes are synchronized, the question of the default frequency i

[2018-05-04 02:36] samreid commented on #42
After using the simulation, I no longer believe we should match frequencies across scenes.  For instance, it seems odd that putting water at 0.5 Hz would automatically change the light color to 780nm.  Likewise, if we allow each scene to have its own independent frequency, we can control the initial value they will see for sound (perhaps 440Hz) and for light (perhaps the same red shade as in the J

[2018-05-04 02:37] samreid commented on #42
Sorry, I hit close by mistake.  I'm interested to hear your thoughts on the preceding comment.

[2018-05-08 00:53] samreid commented on #21
Implemented, closing.

[2018-05-08 00:53] #21 closed

[2018-05-14 16:40] samreid opened #45 "TimerNode should show units"
Reference issue for https://github.com/phetsims/scenery-phet/issues/372

[2018-05-14 16:48] samreid opened #46 "How should the cube be colored when rotating light?"
The color of the rotation cube is based on the frequency of the light (with a darker shade for one side of the cube).  However, when the light hasn't yet been turned on, or has partially propagated across the screen, it could look incorrect.  This movie shows what it looks like if you rotate red light that hasn't propagated yet:

![rotate-cube](https://user-images.githubusercontent.com/679486/4001

[2018-05-14 16:56] samreid opened #47 "Should the plane wave appear instantly or fill in from the side?"
In the current version, the plane wave instantly appears and fills the area to the left of the barrier.  When shut off, it instantly shuts off and zeroes out values left of the barrier.  Is this acceptable, or should I take the time to implement it filling in from the side?

Here's how it looks at the moment:

![planewave](https://user-images.githubusercontent.com/679486/40011516-45769a4e-5765-11e

[2018-05-14 17:12] samreid commented on #43
Here are my water units notes from a recent meeting:

Water could go to a lower frequency where it doesn't even interfere.  One drop every 2-3 seconds.

[2018-05-14 17:31] samreid opened #48 "Render the lattice in WebGL"
See also #3, the next step is to render the lattice in WebGL.  This should be done after fine tuning how it looks in canvas, but before calibrating the model speed.  Chrome can't go at full speed with canvas renderer, so we are getting factor of 2x-3x slowdown in the stopwatch.  Comment out the canvas lattice to see the speed increase.

[2018-05-14 17:35] samreid opened #49 "Are we moving the toolbox?"
A note from a prior meeting said:

Here is a subsequent slack conversation:

Today I’m pretty busy with the candidate and other design meetings, but I plan to spend time updating Wave Interference next Monday.

In my opinion, now that we've removed the "slit position" slider, there is enough room to leave the toolbox at the top right for all screens.  Reassigned to @arouinfar to decide on a plan.

[2018-05-14 17:39] arouinfar commented on #43
@samreid the suggestion of ~0.5 Hz is a rough guess of a reasonable minimum. Anything in that ballpark would be acceptable.

[2018-05-14 17:45] arouinfar commented on #47
@samreid I took a look in master, and the wave disappearing to the left of the barrier looks a bit odd. I think it would look more natural if the wave to the left of the barrier continued to propagate. Are there technical challenges that would prevent or seriously complicate this behavior?

[2018-05-14 17:52] samreid commented on #47
In the preceding commit, I commented out the part of the code that clears the wave values to the left of the barrier--it seems to create an odd-looking reflected wave, and I'm not sure why.  I committed it to master, so you should be able to see it on phettest.  Can you take a look and please advise?

[2018-05-14 17:53] arouinfar commented on #46
@samreid it think it's fine to use the frequency slider to color the cube. After all, it's what we did in Java. I don't think we need to be worried about the cases where light hasn't (fully) propagated. I made a note in the Interview Notes section of the design doc to be on the lookout for confusion. We can revisit if there are serious issues that arise in the interviews, but closing for now.

[2018-05-14 17:53] #46 closed

[2018-05-14 17:56] arouinfar commented on #47
Wow, that reflection is pretty atrocious. The behavior in https://github.com/phetsims/wave-interference/issues/47#issue-322899536 is definitely preferable to master, but I still think it'd be worth a little investigation into eliminating the reflection when the source is turned off.

[2018-05-14 18:04] samreid opened #50 "The sim runs very slowly after letting it sit for a while"
Maybe this will be solved by #48?  Or perhaps there is a memory leak?

[2018-05-15 01:39] samreid commented on #27
From my notes:
SR will try out flattening the color mapping range for zero amplitude. AR/SR will meet to tune

[2018-05-15 01:41] samreid opened #51 "Add water dropper image"
Add water dropper, with illusion that water drops coming from above

[2018-05-15 15:07] samreid opened #52 "Add speaker image"
On/off button should be on/near it, and it should oscillate at the appropriate frequency.

[2018-05-15 22:46] arouinfar opened #53 "Expressing distance/time scale"
In the [5/3/18 design meeting](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.65d6gt5sxit2) we discussed adding an indication of the time scale to better cue the difference between the scenes. We could take a succinct or verbose approach. I prefer have a slight preference for the former.

## Succinct

* Abbreviated units and scientific notation look

[2018-05-15 22:46] arouinfar commented on #53
Tagging for discussion at design meeting.

[2018-05-16 16:42] arouinfar commented on #49
@samreid I'm still in the process of cleaning up the mockups (will update design doc this afternoon), but the toolbox will remain in the upper right corner.

[2018-05-16 16:42] #49 closed

[2018-05-16 17:42] arouinfar commented on #50
@samreid I've had master running in the background for a few hours now, and everything seems fine on macOS 10.13.3 and Chrome 66.

[2018-05-16 18:50] arouinfar commented on #29
I think an appropriate place for the logo would be on the X-Ray source (if we decide to add one, see #30) or on the light source on the Diffraction screen. I would be hesitant to add the logo to the `LaserPointerNode` used for visible light because the spectrum could be confusing to users.

![image](https://user-images.githubusercontent.com/8419308/40134161-dc52e284-58fe-11e8-9e4c-b661ba090c43.png

[2018-05-17 20:40] samreid commented on #47
We would like to try "one propagation" wavefront, when you turn on the plane wave it fills in from the side.  When you turn it off, it clears automatically.  When you change light frequency, the plane wave clears and starts filling in again.

[2018-05-17 20:48] arouinfar commented on #53
The team likes the succinct approach, so let's go with that @samreid.

[2018-05-17 21:03] samreid opened #54 "How should we depict the plane wave sources?"

[2018-05-17 22:47] arouinfar commented on #29
Discussed in [05/17/18 design meeting](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.vglux3rqyign), and we decided against adding the logo.
* Logo looks a bit distracting on the light source
* Could be confusing on monochromatic sources
* Was not a request from STROBE

[2018-05-17 22:47] #29 closed

[2018-05-17 22:59] arouinfar opened #55 "Amplitude slider necessary on all screens?"
In the [05/17/18 design meeting](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.vglux3rqyign), we discussed removing the amplitude slider on the Interference and Slits screens.

If the goal of the amplitude slider is for students to understand the meaning of amplitude, then that goal is served by the Waves screen.

We should discuss this a future des

[2018-05-17 23:04] arouinfar commented on #42
In the [05/17/18 design meeting](https://docs.google.com/document/d/1Lr5A7LG8PyrTHD5tC0Ux4IP9nF7XrE-bZTyRIc7Yc2A/edit#heading=h.vglux3rqyign) we decided that the frequency slider should be independent across the scenes. This will allow for us to choose thoughtful defaults, and the changing frequency will be another cue to students that something has changed between scenes.

[2018-05-17 23:04] arouinfar commented on #42
Reassigning to @samreid in case any additional work needs to be done.

[2018-05-18 18:52] samreid opened #56 "Should we remove the "Amplitude" Slider from the Interference and Slits screens?"
At this week's meeting, it was proposed that we remove the "Amplitude" Slider from the Interference and Slits screens, but leave it on the first (Waves) screen.

We can get to the learning goals about what amplitude means on the first screen, but it doesn't seem too valuable to turn down the amplitude on the 2nd and 3rd screens (essentially it makes it more difficult to see the diffraction pattern

[2018-05-20 22:53] samreid commented on #24
I'm wondering if we should split up the responsibilities into two separate things:

a) the part that combines the probe node, the wire, and a generic meter body
b) meter body content that shows the dynamic graph

The former part could be used in contexts like Beer's Law Lab or CCK, the latter would be an add-on that is used in sims like Bending Light and Wave Interference.

Or even if we decide no

[2018-05-20 22:54] samreid commented on #24
Here are the sims using ProbeNode, thanks binder!

![image](https://user-images.githubusercontent.com/679486/40284583-7c164868-5c4e-11e8-8ba1-65d751d9e182.png)

[2018-05-21 15:56] samreid opened #57 "iOS: ObservableArray: duplicates are not allowed"
I got a rudimentary WebGL renderer for the lattice working and wanted to test it on iOS.  However, I'm receiving an error "duplicates are not allowed" on any touch event:

![image](https://user-images.githubusercontent.com/679486/40316974-3ba1f806-5cdd-11e8-9862-abc13cb31ad2.png)

Co-assigning to @jonathanolson in case he has seen something like this.

[2018-05-21 16:03] samreid commented on #57
I commented out the part of ObservableArray that errors on a duplicate item, and it seems to be working OK.

[2018-05-21 16:51] jonathanolson commented on #57
Looks like I likely broke touch interaction in Scenery. I'll investigate and figure it out.

[2018-05-21 19:28] samreid commented on #48
I ported the Canvas node to WebGL and it is running smoothly on mac chrome.  The timer speed matches up with wall time.  #57 hampered testing on iPad2, but commenting out the offending line in ObservableArray and testing a built version, I see:

Canvas: 2fps
WebGL: 11fps, 9fps

[2018-05-21 19:28] #48 closed

[2018-05-21 20:10] samreid commented on #27
Now that the WebGL lattice renderer has been implemented, this will need to be implemented in the fragment shader as well.  Also, Is the main point of this recommendation to "widen" the 0-amplitude regions?

[2018-05-21 21:21] arouinfar commented on #54
I've emailed the graphic artist to set up a time to discuss the artwork needed for this sim. Once we meet, we'll track the artwork progress in the tasks repo.

[2018-05-21 21:33] samreid commented on #57
Pulled and tested built version on iPad2, seems to be working now, thanks @jonathanolson, closing.

[2018-05-21 21:33] #57 closed

[2018-05-21 21:37] samreid opened #58 "Clip the chart values instead of letting them go out of the chart bounds."
![image](https://user-images.githubusercontent.com/679486/40331232-e292b982-5d0c-11e8-9837-027258eceefa.png)

[2018-05-21 21:39] samreid commented on #33
I read through the notes in the unfuddle issue, and created #58, all else seems OK, closing.

[2018-05-21 21:39] #33 closed

[2018-05-22 04:46] samreid commented on #48
There was a bug in my TRIANGLE_FAN which blurred everything vertically.  I tried the naive implementation of TRIANGLES with interpolation, and it's getting 7-8fps on iPad2.

[2018-05-22 04:56] samreid commented on #48
I inlined the matrix access like so:

[code]
and still got 8 fps on iPad2/built.

[2018-05-26 13:21] samreid opened #59 "Would it be better to use an analytical model?"
In discussion with @jonathanolson yesterday, we realized that it may be possible to code an analytical model (as opposed to the discrete lattice-based approximation we used in Java and have been using until now in JS).  For instance, given the single point source and and its amplitude values as a function of time, you can compute the wave value at every point in space at a given time, without need

[2018-05-26 13:46] kathy-phet commented on #59
Thanks for the brainstorming,Sam. The slits seem tricky and problematic because they are dynamic in width and location and because they are only point sources in one direction.

Can you please clarify is there an outward facing issue you are trying to address with this approach? Is it the iPad 2 performance? Do you expect this to be more performant? Is there a blocking issue with the current appro

[2018-05-26 14:32] samreid commented on #59
We could use logic like "if x < slitLocation.x then planeWave else analyticalModel".  We also clear the wave when the slits move, so that simplifies things.  We could also simplify things by clearing the wave when the slits resize (though it could be possible to capture slit width as a function of time in the analytical model).

The lattice model worked acceptably for Java and it will work equally

[2018-05-26 14:42] samreid commented on #59
In my opinion, a prototype + profiling will be the best way to understand how fast we could run the analytical model--but before going to that step we should discuss if there are any physics reasons we know that *won't* work or is not worth investigation.

[2018-05-26 16:37] kathy-phet commented on #59
Mike and Martin are you best first sources on thinking about the physics issues of this approach.

Sent from my iPhone

On May 26, 2018, at 8:42 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

In my opinion, a prototype + profiling will be the best way to understand how fast we could run the analytical model--but before going to that step we should discuss if there

[2018-05-26 22:18] samreid commented on #59
I sent email to Mike and Martin along these lines:

We are struggling with a problem in the development of our "Wave Interference" simulation we thought you could help with.  For reference, here is the Java version:
https://phet.colorado.edu/en/simulation/wave-interference

And the latest development version of the HTML5 port:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.12/phet/

[2018-05-26 22:31] samreid opened #60 "Performance/Rendering Game Plan 2.0"
@jonathanolson and I met regarding performance and rendering, and we identified several promising avenues for exploration.

I'll create the recommended items as separate issues and link them below in the recommended order for investigation.  This will serve as a "master/parent" kind of issue for the following issues:

[2018-05-26 22:31] samreid commented on #59
See parent issue https://github.com/phetsims/wave-interference/issues/60

[2018-05-26 22:32] samreid opened #61 "Optimize the Canvas View"
From #60: Work on optimizing canvas view (based on putImageData and no allocations, no blend, no color allocations).  See Charges and Fields for an example of `putImageData`.

[2018-05-26 22:34] samreid opened #62 "Optimize the chart rendering"
From #60 @jonathanolson pointed out that @jbphet has a lot of experience optimizing animated charts in scenery, and we should get his help on this part since it is showing up as a significant part of the profiler trace.  We suspect that mutating a preallocated number[] and calling Path.updatePath or something like that may be part of it.

[2018-05-26 22:35] samreid opened #63 "Make sure no extra CPU/Memory is spent on Bounds calculations"
From #60: We probably need to put preventFit: true on the charts.  We may also in places need to extend Path and override computeShapeBounds to return a fixed bounds.  We will know this is working when we no longer see bounds time spent in the profiler.  This is closely related to #62

[2018-05-26 22:37] samreid opened #64 "Optimize the discrete wave equation model and value reads"
From #60, If we don't investigate the analytical model in #59, then we will need to heavily optimize the discrete wave equation model.

* To get `IntensitySample.getIntensityValues`, could use a circular array (move indices), and use a "moving average" approach--drop previous value add in new value to shortcut computation to intensities (compute new average based on previous average).  Add in new

[2018-05-26 22:39] samreid opened #65 "Switch to EventTimer for model steps."
From #60, we need to change the fixed time step of 1/60 to use EventTimer so it will run at the same speed on slow platforms.  Could leverage time/model interpolation if needed, but hopefully not!

[2018-05-26 22:40] samreid commented on #3
From #60:

* If we move to WebGL model, then we would split up into a compute shader and a render shader, then we would use gl.readPixels between comptue and render shaders.  Or maybe before the compute shader (if one frame delay is acceptable).

[2018-05-26 22:44] samreid opened #66 "Render the Lattice in WebGL using 2 triangles"
Similar to #48 but @jonathanolson showed how we can render the webgl with only 2 triangles.  We would only do this if the other steps in #60 to speed up performance for canvas do not work.  We would do this before moving to put the model in WebGL for #3.

If we get to this point, I would benefit from @jonathanolson's assistance.

[2018-05-26 22:51] samreid commented on #60
I got the order of the last two issues backwards--we would render using 2 triangles before trying the model on GPU.

[2018-05-26 22:56] samreid commented on #65
I noticed when I changed the renderer from canvas to webgl in #48, the wavelength changed.  I did not expect this--it seems there was a bug somewhere.  Hopefully EventTimer would be a part of resolving this.

[2018-05-28 19:40] samreid commented on #41
If we use the analytical model for waves as described in #59, then it would be trivial to show the components that sum to form the net wave.

[2018-05-28 20:02] samreid commented on #61
I implemented using `putImageData` but am unable to resize the CanvasNode.  `setScale` called from elsewhere seems to have no effect.  Will I need to create another internal canvas like `ElectricPotentialCanvasNode.directCanvas`?

[2018-05-28 20:15] samreid commented on #61
I saw a huge amount of time in the profiler taken by the following:

![image](https://user-images.githubusercontent.com/679486/40628302-693927a4-6281-11e8-9f16-a4fa20faeeab.png)

Perhaps a bug in the profiler?  I haven't seen anything like this before, but I'm inclined to get rid of those setters and see what happens.

[2018-05-28 20:17] samreid commented on #61
I commented out the setters and saw:
![image](https://user-images.githubusercontent.com/679486/40628350-bcbd9a86-6281-11e8-9ce3-84f9c1883ad6.png)

Does this mean it's spending a lot of time in this function, and not sure where to annotate it?

[2018-05-28 20:18] arouinfar commented on #59
@samreid once you hear back from Mike and Martin, it would be good to discuss this in design meeting (unless you decide not to move forward with an analytical model). Unassigning myself for now.

[2018-05-28 20:53] samreid commented on #61
By scaling up the canvas, I get smoothing like this:

![image](https://user-images.githubusercontent.com/679486/40629200-d3b84466-6286-11e8-8107-4b90669bed5c.png)

In my opinion, better than the pixellated one but not quite as good as the WebGL interpolated one.

[2018-05-28 21:41] samreid commented on #61
I pushed the optimized LatticeCanvasNode, @jonathanolson do you have time to skim the change set?

[2018-05-28 21:42] samreid commented on #61
Fun fact: with this change, the iPad2 is running at 11fps (same speed as using WebGL renderer in prior test.)

[2018-05-28 21:48] samreid commented on #62
In Neuron's DataLineCanvasNode, the plot is rendered using a CanvasNode that uses context.lineTo() and context.stroke().  The code comment says:

But I cannot see that implemented anywhere, @jbphet is that a stale comment?

@jbphet I need to draw 2 charts for Wave Interference and attain high performance, is this the right approach to take?

[2018-05-28 22:09] samreid commented on #63
I put `preventFit: true` in Node.js, then built with `grunt --mangle=false` and still seeing entries like this in the profiler:

![image](https://user-images.githubusercontent.com/679486/40630651-7cc60e76-6291-11e8-9ce1-6e20da26a4b7.png)

@jonathanolson I could use your help or at least some more direction on this part.

[2018-05-28 22:49] jonathanolson commented on #63
Hmm, it looks like you have a bounds listener that needs to get updated, so it's still forcing validation?

The Display.popupDebug() view should probably help figure out where your bounds listeners are, or you can track _boundsEventCount down the tree (checking locations that change). May want to check layout containers, etc.

[2018-05-28 22:55] jonathanolson commented on #61
Changeset looks good to me.

[2018-05-28 23:33] #61 closed

[2018-05-29 02:15] samreid commented on #63
I tried `popupDebug` and chrome reported

[2018-05-29 02:29] samreid commented on #63
I console.logged the html and viewed it.  It has 122 occurrences of boundsListen.

[2018-05-29 03:07] samreid commented on #65
Commit pushed above, @jonathanolson am I barking up the right tree?

[2018-05-29 03:53] samreid commented on #65
Running at 60Hz on the iPad2 drops the frame rate to 2fps, and there is a strobe effect for the wave (looks like it is going backwards).

[2018-05-29 03:56] samreid commented on #65
Putting the rate to 20Hz gets the wave speed to match between desktop chrome and iPad2, even though the iPad2 is only getting 10fps.

[2018-05-29 19:57] samreid commented on #59
Some notes from @veillette on slack:

Martin Veillette [1:18 PM]
Hello Sam, I received your email about wave-interference.

Sam Reid [1:19 PM]
Hi there!
Good to see you on slack!

Martin Veillette [1:20 PM]
I'm still mulling over my response. The approach you suggested would work very well on Waves and Interference screens. It would have the advantage that you can choose your discretizing unit sca

[2018-05-30 16:27] jbphet commented on #62
@samreid said,

Yes, that comment is stale.  The approach didn't work in some cases, see https://github.com/phetsims/neuron/issues/93#issuecomment-174078370.

I was able to get adequate performance on Neuron with this method, but it will depend on the specific needs of Wave Interference.  It sounds like you're drawing two lines, which will like take more time, and you may have other computationall

[2018-05-30 16:58] samreid commented on #62
Thanks, I'll look into CanvasNode for those parts--but I wanted to double check about this:

Does that ring a bell for you @jbphet?  @jonathanolson and I weren't sure about it.

[2018-05-30 17:06] samreid commented on #63
After the above commit, validateBounds is down to 2% or so.  Pretty nice!  @jonathanolson can you review and see if I'm doing this correctly, and if there's anything else to do for this issue?

[2018-05-30 17:44] jbphet commented on #62
@samreid - I'm not sure I fully understand your question, but I'll do my best to answer.  If you're asking whether I pre-allocated arrays to avoid reallocation of memory, yes, I believe that was part of the optimization.  As for Path.updatePath, Path doesn't have such a method, so I'm thinking you're probably referring to Path.setShape.  I think that would be the thing to try if you weren't resort

[2018-05-30 18:53] samreid commented on #62
@jonathanolson just double checking with you if it seems reasonable to try CanvasNode for the various charts in Wave Interference or if you think some/all should still use Path.setShape or another strategy.  Here's a pic showing all the charts:

![image](https://user-images.githubusercontent.com/679486/40741245-4610998c-6408-11e8-8412-fc0c0fae2b9a.png)

[2018-05-30 19:30] samreid commented on #62
To understand what we stand to gain, I short-circuited Path.setShape like so:

[code]

And observed 20fps on the iPad2 (all tests in this comment are built versions and interference screen).  This is with canvas node wave on interference screen.

With Path.setShape turned on, it's about 10fps on iPad2.

With setShape on and CanvasNode blanked out, it is 10fps.

With setShape off and CanvasNode bla

[2018-05-30 19:34] arouinfar commented on #55
Looks like this is a duplicate of #56, so closing.

[2018-05-30 19:34] #55 closed

[2018-05-30 19:49] samreid commented on #66
Based on findings in #62, it seems the Canvas.putImageData is very fast and we will probably not need WebGL at all.

[2018-05-30 19:50] samreid commented on #65
@jonathanolson will we need to perform similar interpolation for the readings in the charts?

[2018-05-30 19:53] jonathanolson commented on #65
Presumably yes, so the jerkiness doesn't show up there also.

[2018-05-30 20:38] jonathanolson commented on #63
Do you set the localBounds correctly later? Can you guarantee that those localBounds contain all of the actual bounds being drawn?

[2018-05-30 20:43] arouinfar commented on #52
In Java, the speaker membrane appears to be a separate image that is translated back and forth. This looks a bit odd at the min/max because the edges are a bit misaligned and the gradient doesn't really match up. An advantage of sliding a single image back forth is that it is easy to map the amplitude slider.

![image](https://user-images.githubusercontent.com/8419308/40744460-cc6277cc-6411-11e8-8

[2018-05-30 21:28] arouinfar commented on #54
The graphic artist requested some reference images for what these plane wave sources could look like. After thinking about the plane waves a bit more, I'd like to talk about the sources with the team before spending more time on the artwork.

Ripple tanks use a wooden rod to create plane waves, which could get tricky to animate, because the rod would need to hit the top of the water.

![image](htt

[2018-05-30 23:34] samreid commented on #52
The implementation as a series of images will be fine.  The main consideration will be file size--if we have 21 images or so, we will want to keep the individual file size small so the sim doesn't get too large.

[2018-05-30 23:39] samreid commented on #54
I should also mention that on the "slits" screen, we may be able to get away without drawing the plane wave source.

* How plane waves can be generated is not one of the learning goals we identified for the sim.
* "Once you are far away from a point source, it becomes planar" is a learning goal better covered by the first screen.
* It seems pretty clear that plane waves are coming in from the left

[2018-05-31 16:31] arouinfar commented on #52
@samreid I think we can keep the file size pretty small. As a test, I exported two lasers stacked on one another (since the speaker will be a bit taller) at double the necessary resolution. The .png was only 12 KB, which seems reasonably small to me.

![wave interference 3-02](https://user-images.githubusercontent.com/8419308/40794654-0680d628-64bd-11e8-943f-af6ab966e062.png)

Let's proceed with t

[2018-05-31 16:58] arouinfar commented on #54
Thanks @samreid.

Generally, I agree. I've considered using the point sources, but I wonder if they'd do any harm. Water in particular is problematic because it shows a droplet falling into the viewing window, which is at odds with the plane wave. The other sources do not explicitly show anything interacting with the viewing window, so they could be okay.

I think students can discover this on the

[2018-05-31 20:17] samreid commented on #54
What about just an on/of button (not showing water drops/speaker/laser)?

[2018-06-01 21:05] veillette commented on #59
I look at modeling the wave interference as a superposition of wavelets, all of them equally spaced across a slit.  To prototype it, I used mathematica to easily calculate the intensity profile by summing over a finite number of point sources.
We know that if we have an infinite number of wavelet sources across the slits, this should reproduced faithfully the underlying physics. The question is th

[2018-06-01 21:37] veillette commented on #59
[code]
stepNumber is the number of sources per unit wavelength. In this case the single slit goes from y=-a=-2 to y=a=2. The wavelength is 1 and there are 400 sources.
![image](https://user-images.githubusercontent.com/7633344/40863734-eb526a08-65be-11e8-9c54-2300d6681dc9.png)

Although it looks superficially good ( Mathematica color scheme renders the high intensity white.) it becomes apparent th

[2018-06-01 23:19] kathy-phet commented on #59
Thanks for your evaluation, Martin!

[2018-06-05 16:46] samreid commented on #59
Martin, thanks for taking a careful look at this.  I just want to verify one thing before closing the issue--I can see the discrepancy between the N=400 analytical model and the true model, but I want to confirm that the discrete wave equation/lattice strategy is better.

[2018-06-07 19:50] arouinfar commented on #41
This is beyond the scope of this sim, and would better serve goals for constructive/destructive interference, which could be the focus of a different sim.

[2018-06-07 19:50] #41 closed

[2018-06-07 19:56] arouinfar commented on #36
The wave in the viewing window is critical for this sim, and there isn't a good pedagogical reason for hiding them. This is not a request to be considered for `wave-interference` but would be more appropriately considered for `quantum-wave-interference`.

[2018-06-07 19:56] #36 closed

[2018-06-11 16:49] samreid opened #67 "The canvas jitters when paused"
Now that we are using EventTimer, interpolation and canvas, the simulation jitters when paused:

![pulse](https://user-images.githubusercontent.com/679486/41245353-130a0c92-6d65-11e8-87c0-a103a60a8bf4.gif)

Not sure which part is causing it.  Any guesses @jonathanolson?

[2018-06-11 18:11] jonathanolson commented on #67
Not sure at all, let me know if collaboration would help. Presumably the model and interpolation ratio don't change at all, so the Canvas would be fed the same information and display the same thing.

[2018-06-11 18:23] samreid commented on #67
Thanks, I'll take an initial look and report back if I need assistance.

[2018-06-12 15:51] samreid opened #68 "Measuring units are off by a little bit"
Tape and indicator don't exactly match up, why?

![image](https://user-images.githubusercontent.com/679486/41301825-32559924-6e26-11e8-9909-a36d3254c7b6.png)

[2018-06-12 15:57] samreid commented on #25
Closing for now, we can reopen if we decide to investigate this again.

[2018-06-12 15:57] #25 closed

[2018-06-18 16:14] ariel-phet opened #69 "Prepare and deliver a stable demo version for STROBE before Sept 24"
@samreid @arouinfar the STROBE site visit is Sept 24-25. It would be good to have a stable "demo" for this visit. The sim certainly does not need to be fully functional, but we should probably make clear what is working and what is not to the STROBE team, and even consider hiding a screen if we feel it is too buggy or such. There is no major pressure from this issue, just tagging you both so you a

[2018-06-19 16:33] samreid opened #70 "Pausing doesn't pause the light ScreenNode"

[2018-06-19 16:46] samreid opened #71 "d sin(θ) = mλ"
I was measuring to check if d sin θ = mλ, and realized we don't have any instruments in the sim for measuring angle.  One of the learning goals from the design doc is:

Should we provide a protractor, or other angle-measuring device?  It could be as simple as a readout of m=... and θ=... near the maxima or minima.

[2018-06-19 17:54] arouinfar commented on #71
@samreid while clunky, students can use the tape measure to measure the sides of a right triangle, and then determine the angle from there. A protractor would certainly be more efficient.

I think m is straightforward enough without a readout. A theta readout would certainly be useful, but I wonder if it would give away too much information.

Let's discuss more at the next design meeting.

[2018-06-19 18:39] samreid opened #72 "Labels and vertical gridlines for light"
If I keep the same vertical gridlines as for water and sounds, the light scene has odd spacing for the labels:

![image](https://user-images.githubusercontent.com/679486/41617422-ab15716c-73bd-11e8-8d28-c0f7e071e767.png)

You can test the latest version here:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.13/phet/wave-interference_en_phet.html

Would you like to have the grid lines

[2018-06-19 20:19] arouinfar commented on #72
@samreid I've been mocking up the viewing window as 5000 nm x 5000 nm, so I'm not quite sure why it's at 3789 nm.

![image](https://user-images.githubusercontent.com/8419308/41622006-8a8de786-73cb-11e8-89b3-fad6d0398988.png)

[2018-06-19 20:37] samreid commented on #72
Thanks @arouinfar, it has been corrected in the aforementioned commit, closing.

[2018-06-19 20:37] #72 closed

[2018-06-20 02:41] samreid commented on #68
Fixed in the preceding commit, closing.

[2018-06-20 02:41] #68 closed

[2018-06-28 19:39] samreid opened #73 "Prepare a dev version for July 31"
We would like to prepare a report for google.org with a stable version.  Report is due July 31 so we would like to have a stable version in advance so it can be tested.

[2018-06-28 19:42] arouinfar commented on #56
@kathy-phet gave the okay to remove the Amplitude slider from the Interference and Slits screens.

[2018-06-28 22:52] arouinfar commented on #54
In the 6/28/18 design meeting we decided to go with a generic plane wave source. Each scene will have some sort of logo/icon to indicate that the source has changed.

SR sketched these options.
![image](https://user-images.githubusercontent.com/8419308/42064229-b12b658e-7af2-11e8-8ec2-1425a3163d34.png)

[2018-06-28 22:52] arouinfar commented on #54
Self-assigning to work with graphic artist on the generic source.

[2018-06-28 23:00] arouinfar commented on #71
In today's design meeting we decided against adding a protractor.

* The protractor can be a bit tricky because the origin may not be clear.
* The goal is not for students to discover the equation. Instead, we hope students may observe particular relationships (slit spacing/maxima spacing). The instructor can then layer on the equation, and students can design experiments to verify.
* Tape measure

[2018-06-28 23:00] #71 closed

[2018-06-28 23:05] arouinfar commented on #30
We decided against including a soft x-ray source to the light scenes. The goals for a soft x-ray source are more in line with the Diffraction screen.

When we refine the Diffraction screen, we could consider including an explicit soft x-ray source. The source should not produce a diffraction pattern for all apertures, whether or not the source is explicitly an x-ray source, or not.

[2018-06-28 23:05] #30 closed

[2018-06-29 17:19] samreid opened #74 "Check the accuracy of d sin(θ) = mλ and document how to easily check it in the future"
For the ideal case double slit interference, maxima occur at d sin(θ) = mλ, where:

d is the distance between the centers of the slits
theta is the angle from the line between the slits
m=0,1,2,3,...
lambda is the wavelength

[2018-06-29 20:50] samreid opened #75 "The barrier jumps when grabbed"
I'm using DragListener like so:

[code]

But when the barrier is grabbed, it jumps to the side.  @jonathanolson can you help?

[2018-06-29 20:53] samreid commented on #75
![movie](https://user-images.githubusercontent.com/679486/42114407-39585278-7bac-11e8-9f6f-c7ddd2de5216.gif)

[2018-06-29 20:56] samreid opened #76 "Add a handle beneath the draggable barrier"
We decided we would like to have a more visible grab handle beneath the draggable barrier. @arouinfar mocked up one like this in the design docs:

![image](https://user-images.githubusercontent.com/679486/42114539-9fe6e4a0-7bac-11e8-9dc0-0a43619eeb83.png)

[2018-06-29 20:59] arouinfar commented on #76
@samreid we discussed the drag handle in the June 7 meeting notes, and decided to go with a persistent arrow, similar to the one in used to adjust the plates in CLB.

![image](https://user-images.githubusercontent.com/8419308/42114634-f6021710-7bac-11e8-8270-6214f3c9648a.png)

[2018-06-29 21:05] samreid commented on #76
Looks good, thanks!

[2018-07-02 14:22] samreid commented on #75
In the preceding commit, I removed a workaround that was offsetting the barrier by a cell to try to compensate for the drag handler issue.  The problem is a bit more pronounced now--what would be best is to drag based on deltas, not absolute location, and that's what I could use help with.

[2018-07-02 21:12] samreid commented on #25
I confirmed the problem is resolved in a later version of gpu.js.  https://github.com/gpujs/gpu.js/issues/241#issuecomment-401929029

Perhaps we will use this for some simulation one day.

[2018-07-02 22:39] arouinfar commented on #39
Summary from June 28 design meeting:

* The particle view of sound best serves the learning goals of the Intro screen.
* It might be nice to show it on the Interference screen, but the Java behavior is problematic. The particles pooling along the maxima creates an illusion of regions of vacuum, which is inaccurate. @samreid suggested that the model could be refined to look at wave energy, instead.

[2018-07-02 23:01] jonathanolson commented on #75
Maybe this would be good to collaborate on? I'm not sure why applyOffset is false, and working together would be the most helpful to resolve this.

[2018-07-05 21:56] samreid opened #77 "Implement the model in the displayed units"
I have a NumberControl, which I have given a Property in meters.  However, I would like the readout to be in centimeters.  Can I do this?

Denzell Barnett [3:12 PM]
Would it be easier to convert before passing into NumberControl? I don’t see anything that would do that for you in NumberControl.js. (edited)

Sam Reid [3:13 PM]
Should I convert the model to be in cm instead of meters?  Or create an

[2018-07-06 16:39] samreid commented on #77
Denzell Barnett [10:07 AM]
No objections. Perhaps it could be documented, in the implementation notes, what units are being used in the model.

Chris Malley [10:12 AM]
Rather than document units in implementation-notes.md, specify the `units` option to all NumberProperty instances. E.g.:

this.appliedForce = new NumberProperty( …, { units: ‘newtons’ } );
FYI, unit.js already contains ‘centimeters’

[2018-07-08 17:11] samreid commented on #77
We will also need to move the composite `frequency` and `separation` properties into individual properties (one per scene).

[2018-07-11 09:46] samreid commented on #54
The artwork task is https://github.com/phetsims/tasks/issues/939

[2018-07-11 09:47] samreid commented on #52
The artwork task is https://github.com/phetsims/tasks/issues/939

[2018-07-14 03:44] samreid opened #78 "Move forward with ES6"
In https://github.com/phetsims/chipper/issues/551#issuecomment-404605931 Wave Interference was approved for ES6 development.  Chipper es6 branch merged to master today.  It may work well to do some of this conversion as a single step, so we can compare versions.  To make comparisons, I published a few snapshots:

dev.14 chipper before es6 branch
dev.15 chipper after es6 branch merged to master

An

[2018-07-14 04:10] samreid opened #79 "Should DoubleHeadedArrowWithBarsNode be moved to scenery-phet?"
While working on #78, I wondered if DoubleHeadedArrowWithBarsNode should be moved to common code.  It renders the double headed arrow with bars for the scale representation, such as:

![image](https://user-images.githubusercontent.com/679486/42720691-77cee754-86e9-11e8-8d6e-641a2deb41d1.png)

@ariel-phet or @arouinfar any suggestions whether this will be used in other sims, or should just be defin

[2018-07-14 15:40] samreid commented on #78
All 3 are listed by apache as 1.6M.  Launch times of dev.14 and dev.16 match qualitatively on Mac Chrome.

ipad 2 startup times for dev 14 (in seconds)
26, 24, 18, 18

ipad 2 startup times for dev 16 (in seconds)
24, `<a problem occurred with this webpage so it was reloaded>` 48, 15, 15, 15

[2018-07-14 15:59] samreid commented on #78
dev.17 published after using arrow functions instead of self
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.17/phet/wave-interference_en_phet.html

[2018-07-15 02:58] samreid commented on #78
After the above arrow functions, I published:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.18/phet/wave-interference_en_phet.html

[2018-07-15 03:02] samreid commented on #78
The comparison above seemed reasonable aside from the crash which may have been spurious.  I don't have other plans for comparisons or ES6 specific features at the moment, but I published other versions in case we need comparisons later.  Closing.

[2018-07-15 03:02] #78 closed

[2018-07-15 23:09] samreid commented on #52
I just used a snapshot of a single image for viewing in context.  This week's meeting notes say:

Using snapshot images from the AI file would allow us to get a high level of detail (including shadowing), but would either take around 13KB per file or have a more granular resolution.  I don't know how many images we would need to have it look smooth.  Perhaps 20?  If so, that would add 260KB to the

[2018-07-15 23:30] samreid commented on #73
It would be great to get planes waves working for this.

[2018-07-16 15:35] andrealin commented on #79
There is a similar type in graphing-lines (already published), called DimensionalArrowNode.js

[2018-07-16 17:14] arouinfar commented on #79
@samreid I've also used this same scale bar in [Coulomb's Law](https://bayes.colorado.edu/dev/html/coulombs-law/1.0.0-dev.17/phet/coulombs-law_en_phet.html).

[2018-07-16 17:15] arouinfar commented on #79
Ack, I accidentally hit enter. @samreid please disregard until I edit my previous comment and delete this one.

[2018-07-17 19:04] pixelzoom commented on #79
Why so many options? Isn't it advantageous to standardize on what dimensional arrows look like?  The type of tip (solid vs stroked) seems particularly gratuitous.

[2018-07-17 23:07] arouinfar commented on #52
@samreid I agree that we'd need some level of detail for the membrane to make it look realistic, which would likely be easier/more compact with artwork. The speaker asset is already split into the foreground+membrane+background. I'll ask the artist to create the full series of membrane images (21 in total: 10 pairs corresponding to each non-zero tick mark on the slider, and one for the zero point)

[2018-07-18 23:02] samreid commented on #79
For the record, the critical feature in Wave Interference was to be able to precisely control the distance between the centers of the bars at the end of the arrowheads.

[2018-07-19 17:15] samreid commented on #73
@ariel-phet and @arouinfar can you please review https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.18/phet/wave-interference_en_phet.html and let me know what is essential to change/fix before our July 31 deadline?  I have a vacation between now and then, so I won't have a lot of time.

[2018-07-20 13:19] samreid commented on #42
Currently the lattice area is 100cm and the default wavelength is A4 at 440Hz and 78.41cm, so it's 3/4 across the wave area, like this:

![image](https://user-images.githubusercontent.com/679486/43004301-92dceafc-8bec-11e8-88a8-cebdd41bf3e4.png)

It will be impossible to show any interference at this scale on the lattice.  We will either need to choose a larger width for the wave area, or a higher

[2018-07-20 13:19] samreid commented on #42
I'm working on this issue now because it pertains to #73

[2018-07-20 13:23] samreid opened #80 "Add audible sound to the simulation"
From https://github.com/phetsims/wave-interference/issues/42#issuecomment-406598296

The Java version has audible sound.  It seems like a good idea to add audible sound to this simulation, but we haven't discussed that much yet.

May 17, 2018

A reason to discuss this issue now is because it pertains to the units we choose for the sound scene.  @arouinfar any thoughts?

[2018-07-20 18:44] samreid commented on #80
Sam Reid [12:39 PM]
Good day sir!

I am working on getting the scale correct for Wave Interference and would like to know what is a good range of pitches for the sonification.
For instance, I think we were planning on A4=440Hz as a lower bound, but what do you think will sound good from a pitch perspective?
We are picturing just a sine wave

John Blanco [12:42 PM]
Decent, yes.  We don't have good

[2018-07-20 18:47] samreid commented on #80
Following https://pages.mtu.edu/~suits/notefreqs.html, here are the corresponding wavelengths in cm:

A3 | 220.00 | 156.82
A6 | 1760.00 | 19.60

[2018-07-20 18:58] samreid commented on #80
Maybe a good corresponding wave area would be 1000cm?  Or 500cm?

[2018-07-20 22:30] arouinfar commented on #80
@samreid after seeing the screenshot in https://github.com/phetsims/wave-interference/issues/42#issuecomment-406598296, I've realized that I've clearly made an error when deciding the scale bar would represent 10 cm.

I think a range of A3-A6 could have some scaling issues at the extremes. A range of A3-A5 (880 Hz, 39.2 cm) would allow for quadrupling f, but is easier to deal with scale-wise. I wo

[2018-07-20 22:42] arouinfar commented on #73
@samreid dev.18 seems pretty stable to me! I think we could probably share this version with google.org, but I think it would be good to also have @ariel-phet and/or @kathy-phet's sign-off.

I noticed that the wave vibrates when the sim is paused, which isn't ideal for sharing, but I realize that may take more time to address than we have.

The artwork is still a work-in-progress, but I think it's

[2018-07-23 17:03] arouinfar commented on #26
@samreid that should be it! Master appears to be broken, so I'll wait for the dev version to verify.

[2018-07-23 23:51] arouinfar commented on #26
@samreid please reassign me when you publish a new dev version.

[2018-07-24 03:03] samreid commented on #26
I tested phettest and saw this error:

![image](https://user-images.githubusercontent.com/679486/43114232-3a1b95b8-8ebb-11e8-8117-3df51c476ea6.png)

This revealed an unpushed change in sun.  I've pushed the change and phettest seems to be launching now, thanks for pointing out this problem @arouinfar.  I'll also publish a new dev version when I get to a good checkpoint.

[2018-07-24 06:08] arouinfar commented on #26
@samreid I should have pulled all! My bad. I'll check master tomorrow.

[2018-07-24 20:43] arouinfar commented on #26
Master looks great @samreid!

[2018-07-24 22:42] samreid commented on #26
Thanks, closing.

[2018-07-24 22:42] #26 closed

[2018-07-25 00:45] samreid commented on #77
The model is now using meters, seconds, milliseconds, femtoseconds, centimeters, nanometers, etc.  Closing.

[2018-07-25 00:45] #77 closed

[2018-07-25 02:11] samreid commented on #76
I added the node, can you please take a look on phettest?

[2018-07-25 02:12] samreid commented on #70
Fixed, closing.

[2018-07-25 02:12] #70 closed

[2018-07-25 02:13] samreid commented on #67
Fixed in e1bd5c51436cd7c9b6f9c59b29e4a738708f5a02, closing.

[2018-07-25 02:13] #67 closed

[2018-07-25 02:14] samreid opened #81 "Use EventTimer interpolation for the charts"
From #65, we need to use interpolation for the charts.

[2018-07-25 02:14] samreid commented on #65
Remaining work noted in #81, closing.

[2018-07-25 02:14] #65 closed

[2018-07-25 02:24] samreid commented on #56
Fixed, can you please take a look on phettest?

[2018-07-25 02:29] samreid commented on #59
We'll move forward with the lattice solution for now, closing.

[2018-07-25 02:29] #59 closed

[2018-07-25 02:30] samreid commented on #66
Closing, hopefully we will not need WebGL at all.

[2018-07-25 02:31] samreid commented on #60
The remaining issues are about minor performance improvements, we will continue in those issues.  Closing.

[2018-07-25 02:31] #60 closed

[2018-07-25 04:12] arouinfar commented on #56
Looks good @samreid!

[2018-07-25 04:12] #56 closed

[2018-07-25 04:27] arouinfar opened #82 "Reduce size of play/pause/next frame by 25%"
The barrier drag handle added in #76 is pretty tight with play/pause.
![image](https://user-images.githubusercontent.com/8419308/43179494-832a72e4-8f90-11e8-9766-ced9508ff235.png)

The playback controls are actually quite large. Compare to, Pendulum Lab, for example:
![image](https://user-images.githubusercontent.com/8419308/43179509-92650e72-8f90-11e8-8cf7-0febe4929c5d.png)

@samreid can you redu

[2018-07-25 12:57] samreid commented on #82
@arouinfar, I reduced the size to 0.75, can you please review on phettest?

[2018-07-25 13:05] samreid opened #83 "The draggable barrier is oddly quantized on some scenes"
Maybe related to https://github.com/phetsims/wave-interference/issues/75, the draggable barrier jumps in large increments for water, I'm not sure why.

[2018-07-25 13:18] samreid commented on #43
@arouinfar I refined the units and ranges for the water scene, can you please review on phettest and let me know if you have any recommendations?

[2018-07-25 14:10] samreid commented on #53
@arouinfar can you check this on phettest?

[2018-07-25 15:19] samreid commented on #73
@arouinfar I published a new dev version here with numerous recent improvements:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.21/phet/wave-interference_en_phet.html

Can you please check it out and see if it is reasonable for our reports?

[2018-07-25 18:44] arouinfar commented on #82
Looks great, thanks!

[2018-07-25 18:44] #82 closed

[2018-07-25 19:45] arouinfar opened #84 "Pulse button releases multiple pulses at a time"
Observed in dev.21, but was behaving normally in dev.18. Would be good to fix before delivering to google.org #73.

When pressing the button on the wave source, it stays depressed and releases ~6 pulses before turning itself off. Seems like the timing on the momentary button is off. @samreid can you investigate?

[2018-07-25 20:37] arouinfar commented on #53
@samreid time scale is looking good, but the distance units should be abbreviated.

[2018-07-25 23:07] arouinfar opened #85 "Increase width of TimerNode so it can handle an additional digit"
TimerNode cannot handle times larger than 99.99, which seems a bit too small. @samreid can you increase the width so it can support another digit? This is not critical for the google.org report.
![image](https://user-images.githubusercontent.com/8419308/43231822-38d3a990-902b-11e8-840f-069ce86add62.png)

[2018-07-25 23:08] arouinfar opened #86 "Wave Detector reads outside of viewing window"
The probes are reading way beyond the visible boundaries of the wave.

![image](https://user-images.githubusercontent.com/8419308/43231674-946c8eda-902a-11e8-9bf3-e88b3e4f9cec.png)

[2018-07-25 23:16] arouinfar commented on #43
@samreid units are looking good. The minimum frequency isn't ideal for interference, but I think that's okay, so long as the default is large enough for interference to be observed (which it is).

[2018-07-25 23:16] #43 closed

[2018-07-25 23:19] arouinfar commented on #86
@samreid this would be nice to address for #73, if time allows.

[2018-07-25 23:21] arouinfar commented on #73
@samreid dev.21 is looking nice! The issues above would be nice to address (though not critical) before the delivering to google.org, if time allows.

[2018-07-29 01:40] samreid opened #87 "Should the initial source separation and initial slit separation match?"
Currently, the `initialSourceSeparation` and `initialSlitSeparation` can be specified independently.  Should we rename this to be `initialSeparation` and use it for both, or should the initial values differ?  I currently have:

[code]

But the mismatch for water was somewhat arbitrary.

[2018-07-29 01:44] samreid opened #88 "Matching ms and fs to wall time"
Currently, the simulation supports an arbitrary mapping of real time to ms (sound) or fs (light), but the scale values are both set to 1, which means for sound, 1 second in real time will show as 1 ms on the timer.  Likewise, for light, 1 second in real time will read as 1 fs on the timer.  Does that sound good, or should we have a different scale factor?

If we can assume the scale factor is alwa

[2018-07-30 14:21] samreid commented on #84
Good catch @arouinfar, this bug was introduced during #77 and should be fixed after the pushed commits above.  Can you please review on phettest?

[2018-07-30 16:47] arouinfar commented on #86
Thanks @samreid. I think a reasonable constraint would be to require the center-point of the probe to overlap with the viewing window.

The top and left boundaries are looking good (probe reads until the halfway point), but the bottom and right boundaries are a bit off (probe doesn't require much overlap to read).
![image](https://user-images.githubusercontent.com/8419308/43410663-e477c936-93e4-11

[2018-07-30 16:49] arouinfar commented on #84
Looks good!

[2018-07-30 16:49] #84 closed

[2018-07-30 17:43] samreid commented on #86
Thanks, there was an extra cell included in the bottom and right edge, I removed it in the preceding commit, can you please review?

[2018-07-30 22:40] samreid commented on #73
I published with https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.22/phet/wave-interference_en_phet.html which includes the fix for #84 and the proposed (unreviewed fix) for #86.  @arouinfar can you please test it out?

[2018-07-30 22:41] samreid commented on #86
I published a dev version with the proposed fix: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.22/phet/wave-interference_en_phet.html

@arouinfar can you please test it out?

[2018-07-30 23:31] arouinfar commented on #86
👍

[2018-07-30 23:31] #86 closed

[2018-07-30 23:36] arouinfar commented on #73
@samreid looks good to me!

[2018-07-30 23:37] samreid commented on #73
Thanks, I'll send it along to @kathy-phet and close this issue.

[2018-07-30 23:37] #73 closed

[2018-07-31 19:47] samreid commented on #47
The main part of this is implemented.  I'm still seeing a flicker at the front of the wave though, and will need to make sure I've tested all of the corner cases.

[2018-08-01 18:48] arouinfar commented on #87
@samreid I don't see the harm in leaving both `initialSourceSeparation` and `initialSlitSeparation` in the model, as it would provide more flexibility for PhET-iO clients. It would also allow us to fine-tune the defaults later on if something crops up in the interviews.

Agreed that water's mismatch seems arbitrary, so I think we can change water's `initialSlitSeparation` to 3 cm.

[2018-08-02 21:05] samreid opened #89 "It is difficult to see 0-value nodes"
Even searching a rather large window, it is difficult to find a spot that has a true zero.  For instance:

![image](https://user-images.githubusercontent.com/679486/43610870-a807e42c-9664-11e8-9fe4-409b7c63333b.png)

This may be due to the granular nature of the lattice.

@kathy-phet suggested adding a `?dev` overlay that shows the true values for d sin (theta) = m lambda.  I was concerned about t

[2018-08-02 21:07] samreid opened #90 "Choppy or irregular behavior in the lattice and wave detector plot"
@kathy-phet reported choppy/irregular behavior in the lattice and wave detector.  She reported that the problem is difficult to reproduce, but may be correlated to whether the computer is doing other CPU intensive tasks.  @arouinfar or @ariel-phet have you seen anything like this?  Should we run it past QA to see if they can replicate something like that?

[2018-08-03 16:33] ariel-phet commented on #89
@samreid I actually do not think this is an issue. If you look at the following case, it is quite close to zero, I think you really need to look in the farfield.

![zero](https://user-images.githubusercontent.com/4051174/43654490-9e6d1a46-9708-11e8-81db-f8026b7902c0.PNG)

[2018-08-03 16:34] ariel-phet commented on #89
In addition, moving the spherical staring point further to the left (closer to the source) I think will help

[2018-08-03 20:55] samreid commented on #8
We discussed iPad2 support yesterday, it seems our website is <1% iOS9 and our iOS app is <10% iOS9 (if I heard that correctly).

[2018-08-03 20:57] samreid commented on #52
@arouinfar what's the status of this issue?

[2018-08-03 21:00] samreid commented on #69
I noticed in the comments above that the reports are due August 15.  Do you want to include the version we prepared for https://github.com/phetsims/wave-interference/issues/73 ?

[2018-08-05 16:27] kathy-phet commented on #15
All, I’m personally inclined to leave it like the Java version because pedagogically the immediate feedback and connection between setting the slider values and seeing a change in behavior in the wave is so valuable. A delay in response would make that a bit harder for students. I haven’t been bothered by those visuals in Java. The ease of implementation is also a bonus.

Sent from my iPhone

On A

[2018-08-06 16:07] samreid commented on #15
I'm investigation behavior like the Java solution, but it also occurred to me there is a 3rd option:

(3) When changing the frequency of the emitter, immediately create new water drops in the air corresponding to the appropriate splash times.  It may be odd for drops to appear in the air (not out of the hose), but then they would hit the lattice at the right times (instead of a delay).  I don't kn

[2018-08-06 16:15] samreid commented on #15
For (3), a main advantage seems to be clearing out the old drops that don't match the newly set frequency.

[2018-08-06 16:15] samreid commented on #15
I'll commit what I have for now and postpone further work until we have discussed (3).

[2018-08-06 19:07] samreid commented on #20
Fixed after preceding commits, @arouinfar can you please take a look on phettest?

[2018-08-06 19:55] arouinfar commented on #20
Looks good, thanks @samreid!

[2018-08-06 19:55] #20 closed

[2018-08-06 19:57] arouinfar commented on #90
@samreid this is not something I've encountered on my machine (Mid 2014 MacBook Pro running macOS 10.13.6). @ariel-phet have you run into any choppy behavior?

[2018-08-06 19:58] arouinfar commented on #52
@samreid the graphic artist is wrapping up some higher-priority artwork for EFAC. Wave Interference is next up in her queue.

[2018-08-06 22:54] arouinfar commented on #89
@samreid @kathy-phet, I tend to agree with @ariel-phet on this one. The behavior seems reasonable along the nodes, so long as there is a bit of distance from the sources.

![image](https://user-images.githubusercontent.com/8419308/43744780-f1b1b012-9998-11e8-8229-e7da811f3c9d.png)

@samreid I'm a bit hesitant when it comes to tinkering with the model, because the sim isn't technically wrong.

Agre

[2018-08-06 23:02] kathy-phet commented on #89
OK. I do find it pretty hard to get the node to be that flat. (I'll show you next time we are together, maybe its harder on my machine for some reason, or maybe I am just bad at it).

[2018-08-07 01:53] ariel-phet commented on #69
@samreid, I already included that version in the report, so thanks for getting that stable.

[2018-08-07 02:45] samreid commented on #69
Anything else to do for this issue before it can be closed?

[2018-08-07 04:46] samreid commented on #23
This problem can be replicated by using the device toolbar in chrome dev tools.

If you comment out this line in WaveInterferenceTimerNode.js, the problem goes away:

[code]

But then, the Node doesn't drag any longer after you move it from the toolbox to the play area and release it.  @jonathanolson can you please review and advise?

[2018-08-07 04:58] samreid commented on #24
The wave sensor in Wave Interference currently looks like this:

![image](https://user-images.githubusercontent.com/679486/43755036-2f357f36-99cb-11e8-868a-dcf35d45c4d8.png)

The dots remain at the right like pens on a seismograph, and the paper scrolls to the left underneath it. This sim has a custom time scale indicator, which we may want to reuse in other sims.

I'd love some discussion/guidanc

[2018-08-07 05:05] samreid commented on #27
I committed 80c4973a4b80e66b6eb666e600cca9e36c650ce0 and 51afbcfa65eb2caf119b0a4431b10aea1ed46650 which use the mapping as described in https://github.com/phetsims/wave-interference/issues/27#issuecomment-377383722 with a minor adjustment.  @arouinfar do we need to refine this further?

[2018-08-07 05:07] samreid commented on #27
Also note this issue overlaps with https://github.com/phetsims/wave-interference/issues/89, if we color map the minima to be even broader, it could be more difficult to pinpoint the node with the wave detector tool.

[2018-08-07 05:08] samreid commented on #37
I'm putting this on hold until we have a decision about https://github.com/phetsims/wave-interference/issues/15#issuecomment-410761082

[2018-08-07 05:11] samreid commented on #38
This has been addressed by using a new plane wave model.  There are still other artifacts from the boundary reflections.  At one meeting we discussed the possibility of increasing damping everywhere in the lattice to mitigate the problem, but decided against it.  We also argued that some reflections seemed reasonable, if we are mimicking a wave pool.

@arouinfar does that sound accurate to you?  A

[2018-08-07 05:16] samreid commented on #42
I updated the lattice width to be 200cm across, with a frequency range of:

minimumFrequency: 220 / 1000, // A3 in cycles per ms, wavelength is 156.82cm
maximumFrequency: 1760 / 1000, // A6 in cycles per ms, wavelength is 19.60cm

@arouinfar can you please review on phettest?  Do these ranges seem reasonable?

[2018-08-07 05:19] samreid opened #91 "For water, the barrier location is surprisingly discretized"
From https://github.com/phetsims/wave-interference/issues/47 I noticed that the barrier can only take certain values of x, not sure why. Probably something to do with the drag listener.

[2018-08-07 05:20] samreid opened #92 "Water drops shouldn't be shown for plane waves."

[2018-08-07 05:22] samreid opened #93 "The hose image should be shown where the water drops originate"
The hose image should be offset vertically compared to the other sources.  Kind of waiting on a decision on https://github.com/phetsims/wave-interference/issues/15#issuecomment-410761082 since it would impact the positioning.

[2018-08-07 05:38] samreid commented on #53
I abbreviated the distance units, @arouinfar can you please review on phettest?

[2018-08-07 05:45] samreid commented on #58
Pushed a proposed fix, @arouinfar can you please review?

[2018-08-07 16:40] arouinfar commented on #58
@samreid the clipping looks correct to me, but I think the bigger issue is that the wave itself should be better scaled vertically. At max amplitude. the peak of the wave should reach the top of the chart, like so:

![image](https://user-images.githubusercontent.com/8419308/43789782-1b474488-9a2e-11e8-90c6-11cc14a25b55.png)

[2018-08-07 16:51] arouinfar commented on #42
@samreid in https://github.com/phetsims/wave-interference/issues/80#issuecomment-406742639 I had recommended:

The current implementation/scaling has an A3 that is rather large, and I wonder if it's too big to be productive.

![image](https://user-images.githubusercontent.com/8419308/43790272-55182dde-9a2f-11e8-9ab8-bb484e148eb5.png)

![image](https://user-images.githubusercontent.com/8419308/4379

[2018-08-07 18:26] arouinfar commented on #93
@samreid just as a heads up, the team decided to iterate on the water source with the graphic artist. It will have similar dimensions to the hose, but it won't be the hose itself.

[2018-08-08 00:43] ariel-phet commented on #69
I think we can close.

[2018-08-08 00:43] #69 closed

[2018-08-09 16:17] jonathanolson commented on #24
Without going into detail, I don't know exactly what should be in common code. Generally I'd imagine we'd have griddle common components that support scrolling graphs. We might also have a general "thing with probes" component, which can have different shapes/content.

[2018-08-09 18:35] samreid commented on #24
@pixelzoom suggested a module for the body + probes + wires.  Content would be separate.

[2018-08-09 18:41] arouinfar commented on #24
I know I commented on this issue a few days ago, just after @samreid's https://github.com/phetsims/wave-interference/issues/24#issuecomment-410933472. However, it looks like it didn't go through...

@samreid here's the quick summary I what I had commented:
* For Wave Detector-like tool, the dots at the end of the curve seem pretty integral to the purpose of the tool.
* Time Scale seems like a feat

[2018-08-09 19:51] samreid opened #94 "What should the timer display when its value exceeds its max?"
For instance, the timer display is sized to display a max value of 999.99 seconds and looks like so:

![image](https://user-images.githubusercontent.com/679486/43922181-37b5a066-9bdb-11e8-9d44-dcb8fa627c8d.png)

After it goes 0.01 seconds further, should it:

a) shrink the display?
b) reset back to 0.0?
c) stop reading at 999.99 s
d) something else?

[2018-08-09 19:57] samreid commented on #45
Marking for design meeting to discuss layout considerations, regarding https://github.com/phetsims/scenery-phet/issues/372#issuecomment-386185029 and following comments.

[2018-08-09 20:02] samreid commented on #85
I added an option that allows you to specify `maxValue`, so it currently looks like this at its max value:

![image](https://user-images.githubusercontent.com/679486/43922745-d8475136-9bdc-11e8-9a42-64b4b5caedac.png)

We'll be discussing other TimerNode layout issues in https://github.com/phetsims/wave-interference/issues/94 and https://github.com/phetsims/wave-interference/issues/45, closing this

[2018-08-09 20:02] #85 closed

[2018-08-09 20:04] samreid commented on #87
PhET-iO can no longer change startup values of objects before they are created, unless we design specific query parameters for them.  I'm inclined to unify these "initial" values.  If a PhET-iO client needs to change the values after startup, they would be able to do so.  Marking for discussion.

[2018-08-09 20:27] samreid commented on #24
Would it be distracting for the connection point to adjust depending on the position of the probe?  That seems like a good general solution that could allow us to get away from having to specify defaults for every case, then have situations where the defaults don't work so well.

[2018-08-09 20:53] samreid commented on #15
We agreed we will automatically update the drops in the air, according to https://github.com/phetsims/wave-interference/issues/15#issuecomment-410761082

[2018-08-09 20:58] samreid commented on #42
We agreed the current ranges look OK.  We will have an opportunity to revisit during sonification, in #80, closing.

[2018-08-09 20:58] #42 closed

[2018-08-09 20:59] samreid commented on #45
From design meeting, we decided to right-align the text.

[2018-08-09 21:01] samreid opened #95 "Toolbox timer should have "0.00 {{units}}" and units can change when scene changes"

[2018-08-09 21:03] samreid commented on #45
We'll see what this looks like for the shorter strings like "s"

[2018-08-09 21:06] samreid commented on #79
@arouinfar says "scale indicator" arrows should usually be filled--they are small arrows and look better as filled instead of open arrows.

@kathy-phet points out that in some places, the arrows will need to be lined (open).

Dashed vs solid line between arrowheads is an important feature to keep.

[2018-08-09 21:13] samreid commented on #80
We selected the units for the sound scene in #42.

@ariel-phet and @arouinfar pointed out that we should only have sound in screen 1 (no interference) or should have a movable microphone.

@ariel-phet said OK to leave audio out of the sim for version 1, we can visit it in the future for sonification, a11y, etc.

If we use microphone, we could use a "sinusoidal regression" to determine the amplitud

[2018-08-09 21:18] samreid commented on #87
From discussion, we'll unify them.

[2018-08-09 21:29] samreid commented on #89
@ariel-phet recommendation is to defer for 1.0, @kathy-phet said that sounds reasonable.

@samreid said it would only take 1-2 hours to try a spatial sampling/averaging window, which might "wash out" these effects and show a better zero.

Perhaps we'll revisit when we are closer to publication?

[2018-08-09 21:31] samreid commented on #94
@ariel-phet suggested to stop reading at 999.99s (or whatever max).  Sounds great to the rest of the team.

[2018-08-09 21:34] samreid opened #96 "Move the source on the lattice to the left"
From https://github.com/phetsims/wave-interference/issues/89 we would like the lattice source to be further to the left.

[2018-08-09 21:35] samreid opened #97 "Femtoseconds seem like they are not running at 1.0 rate"
It seemed much faster, even though it had a "1.0" scale factor.  Related to #88

[2018-08-09 21:36] samreid opened #98 "Publish 1.0 by midnight January 31, 2019"
on hold until ready for publication

[2018-08-09 21:38] samreid opened #99 "Finalize the design for the diffraction screen"
See also #7 and #9, @arouinfar can you please review the status of the diffraction screen and work on completing the design, or identifying what remains to be done?

[2018-08-09 22:50] arouinfar commented on #89
I should probably say something about this in the Teacher Tips, so adding `design:teaching-resources`. I'll untag once it comes time for a general Teacher Tips issue.

[2018-08-09 23:01] arouinfar commented on #24
I like that idea! If other devs are on board with such behavior, I'd be in favor.

[2018-08-10 20:31] jonathanolson commented on #23
Hmm, it isn't well documented that it's needed, but wave-on-a-string uses the dragTarget instead, so things work when you replace the mentioned code with:

[code]

Thoughts?

[2018-08-11 19:52] pixelzoom commented on #24
OK, but optionally.

[2018-08-13 12:28] samreid commented on #23
After the above commit, I'm using dragTarget.addInputListener and it's working fine.  At a minimum, I'd like to understand why this pattern is used here to help understand where else it may be effective/necessary.  I'll create a scenery-phet issue for that discussion.  Closing.

[2018-08-13 12:28] #23 closed

[2018-08-13 17:50] arouinfar commented on #15
@samreid it's looking really nice! I don't see a problem with the initial phase. I think the remaining work all depends on the finalized artwork, so I'll leave it up to you to close now or mark as on-hold until you have updated assets.

[2018-08-13 20:07] arouinfar commented on #38
That all sounds good to me @samreid. I think the HTML5 model has adequately addressed this issue.

[2018-08-13 20:07] #38 closed

[2018-08-13 20:17] arouinfar commented on #27
@samreid I think the color mapping looks great, so I think we can go ahead and close.

[2018-08-13 20:17] #27 closed

[2018-08-13 21:01] samreid commented on #15
I'll close this one and work on updated assets in #51

[2018-08-13 21:01] #15 closed

[2018-08-13 21:02] samreid commented on #15
Sorry, #51 doesn't seem quite right.  I'll create a new issue.

[2018-08-13 21:03] samreid opened #100 "New water emitter artwork"
@arouinfar reported that the artist is created improved artwork for the water emitter. See #15.

[2018-08-14 03:15] samreid opened #101 "z-order for water drops is odd"
I noticed
![image](https://user-images.githubusercontent.com/679486/44069836-ff5a4936-9f3d-11e8-8081-e05d8571135b.png)

I'm guessing the probe should be in front of the water drops.

[2018-08-14 21:16] samreid commented on #24
@arouinfar and I reviewed a prototype where the connection point circumnavigated the perimeter, and it was really odd and distracting.  We also tried having it flip sides, and that was also distracting.  Here's a movie of the latter:

![out](https://user-images.githubusercontent.com/679486/44118965-f4398d0e-9fd4-11e8-89b3-e4e8b3ae2db2.gif)

We decided to hardcode the connection point to be the bot

[2018-08-14 21:17] samreid commented on #24
Here's code for the flipping prototype, in case we change our minds.
[code]

[2018-08-15 03:40] samreid commented on #24
I generalized the following common code components:

1. WireNode (currently in scenery-phet): View that typically connects a sensor (like a ProbeNode) to its body (where the readout value or chart appears).
2. MeterNode (still in Wave Interference): Depicts a draggable meter node with an arbitrary number of probes which can optionally travel with the meter. This type is also set up for usage in a

[2018-08-15 03:44] pixelzoom commented on #24
Maybe I missed it, but I didn't see anything related to this added to scenery-phet's demo application. (I looked in the "Components" screen.) If it's not there, recommended to add it before doing a review.

[2018-08-15 03:47] samreid commented on #24
Good idea.  As mentioned in https://github.com/phetsims/wave-interference/issues/24#issuecomment-413085022 MeterNode and ScrollingChartNode are still in wave-interference.  I could use help picking a repo for ScrollingChartNode--not sure if it should go in scenery-phet where it seems MeterNode should go (so they can stick together) or griddle which currently has a few other chart-related things.

[2018-08-15 03:50] pixelzoom commented on #24
I'm also not sure about ScrollingChartNode. Rather than use ScrollingChartNode in the scenery-phet demo, how about something simpler, like displaying the (x,y) coordinates of a pair of probes?

[2018-08-21 18:28] samreid commented on #24
I added a MeterNode example to http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=MeterNode

This shows a draggable MeterNode with one draggable ProbeNode attached via a WireNode.  On the first drag of the meter body, the ProbeNode travels with the MeterNode body (as it would when dragging out of a toolbox).  On subsequent drags, the ProbeNode travels independentl

[2018-08-21 19:34] samreid commented on #79
We may discuss on Thursday the possibility of ES6 code in common repos, see https://github.com/phetsims/wave-interference/issues/24#issuecomment-414791935

[2018-08-21 19:37] samreid commented on #37
In #15 we decided we wanted the wave to start immediately when the button is pressed.  If we use that same idea for pulse mode, then no water drop would be shown because the wave would already start when the button is pressed.  Or worse (which is the current behavior on phettest), the pulse shows drops falling that disappear before they hit the water.  @arouinfar can you please review and advise?

[2018-08-21 20:28] pixelzoom commented on #24
@samreid said:

After a quick peek at MeterNode, it's not obvious to me what part of the implementation supports dragging in/out of toolbox.  I'm also wondering whether the pattern for dragging things in/out of toolboxes (creator pattern?) is sufficiently standardized to be able to provide common-code support for it.  And if it is, whether that support should really be in things like MeterNode.

[2018-08-21 20:35] pixelzoom commented on #79
Are we discussing because there's an ES6 implementation of this that needs to be moved to common code? I didn't think we even had the requirements nailed down yet.

[2018-08-21 20:36] samreid commented on #24
Here are the 3 sites that mention "toolbox":

[code]

[code]

We already have a precedent for using `startDrag` in scenery-phet, see for example `MeasuringTapeNode.startBaseDrag` and its usages.

MeterNode doesn't need to know anything about the creator pattern, it only provides:
(a) a callback for when its drag is ended (which can be used to drop it into a toolbox),
(b) knowledge of its own bound

[2018-08-21 20:39] samreid commented on #79
We are still working on the requirements, but since ScrollingChartNode uses DoubleHeadedArrowNode this conversation pertains: https://github.com/phetsims/wave-interference/issues/24#issuecomment-414791935

[2018-08-21 20:40] pixelzoom commented on #24
Why should that functionality be in MeterNode? Shouldn't it be in a base class (or mixin) that can be used for other Node subclasses that need toolbox support?

[2018-08-21 21:51] samreid commented on #24
I consider it to be akin to implementing an interface.  For instance, if we had an interface like `interface ToolboxItem`, it might have methods like `endDrag`, `getGlobalBounds` and `startDrag`, but the class that implements that interface would have to provide the implementations of those methods.

[2018-08-22 15:04] samreid commented on #39
I noticed in the Java simulation, if you turn off the wave and wait 20 seconds or so, the sound particles settle into a grid:

![image](https://user-images.githubusercontent.com/679486/44471962-54e4a100-a5ea-11e8-95af-c19169074a1a.png)

This seems undesirable.  First, we should randomly position the particles and second, we should have random motion even when there is no wave (since we are not at

[2018-08-23 04:50] samreid commented on #39
I have a rough draft of sound particles working.  It uses two checkboxes which are grayed out for water and light, and only respected for sound.  I placed them above the "Screen" checkbox because that is light-specific.  I wasn't sure whether they should go above or below "Graph".  Some known issues:

- [ ] sound particles wave crests aren't clear at higher frequencies.  You can see this by turnin

[2018-08-23 04:53] samreid commented on #39
This problem is equivalent or worse in the Java version.  Some options for addressing it in HTML5:

a) The particle physics model has about 8 free parameters that I tinkered with to get it where it is now.  It's possible that with more tinkering, we could get the particles to be more responsive to higher frequencies.
b) We could reduce the range of frequencies

[2018-08-24 15:07] samreid commented on #45
On hold pending review in https://github.com/phetsims/scenery-phet/issues/372#issuecomment-386185029

[2018-08-24 15:13] samreid commented on #58
I'm not sure that would be best, because the current behavior is like so:

![image](https://user-images.githubusercontent.com/679486/44592417-c0ab4300-a77d-11e8-88ab-1e5b461aed12.png)

If we cut the scaling back to say 60% or so, then the waves on the right side of the screen will be much smaller.  I'm not saying that the current scaling is perfect, but I think if we shrink it so much that the wav

[2018-08-24 15:48] samreid commented on #62
Running a built version on iPad2 with default settings and wave on is currently at 2 frames per second.  That is about 650ms/frame.  That in unexpectedly high and should be improved.

[2018-08-24 15:54] samreid commented on #62
The problem is caused by the sound particle nodes updating.  If I skip that for water, then the frame rate goes up to 10fps.  Should we rewrite that part in Canvas?

[2018-08-24 16:35] samreid commented on #62
I think I should bring an iPad2 to the next design meeting so we can discuss how much more time to spend on it.  On hold until then.

[2018-08-24 16:35] samreid commented on #64
This sounds like an unnecessary complexity, closing for now, but we could choose to reopen for #62, may buy us a frame per second or so?

[2018-08-24 16:35] #64 closed

[2018-08-24 22:00] samreid commented on #74
I pushed a version of the simulation that shows d sin(θ) = mλ  and d sin(θ) = (m+1/2)λ.  Here are some results:

![image](https://user-images.githubusercontent.com/679486/44609731-359a6f00-a7b6-11e8-91bc-9d05a5cf0a14.png)

![image](https://user-images.githubusercontent.com/679486/44609755-54006a80-a7b6-11e8-8d74-8cd5dbb56fa4.png)

![image](https://user-images.githubusercontent.com/679486/44609773-

[2018-08-24 22:13] samreid commented on #95
This was fixed recently, but created a new problem that the timer still runs in the toolbox.  I'll close this and create a new issue for that.

[2018-08-24 22:13] #95 closed

[2018-08-24 22:14] samreid opened #102 "Timer should set to 0 and not run in the toolbox"
From https://github.com/phetsims/wave-interference/issues/95

Perhaps just create the toolbox one with `new Property(0)`

[2018-08-24 22:27] samreid commented on #102
Fixed, closing.

[2018-08-24 22:27] #102 closed

[2018-08-25 22:02] samreid commented on #83
Fixed, closing.

[2018-08-25 22:02] #83 closed

[2018-08-25 22:13] samreid commented on #75
On hold until I schedule a meeting to collaborate with @jonathanolson.

[2018-08-25 22:28] samreid commented on #88
From the lattice physics and speed of light constraint, we will need to have femtoseconds running a bit faster than 1fs/s.

[2018-08-25 22:29] samreid commented on #88
Removed unused var, closing.

[2018-08-25 22:29] #88 closed

[2018-08-25 22:32] samreid commented on #89
In https://github.com/phetsims/wave-interference/issues/74#issuecomment-415893775 I created a `?dev` overlay that shows the theoretical minima/maxima.  Putting on hold until https://github.com/phetsims/wave-interference/issues/96 is addressed, then we can re-evaluate.

[2018-08-25 22:33] samreid commented on #91
Fixed in https://github.com/phetsims/wave-interference/issues/83, closing.

[2018-08-25 22:33] #91 closed

[2018-08-25 22:37] samreid commented on #92
Fixed, closing.

[2018-08-25 22:37] #92 closed

[2018-08-25 22:42] samreid commented on #94
@jonathanolson can you please also review this commit together with https://github.com/phetsims/scenery-phet/issues/372 ?

[2018-08-25 22:50] samreid commented on #96
The previous value was 10 cells from the edge, I moved it to 4 cells from the edge.  This is close to the edge but far enough away that you can see the wave is circular.

@arouinfar can you please review on phettest?

[2018-08-25 22:51] samreid commented on #97
As noted in #88 I determined that based on the constraint of the lattice computation and the constraint of the speed of light, femtoseconds must run at an accelerated rate (faster than 1fs/1s), closing.

[2018-08-25 22:51] #97 closed

[2018-08-25 22:59] samreid opened #103 "The wave probe shouldn't read lattice values in water side view."
The wave probe shouldn't read lattice values in water side view.

![image](https://user-images.githubusercontent.com/679486/44623334-1704a880-a888-11e8-8d48-eb45b4da31ec.png)

@arouinfar how do you want to address this?

[2018-08-25 23:09] samreid commented on #101
Fixed, closing.

[2018-08-25 23:09] #101 closed

[2018-08-25 23:11] samreid commented on #24
On hold pending review in https://github.com/phetsims/scenery-phet/issues/395

[2018-08-25 23:13] samreid commented on #93
I updated the location of the hose image to match the water drops in #96.  I'll create a new issue for the preceding comment.

[2018-08-25 23:13] #93 closed

[2018-08-25 23:13] samreid opened #104 "New water source artwork"
From #93

Assigned to @arouinfar to check on the status of the artwork.

[2018-08-26 14:01] samreid commented on #79
It seems the important part is being able to set one or more bars at the right centered locations, then being able to position arrows based on the locations of the bars.

Also, in Masses and Springs, this bar is not centered on its reference line:

![image](https://user-images.githubusercontent.com/679486/44628928-30e4d080-a906-11e8-8a59-2e950839820d.png)

[2018-08-26 15:13] samreid commented on #79
A type definition like https://github.com/phetsims/wave-interference/blob/f116b8b2d3f1aa7731d3866fe5d796916734e9bc/js/common/view/DoubleHeadedArrowWithBarsNode.js is inflexible.  It is hard-coded to use Line and ArrowNode, and has a clumsy way to pass options through to those type.  A dependency-injection approach would be much more flexible (where the nodes are passed in instead of created by Dou

[2018-08-27 16:43] samreid commented on #100
Let's continue in duplicate #104, closing.

[2018-08-27 16:43] #100 closed

[2018-08-27 16:53] samreid opened #105 "Water drops in side view look nonphysical"
In Java, in the side view, water drops disappear suddenly (not clipped) when they reach the surface of the water.  The phase is also set up so that the water is level when the drop hits.

In HTML in the side view, water is clipped when it reaches the amplitude=0 line, which no longer synchronizes with the water being level (we chose this phase based on the release of drops).  This looks nonphysica

[2018-08-27 16:54] samreid commented on #105
One possibility that may be easy to implement would be to eliminate clipping for the water drops and show them behind the water side view, that way we wouldn't be required to change the phase.  @arouinfar should I give that a try?

[2018-08-27 17:49] samreid opened #106 "What color should the sound particle view background be?"
I chose #4c4c4c which looks like:

![image](https://user-images.githubusercontent.com/679486/44675973-30743480-a9ef-11e8-96d5-ddcedc498b4c.png)

@arouinfar do you think we should change that background color?  If so, can you recommend a color value?

[2018-08-27 19:35] ariel-phet commented on #90
All looking pretty good for now. Closing.

[2018-08-27 19:35] #90 closed

[2018-08-27 19:37] arouinfar commented on #106
@samreid I like the background color, but I would change the gray particles to white (or a lighter gray such as `rgb(240, 240, 240)` if white is too stark) to improve the contrast.

[2018-08-27 19:43] arouinfar commented on #105
Great idea @samreid! That solution sounds like it should work nicely.

[2018-08-27 19:46] arouinfar commented on #37
I may have to eat my own words! The current behavior is master certainly looks problematic. Perhaps the solution would be to hide the water drop in pulse mode? Let's discuss at design meeting.

[2018-08-27 19:52] arouinfar commented on #103
@samreid in Java, the probe is restricted to the center line where the graph values are pulled from.  Could we do something similar here?

![image](https://user-images.githubusercontent.com/8419308/44682354-5f46d680-aa00-11e8-9298-aeaf1abb0344.png)

[2018-08-27 19:54] samreid commented on #37
That would be easy to implement, and wouldn't tamper with the rest of our design for phase.  But it does sound buggy to show a water faucet above the water and waves appearing in the water without anything between them.  How about for water/pulse we put the hose at the same y coordinate as the wave source (not vertically offset), and not show any drops?

[2018-08-27 19:55] arouinfar commented on #96
I think it looks quite nice @samreid!

I know @ariel-phet had some thoughts about the source point, so I think it'd be good to quickly review this issue in design meeting to get a :+1: from other team members.

[2018-08-27 19:57] samreid commented on #103
Good find, that seems like a reasonable user experience.  I'm not convinced that this reaches one of our learning goals, but it would seem awkward if we hid the meter in side view, or something like that.    I'll give it a try.

[2018-08-27 20:03] arouinfar commented on #106
Hold that thought... I should also think about the contrast against the wave-view.
![image](https://user-images.githubusercontent.com/8419308/44682920-f4969a80-aa01-11e8-8da9-0cf232df8411.png)

@samreid I'll play with the colors a bit more and get back to you.

[2018-08-27 20:45] samreid commented on #75
Fixed with @jonathanolson's help, closing.

[2018-08-27 20:45] #75 closed

[2018-08-27 20:45] samreid opened #107 "The barrier should be constrained to the wave area on drag"
Discovered in https://github.com/phetsims/wave-interference/issues/75

[2018-08-27 21:03] samreid opened #108 "Convert wave/particles ui component to radio buttons "wave" "particles" "both""

[2018-08-27 21:04] samreid opened #109 "Deal with particles on slits screen"
On the slits screen we need to either (a) make sure they don't pass through walls or (b) don't allow showing particles on the slits screen.  (b) would be much easier, but then you cannot see the plane waves as particles, which looks pretty neat (not a learning goal though).

[2018-08-27 21:05] samreid opened #110 "Use for..of where possible"
On Thursday's meeting, we discussed the merits of `for..of` which is not yet used in wave interference.  I should review and see if it's applicable anywhere.

[2018-08-27 21:07] samreid opened #111 "Move ScrollingChartNode to griddle"
From https://github.com/phetsims/wave-interference/issues/24.

On Thursday, we decided this can move as ES6.  I should also create a griddle example.

[2018-08-27 21:15] samreid opened #112 "Checkbox and aqua radio button hit areas should extend to the right"
Checkbox and aqua radio button hit areas should extend to the right, as they do with Vertical*Group

[2018-08-27 22:53] arouinfar commented on #58
@samreid agreed that scaling down by 60% would be pretty harsh.  For very large amplitudes, I could live with some of the curve getting clipped. I wouldn't want to see any clipping at the default amplitude, so we we may need to bump down the default by a tick mark.

Let's try:

* Scale down the curve a bit -- let's try 20%
* Increase the height of the graph so that the "Position" label is a few px

[2018-08-28 03:31] samreid opened #113 "Is there a better way to cue that some options only apply to some scenes?"
Now that we are moving towards a set of 3 radio buttons for the "Sound" scene (see #108) and we already have two checkboxes that only apply to the "Light" scene, I'm wondering if there is a better user interface convention to signal that the "waves/particles/both" radio buttons only apply to Sound and "Screen/Intensity" only applies to light.  It will help to move the "Graph" checkbox to the top s

[2018-08-28 03:31] samreid opened #114 "the "Graph" checkbox should appear at the top since it applies to all scenes."
See #113, the "Graph" checkbox should appear at the top since it applies to all scenes.

[2018-08-28 03:49] samreid commented on #39
That seems separate, I'll create another issue for that part.

[2018-08-28 03:50] samreid opened #115 "Show some slight random motion even there is no wave, since we are not at absolute zero."
From #39,

[2018-08-28 03:55] samreid commented on #58
I would like to proceed with scaling to 80%, but I recalled that we decided to match the scaling of the graph with the water side view, like so:

![image](https://user-images.githubusercontent.com/679486/44699967-e2d5e700-aa43-11e8-9bf9-9053e459d118.png)

So this means the water side view will also go to 80%.  If this is not what you intended, please let me know.  It shouldn't be a difficult chang

[2018-08-28 04:09] samreid commented on #58
I made this change, but had forgotten there was other code centering the chart in the bottom half of the wave area, so this inadvertently moved the top tab higher.  So now the default settings look like this:

![image](https://user-images.githubusercontent.com/679486/44700317-b622cf00-aa45-11e8-85db-9e48a4d84897.png)

and this:

![image](https://user-images.githubusercontent.com/679486/44700328-c1

[2018-08-28 04:29] samreid commented on #103
Here's a few lines of code that can help me on this, to be added in WaveMeterNode.js

[code]

However, before I go any further, I'd like to hear the recommended approach for dealing with the probes when the water view is already in the side view and the wave sensor meter is dragged out of the toolbox.  Should the probes travel with the probe until it is released?  Until it reaches the wave area?

[2018-08-28 04:43] samreid commented on #105
The proposed change will be more complex because I'll need to break up the layering of the water side view background so it doesn't go in front of the water drops.

As a temporary test to see how it would look, I disabled that background and made a recording.  Note the drops look odd when they go behind the water wave, then you can see them again, still falling, when the water wave value goes nega

[2018-08-28 20:32] samreid opened #116 "Pulse sends out many sound particle wavefronts"
Pulse currently looks like this:

![image](https://user-images.githubusercontent.com/679486/44749204-1742b500-aacf-11e8-8e2a-5ff106dfe1de.png)

It's kind of difficult to see in the picture, but there are many smaller waves after the initial wave crest.  This effect may be reduced once #115 is addressed.

[2018-08-28 20:35] samreid commented on #110
I updated a few places.  But based on a slack conversation about this, I'd like to look through and convert some `forEach` to `for..of`.

[2018-08-29 03:57] samreid commented on #107
Fixed, closing.

[2018-08-29 03:57] #107 closed

[2018-08-29 08:30] samreid opened #117 "VerticalAquaRadioButtonGroup doesn't support enabled/disabled"
Discovered in #108.  Somewhat related to https://github.com/phetsims/sun/issues/384, which would provide a way to enable/disable individual components.

[2018-08-29 08:33] samreid commented on #114
Fixed.  Doesn't look great in context, but that will be discussed in another issue, probably https://github.com/phetsims/wave-interference/issues/108

[2018-08-29 08:33] #114 closed

[2018-08-29 08:36] samreid commented on #108
I converted the 2 checkboxes to 3 radio buttons as @arouinfar and I discussed.  It seems like a general improvement for the UI, but in context It doesn't look great--we need a way to segment or divide the UI.  I think that discussion will be covered in https://github.com/phetsims/wave-interference/issues/113 (I'll add a comment to that effect).  Closing this issue.

[2018-08-29 08:36] #108 closed

[2018-08-29 08:39] samreid commented on #113
After completing the two issues linked above, the control panel looks pretty bad ("checkbox and radio button soup"):

![image](https://user-images.githubusercontent.com/679486/44776097-80104880-ab34-11e8-8d94-74418ecd3f16.png)

I suspect, but am not sure, that this issue could be part of better segmenting those controls.  Also, note that after converting to use VerticalAquaRadioButtonGroup, the so

[2018-08-29 08:58] samreid commented on #113
I put together a quick redesign of this component, to try to pair the scene-specific options with the scene:

![image](https://user-images.githubusercontent.com/679486/44776933-7f78b180-ab36-11e8-963a-4e87e80462ef.png)

Note that the water "side view" and "top view" should be grayed out because that scene is not selected.  (It's just a quick sketch to test the overall layout).

What works well abo

[2018-08-29 09:34] samreid opened #118 "Consider a mode/screen/sim where the interference pattern updates immediately"
While testing https://github.com/phetsims/wave-interference/issues/110 I realized it could be useful to have a mode or screen or simulation that shows d sin(θ) = mλ, where the interference pattern immediately updates when λ or d change.  This was developed as an internal checking tool in https://github.com/phetsims/wave-interference/issues/74 to be used with `?dev` but now I'm wondering if we shou

[2018-08-29 09:37] samreid commented on #112
Simply using `VerticalCheckBoxGroup` did not solve this problem, because those touch areas only extend as far as the longest aqua radio button text--not across the entire panel.  That being said, there's a good chance this problem will be eliminated/alleviated by design changes like https://github.com/phetsims/wave-interference/issues/113#issuecomment-416878740.  Placing on hold until #113 is disc

[2018-08-29 09:38] samreid commented on #116
Placing on hold until #115 is addressed, in case it resolves this issue.

[2018-08-29 12:54] samreid commented on #109
I estimate implementing hard-sphere collisions or a forcing function for the wall would take 2-8 hours for the initial version.  Then there would be some added complexity for maintenance, and making sure particles look good elsewhere on the slits screen.  It would take around 15 minutes to hide the sound particles on the sound scene, plus additional time to decide how the control panel should look

[2018-08-30 16:05] samreid opened #119 "Wave shouldn't show when "particles" is selected"

[2018-08-30 16:30] samreid commented on #119
Fixed, closing.

[2018-08-30 16:30] #119 closed

[2018-08-30 19:29] samreid commented on #96
@ariel-phet recommends 1 more cell to the left.  I'll do so and run it past the design team.

[2018-08-30 19:41] samreid commented on #37
@kathy-phet says: the current behavior is great for continuous mode.  For pulse mode, there could be a temporal delay so it only shows the wave when the water starts.

[2018-08-30 19:45] samreid commented on #105
Design meeting: when the top of the drop goes below the top of the water, it should disappear.

[2018-08-30 20:01] samreid commented on #105
We'll try increasing the speed of the drops, possibly changing the clip region in side view, and maybe tinkering with the phase for side view.

We would like side view pulse to look nice (since it will have the delay).

[2018-08-30 20:06] samreid commented on #109
Design meeting: ok to try bouncing off or repelling from the wall.

[2018-08-30 20:07] samreid opened #120 "Slow motion ruins the waves on the right hand side of the slits"

[2018-08-30 20:11] samreid commented on #113
@arouinfar is going to mock up an idea for this.

[2018-08-31 03:28] samreid commented on #37
The current implementation follows this approach:

0. The user starts the wave
1. The model drives the lattice to oscillate immediately
2. The wave values make water drops appear above the water (according to the phase), purely in the view

This was a shortcut I took to try to get things working with minimal effort.  It seems this strategy will be insufficient to handle pulse mode or side view pro

[2018-08-31 14:55] arouinfar commented on #39
@samreid the particle view is looking really nice! As discussed in design meeting, the team likes the combination of the wave and particle views.

Agreed! Thanks for opening the issue.

I think part of the problem with the high frequency is that the wavefronts are too densely packed. If we reduce the range of frequencies to A3-A5, we would also need to rescale this scene a bit. In #80  I recommend

[2018-08-31 14:57] arouinfar commented on #58
@samreid I think the scaling is looking definitely looking better. I would leave the graph centered in the bottom half, as it would look a bit odd otherwise.

One thing I’ve noticed is that the source point on the graph is very sharp, but otherwise is nicely sinusoidal. This is particularly noticeable in the 2nd screenshot in your most recent https://github.com/phetsims/wave-interference/issues/58

[2018-08-31 14:57] arouinfar commented on #74
The `?dev` overlay for 2-slit interference is really handy! I wonder if it should be its own query parameter that we could share with teachers in the production version.

The double-slit interference is behaving nicely and the physics looks correct to me.

For the single slit, I have not been able to produce an interference pattern. Have you had any luck with that @samreid?

[2018-08-31 18:50] samreid commented on #37
I agree with the plan of "let's try it and see" but while it's on my mind I wanted to jot down that you'll see frequency and amplitude changes immediately in the new drops that fall out.  We can also change the speed of the drops--slower speed means longer delay but you'll see more drops in the air at once.  Faster falling drops means less delay to when the wave pool reacts.

[2018-08-31 20:09] arouinfar commented on #103
Great questions @samreid. In general, I think the probes should jump to the center line (x-coordinate stays the same) when switching to Side View. I can think of two basic scenarios.

1. Wave Detector is already in the play area, and the user switches to Side View. The probes should change their y-coordinate and “jump” vertically to the horizontal line.

![image](https://user-images.githubusercont

[2018-08-31 20:09] arouinfar commented on #106
@samreid can we try lightening up the particles a bit? Let’s use the gray I suggested earlier, `rgb(240, 240, 240)` and add a thin black stroke around the particles. The lighter gray should have better contrast against the darker grays used for the minimas and Particle View background, while the black stroke should maintain decent contrast against the brigher wave minimas.

[2018-08-31 20:10] arouinfar commented on #113
In yesterday’s design meeting we decided that only the relevant options would appear for each scene.

Water: Graph checkbox
Sound: Graph checkbox, radio button group for waves/particles/both
Light: Graph, Screen, and Intensity checkboxes

![image](https://user-images.githubusercontent.com/8419308/44933773-f0cf8480-ad2f-11e8-8645-1ec23e040e06.png)

[2018-08-31 20:15] samreid commented on #113
@arouinfar those mockups look great.  I wonder if it will also work well for screen-readers or accessibility in general?  Will we need to make special considerations for that, like keeping the non-visible UI components in the scene graph?  Should we check in with an a11y designer or developer before getting started?

[2018-09-02 20:01] ariel-phet opened #121 "A sim to potentially leverage if we make a wave addition sim"
A google user wrote:

This sim has some elements we have considered for a future sim, but it would certainly need lots of redesign to follow PhET conventions and such. Something to keep in mind for future.

[2018-09-02 21:43] samreid commented on #58
The Java version is using spatial averaging over a vertical stack of 3 cells:

[code]

Would you like to try that for HTML5?  Or maybe try vertical spatial averaging only near the source?  Please advise.

[2018-09-02 21:48] samreid commented on #74
@arouinfar is this single slit diffraction?

![image](https://user-images.githubusercontent.com/679486/44961058-a6810b80-aec7-11e8-91f1-b42d62047675.png)

[2018-09-02 21:58] samreid commented on #96
I moved the water drops and emitter location another cell to the left and published a dev version:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.25/phet/wave-interference_en_phet.html

Note the hose location was not updated and will not be updated until we have new artwork, see https://github.com/phetsims/wave-interference/issues/104.  @arouinfar @kathy-phet @ariel-phet can you pl

[2018-09-02 22:25] samreid opened #122 "Sometimes the wave meter node pops out of the toolbox at an odd location"
Discovered during https://github.com/phetsims/wave-interference/issues/103, dragging it out of the toolbox multiple times causes it to pop out at odd offsets.

[2018-09-02 22:29] samreid commented on #103
I added the behavior described in the preceding comment.  While working on this, I noted new problem  https://github.com/phetsims/wave-interference/issues/122 (not sure if caused by this or unrelated).  @arouinfar can you please review and close if all is good for this issue?

[2018-09-02 22:33] samreid commented on #118
I'd like to confirm with @ariel-phet and @kathy-phet before proceeding on this issue, hence I'll mark it for next design meeting.

[2018-09-02 22:39] samreid commented on #106
I made the recommended changes.  In my opinion, it's a bit difficult to see the gradient shading on the particles with such a bright rgb.  I like the stroke though.  @arouinfar can you please review on phettest?

[2018-09-04 02:24] samreid opened #123 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-04 15:02] samreid commented on #123
Investigated and commented accordingly, closing.

[2018-09-04 15:02] #123 closed

[2018-09-04 15:12] samreid commented on #115
This commit referenced the wrong issue:

https://github.com/phetsims/wave-interference/commit/0cf2fe2ffac1efa0c1bb6be2e5cc37c43f90474e

[2018-09-04 15:17] samreid commented on #115
@arouinfar I added a random force at each time step.  I tuned the random force magnitude low enough that the random motion did not wash out the wavefronts, but high enough that the random motion wasn't too slow.  Can you please review on phettest and let me know your thoughts?  Close if everything seems OK.  Or let me know if you want me to change the algorithm or random force magnitude.

[2018-09-04 19:11] ariel-phet commented on #96
@samreid The wave still looks obviously spherical to me. It looks to me like it could go even another cell left. Basically as long as the wave looks just a hair over hemispherical at the left side I think we are in good shape of giving the impression of a spherical wave.

[2018-09-04 20:39] samreid commented on #109
I added this code to BarriersNode to get the model coordinates for the barrier rectangles:

[code]

Then in SoundParticle.js I added this code for bouncing the particles away from the barrier:

[code]

The quick hack above detects if the center of a particle is in the wall, then reverses its velocity and steps it again.  This leads to a lot of jittery behavior around the wall and this won't work f

[2018-09-04 21:07] samreid commented on #111
I've moved ScrollingChartNode to griddle and added an example demo for it.  Next steps are (a) reuse it for bending light and (b) code review.  I'm inclined to exercise it in bending light before the code review so that we can be more sure that it has the right feature set or so it can be generalized as appropriate.

[2018-09-04 21:07] samreid commented on #24
From https://github.com/phetsims/wave-interference/issues/111#issuecomment-418518156

[2018-09-04 21:07] #111 closed

[2018-09-04 21:44] samreid commented on #117
We will no longer need this based on the proposal in https://github.com/phetsims/wave-interference/issues/113, closing.

[2018-09-04 21:44] #117 closed

[2018-09-04 22:04] pixelzoom commented on #111
The griddle BarChart demo looks like an excellent opportunity to use VSlider, since the sliders control bar height.   Currently:

![screenshot_746](https://user-images.githubusercontent.com/3046552/45060207-3c4d9f80-b05c-11e8-9a4d-e390a6fc87e9.png)

[2018-09-04 22:09] samreid commented on #111
The HSliders were introduced in https://github.com/phetsims/griddle/commit/6f1477b5831fae95996ffa7c0d4b26df76c0c5d1, I'll create a griddle issue.

[2018-09-04 22:12] samreid commented on #120
The problem is that the lattice wave propagation step is discrete, and running every time the model updates (independent of dt).  I foresee solutions like these:

1. track an "elapsed time since last lattice step" in WavesScreenModel, and only update it when it should be updated.   This may be accomplished manually or with another EventTimer (though stacking EventTimers sounds "tricky")
2. change

[2018-09-04 22:14] samreid commented on #120
It would be best to consult with @jonathanolson about how to proceed.  @jonathanolson is there a way to change the event rate for `EventTimer.ConstantEventModel`?  What approach do you recommend?

[2018-09-04 22:15] samreid commented on #122
I haven't been able to reproduce this problem again.  @arouinfar can you please test it out on phettest and see if you see anything odd?

[2018-09-04 22:26] samreid commented on #79
Self-assigning to clean up and close this issue and open a separate issue for discussion about dependency injection.

[2018-09-04 22:28] samreid commented on #89
@arouinfar can you please advise for this issue?  Can it be closed?

[2018-09-04 22:28] samreid commented on #94
@Denz1994 has been assigned review for the stopwatch.  @Denz1994 can you please review this part as well?

[2018-09-04 22:33] kathy-phet commented on #96
I think it is in a good place right now. I looked at how much it shifted from the last time, and if it shifted that far over again, I think it would be too far and the drop would start to crowd the left hand side with very little negative space there for the drop. And would get to see less of the sphere part of the wave. So I am in favor of leaving it here.

[2018-09-04 22:33] pixelzoom commented on #79
As a less awkward name for this, how about DimensionalArrows?

[2018-09-04 22:34] samreid commented on #98
Working backwards (and guessing one month for each phase):
1.0 published Jan 31
RC.1 published on Jan 1
QA dev testing begins no later than Dec 1

It would be great to be feature-complete and code reviewed before then.

[2018-09-04 22:36] samreid opened #124 "Prepare for Code Review"
From https://github.com/phetsims/wave-interference/issues/98, it would be nice to get this simulation code reviewed after it is feature complete and before QA dev testing.  I'm hoping it will be feature complete before the end of November.  Assigned to @ariel-phet to schedule a reviewer.

[2018-09-04 22:36] samreid commented on #99
Cross labeling for design meeting in case that's the best place to discuss it.

[2018-09-04 22:44] samreid commented on #79
This comment https://github.com/phetsims/wave-interference/issues/79#issuecomment-416045828 argues that we do not need a type for this.  I'm planning to close this issue and open a new issue for developer meeting discussion about using dependency injection in cases like this.

[2018-09-04 22:45] samreid commented on #116
Removed hold since there is a proposed solution for #115.

[2018-09-04 22:53] arouinfar commented on #96
I agree with @kathy-phet. The wave is still looking nice and spherical, but I think moving it an extra cell to the left may be taking it a bit too far.

4 cells:
![image](https://user-images.githubusercontent.com/8419308/45061707-e9c3b180-b062-11e8-9a10-329bf84983df.png)

3 cells:
![image](https://user-images.githubusercontent.com/8419308/45061718-f2b48300-b062-11e8-93e0-0cf01abec85d.png)

Let's l

[2018-09-04 22:53] #96 closed

[2018-09-04 22:55] arouinfar commented on #103
@samreid this is looking really nice! Everything looks good, so closing.

[2018-09-04 22:55] #103 closed

[2018-09-04 22:55] arouinfar commented on #122
@samreid I didn't run into this issue while testing #103. Let's go ahead and close it, and if we run into this issue again, we can re-open.

[2018-09-04 22:55] #122 closed

[2018-09-04 23:00] arouinfar commented on #106
@samreid, I really like the stroke!! The gradient is indeed a bit hard to see, so perhaps we should darken the gray a smidge more, say `rgb(210,210,210)`?

[2018-09-04 23:01] arouinfar commented on #89
Yes, let's close this one @samreid.

[2018-09-04 23:01] #89 closed

[2018-09-04 23:05] arouinfar commented on #115
@samreid overall, it's looking pretty good. I do wonder if the oscillations are just a tad too large or fast. That's said, let's discuss with the team on Thursday before spending any more time on this.

[2018-09-04 23:05] pixelzoom commented on #79
Got it.

[2018-09-05 00:59] samreid commented on #106
I added the new color, please review on phettest.

[2018-09-05 12:54] terracoda commented on #113
@samreid and @arouinfar my sense if they are visually no there then they can also be completely hidden in the PDOM. If they are visually greyed-out (i.e., disabled and visually still on the screen) they should be findable/navigable in the PDOM, but communicated as disabled.

Generally speaking, we try to achieve a similar experience both visually and non-visually.

[2018-09-05 14:11] samreid commented on #113
Thanks @terracoda.  Assigning to myself to start working on these controls as designed in https://github.com/phetsims/wave-interference/issues/113#issuecomment-417776557 (though not starting on the a11y specific parts yet).

[2018-09-05 14:46] samreid commented on #113
Changes pushed, @arouinfar can you please review on phettest?

[2018-09-05 14:53] samreid commented on #79
I created a new issue for discussion, closing this one since Wave Interference is all set.

[2018-09-05 14:53] #79 closed

[2018-09-05 15:03] samreid commented on #112
VerticalAquaRadioButtonGroup does not give control over the touch area of the items--I may need to just create my own AquaRadioButtons.

[2018-09-05 15:34] arouinfar commented on #112
@samreid wouldn't it be better to add touch area control to `VerticalAquaRadioButtonGroup`? They are ubiquitous in sims, as is the desire to extend the touch areas.

[2018-09-05 17:35] arouinfar commented on #106
Looks good, thanks!

[2018-09-05 17:53] arouinfar commented on #113
Thanks @terracoda!

Everything is looking good to me @samreid. Thanks!

[2018-09-05 17:53] #113 closed

[2018-09-05 20:00] arouinfar opened #125 "Disable Intensity checkbox when Screen is off"
In reviewing #113, I realized that it's possible to view the Intensity graph without also having the Screen on. A did a quick search of this repo and didn't find a related issue, though I did find this in the April 12 meeting notes:

@samreid do you remember any previous discussion of this issue?

It seems natural that the Intensity checkbox should be deactivated (grayed out) if Screen is off. A s

[2018-09-05 20:05] arouinfar commented on #58
@samreid spatial averaging sounds promising. My gut says it'd only be necessary near the source, though I don't imagine it'd do any harm if it was in effect everywhere. I'll leave it up to you, in case there is some significant advantage/disadvantage to limiting the vertical spatial averaging to the region around the source.

[2018-09-05 20:31] arouinfar commented on #74
Yes, that's what I was looking for @samreid! Reducing the wavelength definitely does the trick. I was originally testing with red light.

One thing I'm noticing is that there doesn't appear to be a true minimum between the primary and secondary maxima. It's more apparent when the wavelength is a bit larger.
![image](https://user-images.githubusercontent.com/8419308/45119126-b98a1a80-b117-11e8-9229

[2018-09-06 01:02] jonathanolson commented on #120
Maybe just create your own "event model" that returns whatever the period should be?

[2018-09-06 02:07] jonathanolson commented on #81
Is the behavior of the sim different (say, on Chrome on a good desktop) if you replace a `step( dt ) ` with `_.times( 10, () => step( dt / 10 ) )`? (If you run 10 smaller steps, presumably it just uses more CPU and shouldn't change the behavior of the sim)

[2018-09-06 02:14] samreid commented on #74
I searched a bit more and found a better node here:

![image](https://user-images.githubusercontent.com/679486/45130945-19001e80-b148-11e8-9e23-908529da25c8.png)

Perhaps noise and near-field effects are obscuring this physics.  I don't know if single slit diffraction is a primary learning goal for this simulation, or if we should add a "dev" style overlay for single sit angles.  What do you recom

[2018-09-06 12:42] samreid opened #126 "Does anything from the Design Google Doc need to be moved to an issue?"
@arouinfar can you please review the Design Google Doc and see if there is any remaining work noted there that is not already captured in an issue?

[2018-09-06 12:44] samreid commented on #7
Labeled for meeting discussion to confirm changes before I resume work on this screen.

[2018-09-06 12:46] samreid commented on #8
Labeled for design meeting to discuss performance.  I'll bring an iPad2.  @arouinfar or @ariel-phet would you like to bring an iPad 4+ ?

[2018-09-06 12:47] samreid commented on #9
Labeled for design meeting discussion to decide whether to try to compute the pattern through FFT or through analytical equation.

[2018-09-06 12:48] samreid commented on #24
The ball is in my court for the review issue, so I'll un-hold this issue to put it on my to-do list.

[2018-09-06 12:49] samreid commented on #32
@arouinfar can you resume work on this now that the simulation design is further along?

[2018-09-06 12:50] samreid commented on #54
On hold until we receive artwork.

[2018-09-06 12:51] samreid commented on #74
Labeled for design meeting to see what else remains for this issue.

[2018-09-06 12:52] samreid commented on #98
Labeled for design meeting to review the draft schedule in the preceding comment.

[2018-09-06 12:56] samreid commented on #116
This is still problematic after adding the random motion.  I wonder if we need to have a smoother pulse function, one that asymptotes toward zero (instead of a pure sine wave)?  Labeled for design meeting to decide how to proceed.

[2018-09-06 16:14] arouinfar commented on #8
@samreid I can bring an iPad Air.

[2018-09-06 16:30] samreid commented on #74
The 2nd order maxima for single slit diffraction has a magnitude much smaller than the central (1st order) maximum:

https://en.wikipedia.org/wiki/Diffraction#Single-slit_diffraction
![image](https://user-images.githubusercontent.com/679486/45171509-cf531a80-b1bf-11e8-894a-2450ca74e9e8.png)

[2018-09-06 16:32] arouinfar commented on #74
@samreid correct, but there should be regions of zero intensity between the maxima. The screenshots in https://github.com/phetsims/wave-interference/issues/74#issuecomment-417962167 and https://github.com/phetsims/wave-interference/issues/74#issuecomment-418871145 don't have very clear minima.

[2018-09-06 16:34] samreid commented on #74
Another possibility is interference from reflections at the boundaries of the lattice (which we haven't been able to eliminate completely).

[2018-09-06 16:40] arouinfar commented on #106
Seems like @kathy-phet may have some thoughts about the colors, so I'll reopen and tag for design meeting.

[2018-09-06 18:36] kathy-phet commented on #106
I like it, but thanks for checking! I think its nice that it sort of matches the wave peak color, and I agree the high contrast is good.

[2018-09-06 21:00] samreid opened #127 "Screen goes in front of lattice on iPad Air"

[2018-09-06 21:12] samreid commented on #62
Graph performance looks great on iPad Air.
Particles are too choppy.  We could try canvas.  Could try getting rid of gradient (or rasterizing it).  Could try fewer particles.  Compare to states of matter.

[2018-09-06 21:13] samreid commented on #62
@samreid will take home an iPad Air for testing until we get to RC.  @KatieWoe is checking if one is available for today.

[2018-09-06 21:20] samreid commented on #74
We'll take the time to quantitatively check the single slit equation with an overlay.

[2018-09-06 21:55] samreid commented on #39
Meeting consensus: Reach out to Martin or Mike about the physics--to see if the proposed model is reasonable.  We decided this looks good at the sweet spot but would like to get better behavior at low and high frequency.

[2018-09-07 15:09] samreid commented on #39
Draft email here, I'll send it to Martin and Mike:

We could use your help developing the physical model for the motion of sound particles in wave propagation.  We would like to have a dynamical version that looks something like this animated gif:
https://www.npr.org/assets/img/2014/04/08/compressionwave.gif

You can see my latest attempt here, by clicking on "Waves" then the Speaker icon, then "P

[2018-09-07 15:15] samreid commented on #39
I emailed Martin and Mike, on hold until I hear back.

[2018-09-07 15:18] samreid commented on #9
We decided performance should be better on iPad air, whether through a smaller lattice or different algorithm.

[2018-09-07 15:19] samreid opened #128 "Prevent crashing on iPad 2"
The simulation shouldn't crash on iPad 2.  I'll investigate how frequently it crashes and whether there is a way to crash less.

[2018-09-07 15:21] samreid opened #129 "Arrange red particles in a grid"
@ariel-phet pointed out that the random layout of the red particles looks haphazard, and it could be more helpful if they were arranged more carefully.  I'll create a dev version with this change for us to evaluate.

[2018-09-07 18:38] KatieWoe opened #130 "CT Cannot read property 'iterrupt' of null"
[code]

[2018-09-07 18:48] arouinfar commented on #106
Great, thanks @kathy-phet!

[2018-09-07 18:48] #106 closed

[2018-09-09 17:45] samreid commented on #130
Proposed fix committed, tests nicely on local.  Closing for now.

[2018-09-09 17:45] #130 closed

[2018-09-11 01:49] samreid opened #131 "Use spread operator for augmenting children array"
Discussed during https://github.com/phetsims/phet-info/issues/82

[2018-09-11 01:50] samreid opened #132 "Use rasterization for creating icons"
Discovered while working on https://github.com/phetsims/capacitor-lab-basics/issues/242, may be a simpler way of creating icons.

[2018-09-11 02:42] samreid opened #133 "Side view and top view water point look offset by a bit"
They seem horizontally off by a cell or two, maybe 10-20 px.

[2018-09-12 02:23] samreid opened #134 "Check the single slit equation with an query parameter overlay."
From https://github.com/phetsims/wave-interference/issues/74

[2018-09-12 02:23] samreid opened #135 "Use ?theory for overlay query parameter."
From https://github.com/phetsims/wave-interference/issues/74

[2018-09-12 02:24] samreid opened #136 "Promote the overlay code to production-ready"
From #74, we would like to promote the code that shows the `?theory` overlay on the slits screen from prototype to production ready.

[2018-09-12 02:29] samreid commented on #74
Outstanding work tracked in aforementioned issues, closing.

[2018-09-12 02:29] #74 closed

[2018-09-12 02:33] samreid commented on #135
Fixed, closing.

[2018-09-12 02:33] #135 closed

[2018-09-12 02:35] samreid opened #137 "Add spatial averaging for the chart overlay"
We would like to try spatial averaging for the chart in order to wash out the extrema near the source, see https://github.com/phetsims/wave-interference/issues/58

[2018-09-12 02:35] samreid commented on #58
On hold while we investigate #137

[2018-09-12 02:42] samreid commented on #129
I tried a grid with `( soundParticle.i % 5 === 0 || soundParticle.k % 5 === 0 )` and it looked like this:

![image](https://user-images.githubusercontent.com/679486/45398836-f74cde80-b602-11e8-88ea-c72cd8f43ab4.png)

Should I try stripes instead of a grid?  Or a more or less dense grid?

[2018-09-12 02:43] ariel-phet commented on #129
@samreid I think a less dense grid. Something closer to the corner of each of those squares

[2018-09-12 02:45] samreid commented on #129
Of course, that makes much more sense.  Something like this?

![image](https://user-images.githubusercontent.com/679486/45398976-907bf500-b603-11e8-8553-db9d3f9aac6a.png)

[2018-09-12 02:55] samreid commented on #131
@jonathanolson can you please skim the preceding commit and confirm if that is the recommended approach?

[2018-09-12 12:56] samreid commented on #132
Working great after above commits.  The change to MeasuringTapeNode should code reviewed as part of the code review of the simulation.  Labeling for review and hold until then.

[2018-09-12 13:08] samreid commented on #137
I changed the value read like so:
[code]
and it looked like this:

![image](https://user-images.githubusercontent.com/679486/45426774-60ac0c00-b65a-11e8-9615-f615a1dde8a9.png)

It's kind of pointy at the source because we are only averaging over the lattice cells, not over the graph coordinates.  Not sure if this is a good stopping point or if we should investigate further.

Tagging for design mee

[2018-09-12 14:06] jonathanolson commented on #131
Yes, looks good, although I would combine
[code]
into
[code]

[2018-09-12 14:15] samreid commented on #131
Good call, thanks!  I tried the formatting you recommended but it looked odd in context, so I went with a single line instead.  Closing.

[2018-09-12 14:15] #131 closed

[2018-09-12 14:17] samreid commented on #132
@jonathanolson: I was surprised that `rasterized` included the bounds of invisible children.  Is that as expected?  My workaround is to remove the children, then rasterize, then re-add the children.

[2018-09-12 15:29] samreid commented on #134
@arouinfar can you please review and test this on phettest, using the `?theory` query parameter?

[2018-09-12 17:04] ariel-phet commented on #129
@samreid yes, something more like that. However, it would be good to pull the red particles in a bit from the edges. So for instance, in the screen shot above the red particles are very close to the edge on the bottom and right sides (most obviously). I think basically just reduce the grid spacing a bit, so there is some more negative space between the edges of the viewing window and the red parti

[2018-09-13 00:42] jonathanolson commented on #132
It's expected, but this could be changed to include only visible bounds. It will cost a bit more CPU up front, but since the rasterization is probably slower than the bounds computation (and we usually don't do that in inner loops) I think it's generally worth it.

I'll plan to make this change.

[2018-09-13 02:11] samreid commented on #132
Sounds great, thanks!  Keep me posted and when it's ready I'll use it to simplify Wave Interference toolbox icon creation.

[2018-09-13 03:01] samreid opened #138 "Propagate the tail of the plane wave"
Discovered in https://github.com/phetsims/wave-interference/issues/37, I thought we were propagating the tail of the plane wave.  Was this disrupted by recent changes in the water propagation model?

[2018-09-13 17:05] jonathanolson commented on #132
Should be handled with the above changes. Can you verify the behavior?

[2018-09-13 20:30] samreid commented on #39
Mike and I were trying this out:

[code]

[2018-09-13 20:39] samreid commented on #137
We would like to suppress the wave source without averaging or altering the other points.

[2018-09-13 20:41] samreid commented on #136
OK to work on this after we start dev testing.  Not essential for right away.

[2018-09-13 20:42] #118 closed

[2018-09-13 20:44] samreid commented on #116
This could be a phase problem, I'll check if that's the problem.

[2018-09-13 20:46] samreid commented on #115
We agreed this looks good, closing.  If we need to turn down the randomness to get a crisp wave, we will do so, but we'll aim for something like this.

[2018-09-13 20:46] #115 closed

[2018-09-13 20:50] samreid commented on #109
We decided to only show particles in screen 1 and 2.

[2018-09-13 21:07] samreid opened #139 "Random blobs for the diffraction screen"
We could try premaking blobs and see how they transform.  Maybe a Swiss cheese one?  Maybe a strobe logo one?

[2018-09-13 21:08] samreid opened #140 "Random blobs?"
We could try premaking blobs and see how they transform.  Maybe a Swiss cheese one?  Maybe a strobe logo one?

[2018-09-13 21:10] samreid opened #141 "Modify speaker graphics near button"
@ariel-phet recommended changing the color and extending the speaker body to help the button stand out, can @arouinfar look into this?

[2018-09-13 21:12] #140 closed

[2018-09-14 03:28] samreid commented on #39
I implemented the gradient pressure force that Mike and & I discussed today.  It is simpler and less computationally expensive, and looks great.  Turning down the randomness and turning up the friction gives very clear waves at the default frequency.  At low frequency, it is still difficult to see the broad waves. I tried increasing the coefficient at low frequencies, but it had erratic behavior n

[2018-09-14 05:03] kathy-phet opened #142 "Asymmetry in wave and readout"
I've noticed an asymmetry in the wave display and readout. I suspect it could be a consequence of the goal to make the nodes more apparent, but it seems to cause some potential miscommunication about waves too.

It looks like peak and trough are not symmetric about a "zero" level. There is more black than blue in one period, and on the readout the wave goes lower than it goes high.

It seems worth

[2018-09-14 05:07] kathy-phet opened #143 "Peak on water "graph" skewed to front of shaded wave."
In playing, I noticed that the water graph of the height at the center point of the pool is perhaps a bit off in phase? The peak looks to be at the front portion of the displayed blue shaded region instead of basically in the center of the shaded region. If it was in the back portion that could be reasoned because the energy of the wave is spreading out, but I can't come up with a reason for it to

[2018-09-14 18:16] samreid commented on #116
According to this comment, we had adjusted the phase so that water drops wouldn't appear while the water was very high:
[code]

However, it seems much more important that the wave begin and end at a=0 instead of starting partway through the phase, so I'll revert that.

[2018-09-14 18:18] samreid commented on #116
Even after this change, there is still some "ringing" in the wave values.

[2018-09-14 18:28] samreid commented on #116
After fixing the initial phase, I also zeroed out the pulse for an additional 1/2 period, and that seems to have reduced the ringing significantly.  This is dev.26:

![image](https://user-images.githubusercontent.com/679486/45568332-91866f80-b819-11e8-813d-3249857258ab.png)

This is current master:
![image](https://user-images.githubusercontent.com/679486/45568341-9b0fd780-b819-11e8-994d-4c524c7ab

[2018-09-14 18:30] samreid commented on #116
On the other hand, you can still see a few "echoes" in the sound view pulse.

![image](https://user-images.githubusercontent.com/679486/45568438-e4602700-b819-11e8-98c2-f803b498dc8f.png)

This is not easy to test now because there is interference from in-progress work in the water model.  Assigning to myself until easier to test.

[2018-09-14 18:37] samreid commented on #132
This change did not appear to work, or I am misunderstanding something.  With current master, I see this for the rasterized measuring tape node bounds:

![image](https://user-images.githubusercontent.com/679486/45568755-afa09f80-b81a-11e8-9605-7ad983b10fd7.png)

After changing MeasuringTapeNode.setTextVisible from

[code]
to
[code]
I see this behavior:
![image](https://user-images.githubuserconten

[2018-09-14 18:42] samreid commented on #125
Proposed fix is above, @arouinfar can you please review it on screens 2-3 on phettest?

[2018-09-14 18:44] samreid commented on #139
Assigned to @arouinfar to experiment with some shapes using http://turbomaze.github.io/JS-Fourier-Image-Analysis/ and to recommend some patterns.

[2018-09-14 18:49] samreid commented on #129
I changed it from "every 5th particle starting at the 0th particle" to "every 6th particle starting at the 1st particle" and it looked like this:

![image](https://user-images.githubusercontent.com/679486/45569256-3bff9200-b81c-11e8-95c7-c38d5dd79c95.png)

I noted the preceding comment suggested to reduce the spacing, so I tried "every 4th particle, starting at the 2nd particle" and it looked like

[2018-09-14 18:54] samreid commented on #116
OK, ready for testing.  @arouinfar can you please review on phettest?

[2018-09-14 18:54] samreid commented on #129
After https://github.com/phetsims/wave-interference/commit/b239eb2fbf62524a46e6aec20001aae387cf2a4f this is ready for testing, @ariel-phet and @arouinfar can you please take a look on phettest?

[2018-09-14 19:00] samreid commented on #105
Based on the comment in https://github.com/phetsims/wave-interference/issues/116#issuecomment-421442339 we may be constrained about changing the phase of the waves with respect to the water, and may need to come up with a different rule for dealing with absorbing drops while the wave is already very positive at the source.

[2018-09-14 20:39] samreid commented on #105
I'm lifting a comment to this issue:

[code]

In recent testing, this case was not occurring any more, and may not need to be addressed.  However, I'd like to be more thorough about my testing.  Note, even if we find cases where this doesn't look great, we may still choose to keep the less complicated implementation.  If we opt for the more complicated implementation, it would involve having the w

[2018-09-15 00:08] arouinfar commented on #125
👍

[2018-09-15 00:08] #125 closed

[2018-09-15 13:15] samreid commented on #37
The design team reviewed this on Thursday and we agreed that the response time was quick enough that we could use the water drop model.

[2018-09-15 13:18] samreid opened #144 "Switching pulse to continuous with button unpressed causes a wave"
From https://github.com/phetsims/wave-interference/issues/37, On screen 1, I tried firing a pulse in side view, then changed to continuous mode.  Without firing another drop, the oscillator created a new wave.  I'm having difficulty re-creating the problem but thought I should open an issue and look into it further.

[2018-09-15 13:35] samreid commented on #105
As far as I can tell, the only way to see this effect is to reduce the frequency while a water drop is in the air (in continuous mode).  In that case, you can see a water drop disappear while in the air.  I think I could address that with a couple hours of work, following the strategy described in the preceding comment.  However, I'm not sure whether that's warranted.  @arouinfar can you please te

[2018-09-15 13:39] samreid commented on #37
I've finished the initial draft of water drops, such that the water drop stores a frequency, amplitude and position for the lattice oscillator that is applied when the drop hits.  I'm aware of two known problems, which are noted in the two issues linked before this comment.  @arouinfar can you please review this issue and make recommendations for how to proceed, or close this issue if the only rem

[2018-09-15 13:53] samreid commented on #81
I went all the way out to `_.times( 1000000, () => this.eventTimer.step( dt/1000000 ));` in WavesScreenModel.step and the behavior was the same.  Closing.

[2018-09-15 13:53] #81 closed

[2018-09-15 13:55] samreid opened #145 "Try Canvas for showing the SoundParticleLayer"
This is a good candidate for canvas because the particles cannot be interacted with individually.  This will help with iPad performance.

[2018-09-15 13:55] samreid commented on #145
Maybe double check that this is essential by testing performance on iPad air before converting it.

[2018-09-15 14:15] samreid opened #146 "Speaker separation range and default is too small"
After we increased the wave area size in https://github.com/phetsims/wave-interference/issues/39 we did not correspondingly adjust the position of the dual speakers.  Perhaps I should put this on hold until #39 is decided.

[2018-09-15 14:15] samreid commented on #146
For example, here is the default:

![image](https://user-images.githubusercontent.com/679486/45587179-871eb100-b8bf-11e8-8e4c-5c7e3aa034e6.png)

[2018-09-15 14:18] samreid commented on #109
Commit pushed and this is ready for review.  @arouinfar can you please check through the first three screens and make sure particles and associated controls appear nicely on "Waves" and "Interference" but not "Slits"?

[2018-09-17 18:47] ariel-phet commented on #129
@samreid I toook a look at master, and I think this current implementation looks quite good. I think this change is a nice upgrade and definitely feels more "purposeful" in my opinion than the random arrangement of red particles.

@arouinfar can make the final call, but looks fully polished to me.

[2018-09-17 19:47] arouinfar commented on #112
Probably not @samreid. So long as the radio button are useable for touch, I don't think we need to be worried about this particular issue in sun.

[2018-09-17 19:48] #112 closed

[2018-09-17 19:56] arouinfar commented on #129
Looks great @samreid!

[2018-09-17 19:56] #129 closed

[2018-09-17 19:57] arouinfar commented on #109
👍

[2018-09-17 19:57] #109 closed

[2018-09-17 20:00] arouinfar commented on #116
The pulses are looking waaaaay smoother, thanks @samreid!

[2018-09-17 20:00] #116 closed

[2018-09-17 20:09] arouinfar commented on #105
@samreid, I think the side-view is looking pretty good. I had a hard time reproducing the situation where the water drop disappears in midair, so I don't think its worth spending the time to address.

Let's review the current behavior in design meeting to see if the team has any further suggestions.

[2018-09-17 20:33] arouinfar commented on #142
@kathy-phet I spent some time testing dev.28, and I'm not seeing the same asymmetry in the wave detector.
<img width="787" alt="screen shot 2018-09-17 at 2 31 44 pm" src="https://user-images.githubusercontent.com/8419308/45648656-6e142c80-ba86-11e8-8e5e-2bb3660e7c84.png">
<img width="288" alt="screen shot 2018-09-17 at 2 32 01 pm" src="https://user-images.githubusercontent.com/8419308/45648664-770

[2018-09-17 20:39] arouinfar commented on #143
@kathy-phet it does indeed look a bit off.

@samreid it looks like the peak of waves in the graph do not correspond to the center of the crest at the centerline. Can you take a look?
<img width="567" alt="screen shot 2018-09-17 at 2 37 25 pm" src="https://user-images.githubusercontent.com/8419308/45648981-3fe31c80-ba87-11e8-9fe4-e4c022407158.png">

[2018-09-18 04:09] samreid commented on #120
Thanks @jonathanolson that is working great.  After fixing the event model, I changed the event rate from 1/3 to 1/2 and it looked much better in my opinion.  @arouinfar can you please review slow motion on phettest?  Close if all is well.

[2018-09-18 13:26] samreid commented on #127
I cannot reproduce this problem on a built version on iPad air at the moment.  Closing for now.

[2018-09-18 13:26] #127 closed

[2018-09-18 14:20] samreid commented on #128
@jessegreenberg has been investigating Energy Skate Park: Basics crashing on iPad 2 in this issue: https://github.com/phetsims/energy-skate-park-basics/issues/435

[2018-09-18 14:33] samreid commented on #128
Launching built version on iPad2:
opens without crashing after about 15 seconds.
Stay on homescreen without crashing for 10 seconds.
Click into waves screen 1 and run waves for 10 seconds.
Switch to interference screen and run waves for 10 seconds
Switch to slits screen and run waves for 10 seconds
Switch to diffraction screen and scrub sliders for 10 seconds
No crash yet.

Launching built version

[2018-09-18 14:38] samreid commented on #128
Several minutes of fuzz testing on Mac Chrome does not reveal a memory leak:
![image](https://user-images.githubusercontent.com/679486/45695251-483a6680-bb1e-11e8-9b8e-d86d907bd7fa.png)

[2018-09-18 15:48] samreid commented on #128
I investigated crashing on Energy Skate Park: Basics in https://github.com/phetsims/energy-skate-park-basics/issues/435#issuecomment-422424628 to see if I could find out what the crashing correlates with.  But it is very difficult to discern correlations or how we could reduce the problem.  Is the behavior acceptable for now?  I also have asked a question in https://github.com/phetsims/energy-skat

[2018-09-18 16:28] samreid commented on #133
May be related to https://github.com/phetsims/wave-interference/issues/143 ?

[2018-09-18 16:45] samreid commented on #133
I simulated a spike at i=50 in WavesScreenModel.setSourceValues like so:

[code]
This shows that the measurement is in the middle of the cell, but 1px or less discrepancy between the the side view and wave view:

![image](https://user-images.githubusercontent.com/679486/45702798-f995c800-bb2f-11e8-8a4d-7c659853ef41.png)

[2018-09-18 16:47] samreid commented on #133
I'll create a separate issue about the middle of the cell alignment.

[2018-09-18 16:47] #133 closed

[2018-09-18 16:50] samreid opened #147 "Alignment on left edge of cell vs center of cell"
As noted in https://github.com/phetsims/wave-interference/issues/133#issuecomment-422466033, the tickmark for (e.g.,) the 50th cell is along the left edge of the 50th cell, rather than in the middle of the 50th cell.  The same applies for all cells.  I don't know if this is necessarily a problem, or maybe correlates with alignment issues like https://github.com/phetsims/wave-interference/issues/14

[2018-09-18 17:00] samreid commented on #137
Here's a 5-point average over the 3 points nearest the source:

![image](https://user-images.githubusercontent.com/679486/45703594-0b786a80-bb32-11e8-9311-f49e1d4d1222.png)

[code]

I'd like to compare this to a 3-point average directly on the source (no neighbors).

[2018-09-19 00:17] samreid commented on #137
Here's a 3-point average only on the source:

![image](https://user-images.githubusercontent.com/679486/45723281-c40fcf80-bb6d-11e8-9ee7-fc08771719b8.png)

Here's a 3-point average on the source combined with 2 point averages for the source's neighbors:

![image](https://user-images.githubusercontent.com/679486/45723360-1bae3b00-bb6e-11e8-9de0-9aa01d820257.png)

[2018-09-19 00:18] samreid commented on #137
I pushed a commit that uses single-point averaging at the source.  @arouinfar can you please pull and test it out?