[2019-05-08 04:03] samreid commented on #394
NumberControl has no ability to swap the slider component--it is hardwired to use HSlider.  I'll consult with other developers to see how to proceed here.

[2019-05-08 19:36] arouinfar commented on #377
This was requested in case the alignment shifted when the ResetAllButton's position was moved to match the first three screens.

Ah, that makes sense. Let's leave it be, then.

[2019-05-08 20:53] arouinfar commented on #375
After further inspection, I think you're right @samreid. I do think it's just an optical illusion.

Let's leave it as-is, @samreid.

I wasn't thinking about the obscured aperture, but you do raise a good point. I don't think we want to change the incident beam's geometry. Maybe it would be better to layer the aperture on top, after all.

No, I think we want that to be solid, since it's a collimate

[2019-05-09 03:10] ariel-phet commented on #375
@samreid @arouinfar personally I think this all looks production ready to me. This representation is give the general gist in my opinion, not be absolutely perfect. I think it does a nice job of suggesting the geometry and emphasizing the central maximum.

I think this issue can be closed

[2019-05-09 03:15] arouinfar commented on #375
👍

[2019-05-09 03:15] #375 closed

[2019-05-09 03:41] samreid opened #395 "The diffraction pattern is too dim at low and high wavelengths"
As @ariel-phet pointed out: `VisibleColor.wavelengthToColor` turns down the intensity at the upper and lower wavelengths, resulting in difficult-to-see diffraction patterns.  This is problematic because we would like to depict that high frequency light has more ripples in the Airy disk, but when the frequency is too high the light is dim so it seems like are less ripples in the Airy disk:

![image

[2019-05-11 16:00] samreid opened #396 "Pixel polishing for the wavelength slider"
https://github.com/phetsims/wave-interference/issues/377 said:

### Wavelength panel
- [x] Top-align with scale bar
- [x] Left-align with laser
- [x] Format like Wavelength NumberControl in Bending Light -- Readout between tweakers above track
- [x] Increase width of slider track 50%
- [x] Match height of slider track to FrequencySlider on earlier screens
- [x] Resize panel to fit updated contents

[2019-05-11 16:01] samreid commented on #377
I've moved the pixel polishing requests for the wavelength slider to a separate issue, since https://github.com/phetsims/wave-interference/issues/394 must be completed first.  @arouinfar can you please review the other parts of this issue and see if there's anything left to do?

[2019-05-11 16:33] samreid commented on #383
Updated in the commit, @arouinfar can you please review? Close if all is well.

[2019-05-13 16:52] arouinfar commented on #383
@samreid the updates are all looking good.

In reviewing the changes, I noticed a few more things that need updating.
- [ ] Square, Circle & Square, and Lattice scenes - units still need to be updated to mm
- [ ] Circle & Square scene - update tweakers to 0.01  mm

[2019-05-13 16:56] arouinfar commented on #377
Thanks @samreid, looks great! Since the remaining work is being tracked in #394, I'll go ahead and close.

[2019-05-13 16:56] #377 closed

[2019-05-13 17:29] arouinfar opened #397 "Update Diffraction screen icon"
The icon used for the Diffraction screen is a stand-in created early in development, but no longer matches the look of the sim. I've mocked up a few alternatives. (Side note: the black stroke was added so icon bounds are more apparent, but will be removed before integration since the stroke is now handled in joist.)

1. ![screen_icons_Diffraction](https://user-images.githubusercontent.com/8419308/

[2019-05-13 17:35] arouinfar opened #398 "Diffraction screen: Laser off by default"
In working on #397, I realized that the laser is on by default. This has been quite handy for design review, but I think a more PhET-like interaction would be to require users to turn the source on themselves. This interaction would also better mirror the previous screens.

@samreid can you please set the laser to be off by default?

[2019-05-13 18:13] samreid commented on #397
(1) looks great to me.  Do you think the Airy disk will be too small/aliased for the navigation bar icon size?
 If so, should it be iconified more?

[2019-05-13 20:39] arouinfar commented on #397
Possibly... good point @samreid.

I had used a screenshot, but I decided to use a gradient to mimic the diffraction pattern. While not perfectly accurate, I don't think it looks too bad. Here are some mockups at true icon/navbar size. If we decide to go with option (1), the less detailed iconified version is probably the way to go.

<img src="https://user-images.githubusercontent.com/8419308/57647

[2019-05-14 18:37] samreid commented on #383
Proposed fixes pushed, @arouinfar can you please take a look?

[2019-05-14 18:37] ariel-phet commented on #397
@arouinfar I think the hollywood-ed version of option (1) is great (it is an icon after all)

[2019-05-14 18:39] arouinfar commented on #383
Looks good @samreid

[2019-05-14 18:39] #383 closed

[2019-05-14 19:07] arouinfar commented on #397
Thanks @ariel-phet!

@samreid here are the assets for the updated icon
[diffraction_screen_icon.zip](https://github.com/phetsims/wave-interference/files/3179407/diffraction_screen_icon.zip)

[2019-05-14 19:38] samreid commented on #394
On hold until common code issue noted above is closed.

[2019-05-14 19:44] samreid commented on #395
@pixelzoom I'd like to adapt VisibleColor.js so it is possible to get the `intensity=1` colors.  Perhaps we should create two tables, and specify which one we want with an option to `wavelengthToColor`?  How should we proceed?  Would you like to take the lead on this?

[2019-05-14 19:57] samreid commented on #397
Thanks, I updated the icons in the commit. @arouinfar can you please review on phettest?  Close if all is well.

[2019-05-14 19:59] arouinfar commented on #397
Looks great, thanks @samreid!

[2019-05-14 19:59] #397 closed

[2019-05-14 20:06] pixelzoom commented on #395
Please clarify, what are "the intensity=1 colors"?   And if it's a different table, why not implement in a different class?

[2019-05-14 20:08] pixelzoom commented on #395
OK, I think I understand.  How about an option that determines whether `wavelengthToColor` reduces intensity at high and low wavelengths?

[2019-05-14 20:14] samreid commented on #395
That sounds perfect!

[2019-05-14 20:25] samreid commented on #398
Committed, please review.

[2019-05-14 20:27] arouinfar commented on #398
👍

[2019-05-14 20:27] #398 closed

[2019-05-14 20:38] pixelzoom commented on #395
Alrighty.  I don't have any time to work on this, so assigning back to @samreid.  If you also don't have time, feel free to unassign.

[2019-05-15 23:17] jbphet commented on #386
I set the initial output level of the sound generator to zero and made the amplitude-to-output-level mapping more consistent, and I'm not hearing any popping in Chrome, but I still hear it in Safari.  I think this is likely related to https://github.com/phetsims/tambo/issues/61.  I've used all my sonification time for this week (and more), so I won't get to this again until next week.  @samreid -

[2019-05-16 14:05] samreid commented on #395
The preceding commit adds a `reduceIntensityAtExtrema` option to `VisibleColor.wavelengthToColor`.  @pixelzoom can you please review?

[2019-05-17 18:11] pixelzoom commented on #395
I reviewed the changes to VisibleColor.  I'm guessing that sims are generally unlikely to use both  `reduceIntensityAtExtrema: true` and `reduceIntensityAtExtrema: false`.   But `REDUCED_INTENSITY_COLOR_TABLE` and `FULL_INTENSITY_COLOR_TABLE` are both created eagerly, and they have length 401.   This seems like a waste of memory.  Perhaps they should be created on demand.  And if that causes a res

[2019-05-17 18:15] samreid opened #399 "Memory check"
During https://github.com/phetsims/wave-interference/issues/395 I noticed memory usage of this sim is on the high side. Can it be reduced?

99.3MB requirejs
90.9 built

[2019-05-17 18:26] samreid commented on #395
I measured that each table takes around 282kb, creating them lazily seems reasonable as long as it doesn't incur a wait time at an inopportune time (during interaction).  I'll commit a proposal for lazy tables momentarily.

[2019-05-17 18:27] samreid commented on #395
Did you have something like this in mind?

[2019-05-17 19:15] pixelzoom commented on #395
@samreid said:

In https://github.com/phetsims/wave-interference/issues/395#issuecomment-493548123, I suggested:

@samreid asked:

I'm not following. Did this comment belong in a different issue?

[2019-05-17 19:16] pixelzoom commented on #395
On-demand implementation in https://github.com/phetsims/scenery-phet/commit/79ae2b46d7e3585d070760020369cabd28b767a8 looks good.

[2019-05-17 19:18] samreid commented on #395
Sounds good.

I meant to say:

Did you have something like this commit https://github.com/phetsims/scenery-phet/commit/79ae2b46d7e3585d070760020369cabd28b767a8 in mind?

Can this issue be closed?

[2019-05-17 19:21] pixelzoom commented on #395
Up to you whether that needs to happen.

[2019-05-17 19:23] samreid commented on #395
@ariel-phet can you please review the behavior in master?  The diffraction patterns should now be using intensity=1 and everywhere else should remain at the reduced intensities at extreme wavelengths.

[2019-05-20 15:58] ariel-phet commented on #395
All looks good to me! Closing

[2019-05-20 15:58] #395 closed

[2019-05-20 16:29] samreid commented on #386
I tried a minimal test case on Safari, and I am still hearing the pop/click, especially when the sound ends:

[code]

Should we try handling this manually via an explicit GainNode that we turn down before stopping the oscillator?

[2019-05-20 19:12] samreid commented on #399
From slack:

Sam Reid [12:27 PM]
I just measured Wave Interference to have a 90.9MB heap size when built.  Do we have a memory limit?  Or did that change when we dropped iPad 2 support?

Kathryn Woessner [12:38 PM]
We generally try to keep it under 100 MB in most circumstances, but I don't know about a hard limit.  The last memory test done was: https://github.com/phetsims/QA/issues/238#issuecomme

[2019-05-21 22:44] samreid commented on #399
@ariel-phet reported this seems on the high side, would be worth an hour of investigation to (a) understand it better and (b) see if anything can be easily reduced.  Also confirm there are no leaks.

[2019-05-24 03:59] samreid commented on #80
We have begun sonification instrumentation in other issues.  The only facet of this issue not captured elsewhere is:

I'll open a specific issue for that.

[2019-05-24 04:01] samreid opened #400 "Make it possible to hear the difference between constructive and destructive interference"
In https://github.com/phetsims/wave-interference/issues/80#issuecomment-495464104, it says:

As far as I understand, we do not plan to implement this feature.  And it would be unclear how to implement it given our emergent (rather than explicit) lattice model.  But I wanted to raise it for discussion.  @arouinfar do you think we should close this issue?  Or raise for discussion at next sonificatio

[2019-05-24 04:02] #80 closed

[2019-05-24 14:36] oliver-phet commented on #121
This has been recorded in our sim suggestions spreadsheet.

[2019-05-24 14:36] #121 closed

[2019-05-24 15:49] arouinfar commented on #400
@samreid this would only be relevant to the Wave Interference sound design (no interference in Waves Intro). In Wave Interference I think it would be crucial to depict interference in the sound design. For sound, we'd probably need some kind of mic/speaker tool (similar to the Wave Detector, but just one probe) that would play the sine wave at a given point in the lattice. A more general approach

[2019-05-24 22:06] lmulhall-phet opened #401 "Wavelength slider thumb goes beyond bounds of slider"
For https://github.com/phetsims/QA/issues/322.

If you look closely, you can see the little box that shows you what color your wavelength is actually goes beyond the bounds of the slider. This happens on both sides of the slider. Happens in the other screens as well. Also happens in published version. Should it go beyond?

![Screen Shot 2019-05-24 at 3 57 41 PM](https://user-images.githubuserconte

[2019-05-24 22:21] lmulhall-phet opened #402 "Lines in color slider"
For https://github.com/phetsims/QA/issues/322. There are lines visible in the color sliders. The lines are more prominent on macOS, but they are there on Windows.

2.0.0-dev.1:
![Screen Shot 2019-05-24 at 4 21 31 PM](https://user-images.githubusercontent.com/31285590/58359296-f16cf580-7e3f-11e9-975b-750a6e5f3675.png)

Published version:
![Screen Shot 2019-05-24 at 4 21 13 PM](https://user-images.g

[2019-05-24 22:32] arouinfar commented on #402
Looks pretty awful in latest macOS/Chrome.

![image](https://user-images.githubusercontent.com/8419308/58359509-0eee8f00-7e41-11e9-9703-051b2dd67cc1.png)

However, the slider looked fine in [1.1.0-dev.5](https://phet-dev.colorado.edu/html/wave-interference/1.1.0-dev.5/phet/wave-interference_all_phet.html) (version just prior to 2.0.0-dev.1)
![image](https://user-images.githubusercontent.com/841930

[2019-05-24 22:35] KatieWoe opened #403 "Multi-color patterns"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/322.  Not applicable to published version.
On the diffraction screen, certain colors will have a different color in the center of the pattern.  This happens throughout the slider during color transitions, but is most noticeable when light is orange (center looks

[2019-05-24 22:42] arouinfar commented on #403
Here are a few more examples showing some pretty obvious multi-colored patterns.
![Wave Interference screenshot (1)](https://user-images.githubusercontent.com/8419308/58359752-4873ca00-7e42-11e9-852e-08b3512eb8fd.png)
![Wave Interference screenshot (2)](https://user-images.githubusercontent.com/8419308/58359753-4873ca00-7e42-11e9-8e55-43fe00b440a8.png)
![Wave Interference screenshot](https://user-

[2019-05-24 22:44] KatieWoe commented on #402
Shows up with less severity in Windows 10 chrome:
![lessbutstillthere](https://user-images.githubusercontent.com/41024075/58359951-3ba3a600-7e43-11e9-928a-7de34f21c520.png)

[2019-05-24 22:54] lmulhall-phet opened #404 "Long strings push wavelength box into slit box"
For https://github.com/phetsims/QA/issues/322. Apologies for not using correct terminology.

I'm not sure if you've had a chance to look over the 4th screen for internationalization issues. Here's what `stringTest=double` looks like right now:

![Screen Shot 2019-05-24 at 4 50 55 PM](https://user-images.githubusercontent.com/31285590/58360182-9984bd80-7e44-11e9-8b01-f45dba288cde.png)

Looks worse

[2019-05-28 16:51] etwa4650 opened #405 "Same setup produces different results in Safari/Chrome"
for https://github.com/phetsims/QA/issues/322
<b>Test Device</b>
Jordan

<b>Operating System</b>
MAC OS 10.14.5

  <b>Browser</b>

Chrome/Safari

  <b>Problem Description</b>

With the same exact inputs, the resulting image looks different in different browsers, and behaves differently when rotated.

  <b>Steps to Reproduce</b>

  1: On both Chrome and Safari, go to the "Diffraction" screen
  2: S

[2019-05-28 16:57] KatieWoe commented on #405
I did a quick check on Win 10.  Firefox and Edge both act more like safari.

[2019-05-28 16:59] KatieWoe commented on #405
It looks like chrome is fading towards the edges more.  Not sure which is correct behavior.

[2019-05-28 18:28] JRomero0613 opened #406 "Poor iPad Performance on Interference Screen"
For https://github.com/phetsims/QA/issues/322 when doing the spot check for the first three screens it was noticed that the performance on iPad on the interference screen was particularly bad. All other screens worked fine and had no performance issues. To replicate this issue navigate to the interference screen, and switch the wave type to either  sound wave or light wave. This performance issue

[2019-05-28 18:39] ariel-phet commented on #403
@arouinfar @KatieWoe I am pretty sure this is merely a "perceptual" effect... we are saturating some of the RGB values (when I inspect with a color picker), and our eye does not have a linear response to intensity. Especially because of the way RGB represents color, I am guessing this is just an unavoidable side-effect of getting some sort of saturated intensity in certain places.

@samreid any in

[2019-05-28 18:47] arouinfar commented on #406
@JRomero0613 please let us know what iPad model and iOS version you observed this on.

[2019-05-28 18:57] JRomero0613 commented on #406
@arouinfar This was on Leibniz, which is model MGLW2LL/A running iOS 12.3.1.

[2019-05-28 19:00] arouinfar commented on #406
Thanks @JRomero0613.

@samreid Leibniz is an iPad Air 2, so this seems related to #322.

[2019-05-28 19:07] JRomero0613 commented on #406
Here is a video of the performance issues.
https://drive.google.com/file/d/1Dl4zaQxNy4kovcULPz9x5ihCaeScDvzo/view?usp=sharing

[2019-05-28 19:36] jbphet commented on #386
This issue was due in part to differences between how the browsers implement the `linearRampToValueAtTime` method for audio parameters.  I logged an issue with the Web Audio folks on this topic at https://github.com/WebAudio/web-audio-api/issues/1842, but it is unlikely to be consistent across all browsers any time soon.  I added something that sets the gain to the value that it is supposed to be

[2019-05-28 21:22] KatieWoe commented on #402
May be connected to https://github.com/phetsims/blackbody-spectrum/issues/95

[2019-05-28 21:26] samreid commented on #402
And likewise https://github.com/phetsims/scenery-phet/issues/500

[2019-05-29 01:56] samreid commented on #386
Sounds great in Mac safari, chrome and firefox.  @jbphet can this issue be closed?

[2019-05-29 02:09] samreid commented on #401
If my understanding is correct, the window of that thumb is more than a pixel wide, and since the center of the thumb can go to the edge of the spectrum, it overlaps a little.  @arouinfar or @ariel-phet is this your understanding as well?  Anything we should do about this for short or long term?

[2019-05-29 02:11] samreid commented on #404
I'll work on the i18n of the wavelength slider after #396 is complete, thanks!

[2019-05-29 15:12] pixelzoom commented on #402
I'm guessing that you picked up phetsims/scenery-phet#500 while work was in progress.  Please confirm.

[2019-05-29 15:19] pixelzoom commented on #402
I see no evidence of this problem in master, so you almost certainly picked up intermediate work and hit this problem: https://github.com/phetsims/scenery-phet/issues/500#issuecomment-495409067

I'm not sure how we avoid this kind of thing in the future - the "in-progress" label was removed, and any work in progress might impact any sim.   But it wouldn't hurt to ask on Slack before publishing som

[2019-05-29 15:20] pixelzoom commented on #402
... and I think it's safe to simply close this issue, after confirming for yourself.

[2019-05-29 15:31] jbphet commented on #386
Yep.  Closing.

[2019-05-29 15:31] #386 closed

[2019-05-29 17:49] arouinfar commented on #401
Nice attention to detail @lmulhall-phet.

That's also my understanding @samreid. I think this is just an unavoidable byproduct of the design of SpectrumSlider, and I don't think there's anything that needs to be done here.

[2019-05-29 17:49] #401 closed

[2019-05-29 18:24] samreid commented on #402
I do not see the problem in master at the moment, closing.

[2019-05-29 18:24] #402 closed

[2019-05-29 19:03] samreid commented on #403
The values in the FFT matrix are between 0-1.  These values are scaled by the `baseColor` which is chosen in the wavelength slider.  Then there is an additional scale factor which is currently defined like so:

[code]

This confirms @ariel-phet's suspicion that we are saturating some values near the origin.  For example, imagine that a base color is rgb = (20, 240, 40).  i.e. mostly green.  Then w

[2019-05-30 02:51] ariel-phet commented on #403
@samreid can you make a query parameter for the scale factor so I can try a few different ones and play with the sim?

That being said (and I think worth optimizing) @samreid @arouinfar due to the way the eye perceives color (nonlinear, dependent on color, and saturation effects) I am not sure we have to worry about this effect all that much. I agree it would be nice to keep things monochromatic,

[2019-06-03 04:22] samreid commented on #396
After changes in #394, I added this code
[code]
and now it looks like this:

![image](https://user-images.githubusercontent.com/679486/58775826-baf05280-8584-11e9-8f0c-75fb8507559f.png)

I am hesitant to commit this until the API is finalized in scenery-phet, but I wanted to check that the pixel polishing is as-desired (from the screenshot).  @arouinfar can you please comment?

[2019-06-03 20:36] arouinfar commented on #396
@samreid the layout is looking great! I would suggest that the tweakers are made a bit smaller so their height matches the height of the wavelength readout.

![image](https://user-images.githubusercontent.com/8419308/58832785-ef0f5600-860c-11e9-937a-6e7498524b0a.png)

[2019-06-04 17:19] samreid commented on #380
@jbphet said the current implementation seems correct.

[2019-06-04 17:19] #380 closed

[2019-06-04 17:20] samreid commented on #385
We reviewed this at today's sonification meeting and agree the current audio files sound good--setting playback rate but not volume.

[2019-06-04 17:20] #385 closed

[2019-06-04 17:31] samreid commented on #387
Today we reviewed this and agreed it is great, closing.

[2019-06-04 17:31] #387 closed

[2019-06-04 17:31] samreid commented on #374
We reviewed the current sound effects for water drops and love it, closing.

[2019-06-04 17:31] #374 closed

[2019-06-13 17:20] samreid opened #407 "Light not associated with a scenery node, it plays sound on the wrong screens."
The light sound effect needs to be associated with a scenery node so it won't play on the sound and water screens.

[2019-06-17 20:54] samreid commented on #394
NumberControl can now use spectrum for slider track and thumb.  This is implemented in Wave Interference and up for review and pixel polishing in other issues.  Closing.

[2019-06-17 20:54] #394 closed

[2019-06-17 21:02] samreid commented on #396
I finished the prescribed updates, @arouinfar can you please review on phettest/master?

[2019-06-17 21:15] samreid commented on #403
Here is a dev version that you can specify a different scale factor with a query parameter:

https://phet-dev.colorado.edu/html/wave-interference/2.0.0-dev.2/phet/wave-interference_en_phet.html?diffractionScaleFactor=3.0

[2019-06-17 21:22] samreid commented on #404
Thanks for reporting this @lmulhall-phet. I addressed it in the commit.  Can you or @KatieWoe or @arouinfar please review/test?

[2019-06-17 22:06] samreid commented on #405
The fft is giving different results on chrome and safari.  Here is the diagonal:

![image](https://user-images.githubusercontent.com/679486/59639910-c19ccf00-9119-11e9-8f29-70ab6e42ee9c.png)

[code]

[2019-06-17 22:17] KatieWoe commented on #404
Looks good to me @samreid

[2019-06-17 22:36] samreid commented on #405
The bit reversal tables and cosine/sine tables are coming up the same on chrome and safari.

[2019-06-17 22:40] samreid commented on #405
The inputs to the FFT are different:

![image](https://user-images.githubusercontent.com/679486/59641401-9799db80-911e-11e9-9ee8-170042377d0d.png)

[2019-06-17 22:50] samreid commented on #405
If I use this code:

[code]

Then the number of differences goes from hundreds to just 3:

![image](https://user-images.githubusercontent.com/679486/59641754-dbd9ab80-911f-11e9-8a88-a21f73e2c3e0.png)

And chrome and safari look pretty much the same.

[2019-06-17 22:53] samreid commented on #405
Note that disabling image smoothing may lead to more aliasing in the images in the aperture view, a problem we tried to address in https://github.com/phetsims/wave-interference/issues/368

[2019-06-17 23:01] samreid commented on #405
In the above commit, I turn off smoothing for the FFT inputs, but leave on the smoothing for antialiasing in the view.  Results now look similar in testing default values on chrome and safari.  @KatieWoe or @etwa4650, can you please test?  Close if all is well.

[2019-06-17 23:16] arouinfar commented on #404
Looks good @samreid, thanks!

[2019-06-17 23:16] #404 closed

[2019-06-17 23:17] arouinfar commented on #396
Look great! Thanks @samreid.

[2019-06-17 23:17] #396 closed

[2019-06-17 23:24] samreid commented on #406
The published version clears the wave area when changing the separation.  But master doesn't clear the wave area.  I'm not sure if this was intentional, we'll need to investigate.

[2019-06-18 03:45] samreid commented on #406
This error was introduced in https://github.com/phetsims/scenery-phet/commit/f5250b350b925aa3f4bd1445965bdff6e2cc87f8 when the NumberControl key names were changed.  I also have a question: `startDrag` is no longer an option, it says `startCallback` must be used instead, but `startDrag` is listed in `SPECIFIC_COMPONENT_CALLBACK_OPTIONS`, so I'm wondering if the check for `callbackKeysInOptions` is

[2019-06-18 12:41] samreid commented on #406
I updated the key names and now wave interference seems to correctly mute the wave when using the NumberControl.  I confirmed this fixes performance on the iPad 2.  Many thanks to @JRomero0613 for identifying this problem!

Reassigning to @JRomero0613 and @KatieWoe to double check the fixes--I think you can use phettest for this.

[2019-06-18 13:36] samreid commented on #349
@ariel-phet can you help move this issue forward?

[2019-06-18 15:32] KatieWoe commented on #405
Behavior seems to be the same now.  Will do more thorough check in next test

[2019-06-18 15:32] #405 closed

[2019-06-18 15:32] samreid commented on #196
@ariel-phet can you please help move this issue forward?

[2019-06-18 15:33] samreid commented on #66
I'm not planning on rewriting any of the graphics in WebGL before publishing 2.0

[2019-06-18 15:34] samreid opened #408 "Issues in other repos that may require work before publishing 2.0"
There are some issues in other repos we may wish to address before publishing 2.0.  I'll link them to here.

[2019-06-18 15:40] samreid commented on #370
@ariel-phet can you please help us complete this issue soon?

[2019-06-18 15:48] samreid commented on #399
Snapshots taken every couple of minutes shows memory is tapering off--probably not a leak:

![image](https://user-images.githubusercontent.com/679486/59699102-31f53000-91ae-11e9-8100-c5f9ddbc683e.png)

[2019-06-18 15:51] samreid commented on #399
To help understand where the memory is used, I took a snapshot of memory for each screen:

1: 45MB
2: 45MB
3: 36MB
4: 27MB

[2019-06-18 15:55] KatieWoe commented on #406
This looks ok on the original iPad on master

[2019-06-18 15:55] #406 closed

[2019-06-18 16:07] samreid commented on #399
I determined that Path/Shape subpaths account for 25% of the simulation size.  I changed Path.setShape to always use a 100x100 rectangle and did a memory snapshot:

![image](https://user-images.githubusercontent.com/679486/59700567-ccef0980-91b0-11e9-9d71-6e179f1eaff6.png)

[2019-06-18 16:14] samreid commented on #399
Also, I noticed every single subpath segment Line extends Events, not sure how much that increases the weight.  I tried commenting all out `trigger0('invalidated')` and all `on('invalidated')` and changed Segment to no longer extend Events, and it saved around 6MB of memory.

[2019-06-18 16:29] samreid commented on #399
Converting Segment to use TinyEmitter instead of extend Events saves around 1MB ~ 1% memory.  I'll open a kite issue for that part.

[2019-06-18 16:49] samreid commented on #399
@ariel-phet after an hour or so, I found a place where excess memory was being used in kite and proposed an improvement.  It should be analyzed and reviewed by @jonathanolson before we use it in production.  Can you please visit https://github.com/phetsims/kite/issues/79 and recommend a priority/timeline?  Also, do you want more time spent on this issue, or is it at a good stopping point?

[2019-06-18 18:02] ariel-phet commented on #349
@samreid said proposed version is in Master. Will take a look.

[2019-06-19 03:55] ariel-phet commented on #403
@samreid please change the scale factor to 2.5, that seems to keep the colors fairly consistent, you will still get the "bright effect" in the center to some extent but it is not as prominent.

@arouinfar we probably want to add a note to the teacher tips that the diffraction pattern is always monochromatic but due to saturation effects might look like a slightly different color in the center.

[2019-06-19 03:58] ariel-phet commented on #370
Everything is consistently in mm for the aperture dimensions. Closing.

[2019-06-19 03:58] #370 closed

[2019-06-19 12:46] samreid commented on #403
Brightness changed, leaving assigned to @arouinfar to update the teacher tips.  @arouinfar once that's complete, this issue can be closed.

[2019-06-19 15:45] samreid commented on #376
Instructions to the reviewer:

- [ ] The new screen to be reviewed is wave-interference/js/diffraction, approximately 1500 lines of code
- [ ] Complete review of https://github.com/phetsims/scenery-phet/issues/506
- [ ] Please visit `TODO: to the reviewer` comments in this directory and address or comment on them

* Note there is ongoing work as part of the "Waves Intro" sonification project elsew

[2019-06-19 15:57] samreid opened #409 "Interviews on the Diffraction Screen"
In https://github.com/phetsims/wave-interference/issues/372 @ariel-phet said:

@arouinfar are any of the issues mentioned in https://github.com/phetsims/wave-interference/issues?q=is%3Aissue+is%3Aopen+label%3Awave-interference%3A2.0 blocking for interviews?  If not, please feel free to proceed at your convenience.

[2019-06-19 17:12] arouinfar opened #410 "Update Teacher Tips"
The Diffraction screen should be added to the teacher tips.

Issues to document:
- [x] Multi-color patterns - #403

[2019-06-19 17:15] arouinfar commented on #403
@ariel-phet @samreid I think the `diffractionScaleFactor=2.5` looks good. It maintains a reasonable brightness while minimizing the apparent multi-colored patterns.

I'll track teacher tips separately in #410. Closing.

[2019-06-19 17:15] #403 closed

[2019-06-19 17:19] arouinfar commented on #409
@samreid @ariel-phet none of those issues are blocking. I have three interviews scheduled for today and tomorrow. I was planning to use dev.2 with `?diffractionScaleFactor=2.5`, but it might be handy to have that rolled into a dev.3. @samreid if you have some time, can you publish a new dev version?

[2019-06-20 02:19] ariel-phet commented on #349
@samreid @arouinfar I am tempted to go ahead and close this issue. The fix appears to address the areas of concern. I will note that even with the fix the interference can still be seen with a single source that is slightly off center. But really on the interference screen both sources being "on" is the pedagogically useful case.

![interference](https://user-images.githubusercontent.com/4051174/5

[2019-06-20 02:39] ariel-phet commented on #399
@samreid I find it suspect that the first 2 screens are both 45 MB, and the 3rd screen is nearly 10 MB less. This all have very similar functionality.

Is something like the speaker causing this big discrepancy since the speaker has many many images associated with the moving cone? If so, The cone kind of looks like it can be drawn in code with some simple shapes and gradients. So I would at least

[2019-06-20 02:41] ariel-phet commented on #399
Side note @samreid if you do identify the speaker being the issue, drawing the cone in code might make a nice side project for an intern since I know your time is constrained.

[2019-06-20 17:39] arouinfar commented on #196
Discussed at the 6/20/19 design meeting, and we decided that @samreid should proceed with this.

[2019-06-20 17:40] ariel-phet commented on #399
@samreid it was also noted in Design meeting that the "particle view" exists on the first two screens and not on the 3rd screen. Is there something about creating the particle view that adds all this memory?

[2019-06-20 18:59] arouinfar commented on #349
Discussed in 6/20/19 design meeting, and decided that we can defer this issue.

The current behavior is an improvement over 1.0, but we would like to leave this open for the possibility of future investigation/improvements.

[2019-06-20 19:14] arouinfar opened #411 "Consider asymmetric HISTORY_LENGTH"
The screen has a temporal averaging called `HISTORY_LENGTH` specified in [IntensitySample.js](https://github.com/phetsims/wave-interference/blob/master/js/common/model/IntensitySample.js#L18).

[code]

Originally the the scaling factor was 180, but was tuned in #208 before we settled on 90. The lower the value, the less latency, but it also means that there is a lot more noise in the screen and In

[2019-06-20 19:16] arouinfar commented on #409
I've done two interviews, with a 3rd lined up for tomorrow morning. So far, I don't have any design tweaks to suggest, but will open an issue should anything arise in the 3rd interview.

I'll go ahead and close this issue.

[2019-06-20 19:16] #409 closed

[2019-06-21 13:21] pixelzoom commented on #376
@samreid What's the priority? I may not get to this until > July 2.  If that's a problem, consult with @ariel-phet about an alternate reviewer.

[2019-06-22 03:10] samreid commented on #376
@ariel-phet replied over slack

[2019-06-24 00:05] pixelzoom commented on #376
On Slack, @ariel-phet said:

[2019-06-24 01:58] pixelzoom commented on #376
Review is completed.   Looking good overall.  And this was a fun screen to play around with.

* I added a few missing annotations in the above commits.

* I added a few `REVIEW` comments inline.

* It's typically up to developer discretion to put some view-specific things in the model when convenient. But I didn't expect to find things like `CanvasRenderingContext2D` in the model. And the primary

[2019-06-24 03:07] pixelzoom commented on #376
In the previous comment, I said:

Thinking about this more, steps 2-4 above are really unnecessary.  I guess what I don't like is the method `link` in DiffractionScene` --  it makes it look like a `Property` when it's not.   Rename it to something like `addChangedListener` and that would address my concern.

I think step 1 still a good idea, since making a subclass responsible for superclass field

[2019-06-25 16:27] samreid commented on #399
Here are some notes from memory analysis:

[code]

So it appears the SoundWaveGenerator takes up 3.6MB, but this is less than either the LightWaveGenerator or WaterWaveGenerator take.  And deleting 20 of the 21 images in SoundWaveGeneratorNode does not impact the heap size.  But a significant portion of the memory taken by any of the wave generators is the RoundStickyToggleButton.  Combined, the 3

[2019-06-25 16:55] samreid commented on #399
Comparing screen 1 to screen 3, I see this difference in heap allocations:

![image](https://user-images.githubusercontent.com/679486/60116676-c115c100-9735-11e9-8c8f-b1fb297f38cf.png)

There is a 5MB difference in allocation of Vector2, Bounds2 and Line, but it is not clear where these are coming from.

I also tried switching to flat appearance in all round buttons, but that only saved around 1MB

[2019-06-25 16:58] samreid commented on #399
I discovered that the Waves screens was creating secondary unused wave generators.  In the preceding commit (before preceding comment) I removed these and saved about 5MB total.  After this change, the total built sim is down to 84.5MB.  @ariel-phet is this a good stopping point for 2.0?

[2019-06-25 18:01] samreid commented on #196
In the commit, I made it so the theory lines update immediately for water.  @arouinfar can you please fully test the `?theory` query parameter, including but not limited to this new change and let me know if everything is OK?  Close if all is well.

[2019-06-25 18:10] samreid commented on #376
This simulation uses a canvas in the model for generating the model aperture shape.  It is described in DiffractionScene.js like so:

and in the implementation-notes.md like so:

Please let me know what I can do to make this clearer.

[2019-06-25 18:20] samreid commented on #376
Addressed in preceding commits.

[2019-06-25 18:35] samreid commented on #376
In the preceding commit, I renamed it to `linkToAllProperties`, will that work?

[2019-06-25 19:20] samreid opened #412 "Set accessible order for keyboard navigation"
@zepumph asked if it would be easy to set the correct keyboard navigation order.  We will take a look.

[2019-06-25 19:30] samreid commented on #412
@zepumph and I collaborated to set the correct order and it didn't take long.  Everything seems keyboard accessible aside from the toolbox elements.  @emily-phet would you like to review?

[2019-06-25 19:33] emily-phet commented on #412
@samreid @zepumph Wonderful to hear this seemed quick and easy! Let's just take the keyboard nav for a spin during our next Waves Intro sound meeting. See you then!

[2019-06-25 23:47] samreid commented on #376
I've addressed the `REVIEW` comments in the code and responded to all comments in this issue.  Back to @pixelzoom for discussion.

[2019-06-26 00:20] pixelzoom commented on #376
In https://github.com/phetsims/wave-interference/commit/e1aee1a573545f45f22ec278c8b3ee07d12eeedb, `this.wavelengthProperty` in `DiffractionModel` was changed from 'nm' to 'mm'.   It's default value is `WaveInterferenceConstants.DEFAULT_WAVELENGTH`, which is documented as "in nm".  So something seems incorrect here.

[2019-06-26 00:22] samreid commented on #376
Thanks!  I fixed it back to nm.

[2019-06-26 00:24] pixelzoom commented on #376
Works for me.

[2019-06-26 00:30] pixelzoom commented on #376
Re https://github.com/phetsims/wave-interference/issues/376#issuecomment-505559241...  Thanks, I did see those bits of documentation.  They tell me (as you said) that a canvas is used in the model for generating the model aperture shape.  But they don't tell me _why_ that's appropriate to do in the model, or why a shape belongs in the model.  A shape is (typically) one view-specific way of represe

[2019-06-26 01:41] samreid commented on #376
I elaborated on the model canvas in the preceding commit.  @pixelzoom can you please review?

[2019-06-26 01:48] pixelzoom commented on #376
Thanks, that's helpful.

This issue seems to be done, so closing.  Feel free to reopen if I missed something.

[2019-06-26 01:48] #376 closed

[2019-06-28 16:16] arouinfar commented on #196
@samreid `?theory` is looking good on the Interference screen for all scenes. However, I'm noticing things look a bit off for water on the Slits screen (sound and light are ok). Comparing to latest reveals that things are indeed different for water.

In latest (1.0.4) there is good agreement between `?theory` and the lattice.
![WI-1 0](https://user-images.githubusercontent.com/8419308/60356128-624

[2019-06-29 04:01] samreid commented on #196
Good discovery @arouinfar, I'll look into it.

[2019-06-30 18:15] ariel-phet commented on #399
@samreid thanks for investigating further, that seems to be down to a much better level. Closing.

[2019-06-30 18:15] #399 closed

[2019-06-30 18:58] samreid commented on #196
Proposed fix is committed, @arouinfar please review.

[2019-07-01 16:15] arouinfar commented on #196
Looking good in master @samreid!

[2019-07-01 16:15] #196 closed

[2019-07-09 17:40] Ashton-Morris commented on #391
We had a conversation and decided to use a regular radio button for that.

[2019-07-09 18:33] samreid commented on #391
Thanks, it therefore seems like this issue can be closed.  Please reopen if more work is needed here.

[2019-07-09 18:33] #391 closed

[2019-07-09 20:56] Ashton-Morris commented on #389
Yes. We decided on a screen selection and a home screen selection sound.

[2019-07-09 20:56] #389 closed

[2019-07-15 15:55] samreid commented on #412
In https://github.com/phetsims/waves-intro/issues/6#issuecomment-509767647 we agreed to focus on publishing 1.0 with the "tone" sound.  It was unclear to me whether we would also focus on accessibility later or try to have that ready for 1.0.  For now I have removed that flag in the preceding commit.  @kathy-phet and @emily-phet at what point do you want to focus on finalizing publishing keyboard

[2019-07-15 16:01] samreid commented on #393
Oscillator is not playing during step at the moment, closing.

[2019-07-15 16:01] #393 closed

[2019-07-15 16:06] kathy-phet commented on #412
I would vote for (b). Keyboard navigation also is tied to static description, so it seems we should think about that while doing keyboard nav. Emily?

[2019-07-15 17:23] samreid commented on #392
@kathy-phet and @arouinfar: should the "Play Tone" button appear only on the "Waves" screen, or also on the "Interference" and "Slits" sceens?

[2019-07-15 17:28] arouinfar commented on #392
I think we'd only want "Play Tone" on the Waves screen.

For Interference and Slits, we'd need some sort of microphone-like probe to place in the lattice. Playing a single tone on these screens would be problematic, since the interference pattern would alter the sound. I think such a tool would be beyond the scope of Wave Interference, anyway.

[2019-07-15 19:05] samreid commented on #392
Working on this, I've noted the problem that the sound tone plays on other scenes.  We will need to associate it with a more specific node to get it to enable/disable correctly.

[2019-07-15 19:16] samreid commented on #392
I fixed the problem in the preceding comment and enabled the sine wave oscillator tone and control for Wave Interference's "Waves" screen.  @arouinfar can you please test Wave Interference and Waves Intro to make sure the tone and its control are behaving as desired?

[2019-07-15 21:06] arouinfar commented on #392
@samreid looks good in `waves-intro` and `wave-interference`.

[2019-07-15 21:31] samreid commented on #392
Excellent, thanks for testing, closing.

[2019-07-15 21:31] #392 closed

[2019-07-16 18:11] samreid commented on #408
Related issues all closed (for now).  Closing, but can reopen if other repo issues arise.

[2019-07-16 18:11] #408 closed

[2019-07-16 18:23] samreid commented on #372
Dev test published here: https://github.com/phetsims/QA/issues/371

[2019-07-16 18:25] samreid opened #413 "Should the "Diffraction" screen be published as a standalone sim?"
The Diffraction screen seems to be rich enough to warrant its own simulation, and it is easy to envision use cases that would want to focus on diffraction without the scaffolding of the preceding screens.  I don't recall if we have discussed it before, but thought it would be good to chat about.

@arouinfar @kathy-phet @ariel-phet thoughts?

[2019-07-16 18:42] samreid opened #414 "Waves Intro code review"
@kathy-phet requested a code review for the changes that allowed us to adapt Wave Interference into Waves Intro, where each scene is split up into a separate screen.  The two files that were introduced to support this change are `BasicScreen.js` and `MediumScreen.js`.  I'll self-assign at first to make sure they are ready for review.

[2019-07-16 18:49] samreid commented on #414
@pixelzoom can you please review these two files at your convenience?  It's less than 100 lines of code and I believe we are hoping to get this published for the beginning of school in the fall.

[2019-07-16 18:57] pixelzoom commented on #414
I just did pull-all.sh to review https://github.com/phetsims/wave-interference/issues/414#issuecomment-511940094.  Waves Intro starts up OK. But Wave Interference is failing at startup:

[code]

Back to @samreid to fix before I continue review.

[2019-07-16 19:08] pixelzoom commented on #414
While you're fixing...

If I understand the doc for `MediumScreen`, each screen in Waves Intro is creating all scenes, but only showing one scene.   This seems incredibility wasteful, not to mention problematic for PhET-iO.  You need 3 scene instances, but you're creating 9 scenes (3 screens x 3 scenes) and ignoring 6 of them.  Something that takes a list of scenes would be more general and flexib

[2019-07-16 19:11] samreid commented on #414
I reverted the incorrect assertion but will need to take a closer at the options and the preceding comment after lunch.

[2019-07-17 00:02] ariel-phet commented on #413
My vote would be no -- I do think spin off sims can be pretty nice, but I do not think a separate sim is warranted in this case.

I think a good contrast is our decision on Diffusion:

1. Diffusion (although using a similar model to the rest of gas properties) felt a bit "buried" as a screen. If someone were looking for a sim purely on diffusion, the would be unlikely to necessarily think that it

[2019-07-17 00:39] arouinfar commented on #413
My vote would also be no, for the reasons that @ariel-phet so nicely articulated in https://github.com/phetsims/wave-interference/issues/413#issuecomment-512046435.

[2019-07-17 15:47] emily-phet commented on #412
@samreid Thanks for checking in on this.

I agree with @kathy-phet and option b) - let's consider the sonification and keyboard accessibility as a coupled pair of features, and plan to publish with these together.

[2019-07-24 15:06] KatieWoe opened #415 "CT should not need to set accessible order on the screen view"
Also in Wave Intro
[code]

[2019-07-25 15:50] jessegreenberg commented on #415
Thanks @KatieWoe, probably from changes in https://github.com/phetsims/scenery-phet/issues/381, Ill start there.

[2019-07-25 15:51] jessegreenberg commented on #415
Actually, it looks like this stopped showing up yesterday evening.

[2019-07-26 13:09] jessegreenberg commented on #415
This was fixed by https://github.com/phetsims/wave-interference/commit/9ed57c0ba970f760e5c27918f2844499689437a1, closing.

[2019-07-26 13:09] #415 closed

[2019-07-26 14:02] samreid commented on #414
I renamed BasicScreen => BaseScreen and switched to a pattern that only creates components for the specified screens.  @pixelzoom can you please review?

[2019-07-26 15:18] samreid commented on #407
Addressed as part of https://github.com/phetsims/waves-intro/issues/7, closing.

[2019-07-26 15:18] #407 closed

[2019-07-26 18:05] arouinfar commented on #414
@samreid nothing appears to have been disturbed.

[2019-07-26 18:12] arouinfar commented on #414
@samreid actually I have to walk that back. The `ResetAllButton` is broken. When pressed, it gets stuck like this, and requires a browser refresh.
![image](https://user-images.githubusercontent.com/8419308/61972332-8e622100-af9e-11e9-9f3b-848b6c892060.png)

[2019-07-26 19:13] samreid commented on #414
Thanks @arouinfar, I fixed the reset problem.  Can you please re-test?

[2019-07-26 20:21] samreid opened #416 "Should Waves Intro: Light Screen have a "Screen" feature?"
We left the "Screen" feature in Wave Interference Screen 1 since it scaffolds up to showing interference patterns in the later screen.  But in Waves Intro, the light "Screen" doesn't really lead to anything.  I wonder if it should be removed for Waves Intro.  @arouinfar have we discussed this before?  What is your recommendation?

[2019-07-28 15:26] arouinfar commented on #416
@samreid we should keep the screen in Waves Intro. Another purpose it serves is to show the perceived color, as it's possible that some students may expect the light will flicker based on the alternating colors in the lattice.

[2019-07-28 15:26] #416 closed

[2019-07-28 15:40] arouinfar commented on #414
The `ResetAllButton` is now working in master. Thanks @samreid.

[2019-07-29 17:12] pixelzoom commented on #414
Review is completed.

Overall:

- [ ] While I don't like the number of tests for the existence of scenes that this solution requires (e.g. `if ( model.waterScene )`), I understand how you got here, and it seems like a justifiable compromise.   Recommended to say something about this in either WaveModel.js or implementation-notes.js -- noting what you're doing and why.

Specific issues:

- [ ] Scre

[2019-07-29 21:19] samreid commented on #414
Thanks for the review, I addressed the points raised in the preceding comment.  @pixelzoom can you please re-review?  Close if all is well.

[2019-07-29 21:32] pixelzoom commented on #414
I reviewed commits, looks good.  Closing.

[2019-07-29 21:32] #414 closed

[2019-07-31 20:57] lmulhall-phet opened #417 "Repeatedly manually "pulsing" cuts waves off"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.5

**Browser**

Chrome 75.0.3770.142

**Problem Description**

For https://github.com/phetsims/QA/issues/389. If you set the wave generator to the "pulse" setting (instead of the "continuous" setting) and you repeatedly press the button to generate a wave, the waves in the vanguard will disappear mysteriously.

**Steps to Reproduce**

[2019-07-31 21:34] KatieWoe commented on #417
Also appears in sound.  Manifests a bit differently in water, as seen here:
https://drive.google.com/file/d/1da7VpeZrGrltF-VjkRL3ha8K47aVhdew/view?usp=sharing

[2019-07-31 22:36] KatieWoe opened #418 "Separation and width strings overlap"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
chrome
**Problem description**
For https://github.com/phetsims/QA/issues/389
Not an issue in the published version of the sim.  The slit width and slit separation strings overlap with the box with the measurements in them.
**Steps to reproduce**
1. Use string Test double and look at the slits screen
2. Applies to water, sound, and

[2019-07-31 23:23] samreid commented on #417
This problem is similar to https://github.com/phetsims/wave-interference/issues/417

[2019-08-01 23:54] lmulhall-phet opened #419 "Particles outside of box"
**Test Device**

Hopper

**Operating System**

iOS 12.4

**Browser**

Safari

**Problem Description**

For https://github.com/phetsims/QA/issues/389. See the title and visuals.

**Steps to Reproduce**

1. Interference screen.
2. Select particles radio button or both radio button.

**Visuals**

![IMG_0061](https://user-images.githubusercontent.com/31285590/62334534-456e0900-b485-11e9-8736-c584453fd

[2019-08-02 12:42] samreid commented on #418
Proposed fix committed, @KatieWoe can you please review on phettest?  Close if all is well.

[2019-08-02 12:47] samreid commented on #419
This is a known problem from https://github.com/phetsims/wave-interference/issues/331, but surprising that it only occurred in Wave Interference and not Waves Intro.  I'll take a look.

[2019-08-02 12:54] samreid commented on #419
Also, I wonder about the performance improvements @pixelzoom and @jonathanolson discussed for Gas Properties.  If we can eliminate the requirement to use WebGL on iOS without sacrificing performance, we can address the clipping problem.

[2019-08-02 13:03] samreid commented on #419
In the preceding commit, I made it so Waves Intro uses WebGL on mobile safari to improve performance, as we decided for Wave Interference.  Good catch @lmulhall-phet!  I'll move the preceding comment to #331.

[2019-08-02 13:03] samreid commented on #331
Alternatively (from #419)

[2019-08-02 13:19] samreid commented on #331
I read more about https://github.com/phetsims/gas-properties/issues/146 and wanted to ask @jonathanolson if the proposed solution would support clipping.  If so, it could be a candidate for usage on iOS for Wave Interference sound particles.

[2019-08-02 13:24] samreid commented on #331
Also, the performance problem on iOS was a regression--was OK in iOS 11 and fell in iOS 12.  Maybe whatever problem was introduced in iOS 12 was addressed?  Before spending any time implementing webgl clipping or an overlay workaround, we could retest performance on iOS without webgl.  But in the interest of getting this published in time for school, we may just continue with our consensus in http

[2019-08-02 14:46] KatieWoe commented on #418
Looks good on master

[2019-08-02 15:11] KatieWoe opened #420 "Inconsistent slider button sizes"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
chrome
**Problem description**
For https://github.com/phetsims/QA/issues/389
The arrows that adjust the sliders become small on the diameter slider, but not the eccentricity slider, when doubling strings on the Diffraction screen.  Smaller buttons seem to be what occur in other parts of the sim.

**Visuals**
![buttonsizes](https://user-i

[2019-08-02 15:30] arouinfar commented on #420
@samreid is it possible to always maintain tweaker size, like the Eccentricity slider? The small tweaker buttons seem a bit problematic.

[2019-08-02 19:17] lmulhall-phet commented on #417
@samreid, did you paste the wrong URL?

[2019-08-02 20:36] pixelzoom commented on #419
@samreid Before investigating WebGL, you might consider making some straightforward optimizations to your `for` loops.   I see many `for` loops where the exit condition is being reevaluated on every iteration.  These types of optimizations resulted in a significant performance improvement (+5fps) for Gas Properties, see https://github.com/phetsims/gas-properties/issues/146#issuecomment-515237667.

[2019-08-03 02:43] samreid commented on #417
Yes, thanks.  The correct URL is https://github.com/phetsims/wave-interference/issues/333

[2019-08-03 05:53] samreid commented on #420
Good catch @KatieWoe.  The problem was introduced by https://github.com/phetsims/scenery-phet/issues/513 where we set the tweaker button size to match the size of the number display.  In this case, the large text has made the number display shorter, so the arrow buttons have shrunken too.  This problem will impact every sim with NumberControl.  Not sure what's the best solution--for now I'll reope

[2019-08-03 15:12] samreid commented on #419
I measured the profiler frame rate with throttle x4, then replaced all of the `for let` end conditions with constants and re-ran the profiler.  There was not a significant difference in the frame rate for this simulation.  I'll leave the code as it is for now.

[2019-08-05 19:57] KatieWoe commented on #420
Probably moot at this point, but it does happen to a degree even without the string tests:
![sizeisdifferent](https://user-images.githubusercontent.com/41024075/62491400-01cb1600-b789-11e9-933e-06e5bf6c989d.png)

[2019-08-05 20:19] KatieWoe commented on #418
Actually, I see that it still happens with string test long in master (along with other similar slider strings, such as those on the 4th screen.)

[2019-08-05 21:24] KatieWoe opened #421 "Light screen behavior has changed"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/389 (both sims)
I noticed that the screen on the light scenes seems to behave differently than in the published version.  The screen gets much brighter, and takes longer to go dark when the light stops.  It also looks a bit odd as it goes dark.  If this is the new i

[2019-08-05 22:01] samreid commented on #421
I believe we intentionally changed the behavior as part of https://github.com/phetsims/wave-interference/issues/349, but I'll leave it open to see if @arouinfar concurs.

[2019-08-05 22:45] arouinfar commented on #421
I believe the brighter screen was an intentional part of #349, but the decay time is pretty lengthy and seems unintentional to me. Can you look into it @samreid?

I remember at one of our more recent design meetings, @kathy-phet also mentioned the decay time as a general concern, perhaps because it was unintentionally lengthened?

[2019-08-06 14:26] samreid commented on #418
Here's a snapshot of that problem:

![image](https://user-images.githubusercontent.com/679486/62548315-d5180c80-b823-11e9-874b-68a9a6a67c02.png)

It appears those sliders aren't as wide, so the `maxWidth` overflows a bit.

[2019-08-06 14:37] samreid commented on #418
Proposed fix committed, @KatieWoe can you please review and test on master?  Close if all is well.

[2019-08-06 14:45] KatieWoe commented on #418
Few instances still
![stillhere](https://user-images.githubusercontent.com/41024075/62549898-861fa680-b826-11e9-8b06-4a43a1c804b4.png)
![stillheretwo](https://user-images.githubusercontent.com/41024075/62549899-861fa680-b826-11e9-91f5-24271c59c117.png)

[2019-08-06 15:40] samreid commented on #418
@KatieWoe thanks for your persistence on this issue, it led me to the realization that https://github.com/phetsims/wave-interference/issues/420 is actually changing the widths of the number controls, which is, in turn, causing more overlap in the text.  I'll pursue a fix for https://github.com/phetsims/wave-interference/issues/420 then return to this issue.

[2019-08-06 15:55] samreid commented on #420
I pushed a proposed fix in https://github.com/phetsims/scenery-phet/issues/513 and it's up for review.

[2019-08-06 15:55] samreid commented on #418
I pushed a fix for #420 and the arrow buttons are no longer a function of the string length.  Now I'll tune the maxWidth values.

[2019-08-06 15:59] samreid commented on #418
One more comment before I commit.  With longer-than-english strings, the heights of boxes are different and the vertical alignment can be off by a little bit:

![image](https://user-images.githubusercontent.com/679486/62555809-d4d23e00-b830-11e9-9543-c4190231d216.png)

Perhaps this warrants a separate issue?

[2019-08-06 16:02] samreid opened #422 "NumberControls are vertically mis-aligned when maxWidth restricts their heights differently"
From https://github.com/phetsims/wave-interference/issues/418#issuecomment-518733487

With longer-than-english strings, the heights of boxes are different and the vertical alignment can be off by a little bit:

![image](https://user-images.githubusercontent.com/679486/62555809-d4d23e00-b830-11e9-9543-c4190231d216.png)

@arouinfar or @ariel-phet do you want to spend any time on this before publicat

[2019-08-06 16:04] samreid commented on #418
OK I adjusted the `maxWidth` after the NumberControl.arrowButton sizes were fixed.  @KatieWoe will you please re-test?  Also, we should keep in mind if we change the tweaker button sizes again, we will need to readjust these `maxWidth`s again.

[2019-08-06 16:44] ariel-phet commented on #422
@samreid given that this is a common code component that recently got work, yes, it seems we should spend some time as this would be a general issue I think (probably not noticed before since we often do not have multiple number controls in a horizontal row like this) but I believe some planned components in CCK AC have this arrangement, so best to deal with sooner than later.

[2019-08-06 16:54] samreid commented on #422
@jonathanolson can you suggest an implementation strategy for this problem?

[2019-08-06 17:03] KatieWoe commented on #418
Looks solid from what I can see on master.  I did notice that the distance between them is different for each slider, and some get closer than others, but I don't think any overlap.

[2019-08-06 19:34] KatieWoe opened #423 "Are the tones right?"
For https://github.com/phetsims/QA/issues/389
The Play Tones sound doesn't seem quite right to me, but I may be doing something wrong.
If you go to sound and use the default frequency (in the middle), and calculate the hz frequency using the timer, you get about 376 hz.  However, the sound that plays seems rather different than that tone.
https://drive.google.com/file/d/1Ux4wMKboR-EBmlvz0G_d0GsHq2

[2019-08-06 20:08] KatieWoe opened #424 "Sim won't open in IE"
For https://github.com/phetsims/QA/issues/389
The main sim won't load in IE.
Error in console:
``` SCRIPT438: Object doesn't support property or method 'ellipse' ```

[2019-08-06 20:13] KatieWoe opened #425 "IE Play Tone checkbox does nothing"
For https://github.com/phetsims/QA/issues/389, both sims
The only thing the Play Tone checkbox does is play a sound.  Since Tambo isn't supported in IE, this means that this function doesn't work there.  Leaving a checkbox that has no use/effect on this platform.
Edit: Changed tandem to tambo.  Sorry

[2019-08-06 21:07] arouinfar commented on #425
After chatting with @KatieWoe, I think I understand this issue. Tambo is not supported in IE (https://github.com/phetsims/tambo/issues/6) and as a result, we decided to remove the sound icon from the navbar (https://github.com/phetsims/tambo/issues/32). However, Wave Interference and Waves Intro have a sound behind a checkbox. In IE, there is no sound support in the sim, but the checkbox remains.

[2019-08-06 22:17] samreid commented on #418
Thanks, closing for now!

[2019-08-06 22:17] #418 closed

[2019-08-06 22:26] samreid commented on #421
In https://github.com/phetsims/wave-interference/issues/208 we settled on a history length of 90. Then when we increased the lattice size in https://github.com/phetsims/wave-interference/issues/315 we scaled it up by a factor of `CALIBRATION_SCALE = 1.82` because we had to run the clock that much faster to get the same wave speed (due to the larger lattice).  @arouinfar can you please review those

[2019-08-07 02:38] samreid commented on #420
The fix in https://github.com/phetsims/scenery-phet/issues/513 has been code reviewed.  @KatieWoe can you please test it in master?  Close if all is well.  Also note #422 which we will handle separately.

[2019-08-07 02:47] samreid commented on #423
I measured one wavefront and got 2.99ms on the timer, using the "step" button to get to the next peak.  This works out to be 1/0.00299 =
334.44816053511704 Hz.  I tried 330Hz in https://www.szynalski.com/tone-generator/ and it sounded about the same pitch as the sim.  I think the largest source of error in this measurement is getting the timer stopped at about the right time.

[2019-08-07 03:08] samreid commented on #424
The problem is happening around this part:

![image](https://user-images.githubusercontent.com/679486/62591902-658b3700-b88e-11e9-9688-304b7165cca9.png)

[2019-08-07 03:17] samreid commented on #424
According to https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/ellipse, `context.ellipse` is not supported on IE.  I'll look for another solution.

[2019-08-07 04:26] samreid commented on #424
Proposed fix committed and checks out OK on my IE11 on bootcamp.  I tested this new dev version https://phet-dev.colorado.edu/html/wave-interference/2.0.0-dev.10/phet/ .  @KatieWoe can you please verify on that or on phettest?

[2019-08-07 04:39] samreid commented on #425
I removed it and published a dev version in https://phet-dev.colorado.edu/html/wave-interference/2.0.0-dev.11/phet/ which checks out OK on my IE on bootcamp.  @KatieWoe can you please verify using dev.11 or master?  Close if all is well.

[2019-08-07 12:43] samreid commented on #417
In #333 @ariel-phet said:

@ariel-phet or @arouinfar do you want to investigate this further at this time?

[2019-08-07 12:49] samreid commented on #419
In #322 we got good performance on the particles via WebGL, but did not add clipping due to the amount of time and complexity it would take to implement.  This problem is noted in #331.  @arouinfar or @ariel-phet do you want to work on that further before we publish?

[2019-08-07 12:58] samreid commented on #422
Two possibilities I considered:
1. Use `AlignBox` to track component sizes and make sure they match up.  This would lead to very complicated client-side code and require knowledge of all the layouts of different NumberControls and/or requirement for client to selectively pass AlignBoxes to the right places.
2. Reserve a vertical "footprint" shrinkable parts of NumberControl via struts or equivalen

[2019-08-07 16:09] KatieWoe commented on #420
Looks good in master

[2019-08-07 16:09] #420 closed

[2019-08-07 16:13] KatieWoe commented on #424
Dev test opens alright

[2019-08-07 16:13] #424 closed

[2019-08-07 16:17] KatieWoe commented on #425
Looks good in the dev version.  Should be noted that this would also apply to the basics sim

[2019-08-07 20:25] arouinfar commented on #417
I would agree that this is true for #333 (vigorously scrubbing the amplitude slider), but I would argue that this case is a bit different. Here, a student may be trying to replicate the continuous wave by well-timed pulses. Having wavefronts disappear from the lattice looks incredibly buggy.

@samreid I would say that it's worth some investigation.

[2019-08-07 20:27] arouinfar commented on #421
@samreid I don't think the calibration scale should be applied to the history length. Can you decouple them, and restore the history length to 90?

[2019-08-07 20:29] arouinfar commented on #419
@samreid this is really a question of priorities and desired publication timeline. I believe the goal was to have these sims published in time for the next school year (which has already started in some parts of the country). I am fine with continuing to defer the clipping issue, but @ariel-phet should make that call.

[2019-08-07 20:45] arouinfar commented on #423
At the default frequency I measured the time for 3 complete cycles, and got 9.04 ms, which corresponds to 332 Hz. The actual value is 330 Hz, so I'd say there's pretty good agreement.

Absolutely. I find that pausing the sim, starting the source & timer, and then stepping through to be the most accurate way to collect data, but it's still not perfect.

[2019-08-07 20:45] #423 closed

[2019-08-08 02:43] #425 closed

[2019-08-08 02:47] ariel-phet commented on #419
I am fine with deferring. @samreid perhaps keep this task in mind for an intern.

[2019-08-08 02:49] ariel-phet commented on #417
@samreid worthy of some investigation, but not a showstopper (as in if a couple of hours do not yield some good thought of a solution kick it back to me).

[2019-08-08 03:56] samreid commented on #421
Done in the commit, @arouinfar can you please review on phettest and close if all is well?

[2019-08-08 18:39] samreid commented on #422
At today's meeting @pixelzoom suggested aligning to the bottom.  I asked if that was general enough, @ariel-phet said it is acceptable.  I'll proceed.

[2019-08-08 19:56] samreid commented on #422
This looks acceptable to me, I'll commit

![image](https://user-images.githubusercontent.com/679486/62733692-5fa76a00-b9e4-11e9-9bc9-154019c0ce23.png)

[2019-08-08 19:58] samreid commented on #422
Fixed in commit, @arouinfar or @ariel-phet or @KatieWoe can you please review?  Close if all is well.

[2019-08-08 21:47] arouinfar commented on #422
Looks good to me @samreid

[2019-08-08 21:56] samreid commented on #417
The worst case scenario is light at the highest frequency--on the lattice it clears sooner than water or sound at the max frequency.  Two straightforward solutions would be:

1. Increase the number of deltas stored in the temporal mask.  It is currently up to 10.   Turning it up to 26 makes it so no waves are deleted in the visible area.
2. Increase the delay before the user can press the pulse bu

[2019-08-08 23:05] arouinfar commented on #421
@samreid thanks, the decay time is now the same between master & latest, but the decay itself looks a bit different.

These gifs show the time it takes from turning off the source to the screen going black. Both cases take the same amount of time (within experimental error).  In master the decay appears more suddenly, and is more gradual in latest. Mostly likely, this is related to changes in boos

[2019-08-09 02:39] samreid commented on #419
Deferring sounds great.  Some notes for when we revisit this issue:

* Implementing clipping would probably require sending clipping vertices to WebGL and would likely be done in `ImageWebGLDrawable` or thereabouts.  It should be implemented in a way that is compatible with broader scenery clipping for the future.  It would be good to get assistance or guidance from @jonathanolson.
* For this simu

[2019-08-09 02:40] samreid commented on #422
Thanks @arouinfar, closing.

[2019-08-09 02:40] #422 closed

[2019-08-09 02:52] arouinfar commented on #417
I'd agree @samreid. Option (1) doesn't sound viable to me.

Option (2) sounds reasonable, but I think it could feel pretty buggy if the disabled time lasts too long. I'm a little hesitant to invest the time on this, and leaning a bit towards deferring. I'd be happy to let @ariel-phet make the final call.

[2019-08-09 12:37] samreid commented on #421
I tested 3 factors to see which contributed to this change:

1. The TemporalMask which drops the values to 0 instead of leaving them noisy
2. The larger averaging window used in Waves screen and Waves Intro, described here https://github.com/phetsims/wave-interference/issues/349#issuecomment-480038776
3. The nonlinear function that maps intensity to brightness, which is described in https://github

[2019-08-09 12:42] samreid commented on #421
Also, one more follow-up question--I noted the intensity point at intensity = 0.13, brightess = 0.7 looks a little low.  I recommend bumping that up to 0.74 to round out the curve like so:

![image](https://user-images.githubusercontent.com/679486/62779516-af337780-ba70-11e9-8baf-40f241dea8a5.png)

@ariel-phet or @arouinfar sound OK?

[2019-08-09 18:38] ariel-phet commented on #421
@samreid that sounds like a good strategy to try.

[2019-08-09 19:03] samreid commented on #421
Which strategy are you referring to?

[2019-08-09 22:43] samreid opened #426 "Sonification code review"
We may still make changes during design meeting, but it seems the existing implementation for sonification is stable and ready for code review.  @jbphet are you available to take a look?  SineWaveGenerator.js was already reviewed so I think the remaining work to review is just WavesScreenSoundView.js

Also note I marked some TODOs in the file for discussion with the reviewer.

[2019-08-12 02:36] arouinfar commented on #421
Ah, thanks for investigating @samreid. The non-linearity was pretty essential in reducing the appearance of interference patterns in the screen for a single source. I think the decay behavior in https://github.com/phetsims/wave-interference/issues/421#issuecomment-519718479 is an acceptable trade-off. I certainly don't love it, but I dislike it a whole lot less than single-source interference patt

[2019-08-13 03:28] ariel-phet commented on #417
@samreid lets defer - I really think the main use of such a feature is to truly send out "pulses" not necessarily trying to recreate a CW wave.

[2019-08-13 03:30] ariel-phet commented on #421
@samreid you asked in https://github.com/phetsims/wave-interference/issues/421#issuecomment-519903944 if:

sounded OK, I was saying that seems worth trying.

[2019-08-13 12:40] samreid commented on #421
Thanks, I rounded out the brightness vs intensity curve as described above.  The change is subtle and may be difficult to identify during testing.  I tested the behavior described in the top comment and it is basically the same.

It seems there is nothing left to do for this issue.  Tagging @KatieWoe so she is aware of our (a) our decision to keep this behavior described in https://github.com/phet

[2019-08-13 12:40] #421 closed

[2019-08-13 14:34] samreid opened #427 "Screenshot for Wave Interference 2.0"
The next publication has a new screen and hence will need a new screenshot.  The steps to create the screenshot are described here: https://github.com/phetsims/QA/blob/master/doc/qa-book.md#screenshots

@KatieWoe @arouinfar @ariel-phet who should create the screenshot?  What should the screenshot depict?

[2019-08-13 14:39] samreid opened #428 "Credits for Wave Interference 2.0"
We are about to create the first RC for Wave Interference 2.0 and I'd like to check that all of the credits are set.  (Team, Contributors, QA, Graphic Arts, Sound Design, any Thanks)

@KatieWoe @arouinfar @ariel-phet can you please comment?

[2019-08-13 14:42] KatieWoe commented on #427
It can either be the same situations as before, with the new nav bar, or it can be changed/one added to show the new screen.  @arouinfar let me know which you prefer.

[2019-08-13 16:33] ariel-phet commented on #427
@KatieWoe please just copy the current screenshot situation, but including the new nav bar

[2019-08-13 19:01] arouinfar commented on #427
@KatieWoe please also add this screenshot as alt3:

![Wave Interference screenshot](https://user-images.githubusercontent.com/8419308/62969391-66f6bb00-bdca-11e9-9785-543e52f3dc2e.png)

[2019-08-13 19:03] arouinfar commented on #428
Looks good to me, but @KatieWoe should confirm QA credits during rc testing.

[2019-08-14 18:59] jbphet commented on #426
Overall I'd say it looks like it's on the right track.  Here are some comments:

+ Why is this a static type with an `init` function and not just a class with a constructor like `WavesScreenView`?
+ The name of the file seems a bit odd since it ends with the word `View` and it is about producing sounds.  How about `WavesScreenSounds` or something similar?  I have generally just put the sounds into

[2019-08-14 19:35] samreid commented on #426
It was initially `new WavesScreenSoundView()` but that was a lint error since it was never assigned.  It seemed inappropriate to assign it somewhere if it was never referenced.  Let me know what you recommend.

I was using "view" as opposed to "model" but maybe that is unnecessary?  Should I go with WavesScreenSounds?

I haven't yet looked into how difficult this would be to implement, but in furt

[2019-08-14 20:22] samreid commented on #426
I tried this but was unable to call `MultiClip.setPlaybackRate`.  Should this be added, or should I continue using an array of `SoundClip`?

[2019-08-15 17:13] jbphet commented on #426
Ah, I hadn't thought about the fact that playback rate changes are needed.  How about leave it as is, i.e. don't use MultiClip, and I'll give this some thought.

[2019-08-15 23:04] jaspearias opened #429 "Unable to shorten tape measure"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

MacOS 10.13

<b>Browser</b>

Google Chrome

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/405
On the Waves, Interference, and Slits screens extending the tape measure from corner to corner makes it unable to shorten the length. You are still able to drag it around but not make it any shorter or longer. Not until you

[2019-08-16 16:22] KatieWoe commented on #427
Here are the screenshots.  @arouinfar please approve.
![wave-interference-screenshot](https://user-images.githubusercontent.com/41024075/63182373-ae21bd80-c00f-11e9-9225-c2ada347fa4d.png)
![wave-interference-screenshot-alt1](https://user-images.githubusercontent.com/41024075/63182375-ae21bd80-c00f-11e9-83f2-3b6af1417453.png)
![wave-interference-screenshot-alt2](https://user-images.githubuserconten

[2019-08-16 19:00] KatieWoe commented on #427
Above commits should take care of it.  @arouinfar let me know if you need any changes.  If not, this can be closed.

[2019-08-16 19:33] KatieWoe opened #430 "Play Tone not reset"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/405
The Play Tone checkbox is not reset by the orange reset button.
**Steps to reproduce**
1. Go to a screen or scene with the play tone checkbox
2. Note it is unselected by default
3. Select it
4. Reset using the orange button (if for main sim, this can be in any o

[2019-08-16 20:41] KatieWoe opened #431 "Measuring Tape string can be very long"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/405
This does occur in the published version.  May not be worth fixing, and does not seem to cause any practical problems.  When strings are long, the string under the measuring tape becomes very long.
**Steps to reproduce**
1. set stringTest=long
2. Pull out the me

[2019-08-16 20:55] KatieWoe opened #432 "None and Lots not translated"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/405
The "None" and "Lots" strings that describe disorder in the diffraction screen are not translatable.
**Steps to reproduce**
1. Set any string test
2. Go to the diffraction screen
3. Select the grid of circles scene
4. Look at the disorder slider

**Visuals**
![n

[2019-08-16 22:46] samreid commented on #430
Fix committed to master.  I will need to push it to the wave-interference 2.0 branch.  Also, the chipper-2.0 documentation says I need to create a branch named like waves-intro-1.0 branch for this, but I'm wondering if I could/should just leverage the exact same branch for next waves-intro publication?

[2019-08-16 22:57] samreid commented on #430
Chris Malley 4:51 PM
For derivate sims, I have not created a branch of the parent sim dependency.

Sam Reid 4:51 PM
OK sounds good.  Do I need to jump through any hoops to make that work, or just have the parent branch checked out when building the derivate?

Chris Malley 4:55 PM
Something like:

[code]

[2019-08-16 23:03] samreid opened #433 "Tweaker buttons can be misaligned"
Similar to #420 and https://github.com/phetsims/scenery-phet/issues/513 and noted during https://github.com/phetsims/QA/issues/405, the tweaker buttons don't always line up.  They are positioned based on the height of the number control which may change based on the height of the text.  Hence the "align the bottom" strategy proposed in #420 doesn't also align the tweaker buttons.

![image](https:/

[2019-08-16 23:06] samreid commented on #432
Fix committed to master, will need to be cherry-picked to the RC branch.

[2019-08-16 23:09] samreid commented on #429
This problem appears in version 1.0.6 on the website.

[2019-08-18 02:00] lmulhall-phet opened #434 "Should the timer be above the reset button in z-ordering?"
For https://github.com/phetsims/QA/issues/405. I looked through the repo and I didn't see any similar issues, so if there is one, feel free to close this one.

I'm wondering if the timer should be above (in front of) the reset button.

![Screen Shot 2019-08-18 at 10 50 15 AM](https://user-images.githubusercontent.com/31285590/63219160-07702500-c1a7-11e9-8c66-7ebd1079ac9c.png)

Seems to happen in a

[2019-08-19 03:05] samreid commented on #434
This is a new problem, not in the published version.

[2019-08-19 15:15] samreid commented on #431
It appears that setting a `maxWidth` on the value readout on `SCENERY_PHET/MeasuringTapeNode` would solve this problem.  Ideally it would have a default `maxWidth` but also allow passing in a different `maxWidth` via options.  Changing this in master and testing would take less than 30 minutes--longer if we take the more general solution and add more options for customizing the MeasuringTapeNode t

[2019-08-19 15:31] samreid commented on #429
Same problem in Gravity and Orbits and Energy Skate Park.  I noticed this option in MeasuringTapeNode:

[code]

Note that it is set to false by default.  Should we change this to be true by default?  Or will the majority of simulations need to be able to drag the measuring tape tip out of bounds?

Changing that and eroding the drag bounds by some 20px should address both of these problems for Wave

[2019-08-19 16:16] samreid commented on #433
@ariel-phet or @arouinfar can you please review the problem mentioned above and comment?

[2019-08-19 16:48] samreid commented on #434
Fixed in master and will need to be cherry-picked to the branch for next RC

[2019-08-19 17:50] samreid opened #435 "Wave amplitude changes when frequency is changed"
@arouinfar forwarded this message from a client.  Keeping the amplitude slider at the same value and changing the frequency ends up changing the amplitude of the wave:

![image](https://user-images.githubusercontent.com/679486/63287415-859bfc80-c277-11e9-9dfd-3c94690d5687.png)

[2019-08-19 18:09] samreid commented on #435
I tested this and observed the same phenomenon in master.  At min frequency and max amplitude for water, I recorded a level of about 81px in the graph.  At max frequency and max amplitude, I recorded a level of about 55px in the graph.  That is about 68% of the original value.

I am not aware of any code that would be explicitly responsible for this deviation.  I hypothesized that it's a numerical

[2019-08-19 19:34] samreid opened #436 "Create a sound for the wave detector"
From meeting notes last week:

KP said it would be good to try out a sound for the meter
Let’s try a mapping where the volume of a tone is controlled by the overall amplitude of the wave so that there is no sound when there is no wave, and then have the pitch modulated by the instantaneous value of the wave at the dot on the graph in the meter.
SR: Do we just choose a fixed frequency for the dark

[2019-08-19 19:39] KatieWoe opened #437 "Wave is stopped if started during a pulse"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/405 (both).  Occurs in published version as well.
If you make a pulse, switch to continuous while it makes the wave, and immediately hit the wave button, it will only do one wave then turn off.
**Steps to reproduce**
1. Go to a water scene with one wave and side vie

[2019-08-19 20:27] samreid commented on #436
From slack, @jbphet said:

[2019-08-19 21:06] KatieWoe opened #438 "Pointer Area on Play Tone"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/405 (both)
There is no pointer area for Play Tone, though there is for similar strings such as Graph just above it.  This means that you can click much further out on Graph to activate that box than you can for Play Tone.  Not major, but an inconsistency.
**Steps t

[2019-08-20 16:41] KatieWoe opened #439 "All particles change behavior when frequency changes"
**Test device**
Dell and Jordan
**Operating System**
Win 10 and Mac 10.14
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/405 (both) and published.
When the frequency of the sound wave is changed, the particles that are currently part of older waves also drastically change their behavior, though there doesn't seem to be a reason for this.
**Steps to reproduce**

[2019-08-20 20:43] KatieWoe opened #440 "String lengths should extend a bit further"
For https://github.com/phetsims/QA/issues/405
The strings for checkboxes on almost all of the screens and scenes can be extended a bit more within the box.
![shouldthesebelonger](https://user-images.githubusercontent.com/41024075/63382841-d0da0c00-c358-11e9-981b-aa65dfc281db.png)

[2019-08-20 22:48] samreid commented on #436
I demoed this patch connecting ContinuousSoundPropertyGenerator today, it was unclear whether we will use this pattern moving forward.  It seems we want to try tying the Property to a filter frequency rather than the pitch, and try amplitude changes for the waves.  Anyways here is the patch in case it is helpful:

[code]

[2019-08-21 03:38] arouinfar commented on #438
@samreid please update Play Tone's pointerAreas to match Graph.

[2019-08-21 03:42] arouinfar commented on #434
I thought we generally had a (likely unwritten) rule about keeping `ResetAllButton` on top of everything else? Might be worth checking in with #dev-public, if we haven't already. Thoughts @samreid?

I don't really have a strong opinion when it comes to this issue. If a user occludes the `ResetAllButton` by moving a tool in front of the button, they can just move the tool out of the way.

[2019-08-21 14:30] ariel-phet commented on #435
@samreid @arouinfar as a note, I just tested and this bug appears in the Java version, so it is assuredly part of the original model.

@samreid my instinct would be that this discrepancy is related to the damping in the model. Basically the higher the frequency, the more cycles to damp. Would it be possible to try a frequency dependent damping constant in the model and see if that alleviates the i

[2019-08-21 15:49] samreid commented on #435
We currently do not apply damping in the main part of the wave area lattice.  We experimented with it  briefly a few times and ultimately decided it caused more problems than it solved.  Here's a brief history:

October 8, 2017: Model is introduced with no damping

March 13, 2018: Added damping, with a scale factor of `0.99`
April 11, 2018: Removed damping to match Java model

Jan 6, 2019: Added d

[2019-08-21 17:49] ariel-phet commented on #435
@samreid what then causes the wave to decrease in amplitude as it gets farther from the source, what factor is doing that in the model? It seems that would be the first place to investigate

[2019-08-21 18:34] samreid commented on #434
@pixelzoom said:

[2019-08-21 20:46] ariel-phet commented on #431
@samreid fine to just change in master. For the most part this string should basically always be an abbreviation and is unlikely to ever be particularly long in any real-world translation.

[2019-08-21 21:49] samreid commented on #435
We are using the discretized wave equation approximation described in http://www.mtnmath.com/whatth/node47.html, in combination with a numerical approximation of absorbing boundary conditions along the edges described in https://www.phy.ornl.gov/csep/sw/node22.html.  Here is the main part of the physics:

[code]

The decrease in amplitude as a function of position is an implicit emergent behavior

[2019-08-21 22:26] samreid commented on #438
In https://github.com/phetsims/sun/issues/399#issuecomment-439482289 @pixelzoom said:

I'm not sure everyone is aware of that conversation, or whether there is a consensus for that issue.  I recommend further discussion before additional work along these lines.

[2019-08-21 23:06] ariel-phet commented on #433
@samreid I am fine with us not solving this as a part of RC, but it should be solved in a general way since again, this layout will occur again in CCK AC (a sim destined to have many many translations).

[2019-08-22 03:09] samreid commented on #435
Also, I noticed something else when looking at the examples at the bottom of http://www.mtnmath.com/whatth/node47.html

At Time=-1, the first wave values starts as 100, so the total value over the lattice sums up to 100.
At time = 0, same deal, sum is 100
At time = 1, it splits out to `4*25 = 100`
At time = 2, it becomes `6*4+12*4+25*4-75 = 97`

And it seems it is basically preserving the total "a

[2019-08-22 04:06] ariel-phet commented on #429
@samreid you can just change in master. This would be a pretty rare use case. I cannot think of an obvious case where the tape measure tip would need to be out of bounds

[2019-08-22 05:28] ariel-phet commented on #435
@samreid not sure if this data point helps, but in playing around, I noticed that this amplitude discrepancy does not appear to occur if in Pulse mode (if looking at the positive peak of the pulse, it is the same height above zero for the lowest and highest frequency light wave).

[2019-08-22 16:14] arouinfar commented on #410
Teacher Tips are ready for the 2.0 release.

[2019-08-22 16:14] #410 closed

[2019-08-22 16:19] arouinfar commented on #427
Looks good, thanks @KatieWoe!

[2019-08-22 16:19] #427 closed

[2019-08-22 16:26] samreid commented on #435
I tested and confirmed this problem is not present in pulse mode for light waves.  However, I also noticed this problem is not present for continuous light waves.  This is likely because the range between frequencies on the lattice is much smaller.  I am still seeing the problem for max and min amplitude for water waves.  But this may lead us to a potential solution: we could narrow the range of f

[2019-08-22 16:32] arouinfar commented on #439
Good find @KatieWoe. It looks the particles reset their positions when the frequency was cranked up. Here, the particles on the right side of the lattice exhibit the random background motion and no longer correspond to the wavefronts. @samreid can you investigate?

<img width="632" alt="Screen Shot 2019-08-22 at 10 26 41 AM" src="https://user-images.githubusercontent.com/8419308/63532298-9c389280-

[2019-08-29 16:19] samreid commented on #435
Aug 29 notes

AP: Tweak the initial amplitude base, fudge factor in the model but not in the view.
	AP: This problem has been around for a long time, may not need to be solved for 2.0
	AR: We should reply to the client
		AP: I'll do so.

[2019-08-29 16:19] samreid commented on #435
@arouinfar suggests deferring this for RC.2.

[2019-08-29 16:25] arouinfar commented on #437
@ariel-phet I don't see a need for students to mix continuous and pulse, so I like the suggestion to clear the lattice when switching between these modes. @samreid can you move forward with this suggestion?

[2019-08-29 16:41] arouinfar commented on #439
Thanks @samreid.

It sounds like what we're seeing here is a limitation of the particle model. The particle model supports a single frequency, so changing the frequency will lead to misalignment between the particles and the wavefronts at the previous frequency(ies).

@ariel-phet is this something you'd be okay with deferring? This behavior certainly isn't ideal, but given the goals of the particl

[2019-08-29 17:10] arouinfar commented on #435
I would push against this a bit. I think it's important to have a range that would allow for doubling or quadrupling the frequency. For light, that's not physically possible. Currently the sound scene allows for doubling the frequency, which corresponds to one octave. Water allows for quadrupling the frequency, which is nice because you can see really long wavelengths.

[2019-08-29 17:15] samreid commented on #435
The proposal at the bottom of https://github.com/phetsims/wave-interference/issues/435#issuecomment-523663066 (expanding the radius of the source) may be preferable to running one model for the model (with the fudge factor) and another model for the view (without the fudge factor).

[2019-08-30 04:35] samreid commented on #437
I tried calling `lattice.clear()` when the user changes between continuous and pulse, but that did not resolve the problem.  I found that there is another model property called `pulseFiringProperty` which is responsible for this buggy behavior.

So next I tried: when changing between continuous and pulse, two things would happen:
(1) `lattice.clear()`
(2) `pulseFiringProperty.value = false`

And t

[2019-08-30 04:38] samreid commented on #437
@arouinfar or @ariel-phet can you please review the preceding comment and test the behavior in master?  Let me know in particular if clearing the `pulseFiringProperty` is sufficient, or if you also have a reason for wanting to clear out any existing water drops or waves in the lattice.  Also, this is the last issue to discuss before I can prepare RC.2.

[2019-08-30 17:48] arouinfar commented on #437
Thanks @samreid. I would agree that (2) on its own does look a bit more natural. I haven't noticed any side effects, and the original issue appears to have been addressed.

[2019-09-03 21:30] ariel-phet commented on #435
Leaving deferred until we publish the diffraction screen, but still keeping assigned to @samreid as this issue could be investigated independent of the RC cycle presumably if he has some time.

[2019-09-03 21:40] ariel-phet commented on #437
@samreid also look good on master to me.

[2019-09-03 21:59] ariel-phet commented on #439
@arouinfar I am fining deferring, the waves catch up pretty quickly. It is a bit odd, but really the main learning goal here (as you point out implicitly) is that dense particles (high pressure) correspond to crest in the wave view. Moderate speed changes to the frequency basically look fine.

@arouinfar I think you could put in the teacher tips and close as `wontfix` or defer, I will let you make

[2019-09-03 22:06] samreid commented on #437
Thanks, I'll cherry pick it to the RC branch and it can be tested in RC.2.

[2019-09-03 22:11] samreid commented on #433
Tagging for potential work as part of https://github.com/phetsims/circuit-construction-kit-common/issues/449

[2019-09-03 23:00] arouinfar commented on #439
The Teacher Tips have been updated, closing as `wontfix`.

[2019-09-03 23:00] #439 closed

[2019-09-04 00:36] samreid commented on #438
I investigated expanding the touch area to the right for the radio buttons, but could not find a way to do it without modifying or breaking encapsulation of VerticalAquaRadioButtonGroup.  Hence I will recommend avoiding work on this for RC.2.  The next best checkpoint if/when we proceed with this would probably be in coordination with https://github.com/phetsims/sun/issues/399

[2019-09-04 00:37] samreid opened #441 "Create 2.0 RC.2"
From https://github.com/phetsims/QA/issues/405#issuecomment-525087299

Here are the patches we need for Waves Interference and Waves Intro for the next round of RC testing:

https://github.com/phetsims/wave-interference/issues/430: fixed in master and needs cherry picks
https://github.com/phetsims/wave-interference/issues/432: fixed in master and needs cherry picks
https://github.com/phetsims/wave

[2019-09-04 00:51] samreid commented on #441
The patched SHAs should be shared by both Wave Interference and Waves Intro.  I asked how this could be accomplished in https://github.com/phetsims/wave-interference/issues/430#issuecomment-522175552 and @pixelzoom responded:

[code]

[2019-09-04 01:05] samreid commented on #441
Each issue had a one-commit resolution.  Here is the log of cherry-picks on the 2.0 branch:

[code]

[2019-09-04 01:20] samreid commented on #441
I pushed the cherry-picks to the 2.0 remote branch.  I deployed RC.2 and tested each of the 6 issues.  2.0.0-rc.2 was published here: https://phet-dev.colorado.edu/html/wave-interference/2.0.0-rc.2/phet/wave-interference_en_phet.html

[2019-09-04 01:27] samreid commented on #441
While working on the SHAs for wave-interference, I noticed two discrepancies.

Wave Interference has
joist e7752be56aa1a191e10143f141f569837edb83b1
scenery-phet 441f7609a5eb69d9def891b3ff3184df1fc5a91f

whereas Waves Intro has:
joist c4b996820dfc39edae54c5f5f386ff37bf8e7956
scenery-phet ef9ff6589ccb4788602b1262c3923fa4bed6bc03

I created these from the same SHAs and am puzzled to see deviation.  P

[2019-09-04 01:33] samreid commented on #441
It looks like https://github.com/phetsims/phet-ios-app/issues/508 was not addressed for Wave Interference 2.0 branch.  This invalidates RC.2 which was published above.

[2019-09-04 14:42] samreid commented on #372
RC testing is proceeding in https://github.com/phetsims/wave-interference/issues/441, closing.

[2019-09-04 14:42] #372 closed

[2019-09-04 21:54] samreid commented on #441
I checked both joist SHAs and they do contain the fixes for https://github.com/phetsims/phet-ios-app/issues/508.

@jonathanolson wrote:

I wrote:

@jonathanolson replied:

I believe I had a false reading from the way I tried to do a diff before.  It seems we are OK to proceed and RC.2 is still OK.

[2019-09-04 22:24] samreid commented on #441
Here are the RC's

https://phet-dev.colorado.edu/html/wave-interference/2.0.0-rc.2/phet/wave-interference_en_phet.html
https://phet-dev.colorado.edu/html/waves-intro/1.0.0-rc.4/phet/waves-intro_en_phet.html

I'll create a QA issue.

[2019-09-05 23:38] loganbraywork opened #442 "Pointer area for wavelength slider smaller than pointer area for other sliders in the sim"
**Test device**
Windows 7 Laptop
**Operating System**
Windows 7 Professional v. 6.1
**Browser**
Chrome
**Problem description**
From https://github.com/phetsims/QA/issues/424

The sliders for wavelength on the diffraction screen have a smaller pointer area than that which is found on other sliders in the simulation.
**Steps to reproduce**
1. Enter query ?showPointerAreas into the sim url
2. Enter t

[2019-09-06 14:51] KatieWoe commented on #430
Looks good in new rc

[2019-09-06 14:51] #430 closed

[2019-09-06 15:04] KatieWoe commented on #432
Looks good in the new rc.

[2019-09-06 15:04] #432 closed

[2019-09-06 15:23] KatieWoe commented on #434
This seems fixed in the new rc.  Before closing, I had a related z-ordering question.  Should an object being picked up and moved be moved to the front?  I think we did something similar in gas properties.  @arouinfar?
![zorderbetweenmovement](https://user-images.githubusercontent.com/41024075/64439688-cc676000-d087-11e9-8fa8-94a945cbc111.gif)

[2019-09-06 15:32] KatieWoe commented on #437
Looks good in the new rc.  Will reopen if a problem crops up

[2019-09-06 15:32] #437 closed

[2019-09-06 15:54] KatieWoe commented on #438
Looks good in new rc

[2019-09-06 15:54] #438 closed

[2019-09-06 16:00] KatieWoe commented on #440
Looks good in the new rc

[2019-09-06 16:00] #440 closed

[2019-09-06 16:17] arouinfar commented on #434
@KatieWoe, yes the active tool generally pops to the front.

@samreid can you adjust the z-ordering of the tools so that the active one pops to the front?

[2019-09-06 16:20] arouinfar commented on #442
Good find @loganbraywork.

@samreid can you horizontally dilate the Wavelength tweakers, as was done for other NumberControls.

[2019-09-06 18:09] JRomero0613 opened #443 "Diffraction Screen Initializes Without Image Sometimes"
For https://github.com/phetsims/QA/issues/424 when testing on MacOS 10.10.5 on Safari 10.1.2.10603.3.8 with various string test query parameters I noticed that sometimes after navigating to the Diffraction screen the right hand image does not appear. Instead of a blank black box it is just a white screen. I have attached a screenshot of this bug for reference. Once something on the sim is changed

[2019-09-06 19:58] KatieWoe opened #444 "Intensity window expands"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/424
When strings are long, the intensity graph in the light screens expands and makes the page look cramped.  Occurs in published version.

**Visuals**
![seemsclose](https://user-images.githubusercontent.com/41024075/64456850-680bc700-d0ae-11e9-85e3-dd53ed6120a8.png

[2019-09-06 21:05] arouinfar commented on #444
Thanks @KatieWoe.

@samreid looks like the layout issues would be resolved if the Intensity panel didn't expand.

[2019-09-06 22:10] samreid commented on #442
Some notes as I investigate this:

1. This only affects Wave Interference and would not require a new RC for Waves Intro
2. I made an overlay of the touch areas, and the large one is about 15-20% larger

![image](https://user-images.githubusercontent.com/679486/64463292-baee7a00-d0c0-11e9-8da1-b0f4bdae977f.png)

[2019-09-06 22:12] samreid commented on #442
If we use the same dimensions (horizontal and vertical) as the other number controls, it impinges somewhat on the slider track:

![image](https://user-images.githubusercontent.com/679486/64463400-1f113e00-d0c1-11e9-8f63-99d2ac2fc4d6.png)

[2019-09-06 22:17] samreid commented on #442
I factored out the horizontal part, and reduced the vertical part and now it looks like this:

![image](https://user-images.githubusercontent.com/679486/64463563-b1b1dd00-d0c1-11e9-994e-249780f71b73.png)

I'll commit to master.

[2019-09-06 22:25] samreid commented on #442
This is fixed in master, if/when we cherry pick it to the RC branch, it will require 2 cherry-picks.

[2019-09-06 22:33] samreid commented on #443
I launched the Wave Interference RC several times on macOS 10.14.6 running Safari 12.1.2 (14607.3.9), I tried several different `?stringTest` query parameters and did not see the problem.

I noticed some CanvasNode subclasses call `this.invalidatePaint();` at the end of the constructor.

@jonathanolson what do you think is happening here, and do you think `this.invalidatePaint();` at the end of Ca

[2019-09-06 22:37] samreid commented on #444
This will likely be solved by reducing the maxWidth on the intensity panel text.  I also noted that with stringTest=double, it isn't quite long enough to be a problem:

![image](https://user-images.githubusercontent.com/679486/64464264-8e3c6180-d0c4-11e9-9c43-b36197934e0d.png)

[2019-09-09 16:08] KatieWoe opened #445 "Frequency and Amplitude Reset Before Play Tone"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox (and others)
**Problem description**
For https://github.com/phetsims/QA/issues/424
When you have Play Tone on and a non default frequency and/or amplitude, hitting reset all will briefly produce a sound for the default setting.  Very minor.
**Steps to reproduce**
1. Go to a sound screen/scene with one speaker
2. Turn on Play Tone

[2019-09-09 16:45] KatieWoe opened #446 "Wave detector does not reset in toolbox"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/424
When the measuring tape and timer are returned to the tool box they are reset to their original states.  However, if you use the wave detector, put it in the toolbox, and then pull it out it will still be scrolling through the previous readings.  Occurs in publ

[2019-09-09 17:47] arouinfar commented on #445
Nice find @KatieWoe.

This looks like a bug to me @samreid, though I would agree it's pretty minor.

[2019-09-09 19:03] KatieWoe commented on #333
Something I noticed in https://github.com/phetsims/QA/issues/424.  When you let the wave go normally after this, it continues to look pixelated.
Before bug:
![beforejiggle](https://user-images.githubusercontent.com/41024075/64558850-1c515b80-d302-11e9-896f-5547cb9d4238.png)

After bug:
![afterjiggle](https://user-images.githubusercontent.com/41024075/64558860-22dfd300-d302-11e9-8299-186a0f20aa28.p

[2019-09-10 18:56] samreid opened #447 "branch: wave-detector-sounds"
For https://github.com/phetsims/wave-interference/issues/436

[2019-09-10 19:04] samreid commented on #436
I moved the proposed changes to a branch

[2019-09-10 23:20] samreid commented on #441
RCs created and QA issue created, closing.

[2019-09-10 23:20] #441 closed

[2019-09-11 21:31] samreid opened #448 "Pause the wave detector sound when the sim is paused"
Related to #436

[2019-09-11 21:38] samreid commented on #333
Without moving to a fully analytic model, I'm not sure how I would address the above problem.  @arouinfar or @ariel-phet do you want any investigation on this before publication?  @KatieWoe how long does the pixellation last before it dissipates?

[2019-09-11 21:40] KatieWoe commented on #333
It really only stops when you change the wave, such as the frequency.  It might dissipate eventually, but it didn't seem to while I watched.

[2019-09-11 21:56] arouinfar commented on #333
@pixelzoom @ariel-phet the pixelation only seems to occur after pretty harshly scrubbing the amplitude slider. Gradual/less frequent changes in amplitude don't lead to noticeable noise/pixellation in the lattice. Given @samreid's assessment in https://github.com/phetsims/wave-interference/issues/333#issuecomment-530576785 and the fact that the initiating behavior is more of an edge case (and not p

[2019-09-11 21:58] pixelzoom commented on #333
I hadn't previously been involved with this issue (that I can recall), so I'm unsubscribing.  Let me know if you need feedback from me.

[2019-09-11 22:01] arouinfar commented on #333
Sorry, Chris! I tagged the wrong dev. 🙈

[2019-09-12 02:39] samreid commented on #443
I set a breakpoint during Node construction and found that when the CanvasNodeDrawable is attached, it already has `dirty: true`, so (depending on the timing), another invalidate call at the end of the constructor may not help.

[2019-09-12 02:40] samreid commented on #444
Fixed and ready for cherry pick.

[2019-09-12 02:47] samreid commented on #445
The commit fixes the problem on my machine, should be ready for cherry picking and testing.

[2019-09-12 02:57] samreid commented on #446
Fixed and ready for testing or cherry-pick.

[2019-09-12 03:00] samreid commented on #443
This is the last remaining issue before next Wave Interference RC, increasing priority.

[2019-09-12 06:30] jonathanolson commented on #443
It doesn't seem like a repaint issue on the sim side, and that wouldn't be browser-specific.

I think I'd need to be able to reproduce it and debug it in the "broken" state. I'm curious if it's the result of something with the stringTest triggering improper/negative bounds that cascades into that type of failure. I don't see anything in the code that would trigger this.

I'll be available tomorrow

[2019-09-13 05:30] samreid opened #449 "Test within the PhET app"
Today @ariel-phet recommended that in the next RC, we additionally test Wave Interference and Waves Intro in the PhET App debug mode.  I'm creating this issue to mark under the "Issues to Verify" section in the RC.

[2019-09-13 15:33] KatieWoe commented on #442
Looks good in the new rc

[2019-09-13 15:33] #442 closed

[2019-09-13 15:39] KatieWoe commented on #444
Looks good in the new rc

[2019-09-13 15:39] #444 closed

[2019-09-13 16:12] KatieWoe commented on #445
Sounds good in the two rcs.

[2019-09-13 16:12] #445 closed

[2019-09-13 16:28] KatieWoe commented on #446
Looks good in the rcs

[2019-09-13 16:28] #446 closed

[2019-09-13 16:55] KatieWoe commented on #449
Looks good.  This is now added to the test matrix for future rcs

[2019-09-13 16:55] #449 closed

[2019-09-16 15:20] ariel-phet commented on #333
@arouinfar @samreid I think I am going to go with `wontfix` -- scrubbing the amplitude in this way is just not a use case we need to support, and it seems like addressing it would be difficult and/or very expensive.

[2019-09-16 15:20] #333 closed

[2019-09-16 16:17] samreid opened #450 "Grabbed tool should pop to the front"
From https://github.com/phetsims/wave-interference/issues/434

When grabbing a tool, it should go to the front (in z-ordering) relative to other grabbable tools.  This will not be fixed for 2.0.

[2019-09-16 16:18] samreid commented on #434
Thanks, I opened #450 about moving tools to the front.  This issue can be closed.

[2019-09-16 16:18] #434 closed

[2019-09-17 15:17] KatieWoe opened #451 "IE sim crashes when going in to or out of full screen"
Device
Bates and Dell
OS
Win 7 and 10
Browser
IE
Problem Description
For https://github.com/phetsims/QA/issues/426.  Occurs in published version.
When entering or exiting full screen on certain screens, the sim will crash and reload.  I couldn't seem to get the console to stay up to log an error.  On Win 7 it seems to be the first and third screen, and on Win 10 it seems to be the first, second, a

[2019-09-17 15:34] KatieWoe commented on #451
Did a quick check on Win 10 for Wave Intro and it seems to happen there on the water screen but not on sound or light.

[2019-09-17 15:39] KatieWoe commented on #451
One last edit.  Win 7 does crash on the second screen.  It only crashes if water is the scene up.  If you switch to sound or light it doesn't.  My guess is that is how its slipped through until now.

[2019-09-17 16:52] KatieWoe opened #452 "Depressed buttons on iOS 13 look wrong"
For https://github.com/phetsims/QA/issues/427.  Not related to that update however.
The image for the depressed button that starts a wave seems wrong on iOS 13
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/65062297-fb5bbc80-d938-11e9-8d65-56a10ebd4962.png)
![Image from iOS](https://user-images.githubusercontent.com/41024075/65062298-fb5bbc80-d938-11e9-8b9f-25eb0c6ef497.p

[2019-09-17 16:53] KatieWoe commented on #452
Nevermind, not just this sim.

[2019-09-17 22:17] lmulhall-phet opened #453 "Lines in faucet"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.6

**Browser**

Safari 12.1.2

**Problem Description**

For https://github.com/phetsims/QA/issues/424. Upon loading the sim in Safari, there are lines in the faucet. Sometimes it's just the vertical line. Zooming in will usually make the line(s) go away.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/6508317

[2019-09-17 22:28] arouinfar commented on #453
I could not reproduce this on my Mac, which is running macOS 12.14.5 and Safari 12.1.1. @samreid have you observed this on your machine?

<details>
<summary><b>Troubleshooting Information</b></summary>

Name: ‪Wave Interference‬
URL: https://phet-dev.colorado.edu/html/wave-interference/2.0.0-rc.3/phet/wave-interference_en_phet.html
Version: 2.0.0-rc.3 2019-09-13 03:56:27 UTC
Features missing: csst

[2019-09-17 22:28] arouinfar commented on #453
@lmulhall-phet are you also seeing the same artifacts in the latest version of the sim?
https://phet.colorado.edu/sims/html/wave-interference/latest/wave-interference_en.html

[2019-09-17 22:32] lmulhall-phet commented on #453
@arouinfar, yes the lines appear in the latest version.

[2019-09-17 22:35] lmulhall-phet commented on #453
I'm also seeing these lines on Dirac (old MacBook Pro in F925 -- 1B in the device cart), so maybe they only appear on older devices?

[2019-09-17 22:39] lmulhall-phet commented on #453
After looking at Amy's link, I realized I posted this issue in the wrong repo. Moving it now. Sorry @arouinfar and @samreid!

[2019-09-17 22:42] lmulhall-phet opened #454 "Lines in faucet"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.6

**Browser**

Safari 12.1.2

**Problem Description**

For https://github.com/phetsims/QA/issues/426. Upon loading the sim in Safari, there are lines in the faucet. Sometimes it's just the vertical line. Zooming in will usually make the line(s) go away.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/6508317

[2019-09-17 22:48] pixelzoom opened #455 "should ToolboxPanel use allowTouchSnag:true ?"
While working on https://github.com/phetsims/scenery/issues/999, I noticed that `ToolboxPanel` is the only client of `DragListener.createForwardingListener` that is using `allowTouchSnag: false`.   In that issue, we changed the default to `allowTouchSnag: true`, and I changed `ToolboxPanel` accordingly to:

[code]

I'm guessing that this was an oversight, because `ToolboxPanel` is similar to other

[2019-09-17 22:51] arouinfar commented on #454
Sorry about that @lmulhall-phet! I'm not seeing any artifact in rc.5 of Waves Intro, either.

Dirac and our MacBook Air devices have low-resolution screens, so perhaps we can lay the blame there? @samreid and I both have high-resolution displays.

@lmulhall-phet could you try opening another sim that uses faucetNode to see if the artifacts are also present there?
https://phet.colorado.edu/sims/htm

[2019-09-18 19:45] samreid commented on #455
Fixed, closing.

[2019-09-18 19:45] #455 closed

[2019-09-19 02:22] ariel-phet commented on #451
@KatieWoe does this occur on the published version?

[2019-09-19 02:22] ariel-phet commented on #451
@samreid if this is a problem on the published version, this issue can be deferred.

[2019-09-19 02:56] arouinfar commented on #451
@ariel-phet it does happen on the published version. In latest and rc.3, launching full screen from screens 1-3 will crash the sim. The window will automatically re-load itself, but after the sim crashes a few times, IE gets fed up and issues this warning. To reload the sim, I need to first delete the junk that IE inserted at the front of the URL.
![image](https://user-images.githubusercontent.com

[2019-09-19 14:59] samreid commented on #451
I can reproduce this problem on my bootcamp IE, and found that the problem is triggered even when manually adjusting the window size (not just using the full screen button).

[2019-09-19 15:00] samreid commented on #451
@ariel-phet OK, we'll move forward with publication without work on this issue.  How would you like to prioritize/schedule work on this issue after publication?

[2019-09-19 15:04] samreid commented on #454
I'm seeing a horizontal line on chrome on the published version:

![image](https://user-images.githubusercontent.com/679486/65256046-27537b00-dabc-11e9-866c-b32ece9c5e0c.png)

It's very aspect ratio dependent.  This will likely need work in the scenery-phet repo for FaucetNode.

@ariel-phet can you please prioritize and schedule?  @pixelzoom is the responsible developer for FaucetNode.  I know it'

[2019-09-19 15:15] pixelzoom commented on #454
Looks like FaucetNode is already attempting to handle these seams. Try increasing these constants.

[code]

[2019-09-19 16:18] ariel-phet commented on #451
@samreid after publication, let plan to have a meeting to go through the deferred issues, we can prioritize then.

[2019-09-19 16:21] ariel-phet commented on #454
@samreid you could try @pixelzoom suggestion above, but this is really not worth much time to try to fix currently. I would say give it 30 minutes maximum, and defer if the suggestion of increasing constants does not work.

[2019-09-19 21:03] samreid commented on #454
@ariel-phet recommended deferring.

[2019-09-19 21:33] lmulhall-phet commented on #454
I know this is deferred, but to answer @arouinfar's question, a line appears in the faucet in EFAC.
![Screen Shot 2019-09-19 at 3 26 56 PM](https://user-images.githubusercontent.com/31285590/65282491-41a84b80-daf2-11e9-8f66-1d021574c212.png)
I didn't see a line in the faucet in pH Scale.

[2019-09-19 23:52] samreid commented on #454
Here's a horizontal line in ph-scale on Mac Chrome:

![image](https://user-images.githubusercontent.com/679486/65288983-395a0b80-db06-11e9-934c-fb9f1ac77155.png)

[2019-09-19 23:53] samreid commented on #454
Since this impacts several sims, I'll move the issue to scenery-phet.

[2019-09-23 14:56] samreid commented on #1
@arouinfar or @ariel-phet any other pre-publication items to do before I publish wave-interference 2.0?  I noticed that the screenshot in the branch already shows the diffraction screen:
https://github.com/phetsims/wave-interference/blob/7ebcb1ae70106ca93d7d430d4a6cf77f23a0fa3b/assets/wave-interference-screenshot.png

[2019-09-23 15:28] arouinfar commented on #1
@samreid I don't think there's anything blocking 1.0.

I will make a 2.0 section of the checklist covering the design issues as I make the sim live.  We should probably do the same for Implementation and QA too.

[2019-09-23 15:29] samreid commented on #1
I presume you meant there's nothing blocking today's publication of 2.0.  Please correct me if this is wrong.

[2019-09-23 15:55] arouinfar commented on #1
@samreid sorry, yes, I meant 2.0. 🤦‍♀

I've edited the comment.

[2019-09-23 15:56] samreid commented on #1
Wave Interference 2.0 is published, @arouinfar can you please address post-publication steps?

[2019-09-24 15:17] samreid commented on #428
Addressed in https://github.com/phetsims/waves-intro/issues/9, closing.

[2019-09-24 17:24] arouinfar opened #456 "LoL icon/description for Diffraction screen"
For #1

[2019-09-25 00:27] samreid commented on #436
At today's wave interference sonification design meeting, we looked at the SineWave sound effect with a single pitch at the high and another single pitch at the low of the wave.  We further refined it by using a triangle wave and using frequencies like `setFrequencies(110,150)`.  We also inversed the sin so it would be linear like @Ashton-Morris's demo last week.  @kathy-phet said she was looking

[2019-09-25 21:09] jbphet commented on #426
I've been creating sounds in the view type, since I think of it as "presentation" and not just view.  If we decide that we'd like to separate out the "sound view" into a separate class, we should really add support for this to the framework, specifically to the `Screen` type so that an optional "sound view" can be provided.  It would then be instantiated in the same way that `ScreenView` classes a

[2019-09-30 22:01] samreid commented on #447
Now that Waves Intro 1.0 is published, I've merged this branch to master and we will continue in #436, closing.

[2019-09-30 22:01] #447 closed

[2019-10-15 17:39] samreid commented on #448
Fixed, closing.

[2019-10-15 17:39] #448 closed

[2019-10-15 18:55] samreid commented on #388
I added ducking above and will mark this issue for review in design meeting.

[2019-10-15 19:24] samreid commented on #390
@jbphet says there are some standard sounds in the tambo demo which may work.  We'll try the second clip.

[2019-10-22 21:27] samreid opened #457 "Sonification for the chart as a function of position"
We would like to depict the sound from the position-based chart.  Many notes are in the design doc.

[2019-10-22 21:27] samreid commented on #457
Here's a patch from feasibilty prototype from today's discussion:

<details>

[code]

</details>

[2019-10-23 01:46] samreid opened #458 "Sound effects for common code components"
@Ashton-Morris provided audio for the stopwatch and measuring tape, we are waiting for https://github.com/phetsims/tambo/issues/73 to be further along before integrating the sounds.

[2019-10-24 16:19] arouinfar commented on #456
Delivered to LoL 10/10/19, closing.

[2019-10-24 16:19] #456 closed

[2019-10-26 01:21] pixelzoom opened #459 "update Diffraction Screen in model.md"
model.md says:

Looks like it's been published.

[2019-10-26 01:23] samreid commented on #459
Thanks! Closing.

[2019-10-26 01:23] #459 closed

[2019-10-28 18:46] samreid commented on #457
I cleaned up the prototype, softened the initial sound, improved the volume envelope and committed.  I wouldn't call it polished, but at least it is ready for design discussion.

[2019-11-04 16:01] pixelzoom opened #460 "incorrect order of merge args"
As noted in https://github.com/phetsims/phet-info/issues/121#issuecomment-549057504...

The order of args to `merge` in `WAVE_INTERFERENCE/DiffractionNumberControl` creates a potential maintenance problem.

[code]

Client-specified `options` correctly override `DiffractionNumberControl` defaults option values. But `NUMBER_CONTROL_OPTIONS` overrides `options` and `DiffractionNumberControl` defaults

[2019-11-04 17:01] samreid commented on #460
Thanks!  I verified that the proposed code has the same resultant options as the previous code and committed.

This also let me remove this comment:
[code]

Closing.

[2019-11-04 17:01] #460 closed

[2019-11-07 18:03] samreid commented on #457
Here's a patch for playing discrete notes:

<details>

[code]

</details>

[2019-11-09 00:30] pixelzoom opened #461 "numerous TODOs with no issue number"
SoundParticleImageLayer:

[code]

WaveMeterNode:

[code]

WavesModel:

[code]

SineWaveGenerator:

[code]

WavesScreenSoundView:

[code]

[2019-11-11 21:31] samreid commented on #457
Based on discussion with @Ashton-Morris, I opened issue https://github.com/phetsims/tambo/issues/84 and will look into that for this issue.

[2019-11-13 16:08] samreid opened #462 "Prepare a version for upcoming usage with Hillside"
At yesterday's meeting, we decided to publish a dev version for Brett to use with Hillside on Thursday Nov 14, 2019.  I'll strip the debug derivatives from the positional chart, and remove the sonification from the positional chart, which is still in development in https://github.com/phetsims/wave-interference/issues/457

I don't know whether I'll have time to add the single-shepherd's tone with f

[2019-11-13 16:55] samreid commented on #462
I removed the position graph derivatives and sonification and published https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.7/phet/waves-intro_en_phet.html, please test thoroughly before classroom usage.  Also, recall you can append ?screens=1 to the URL to restrict the sim to the water screen.  Please let me know if there's anything else I can help with here.

[2019-11-13 20:29] loganbraywork opened #463 "Sound effects checkbox overlaps with Screen checkbox when Light radio button is selected"
**Test device**
Windows 7 laptop
**Operating System**
Windows 7
**Browser**
Chrome 78.0.3904.97
**Problem description**
Appears on master, accidentally discovered when testing for sounds.

When on the Slits or Interference screens, if the Light radio button is selected then the "sound effects" checkbox appears and is overlapped by the "screen" checkbox.
**Steps to reproduce**
1. Go to either the S

[2019-11-14 15:20] BLFiedler commented on #462
Looks good from my investigations. Let's leave the issue up until next week in case there is an update we want to bring by to the kids.

[2019-11-20 15:38] BLFiedler commented on #462
I forgot to say this during the sound meeting, but if there's time, I can possibly have the kids specifically provide feedback tomorrow on the graph sounds you're working on, @samreid .  If you have something worth creating a version for?

Otherwise, maybe that is a good topic for the sharing day on Dec 5th?

[2019-11-21 01:22] samreid commented on #462
Here's a version that uses the "single shepard tone + oscillating filter frequency", please test it for yourself and determine whether it is suitable for your usage:
https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.8/phet/waves-intro_en_phet.html

[2019-11-21 01:28] samreid commented on #462
I wonder how it would sound if we used one tone per peak, but not using Shepard tones for those.

[2019-11-28 05:23] aken830806 opened #464 "How to get slit width and separation on panels?"
How to get slit width and separation on panels when user slide the bar?

I am a developer from Taiwan Learning Platform ,we want to add some code for grading learner whether complete lab.

[2019-11-29 01:14] #464 closed

[2019-12-09 23:06] #462 closed

[2019-12-24 20:47] samreid commented on #433
I'd like to mark this for developer meeting to understand the scope of what's requested here and to hear ideas for how to proceed.  Just fixing the layout for `NumberControl`?  For `NumberControl` with certain `layoutFunctions`?  More layout flexibility in general?

[2020-01-02 17:40] pixelzoom commented on #433
I don't understand this issue, because it doesn't identify what the desired alignment is.  "the tweaker buttons don't always line up" --- with what?

[2020-01-02 17:42] samreid commented on #433
From the picture in the issue description: the pair of tweaker buttons for the leftmost slider are vertically offset from the pair of tweaker buttons for the rightmost slider.

[2020-01-02 17:57] pixelzoom commented on #433
Yes, I can see that they are vertically offset.  That behavior is correct because an HBox with `align: 'center'` is used for the layout.   Is that a problem?  If so, when?

What position do you think is desired?   You said "They are positioned based on the height of the number control which may change based on the height of the text."  but that makes no sense -- they are part of the NumberControl.

[2020-01-02 17:59] pixelzoom commented on #433
... for example if using `createLayoutFunction1` (the default), they are positioned based on the height of the slider:

[code]

[2020-01-09 17:46] jessegreenberg commented on #433
Has this since been fixed? Master looks like
![image](https://user-images.githubusercontent.com/6396244/72091297-d6bb9400-32dd-11ea-89e0-45cfcc1c9496.png)

EllipseSceneControlPanel aligns the NumberControls by bottom which I was going to recommend.

[2020-01-09 17:55] samreid commented on #433
Aligning at the bottom worked nicely for the diffraction screen context, but doesn't seem fully general, and you can see the tweaker buttons are aligned but the numbers at the top are now misaligned.

[2020-01-16 05:40] zepumph commented on #433
In keyboard help dialogs (`KeyboardHelpSection.js`), we ran into similar layout issues where we wanted components of different instances to align, but from an OO perspective to be separate. We ended up formulating each section very specifically, keeping track of the two columns per section to align. I think that this level of complexity is generally not desirable in NumberControl, which arguable a

[2020-01-25 13:25] samreid opened #465 "Improvements and additions to sonification"
During our Tuesday Jan 21 Waves Intro sonification meeting, we agreed we would like to make some improvements and additions to the sonification, then move to interviews, dev testing and publication.  This will be without screen reader/a11y design or implementation.  I'll open issues for each of the proposed items.

I indicated to @arouinfar that this could be ready around Feb 6, 2020, so marking a

[2020-01-25 13:27] samreid commented on #390
Update from Jan 21, 2020 meeting:

JB: It is missing sounds for taking things out of the toolbox and putting them back in the toolbox.  See the ruler in inverse square law common.

Marking for https://github.com/phetsims/wave-interference/issues/465

[2020-01-25 13:28] samreid opened #466 "Play/pause in the timer does not have a sound"
For #465

Play/pause in the timer does not have a sound.

JB: Check the standard play/pause button.

[2020-01-25 13:29] samreid opened #467 "Add a button sound for the green water drop button"
For #465, add a sound for the green water drop button.  @Ashton-Morris provided a sound effect for this.

[2020-01-25 13:30] samreid opened #468 "Add slider clicking sounds"
For #465, we would like to add sound for the slider.  KP: I’d like a neutral click sound.  Perhaps like the “frogs” in the tambo demo.

@jbphet said:

[2020-01-25 13:31] samreid opened #469 "Why are some sounds missing for the position graph and wave detector probes on screens 2-3?"
For #465, I don’t hear a sound for the position graph or for the wave detector probes.  Why is it missing?

[2020-01-25 13:33] samreid commented on #388
From the Jan 21, 2020 design meeting:

KP: Let’s duck the membrane sound even more when the pitch is on.  KP: Play tone should duck all other sounds, including the wave detector probes and the position chart.  AR: That’s my vote too.

Marking for #465

[2020-01-25 13:33] samreid opened #470 "The "Sound effect" checkbox doesn't reset"
For #465, The "Sound effect" checkbox doesn't reset

[2020-01-25 13:34] samreid opened #471 "Add the common UI sounds for the landing screen and nav bar buttons"
For #465

@emily-phet said:

[2020-01-25 23:24] samreid commented on #471
See https://github.com/phetsims/tambo/issues/91, which says:

The file is `ScreenSelectionSoundGenerator.js`

[2020-01-26 01:28] samreid commented on #471
I updated this in joist and you can now hear the sounds in the sim.  This will be ready for review in the next version.

[2020-01-26 02:35] samreid commented on #470
Fixed, closing.

[2020-01-26 02:35] #470 closed

[2020-01-26 03:07] samreid commented on #469
Fixed, closing.

[2020-01-26 03:07] #469 closed

[2020-01-30 03:25] samreid commented on #467
Add sound effect for wave source button, see https://github.com/phetsims/wave-interference/issues/467

[2020-01-30 03:26] samreid commented on #467
I added the sound, but there are some TODOs

[code]

[2020-02-03 15:49] samreid commented on #466
The simulation already has a Play/Pause button at the bottom center of the screen which pauses/plays the entire simulation.  It seems we should use a different sound for the play/pause on the Stopwatch which only play/pauses the stopwatch.  @arouinfar @emily-phet @Ashton-Morris can you please recommend how to proceed?

[2020-02-03 15:57] samreid commented on #463
Thanks @loganbraywork, I corrected that problem in the above commit.  Can you please verify the fix on phettest?  Please close if all is well.

[2020-02-03 15:58] samreid commented on #457
We decided we will not include sonification of this graph for the next publication, and @Ashton-Morris wants to review this issue for discussion with Wanda.

[2020-02-03 17:28] arouinfar commented on #466
@samreid I think the buttons on the StopwatchNode should use the standard button sounds, not the play/pause sound used in the TimeControlNode.

[2020-02-03 18:46] samreid commented on #468
The commit adds the discrete slider sounds for water frequency/amplitude, sound frequency/amplitude and light amplitude.  The light frequency slider is a different component:

![image](https://user-images.githubusercontent.com/679486/73681016-aa93f880-467a-11ea-9e66-c82d51af9a82.png)

For the other components, I added the discrete sound when dragging past a tickmark.

[2020-02-03 19:13] samreid commented on #468
I added it for the frequency slider as well.

[2020-02-03 19:35] samreid commented on #390
Added in the commits, closing.

[2020-02-03 19:35] #390 closed

[2020-02-03 19:35] #468 closed

[2020-02-03 19:36] #471 closed

[2020-02-03 19:37] samreid commented on #465
@emily-phet indicated it would be nice to have a design meeting about this on Thursday.  I'll notify the slack channel Tuesday morning, but also mentioning it to @ariel-phet now in case it helps.

[2020-02-03 19:49] samreid commented on #466
Fixed, closing.

[2020-02-03 19:49] #466 closed

[2020-02-03 20:12] samreid commented on #467
It seems like `RoundStickyToggleButton` and `RectangularStickyToggleButton` will get default sounds the same way `RoundToggleButton` and `RectangularToggleButton` did.  When that's done, it will address both of the TODOs mentioned above.  However, I don't know if the plans for sound in this common code component.  It is good enough to review and interview as-is, but it would be good for @jbphet to

[2020-02-03 20:56] samreid commented on #388
@arouinfar or @kathy-phet did you intend that even transient sounds, such as button presses and checkbox presses would be ducked?  Or just the continuous sounds like the wave detector probes?

[2020-02-03 21:08] samreid commented on #388
I added ducking for the wave meter node.  To duck the rest of the audio subsystem would require changes to tambo which @jbphet should be involved with, if we decide to duck everything.  Otherwise this is ready for review.

[2020-02-04 13:18] Ashton-Morris commented on #457
@samreid I have a saved a handful of links to your previous dev versions for eventual review with Wanda. Assuming they stay open to my access I have them bookmarked.

[2020-02-04 16:10] samreid commented on #465
This is ready for review in https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.12/phet/waves-intro_en_phet.html

[2020-02-04 16:11] samreid commented on #465
I requested design time on the slack design channel.

[2020-02-04 18:51] emily-phet commented on #465
During the meeting (Thursday?) I'd like to create a list of:
- sounds we have consensus on that we want to publish the sim with
- sounds for which there are open questions around
- sounds that will not be included in the next publication.

[2020-02-05 03:09] oliver-phet opened #472 "User suggestion: phase offset between the two sources"

[2020-02-05 15:22] samreid commented on #465
This version un-sonifies the in WaveAreaGraphNode, see https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.13/phet/waves-intro_en_phet.html

[2020-02-06 20:30] samreid commented on #433
@samreid asks would it be possible to address this by using `AlignBox`?
@pixelzoom says he would prefer not to use AlignBox, because it leads to confusing, complicated code.
@jonathanolson asks what is better?
@pixelzoom says something like Java, like `GridBoxLayout`, `SpringLayout`, etc. would be better.
@ariel-phet asks whether we can start with a small layout manager, then build on it?
@samreid

[2020-02-06 20:31] zepumph commented on #433
There are only 6 custom layout functions currently; searched with: `layoutFunction: [^N]`

[2020-02-08 15:05] samreid commented on #465
The following issues came up during Thursday's design meeting:

[2020-02-08 15:06] samreid opened #473 "Volume balancing"
From #465, the sim needs overall volume balancing.  @emily-phet indicated this should be done in coordination with @Ashton-Morris, and should be done after all other features are basically working.  On hold until then.

This may be accomplish in part by making sure the sounds are assigned to the right "groups" or "classes".

[2020-02-08 15:08] samreid opened #474 "Turn down the volume on slider clicks."
From #465 and related to #473, the slider clicks are too loud.

AP: The slider ratchet sounds are irritating for me.
AR: It's appropriate for John Travoltage, but not fitting for these sliders.
EM: It's currently very loud.
AP: Maybe it will be better when volume balanced.

EM: We wanted something "neutral" here, so it won't catch your attention too much.

[2020-02-08 15:10] samreid opened #475 "The wavelength slider sonification should sound more continuous"
From #465, the wavelength slider sounds too "discrete", we are wondering if it should have more frequent ratchet clicks?

EM: JB has strategies for tuning the slider tick sounds.
SR: I may need to wait for JB's help for that.

[2020-02-08 15:13] samreid opened #476 "The wave detector probes should duck the speaker sound and the light sound effect"
From #465

Sound Screen: The probes should reduce the speaker sound by some amount, not as much as the "play tone" does.  So it moves to the background a little more
Should we do ducking on the light screen when the user drags the probes in?
	It seems less important in the light screen than in the sound screen.
	KP: But we should be consistent, let's duck the probe when the light sound effect is t

[2020-02-10 03:46] emily-phet commented on #473
@samreid I discussed this with @Ashton-Morris on Slack, and he's going to start working on this.

[2020-02-10 03:50] emily-phet commented on #474
Also regarding the slider clicker sounds, it was brought up that for wavelength slider on the "Light" screen, @arouinfar and @ariel-phet felt it would be better for there to be more clicks, to feel more 'continuous' since the visual display for that slider is different from other screens.
@arouinfar @ariel-phet please weigh in if I'm recalling this incorrectly.

[2020-02-10 03:52] emily-phet commented on #475
My interpretation of what was said is that the "Light" screen, @arouinfar and @ariel-phet felt it would be better for there to be more clicks, to feel more 'continuous' since the visual display for that slider is different from other screens. I didn't interpret this as being for all frequency sliders.
@arouinfar @ariel-phet please weigh in if I'm recalling this incorrectly.

[2020-02-11 18:22] samreid opened #477 "Add a period to the end of the sentence"
Test issue for @Ashton-Morris

[2020-02-11 20:31] Ashton-Morris opened #478 "Change "Step Forward" button sound to the softer version"
The step forward button in Waves Intro is too harsh and should be replaced by the more subtle one used in the Tambo test page.

@samreid [Example can be heard in this sim](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-soundDesignProto01.3/phet/molecules-and-light_en_phet.html?supportsSound)

[2020-02-11 21:08] Ashton-Morris opened #479 "Remove the wave source button depress (or pop up) sound when the single wave option is chosen"
When you are testing the sound with the single wave option chosen you hear the button pop up which is very distracting from the learning goals of focusing on the wave.

Also when you press the reset button you can also hear the Wave Source button depress.

If you can remove the sound from playing in those two instances it would be preferable. Alternatively it could just never play a sound when the

[2020-02-11 21:10] emily-phet commented on #473
@Ashton-Morris - is this done? We might want to leave this open until it's finalized.

[2020-02-11 21:13] Ashton-Morris commented on #473
@emily-phet Sorry I don't know git hub etiquette yet. I did the balance the audio levels and thought that was the scope of this issue.

We did not adjust any frequency of clicking sounds. I wasn't a part of that conversation so I am not sure what was said, but I did adjust the volume of them.

[2020-02-12 04:12] emily-phet commented on #473
Thanks @Ashton-Morris - no worries! Once @jbphet returns, let's all take a listen to the latest (perhaps in a design meeting next week?) and double-check if there are any tweaks that come out of that discussion. It's good to leave this open, as a breadcrumb for all about what's happening here until we're 100% sure it's all set and we're ready to move on to the next step towards publication.

[2020-02-13 17:20] samreid commented on #473
Assigning to @arouinfar and @emily-phet to review the volume balancing.  @ariel-phet would you also like to review?

[2020-02-13 17:21] samreid commented on #474
@Ashton-Morris was this addressed during #473 ?

[2020-02-19 19:03] pixelzoom commented on #433
A dev meeting conclusion in https://github.com/phetsims/wave-interference/issues/433#issuecomment-583096399 was:

But.... This layout occurs in Buoyancy (_Explore_ screen):

<img width="225" alt="screenshot_132" src="https://user-images.githubusercontent.com/3046552/74866179-a5d47300-530f-11ea-9ef6-ece93630c906.png">

When I mentioned this issue and our plan to bottom-align the tweakers and slider

[2020-02-19 23:45] emily-phet commented on #388
I would strongly recommend not ducking everything (e.g., not the basic UI sounds). Just like the general behavior of the reset all is standardized, it would be nice to standardize that the UI sounds are subtle to start with, and shouldn't need to be ducked.

[2020-02-19 23:46] emily-phet commented on #465
@samreid - can this one be closed? It seems like we've moved beyond what was discussed Jan. 21, and new feedback is being put into individual issues.

[2020-02-19 23:50] emily-phet commented on #474
@samreid @Ashton-Morris I think in this version - https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.14/phet/waves-intro_en_phet.html all of the common UI sounds can be turned down. At least from my setup (speakers on my laptop), the clicker sounds, pick up/drop tool sounds, etc. are all louder than the water drop sound, graph tool sound, etc. It needs to be reversed...you should barely noti

[2020-02-19 23:56] emily-phet opened #480 "Add a more "squishy" button sound to the wave generator button"
We discussed this in a meeting that @Ashton-Morris wasn't present for, and I think it got forgotten.

Currently, the common UI button sound feels discrepant with the squishy look to the button. I bet @Ashton-Morris might have some great squishy sounds in his sound library to use as a starting point!

[2020-02-19 23:58] emily-phet commented on #479
@samreid - I totally agree with @Ashton-Morris, the pop-up sound needs to not happen for the single wave button.

For the reset button - no other sounds should ever play, except for the single reset sound. (nice catch @Ashton-Morris)

[2020-02-20 00:03] emily-phet commented on #476
@kathy-phet
How do you want to proceed here? Do you want to meet with her and walk through the sim and ask for this feedback, or do you want to assign this to someone else?

[2020-02-20 00:06] emily-phet commented on #426
@samreid - is this still relevant, or perhaps a new issue for a new review? Not sure what the typical practice is on this sort of thing...but just noticed this seemed old and possibly out-of-date.

[2020-02-20 00:09] emily-phet commented on #388
In this version https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.14/phet/waves-intro_en_phet.html the ducking for the sound screen sounds great to me.

[2020-02-20 04:36] samreid commented on #477
Thanks for the practice commit, @Ashton-Morris!  I'll close this issue.

[2020-02-20 04:36] #477 closed

[2020-02-20 04:37] samreid commented on #465
Thanks @emily-phet, closing.

[2020-02-20 04:37] #465 closed

[2020-02-20 04:38] samreid commented on #480
@Ashton-Morris let me know if I can make any changes for this issue before the Thursday Feb 20 meeting.

[2020-02-20 04:43] samreid commented on #479
The best way to implement this would be if `RoundStickyToggleButton` had the same level of sound support that `RoundPushButton` has.

[2020-02-20 04:50] samreid commented on #479
I followed the example in `RoundPushButton` and applied it in `RoundStickyToggleButton`.  As far as I can tell it has the same sound as requested for this sim.  It also fixes the auto-play problems on reset and switching modes.  @jbphet can you please review this change?

[2020-02-20 04:51] samreid commented on #474
I categorized appropriate sounds as `user-interface` and adjusted the volume.  @emily-phet can you please review on phettest?

[2020-02-20 04:57] samreid commented on #478
I used the same sound as in that sim, @Ashton-Morris please review on phettest and close if all is well.

[2020-02-20 04:58] samreid commented on #473
I also made further improvements today as part of https://github.com/phetsims/wave-interference/issues/474

[2020-02-20 04:59] samreid commented on #467
This work was done as part of https://github.com/phetsims/wave-interference/issues/479, closing as duplicate.

[2020-02-20 04:59] #467 closed

[2020-02-20 05:00] samreid commented on #458
@Ashton-Morris or @emily-phet does anything specific remain for this issue that isn't already done or covered elsewhere?

[2020-02-20 05:01] samreid commented on #457
Tagging as on-hold since this will not be in the next publication.  @Ashton-Morris if you were using this issue to track discussion with Wanda, can it be moved to a separate issue?

[2020-02-20 05:03] samreid commented on #436
It seems we reviewed this sound and did not recommend any changes as part of https://github.com/phetsims/wave-interference/issues/465#issuecomment-583744423.  Closing for now, but will reopen if we hear trouble in the Feb 20 meeting.

[2020-02-20 05:03] #436 closed

[2020-02-20 05:05] samreid commented on #388
Self-unassigning based on the remarks above, noting that we have one other ducking issue open which is #476.  Also leaving assigned for other reviewers to double check before closing.

[2020-02-20 05:36] samreid commented on #476
I added ducking in the commit, it is ready for review.

[2020-02-20 05:43] samreid commented on #475
In my opinion, the best way to hear the continuous nature of the wavelength slider is to turn on the "sound effect" checkbox. This causes an immediate pitch-based auditory feedback which is continuous and matches the wavelength of the light.

Adding "more clicks" to the slider will make it sound more noisy, I don't know that students will interpret that as sounding more "continuous".  And why woul

[2020-02-20 05:50] samreid commented on #475
For completeness, I decided to try out the "more frequent clicks" anyways.  I'm surprised that it does sound a bit "more continuous".  Anyways, we should discuss what's best here.  I'll mark for review and discussion at next meeting.

[2020-02-20 05:53] samreid commented on #426
I'll need to make another cleanup pass once the sound design is finalized.  Then review with or by @jbphet would be good.  Leaving open and on hold until then.

[2020-02-20 05:57] samreid commented on #476
The implementation worked out OK in this instance, but I can foresee that ducking may be necessary between seemingly unrelated pieces of code.  If we plan to leverage ducking more and more, I wonder if there should be a tambo feature for that, like

[code]

The effect would be that the given `SoundClip`, when playing, would reduce the volume sounds categorized as `'wave-generator'`.  @jbphet have

[2020-02-20 15:50] KatieWoe opened #481 "CT Sound variables assigned but not used"
Also in Intro:
[code]

[2020-02-20 17:55] samreid commented on #481
I pushed a fix in https://github.com/phetsims/wave-interference/commit/0db9ae6c91ee71b79b26728f24f17dbe846512c7, closing.

[2020-02-20 17:55] #481 closed

[2020-02-20 19:08] jbphet commented on #476
Nope - this is the first time that the need has come up.  I'm okay with creating an issue to consider the feature generally, but I would tend towards deferring it until the problem comes up in another sim.  It sounds like the ducking was implemented successfully in this case, so unless it comes up more than an handful of times, I'd like to avoid the complexity of a general implementation, which wo

[2020-02-20 20:21] arouinfar commented on #474
@samreid I think master's definitely an improvement!

[2020-02-20 20:23] arouinfar commented on #474
@samreid I think you may have inadvertently classified the wave detector as a `user-interface` element. It sounds a bit quieter in master compared to dev.14.

[2020-02-20 20:45] samreid commented on #475
During today's design meeting:

@arouinfar said: Since the spectrum slider looks more continuous, it seems like it needs different sounds.  The more frequent clicks sound good.

@samreid says: what about just the "sound effect" sound while dragging
@kathy-phet replies: that seems overwhelming and unwarranted.  The more frequent clicks sound good.  They are still a bit loud for now.

[2020-02-20 20:49] samreid commented on #474
@kathy-phet said: One click sounds a reasonable volume, but since these come in bursts, they should be reduced further.

@samreid asked: What number should I aim for?
@kathy-phet: Let's check.

[2020-02-20 20:59] samreid opened #482 "Wave detector probes shouldn't get too quiet"
At the moment, there is a strong effect from the wave amplitude on the wave detector probe volume.  This should be reduced significantly.  When the wave detector probes are all the way to the right, they are barely audible.

[2020-02-20 21:01] samreid commented on #482
@kathy-phet requested @arouinfar and @samreid to take a quick look at this after today's design meeting.

[2020-02-20 21:04] samreid commented on #479
We reviewed this and agreed it sounds good, closing.

[2020-02-20 21:04] #479 closed

[2020-02-20 21:05] samreid commented on #478
We reviewed this in today's meeting and agreed it sounds good, closing.

[2020-02-20 21:05] #478 closed

[2020-02-20 21:12] samreid commented on #476
In today's meeting, we agreed this sounds good and can be closed.   I'll open a tambo issue for this.

[2020-02-20 21:17] jbphet commented on #475
We agreed the current sound is acceptable for interviews.  @Ashton Morris and @ariel-phet will look into a better sound effect in https://github.com/phetsims/tambo/issues/94.

[2020-02-20 21:18] #475 closed

[2020-02-20 21:18] #476 closed

[2020-02-20 21:20] samreid commented on #482
Test comment

[2020-02-20 21:26] samreid commented on #458
@emily-phet says we may want more common code sound effects, but not for the next version, so deferring.

[2020-02-21 00:17] samreid commented on #473
@arouinfar says that everything except the sounds for WaveMeterNode seemed well balanced.  There is a separate issue for this, see #482
The rest of the team is okay with the balance levels.  Closing.

[2020-02-21 00:18] samreid commented on #388
At today's design meeting we reviewed it and decided it sounds nice, closing.

[2020-02-21 00:18] #388 closed

[2020-02-21 18:15] arouinfar commented on #473
@samreid I'm noticing that the home screen and navbar sounds are really loud relative to other common UI sounds in master. In https://github.com/phetsims/wave-interference/issues/474#issuecomment-588608347 you classified common component sounds as `user-interface`, could you include the homescreen/navbar sounds in this group?

[2020-02-21 18:37] Ashton-Morris commented on #457
We can close this, I have collected the relevant sims and info and have saved it.

[2020-02-21 18:43] arouinfar opened #483 "Increase volume of sounds overall"
@samreid I'm finding the overall volume of the sim to be pretty low. With headphones, the volume needs to be ~70% for all sounds to be reasonably heard. Without headphones, things are still pretty faint on my MacBook at maximum volume. It's even worse on the interview device (old MacBook Air).

Here's a video showing Waves Intro (master) and Molarity (latest) on the interview device at max volume:

[2020-02-21 18:50] arouinfar commented on #482
@samreid I'm finding the volume gradient to be way too aggressive. In this example, the amplitude in the detector is nearly at the max, but I can barely hear the sound with my MacBook speakers at max volume, and the common UI sounds are much louder by comparison.
![image](https://user-images.githubusercontent.com/8419308/75062252-ae5bb380-549f-11ea-9a69-360e9b368dc2.png)

[2020-02-21 18:51] arouinfar commented on #482
While I think #483 will help address this somewhat, I still think the volume gradient should be tuned down a bit.

[2020-02-21 18:52] arouinfar commented on #483
This needs to be addressed before interviews, so marking as high priority.

[2020-02-21 18:52] arouinfar commented on #482
This should be addressed before interviews, so marking as high priority.

[2020-02-21 20:12] ashton commented on #475
Hi, I think you've been citing the wrong Ashton recently hahah

[2020-02-21 20:55] Ashton-Morris commented on #480
I have two variations for @emily-phet to hear
[squishy-button.mp3](https://drive.google.com/open?id=1KDgBDcCoGh8I2GwnXJpEvPm3ZmDgQsCN)
[flashlight-button.mp3](https://drive.google.com/open?id=1VJpk5UPMxSu_VAtWrFNWT7JqQM4P-HQv)

Is that more in the ballpark?

[2020-02-22 01:00] emily-phet commented on #473
Just a note re volume balancing - during yesterday's meeting there was one or two things it seemed @ariel-phet and @arouinfar were going to discuss with Ashton. I suggest we collect recommendations for all volume balancing challenges, and you all include that in the conversation with @Ashton-Morris.

@Ashton-Morris needs to weigh in on any final volume balancing - there are nuanced details that we

[2020-02-24 22:53] emily-phet commented on #480
I like "squishy-button.mp3" a lot. @jbphet and @Ashton-Morris can you weigh in with thoughts on how this sounds within the context of the other UI sounds (does it sound like it "fits" in to you?).

"flashlight-button.mp3" sounds too physical or real life to me. I prefer the kind of...rounded or smooth...sounds for the UI sounds, particularly the most subtle ones.

[2020-02-25 17:40] jbphet commented on #480
Both the squishy-button and flashlight-button files still include a pretty strong impact sort of sound, as though something is hitting something else.  I think we're looking for a sound with a bit less of that, something a bit "gentler", for lack of a better term.  I think the word "squishy" was used to connote something that was less of a switch being flipped and more like a rubbery dome was bein

[2020-02-25 18:11] Ashton-Morris opened #484 "Sound: Implement new slider click sounds and get feedback"
I spoke with Ariel and we liked the subtlety of the step forward button.

So here is a shortened version of that to try

[click-right](https://drive.google.com/open?id=1eqOCe9ic5fi8dxvWrL-EsjveLbK_iq42)
[click-left](https://drive.google.com/open?id=1uAa1QlLIastKkzDMXu8UwJQaRUmt-thT)

[2020-02-25 18:13] jbphet commented on #480
Both the squishy-button and flashlight-button files still include a pretty strong impact sort of sound, as though something is hitting something else.  I think we're looking for a sound with a bit less of that, something a bit "gentler", for lack of a better term.  I think the word "squishy" was used to connote something that was less of a switch being flipped and more like a rubbery dome was bein

[2020-03-05 15:08] samreid commented on #482
I incorrectly hypothesized this would be an easy problem to solve.  The problem is that we do not have an analytical expression for the amplitude envelope--the entire model is driven by a "bottom up" rather than "top down" approach, and hence there is no way to distinguish between a value halfway up an amplitude = 2.0 curve vs a value at the top of an amplitude = 1.0 curve.  The different approach

[2020-03-05 20:07] samreid commented on #482
Today @kathy-phet asked to be co-assigned.  Any ideas how to proceed?

[2020-03-05 20:31] kathy-phet commented on #482
There are 2 knobs:
- boost the volume across the board
- change the volume response curve so that it stays somewhat louder at lower levels of amplitude.

I would try a bit of both ... here is a current and new hypothetical volume curve.
![image](https://user-images.githubusercontent.com/5096804/76023024-97788080-5ee5-11ea-9a20-c237c5e8a4a1.png)

[2020-03-05 20:39] samreid commented on #482
We were careful to fine-tune the "quiet" parts of the oscillation envelope, and I think that would be disturbed by the reworked curve above.  I'll give it a try, but I think it would change the overall sound envelope shape, not just the volume.

[2020-03-05 23:04] kathy-phet commented on #482
Can you make a separate dev version that just controls the volume of that one node - and boosts the volume of everything there by a factor of 3?

[2020-03-06 00:40] emily-phet commented on #482
@Ashton-Morris @jbphet Any suggestions?

[2020-03-06 18:08] samreid commented on #463
I checked that this still behaves correctly, and it will be re-tested by QA in the next RC, so it seems safe to close.

[2020-03-06 18:08] #463 closed

[2020-03-06 18:40] samreid commented on #483
Using Blackhole + audacity, plus the instructions at

https://github.com/ExistentialAudio/BlackHole
https://forum.audacityteam.org/viewtopic.php?f=47&t=107162

I recorded audio from Molarity (left) and Waves Intro (right):
![image](https://user-images.githubusercontent.com/679486/76112312-31e8ca80-5f9f-11ea-99b4-f7866e154507.png)

[2020-03-06 18:46] samreid commented on #483
After setting the 'user-interface' category back to 1.0 in Waves Intro, they are still not matched:

![image](https://user-images.githubusercontent.com/679486/76112790-234ee300-5fa0-11ea-9901-0aae6fd56f56.png)

[2020-03-06 19:07] samreid commented on #483
@jbphet helped identify the problem in the linked issue above, but it means we cannot use the Checkbox to test normalization between Molarity and Waves Intro until that issue is resolved.  But @jbphet indicated the "reset all" button is a good sound to use for normalization.  Testing the reset all button with no override for the "user interface" category shows they do match:

![image](https://user

[2020-03-06 19:10] samreid commented on #483
Since the commit changed the user interface volume from 0.15 to 1.0, other sounds will need to be boosted by 1/0.15=6.66 to compensate.

[2020-03-06 19:18] samreid commented on #483
I asked @jbphet on slack:

I changed the user-interface category output level from 0.15 to 1.0.  How would you recommend to boost everything else in the sim accordingly?  Is there a way to
[code]
 Or is there a better way?

[2020-03-06 19:19] samreid commented on #474
I cut it in half in the commit, but this cannot be reviewed until https://github.com/phetsims/wave-interference/issues/483 is addressed.

[2020-03-06 19:33] samreid commented on #483
@jbphet recommended to search for usages of `initialOutputLevel` and `outputLevel`.  I corrected those by dividing by 0.15, so this would hopefully restore the prior within-sim normalization as well as the new feature of having across-sim normalization.  @arouinfar can you please review?

[2020-03-06 19:37] samreid commented on #480
@Ashton-Morris please let me know if you would like to explore other sounds for this issue, or if I should integrate "squishy-button.mp3" into the sim.

[2020-03-06 19:41] samreid commented on #482
I'll add a query parameter `?waveMeterNodeVolume=3`

[2020-03-06 19:46] samreid commented on #482
Committed and published here:
https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.16/phet/waves-intro_en_phet.html?waveMeterNodeVolume=3

I'll need feedback before I can proceed on this issue.

[2020-03-06 19:52] samreid commented on #484
I added the proposed sounds.  @ariel-phet or @Ashton-Morris can you please review?

[2020-03-06 19:54] samreid commented on #473
That was likely corrected in https://github.com/phetsims/wave-interference/issues/483.  @arouinfar can you please be aware of that in testing #483?

Leaving assigned to @Ashton-Morris to check the levels again.  Please be aware of the other open issues which relate to this.

[2020-03-06 19:56] samreid commented on #474
OK #483 has a proposed fix and is up for review.  @kathy-phet or @arouinfar can you please check the slider click volume?  Also, please be aware the sound effect itself changed as part of #484.  Marking high priority in case this should be done before interviews.

[2020-03-06 20:01] jbphet commented on #482
One thing to try might be a sigmoid function.  We were having some issues with mapping certain aspects of the Friction sim's behavior to volume, and this function was well received as the volume control.  You might need to invert it (i.e. subtract the value from 1) for your purposes, but it's something to consider.  Please see https://github.com/phetsims/friction/issues/159#issuecomment-450767159

[2020-03-06 20:17] samreid commented on #482
I'm having difficulty seeing how changing the response function will correct this problem.  Elaborating on the problem identified in https://github.com/phetsims/wave-interference/issues/482#issuecomment-595278265 in this context:

Let's say at the wave source, the wave oscillates between +1 and -1.  And out toward the right, the wave oscillates between 0.2 and -0.2.  If we boost it (with a sigmoid

[2020-03-06 20:24] kathy-phet commented on #482
Sam - this doesn't help because you can have a low amplitude by turning down "amplitude" so you actually have the same softness issue at the source, not just at the distance.

[2020-03-06 20:29] samreid commented on #482
You are right, thanks for stopping me before I got too far on this path.  We could backtrack and compute "what was the amplitude at the origin at a time corresponding to a distance x=v*t away from the origin".  That is messy and sounds error prone, but I think we had to do something like that for another feature.

[2020-03-06 20:29] kathy-phet commented on #482
I think the waveMeterNodeVolume x 3 goes a long way to making this better - @arouinfar can you check out that version. I would maybe try x4.

[2020-03-06 20:56] kathy-phet commented on #482
I like "x 4" on the wave meter sound, but then recommend overall reduction of sound across the board of about 50%, so that the background sounds are quieter when played at 50% on my speaker settings.

[2020-03-06 21:00] samreid commented on #482
The overall normalization is set to match up with other simulations, please see #483

[2020-03-06 21:05] kathy-phet commented on #482
Hmmm.... I see. I think that this new default level is sounding louder than what I thought the objective was of "muted background sounds" for a 50% volume set on my laptop.

[2020-03-06 21:06] kathy-phet commented on #482
Can you post a version that has a query parameter for this value?

[2020-03-06 21:10] samreid commented on #482
@jbphet is there a sound volume query parameter?  I see `?audioVolume` but it is listed as deprecated.

[2020-03-06 21:10] kathy-phet commented on #474
Seems like a "softer" less "cheerpy" sound to me.

[2020-03-06 21:15] arouinfar commented on #480
I like squishy-button quite a lot. The flashlight-button reminds me too much of a regular mouse click.

[2020-03-06 21:35] arouinfar commented on #482
@kathy-phet please watch the video I posted in #483. On the interview test device at full volume, I could barely hear any of the sounds in the sim before @samreid boosted the overall volume (relative volumes should have remained the same, though).

@samreid I also like `waveMeterNodeVolume=4`. It's a bit loud  near the source (which is reasonable), but I can still hear the sound when it gets faint

[2020-03-06 21:40] arouinfar commented on #474
@samreid I like the updated slider sound and its volume in master.

[2020-03-06 21:50] arouinfar commented on #483
@samreid this is all sounding good to me in master. The general volume seems very similar to Molarity, and I can hear the sounds reasonably well with speaker volume at 50%. The within-sim volume balancing done in #474 seems to have been preserved.

[2020-03-06 21:50] #483 closed

[2020-03-06 21:54] jbphet commented on #482
No, there is not.  The `audioVolume` parameter was used in the past to prevent a lot of sound generation during fuzz testing, that is now covered by `sound=muted`.  @kathy-phet's comment about "muted background sounds" is a bit of a concern for me, since I think we should have consistent levels for common components in all sims.  If these are too loud, that should be addressed separately as a glob

[2020-03-06 21:57] arouinfar commented on #473
During the last design meeting I thought the balancing was appropriate, but the overall volume was low so I opened #483. I believe @ariel-phet was going to work with Ashton on the slider click sound, which happened in #484.

@samreid I don't have any further suggestions for volume balancing. Things generally seem good -- WaveMeterNode volume will be boosted (#482), pedagogical sounds are louder th

[2020-03-06 23:10] samreid opened #485 "Normalize the wave detector sounds"
From https://github.com/phetsims/wave-interference/issues/482#issuecomment-595975149 @arouinfar said:

[2020-03-06 23:11] samreid commented on #485
For me, the darker probe sounds more "full". But I looked at the waveforms and they don't appear to have the same normalization:

![image](https://user-images.githubusercontent.com/679486/76129420-a3873f80-5fc4-11ea-9664-593d5329dd5e.png)

@Ashton-Morris can you take a look?

The files are:

https://github.com/phetsims/wave-interference/blob/38fcb7b7e4cfbb4e31280c524c7a1c656dd9f1d6/sounds/windy-to

[2020-03-06 23:20] samreid commented on #482
@jbphet if @kathy-phet still wants me to publish a version where all sounds are 50%, how would you recommend to do that?

[2020-03-09 14:54] KatieWoe opened #486 "CT There is an issue with the licenses for media types"
Also in Intro
[code]

[2020-03-09 17:33] jbphet commented on #482
If you want to do this for all sounds, and not just sim-specific sounds, you can use `soundManager.masterOutputLevel = 0.5` at some point after initialization.  Does that answer the need?

[2020-03-09 17:58] emily-phet commented on #482
I think there are two issues potentially conflated in this thread. I think they are likely best handled as two independent issues (as @jbphet is indicating a few comments up).

1) Issue 1: Controlling volume mapping for the wave detector probes. I interpreted @samreid initial issues as indicating a need for better volume mapping, and in doing this found challenges given the underlying sim model. I

[2020-03-09 18:28] emily-phet commented on #480
@Ashton-Morris We spoke last week about wanting to see a few more variations, see https://github.com/phetsims/wave-interference/issues/480#issuecomment-590983282. It would be ideal if you had a few options ready by tomorrow's usual Tuesday Sound UI+ meeting to discuss.

[2020-03-09 20:09] Ashton-Morris commented on #480
@emily-phet I will have a few variations to listen to by tomorrows meetings

[2020-03-09 20:12] emily-phet commented on #480
@Ashton-Morris Sweet! Looking forward to hearing them.

[2020-03-09 20:54] Ashton-Morris commented on #485
@samreid When you have a sound that has a lot of high end noise (harpsichord strike) vs a clean low end sound (low sine wave tone) the one with high end sound will sound louder in more situations even if you lower it to the same exact levels. It has more character and stands out more and I think the human ear is tuned to pick up more on those frequencies.

So it's realistically just as effective t

[2020-03-10 15:41] Ashton-Morris commented on #480
We have some new ones to review today

[squishier-button-004.mp3](https://drive.google.com/open?id=1reT0X6FWuA1YOaZIOVbTmg6EiIPMIiAt)
[squishier-button-005.mp3](https://drive.google.com/open?id=13IKS6yvKVrRpYdP1-fzOzkg6NfbwSWLq)
[squishier-button-006.mp3](https://drive.google.com/open?id=1Bv2RJQFp33uDFuoRNROYd9yoKxOtX_7-)
[squishier-button-007.mp3](https://drive.google.com/open?id=1Q9gT-RjhW6jan-8

[2020-03-10 16:23] pixelzoom commented on #486
I added the missing license.json entries to make CT happy.  @samreid please verify that the "notes" fields are correct.

[2020-03-10 19:01] jbphet commented on #480
@samreid - we reviewed the current set of candidates in a sound design review meeting, and suggest trying out `squishier-button-007.mp3` in the context of the simulation.

[2020-03-12 16:56] samreid commented on #486
Excellent, thanks @pixelzoom, closing.

[2020-03-12 16:56] #486 closed

[2020-03-12 17:02] samreid commented on #485
Thanks @Ashton-Morris, I used the normalized files in the commit.  @arouinfar can you please review?

[2020-03-12 17:06] samreid commented on #485
Here's the visual depiction of the new files from audacity:

![image](https://user-images.githubusercontent.com/679486/76546627-74a01c00-6451-11ea-8c6d-1964313a65bd.png)

[2020-03-12 19:08] jessegreenberg commented on #433
We are going to proceed with what was decided last time - the ArrowButtons will be bottom aligned with the bottom of the track. But we need flexibility to support the layout identified in https://github.com/phetsims/wave-interference/issues/433#issuecomment-588391554.  We discussed either adding options to the layout functions to support minor changes to the layout, require brand new layout functi

[2020-03-12 19:42] samreid commented on #480
I added the sound in the commit.  Ready for review.

[2020-03-12 22:02] pixelzoom opened #487 "use TimeControlsNode"
This sims has its own implementation of time controls in TimeControls.js.  It should be using scenery-phet/TimeControlNode -- especially since it's instrumented for PhET-iO.

[2020-03-13 03:49] arouinfar commented on #487
Good catch @pixelzoom. Agreed, we should be using TimeControlNode here @samreid.

[2020-03-13 04:10] samreid opened #488 "The water drops should be quieter and "ducked" when the wave detector is playing"
From today's meeting:  The water drops should be quieter and "ducked" when the wave detector is playing.  Also, make it easy to adjust these levels because @Ashton-Morris will likely need to fine-tune everything as part of overall normalization, see #473

[2020-03-13 04:13] samreid opened #489 "Don't play the "squishy button sound" if another sound would be generated, or if another sound is ending due to the button press"
From today's meeting: Don't play the "squishy button sound" if another sound would be generated, or if another sound is ending due to the button press

[2020-03-13 04:14] samreid opened #490 "Make sure it is easy to tune the levels, including ducking"
Today we agreed I should make it easier to tune the levels.  @Ashton-Morris reported it was straightforward to search for occurrences of "outputLevel" or "initialOutputLevel".  I'll need to make sure "ducking" factors are equally discoverable and make sure everything is covered.  This will be another step before we can do balancing in #473

[2020-03-13 17:58] samreid commented on #489
@jbphet indicated this can be done by passing an object with a `play()` method, and handling the condition there:

[code]

[2020-03-13 21:08] KatieWoe opened #491 "CT testing not finishing"
In Wave Interference and Wave Intro a portion of the automated tests seem like they aren't being done.
![notdone](https://user-images.githubusercontent.com/41024075/76659552-595e0b00-653c-11ea-8c9b-680b837da2e2.png)
![notdoneintro](https://user-images.githubusercontent.com/41024075/76659553-59f6a180-653c-11ea-9215-231ed10772d4.png)

[2020-03-13 21:40] jonathanolson commented on #491
It's a sim-specific failure, the import `import buttonSound from '../../../sounds/squishier-button-007_mp3.js';` in WaveGeneratorNode (in wave-interference) doesn't seem to point to anything that I see existing.

For some reason... the build is failing, but not returning an error code. Investigating that (which is why this wasn't a "loud" failure)

[2020-03-13 21:47] jonathanolson commented on #491
Committed a change to make sure these fail loudly. Unassigning myself.

[2020-03-13 21:48] samreid commented on #491
Thanks @jonathanolson!

[2020-03-16 14:39] KatieWoe opened #492 "CT Converting circular structure to JSON"
Also in Intro
[code]

[2020-03-16 15:35] samreid commented on #492
Should be fixed as part of https://github.com/phetsims/wave-interference/issues/480, closing.

[2020-03-16 15:35] #492 closed

[2020-03-16 15:35] samreid commented on #491
Tests are finishing now, closing.

[2020-03-16 15:35] #491 closed

[2020-03-16 16:14] samreid commented on #489
Implemented above and ready for review.  @emily-phet can you please test on phettest, and close if all is well?

[2020-03-16 16:17] samreid commented on #473
On hold until #490 is complete.

[2020-03-16 16:38] samreid commented on #488
Fixed in the commit, @kathy-phet can you please review on phettest and close if all is well?

[2020-03-16 16:58] samreid commented on #457
Leaving open since we may include this in a future release.

[2020-03-16 17:37] jbphet commented on #480
Now that I listen to it In context, I don't love it.  With the default reverb level from the sound manager, it sounds a lot like a clap sound from an eighties-era drum machine to me.  I'd suggest two things:

+ Try button squishier-button-008.mp3.  For me, it's the only other one that seems like it might work.
+ Try turning down the reverb level in the sound manager.  The reverb effect is applied

[2020-03-16 18:03] samreid commented on #490
After the above commits, all of the searches for "outputLevel" and "duck" in the wave-interference js/ directory are relevant and documented.  @Ashton-Morris will be able to use this in #473, closing.

[2020-03-16 18:03] #490 closed

[2020-03-16 18:04] samreid commented on #473
From https://github.com/phetsims/wave-interference/issues/490#issuecomment-599682513,

[2020-03-16 18:04] samreid commented on #473
This issue may be ready for @Ashton-Morris, but please note there are other open issues that may impact the balancing.

[2020-03-16 18:11] samreid commented on #480
I changed to 008.mp3 in the commit.  However, after doing that, I noticed the sound in the sim didn't sound much like the sound when playing it in the browser (from googled docs).  I noticed the outputLevel was set to 5.8, and when I turned it down it sounded more like expected.  This may have affected 007.mp3 as well.

@jbphet can you please listen to this?  It may also help with the reverb issue

[2020-03-16 18:56] samreid commented on #482
Would it work to proceed with the `waveMeterNodeVolume=4` which is currently in master, then address the overall balancing in #473?  If so, can this issue be closed?

[2020-03-16 20:20] Ashton-Morris commented on #473
@samreid I just pulled and listened for the new squishy button but did not hear it. Is it in this version?

[2020-03-16 20:21] samreid commented on #473
The sim should be using 008.mp3.  Is it possible your browser is caching it?  Let's touch base on slack if that doesn't resolve it.

[2020-03-16 23:33] ariel-phet commented on #484
I think the sound needs to be volume balanced, but it certainly seems much less "geiger counter" to me. I think the sim as a whole needs to be reviewed once volume balanced, but to me this issue solved the main problem I was hearing.

[2020-03-16 23:42] ariel-phet commented on #474
Definitely an improvement!

[2020-03-17 21:29] jbphet commented on #480
Having the gain at 5.8 might explain the problem.  It would have been clipping and sending a big value into the reverb effect.  I don't think 008 is an improvement, so I'd suggest going back to 007 with a more reasonable gain setting.

[2020-03-23 22:51] samreid commented on #480
OK we reverted to 007, still ready for review.

[2020-03-24 16:44] Ashton-Morris commented on #473
I finished the latest round of mixing, lets discuss whats next in todays UI sound meeting @emily-phet

[2020-03-24 16:51] jbphet commented on #480
That sounds much, much better.  It seems pretty decent to me now.  While I wouldn't use the adjective "squishy" to describe it, I think it works reasonably well in this context.

It struck me while testing this that the sound is the same for both transitions, i.e. unpressed-to-pressed and pressed-to-unpressed.  This seems a little odd, and is contrary to how similar UI components, such as checkbox

[2020-03-25 13:10] emily-phet commented on #480
In 3/24 meeting - we decided we'd like to hear either the option with less compression, or different options. The current sound as implemented felt too harsh as is.

We also agreed we would like a "pressed" and "unpressed" variation (similar to checkboxes, etc.).

[2020-03-27 19:30] Ashton-Morris commented on #480
I added some sounds and this time rendered them at 196kbps incase the reason the other sounds weren't sounding right was because they were at 49k.

[squishier-button-v3-008.mp3](https://drive.google.com/open?id=1Hz6vvB8SvBbn9gkpHxBnMjdazAozW4ra)
[squishier-button-v3-007.mp3](https://drive.google.com/open?id=1jeCt0vII-lrpUQLNKIYtEBwn6wtSuUFA)
[squishier-button-v3-006.mp3](https://drive.google.com/o

[2020-03-27 20:08] Ashton-Morris opened #493 "Sound: Edit Wave Meter A to have less harmonics or high end"
How does this sound @emily-phet

[How does this sound?](https://drive.google.com/open?id=1L0B7lulOb-il90hgrF5Cik4d0856-U-C)

[This is the current one](https://drive.google.com/open?id=1KiER01uHQ1ksaWc0rPO2AxMoCvJGYuzp)

[2020-03-30 13:56] emily-phet commented on #493
@Ashton-Morris - Yes, this is an improvement! Let's go with this one, but have it as the sound for the "second" wave meter (dark grey, I think).

[2020-03-30 14:13] emily-phet commented on #480
- 8 - (Favorite) I really like the simplicity of this one. My only concern is whether or not it will sound like it fits in with the rest of the UI sounds.
- 7 - (2nd Favorite)
- 6 - (Pass) sounds like "too much", a bit too long, too dramatic, too something.
- 5 - (Maybe) I don't care for this one out of context, but something tells me it will feel much better when in the sim.
- 4 - (Pass - but kee

[2020-03-30 14:17] emily-phet commented on #489
@samreid - all is well - closing.

[2020-03-30 14:17] #489 closed

[2020-03-30 14:23] emily-phet commented on #488
I checked that the water droplets "duck" when wave meter tool active. It does so. Exact sound level adjustments in progress, with multiple sound-level issues open on that. Closing this issue, as I think the central point of it was to get the water droplet sound to duck.

[2020-03-30 14:23] #488 closed

[2020-03-30 14:26] emily-phet commented on #485
If normalized files are now in use, then we can adjust the difference in perceived volume in final sound mastering step.

[2020-03-30 14:39] emily-phet commented on #482
I investigated the range of sound in current sim on phettest across wave extremes, and the current volume range seems fine to me.
- At the lowest frequency and amplitude (with the probe right under the faucet) I couldn't hear the sound, but increasing amplitude slightly (maybe 5-10% on the slider) and I could hear it.
- At the highest frequency / amplitude (with probe right under faucet) the probe

[2020-03-30 14:39] #482 closed

[2020-03-30 14:43] Ashton-Morris commented on #493
@samreid Can you replace the current wave meter sound with this one above.

[2020-03-30 14:45] Ashton-Morris commented on #480
I really like 7 personally

[2020-03-30 14:54] emily-phet commented on #474
Closing this issue, and continuing slider UI sound-related discussion in https://github.com/phetsims/wave-interference/issues/484.

[2020-03-30 14:54] #474 closed

[2020-03-30 15:10] emily-phet commented on #484
1. (most important!) The sounds I hear when I move the slider are more “click"-y (and less "bump"-y) than I remember form the last design meeting that @jbphet or @Ashton-Morris demoed. @samreid and @Ashton-Morris - can you confirm that this is latest sound for the sliders - [Here's the sound I hear](https://drive.google.com/file/d/1RTNaibcvOAtj162ts6cs3MCyjPN6_X7l/view?usp=sharing) (note - slight

[2020-03-30 15:13] emily-phet commented on #473
I think the latest volume balancing is great! I think there slider click sounds need to be decreased, but that is pending outcomes of https://github.com/phetsims/wave-interference/issues/484.

Once the other issues are addressed, I think we'll need a final volume balancing review, and then we'll be good to go.

[2020-03-30 15:14] emily-phet commented on #473
@samreid not sure if the labels should be changed for this issue...so assigning back to you just in case.

[2020-03-30 15:16] samreid commented on #473
Thanks, I'll place it on hold until the rest of the issues are closed.

[2020-03-30 15:25] emily-phet commented on #412
@samreid I reviewed this, and found two issues:
- the timing control node comes after reset all. reset all should be the last thing in focus order before focus moves into the nav bar.
- On the home screen, i could use the keyboard to move focus, but could not use space or enter to select a screen. I needed to click with my mouse to select a screen. Enter and space should select the buttons on the

[2020-03-30 15:27] emily-phet commented on #480
Also - just so it doesn't get lost - whatever sound is the final selection, it would be good to have a "press" and "unpress" version.

[2020-03-30 16:09] samreid commented on #484
Another issue about the slider "clicking" sounds: on the water drop screen, the slider clicks sound kind of like water drops: may be a little confusing.

[2020-03-30 17:41] zepumph commented on #412
That was a problem caused by the refactoring done over in https://github.com/phetsims/joist/issues/601, but should have been fixed over a week ago in master. I confirmed fixed on master before writing this.

[2020-03-30 17:56] jbphet commented on #484
I just listened to the current master version, and I'm pretty sure it is the same sound.  It sounds less "clicky" in headphones to me, more so over my computer speakers.

I just tested this, again using the current master version, on Chrome and Firefox on my Win 10 machine, and I don't find the timing to be noticeably off when moving fast.  This might be a browser-specific thing.  @emily-phet - ca

[2020-03-30 20:24] emily-phet commented on #484
(Updating my previous comment after discussion with @jbphet)

With @jbphet it's clear I'm hearing the correct sound. We concluded that my impression of it during last week's meeting was influenced by hearing the original click sound...comparing the new sound to the old, the newer one definitely sounds 'bump'-y, but I think we can still improve upon it. @Ashton-Morris can you please propose one or

[2020-03-30 21:07] emily-phet commented on #412
@zepumph Thanks!

[2020-03-30 21:25] jbphet commented on #484
In the previous comment, @emily-phet mentioned that she and I discussed why the slider sounds a bit odd and artificial.  I think a possible cause of this is that the sounds are initiated only at very specific times based on the 60 frames/sec rate at which the browser runs.  As a result of this, sound can end up with the same phase relationship all the time, which can add together and boost the vol

[2020-03-30 23:02] jbphet commented on #480
I've added an Options dialog to the PhET menu that allows the user to choose between several of the options that we've identified.  You can try it out at https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.18/phet/waves-intro_en_phet.html.

[2020-03-30 23:04] jbphet commented on #480
Reminder:

- [ ] back out the options dialog and everything that uses the sound selection property once we've decided upon a sound for this.  The commits above can serve as a guide on what to remove.

[2020-03-31 16:28] terracoda commented on #480
I liked, 7, 8, and 4.
If 8 is chosen, I think it would need to be louder as it seems super short.

[2020-03-31 20:16] michAtEl opened #494 "wave meter colors - better contrast"
Hi,

I captured a video with the simulation wave-interference. Unfortunately, I could not see the light gray plot in the wave meter because there is not enough contrast between the background (white) and the plot (light grey). I would prefer colors like red and dark grey for the meters and the plots.
I think this could also be an issue when you are using this simulation with a projector.

Michael

[2020-03-31 21:17] jbphet commented on #480
@Ashton-Morris and I discussed this sound today and decided to try playing the press sound one semitone or a whole tone lower for the unpress sound.

[2020-03-31 21:54] jbphet commented on #480
@samreid - I added support for playing a unique sound corresponding the the un-pressing of the buttons.  I took my best shot at how to approach it, but I wasn't at all sure if having a parameter for `pressed` (which is what I did) was preferable to having separate methods for playing the press versus unpress sound.  Some of what I did is temporary, since it involves multiple sounds, but the basic

[2020-04-06 15:50] Ashton-Morris commented on #484
I have experimented with some more slider clicks for everyone to listen to. I have individual files but I also recorded a few examples of how it would sound dragging it from left to right. Hear below.

[slider-clicks-idea-a-example.mp3](https://drive.google.com/open?id=1qGme7w2ZeXMSvn9g3N4QTvZHN69bX_Pe)
[slider-clicks-idea-b-example.mp3](https://drive.google.com/open?id=1e-JzcEFlqdaZpEAvZS6aRNA6Hv

[2020-04-06 21:16] jbphet commented on #484
I listened to them and below is how I would rank them, with notes on each.  I listened on headphones and did not evaluate on any speakers.  These are my opinions, your mileage may vary.

1. c - This is similar to the current sound but nicer, a bit more of a "bump".  There are two end sounds in the example, and I think we should just use one to signify an endpoint, and my preference would be the 2n

[2020-04-06 21:28] jbphet commented on #484
Adding @samreid to the list of assignees.  If everyone can comment on which of the latest sounds they like best, I'll add the top three or four as options for this week's review process.

[2020-04-07 03:33] samreid commented on #484
For me, a,b,f,d seem too percussive.  "c" seems like a balance between not too percussive to be annoying, but still succinct enough that it cues dragging across each tick.  I agree with @jbphet that "e" is too toneful and game-ish.

In a radio button group, there is a pitch shift between each successive option.  That seems like it would be a good audio cue here as well for what is happening.  Not

[2020-04-07 03:37] samreid commented on #484
Also, have we tried a less "full" sound, like playing cards in bicycle spokes?  Maybe like the and last couple of seconds of https://www.shutterstock.com/video/clip-2065526-playing-card-spokes-bicycle (in the middle 3 seconds to 25 seconds, it is too rapid to be useful.)

[2020-04-07 03:55] samreid commented on #480
We agreed that a suitable API for Checkbox was:

[code]

Can we use the same strategy for buttons that use `StickyToggleButtonModel`?

[code]

[2020-04-07 14:50] Ashton-Morris commented on #484
I feel like playing cards would end up sounding too much like a geiger counter like the other clicks.

I'm going for more of a bump as @emily-phet suggested but a lot of these issues might be solved with the implementation and amount the sound is allowed to play when sliding.

[2020-04-07 14:53] emily-phet commented on #484
Here are my thoughts:

C - favorite, particularly for sliders with visible tick marks. May want to consider different variant of this for sliders without tick marks, or with few tick marks.
E - kind of like C, but has a bit of an undesirable “space-y’ or ’sci-fi’ feel
D - still a little too shooting game-y to me, but perhaps could be softened a bit or something to emphasis more of a ‘bump’ feel th

[2020-04-07 14:59] emily-phet commented on #484
Regarding the pitch change to cue increase/decrease of slider that @samreid mentioned, I think he's spot on - but not for this slider sound. When we design sounds for sliders that are intended to be the top 1-2 things to attend to in a sim, we often start with using a mapping to pitch. The specific slider sound we're designing in this issue is explicitly intended to *not* be one of the top sounds

[2020-04-07 16:20] samreid commented on #484
I committed the "C" series sounds for right-dragging and and reduced it by one semitone for left-dragging.   It can be reviewed on phettest for today's meeting.

[2020-04-07 19:10] jbphet commented on #484
I added a boundary sound based on @Ashton-Morris's idea-c example clip, which can also be reviewed at the meeting.

[2020-04-07 20:13] Ashton-Morris commented on #484
[Here is a minor third version of idea c](https://drive.google.com/open?id=1-4_4IQ9mmxVN_zkEBfz4Yg1D_tgAF584)

@jbphet

[2020-04-07 21:59] jbphet commented on #484
We reviewed the latest in today's meetings, and we agreed that "idea-c" sounds good in context.  Next steps:

- [ ] use the same sound in both directions
- [ ] use a lower sound rather than a higher one for the endpoints (@Ashton-Morris has already created this sound and linked it in the comment above)
- [ ] test and see if the sound is ever being played twice in the same animation frame and, if s

[2020-04-07 22:00] jbphet commented on #480
@samreid - yes, I think that's a good approach for sticky toggle buttons.

[2020-04-07 22:02] jbphet commented on #480
We (@emily-phet, @Ashton-Morris, and I) discussed the latest sounds in today's meeting and we're good with sound 7 and with it being a step lower for the pop out.  The next step will be to eliminate the option dialog and make the sound essentially permanent.  I'll do this before the next review meeting.

[2020-04-13 23:05] jbphet commented on #484
I've implemented all three items from the list above.

The third item involved testing whether a sound was being played in the same animation frame.  I added some debug code to test whether this was happening, and found that while the playing of the clicks was often less than a frame time (1/60=0.016667 seconds) apart, they weren't occurring on frame time boundaries.  I think this means that Scene

[2020-04-13 23:39] jbphet commented on #480
I've removed the options dialog and the alternative sounds, so this is essentially finalized.

@samreid - two requests:
1. Can you review the button sound generation code and make sure it matches the style and spirit of the rest of the code for this sim?
1. In my opinion, the sound is succinct enough that it wouldn't interfere with the sound effects used on screens 2 and 3, and it seems odd that t

[2020-04-14 14:04] emily-phet commented on #484
@jbphet How do I hear the latest? I listened to what I thought was the latest on phettest, and it sounded like the squishy button and slider sound from last week, not the new ones...

[2020-04-14 14:12] emily-phet commented on #480
@jbphet - I requested that the squishy button sound *not* play when other sounds play immediately on button press. The squishy button sound is only for feedback, and when there is other feedback I don't believe it is needed. I'd like to avoid any chance of the squishy button interfering with focusing or interpreting the more pedagogically relevant sounds. If someone notices that there's *not* a sq

[2020-04-14 14:14] emily-phet commented on #493
@samreid - and swap the sounds played for the wave probes.

[2020-04-14 15:55] jbphet commented on #484
I just checked, and the updated sounds are playing on the master version for me.  The button sound is one of the sounds that we had in place last week, but it wasn't the default, and the differences for the click sound are somewhat subtle, since I made it so that the move-right and move-left sounds are the same, added new end sounds, and prevented overlap playing.  Or maybe phettest isn't updating

[2020-04-14 16:52] Ashton-Morris commented on #484
@emily-phet I wasn't always hearing new sounds in phettest either. It might be a caching issue that I had too.

In Chrome there are three dots on the upper right. Click that then - more tools  then - developer tools. There is a way do disable caching while the developer tools are open. I can't remember though @jbphet might know.

But doing that has helped me hear the latest versions.

[2020-04-14 20:51] jbphet commented on #484
We reviewed the latest implementation in today's sound design review meeting, and @emily-phet and @Ashton-Morris agree that this sound behavior is good.

Assigning to @samreid to follow up on handling for keyboard-based interaction.  The current code looks like it will only handle tick mark crossings, and it needs to be able to generate a sound on each value change when triggered by a keyboard act

[2020-04-14 20:57] jbphet commented on #480
The sound itself was approved in today's sound design meeting.

We also discussed whether to have the sound play in cases where the sound effect is on for the 2nd and 3rd screens, which is a question I raised in https://github.com/phetsims/wave-interference/issues/480#issuecomment-613148983 item 2.  @emily-phet said she would prefer to leave it as is for now, i.e. the button sound doesn't play if

[2020-04-14 23:41] jbphet opened #495 "Gain being set quite high for light beam sound effect"
While investigating some odd sound behavior seen in this sim (see https://github.com/phetsims/tambo/issues/74), I noticed that the gain level for `lightBeamLoopSoundClip` is being set from 0 to 2.5.  Unless the sound source is known to be very quiet, this is a bit risky, since it can result in peak sound levels that exceed 1 dBFS, which can cause clipping on some systems.  I would suggest keeping

[2020-04-15 16:16] samreid commented on #495
I normalized the mp3 in audacity, then recalibrated the gain level accordingly.  @jbphet would you like to review?

[2020-04-15 16:20] jbphet commented on #495
Looks great, thanks.  Closing.

[2020-04-15 16:20] #495 closed

[2020-04-15 16:30] samreid commented on #493
I switched to the "less harmonics" sound and swapped the probe sounds.  @emily-phet and @Ashton-Morris please review.

[2020-04-15 16:45] samreid commented on #484
@jessegreenberg or @zepumph we would like to play a sound effect when the slider value is changed by a keyboard press.  There is already a different sound effect when the slider thumb is dragged across a tick mark.  How can we listen for the keyboard press?

[2020-04-15 16:49] samreid commented on #480
Let's close and balance volumes in other issues, thanks!  Closing.

[2020-04-15 16:49] #480 closed

[2020-04-15 16:50] samreid commented on #412
I was thinking we could punt on #487 until a later release, but since it will impact keyboard navigation, we should do that now.

[2020-04-15 19:29] jessegreenberg commented on #484
I pushed a proposed a change for this in https://github.com/phetsims/sun/issues/589. @samreid if you pull `sun`, you should be able to have sounds from alternative input by adding logic under an `event.isFromPDOM()` check in your `drag` function. It would look something like
[code]

Happy to talk more if its helpful!

[2020-04-15 20:25] samreid commented on #484
Thanks @jessegreenberg.  In order to play a different sound when at the extrema, I needed to wait until I have the final property value, and also to know the direction of the change.  Can you please review the change and help me make it more robust?  What if other keyboard events cause the slider thumb to move?

[2020-04-15 20:34] samreid commented on #484
I made more commits that eliminate the keycode problem.  But the two remaining problems are:

* Are we guaranteed that `drag` will be called before the property value changes?  The proposed implementation relies on that and would break if that changes in the future.
* If the user uses right-arrow to get to 0.999999 it looks like the thumb is at the extrema.  Hence when they press right arrow again

[2020-04-15 22:45] jessegreenberg commented on #484
This seems like a very deliberate decision in Slider.js, I assume this not going to change.

Could we use `constrainValue` for this, something like
[code]

I don't see a better way currently within the `drag` callback to get what the value is going to be and get around the timeout. We could potentially add a new callback option to Slider.js and AccessibleValueHandler.js to support this. But maybe

[2020-04-16 22:31] zepumph commented on #484
It looks like it was added as part of https://github.com/phetsims/sun/issues/561

At first glance it seems quite buggy to have the callback before the Property changes. I commented over in https://github.com/phetsims/sun/issues/561#issuecomment-614929991 about that.

Everything else here is looking very nice!

[2020-04-17 16:20] samreid commented on #484
Blocked until https://github.com/phetsims/sun/issues/561 is improved.

[2020-04-21 13:21] emily-phet commented on #493
Sounds great!

[2020-04-21 13:21] #493 closed

[2020-04-21 13:23] emily-phet commented on #484
@jbphet I'd like to discuss today any tweaking we can do to decrease the total number of slider sounds heard when moving the slider very fast.

[2020-04-21 20:11] jbphet commented on #484
We made a mod in today's sound design meeting, @emily-phet will try it out and report back.

[2020-04-21 21:01] emily-phet commented on #484
@jbphet - Checked latest in phettest - changes from today sound good to me! Let's go with that. Next step would be a final sound volume mix check-off from @Ashton-Morris, and then send out to full team for final input (ideally on sound volumes only, limiting other feedback to only if absolute deal breaker for moving forward for publication).

[2020-04-23 19:18] zepumph commented on #433
@ariel-phet feels like there are bigger fish to fry at the moment, and mentions that this may be needed for CCK AC. We will tackle it then.

[2020-04-23 19:19] samreid commented on #433
One other idea that may be simple (for when we get there in the future).  When reducing text width due to maxWidth constraints, scenery could keep the same height on it--I suspect that would fix many layout problems.

[2020-04-25 22:52] samreid commented on #487
Fixed in the commit.  I just used the default layout, which led to a larger spacing between the step button and the radio buttons, and the radio buttons are somewhat bigger.  Do you think the defaults will work here, or should I specify customization options?

[2020-04-29 22:39] arouinfar commented on #487
@samreid  the spacing looks fine to me, but I would prefer to match the radio button size to Top View/Side View. It looks a bit strange to have varying sizes so close together in the sim.
![image](https://user-images.githubusercontent.com/8419308/80653650-e7804900-8a37-11ea-8193-3f2038069a4c.png)

[2020-05-04 15:53] Ashton-Morris commented on #484
I reviewed the levels today and determined that the were actually spot on! No changes were needed from my perspective.

@emily-phet  You can get this to the full team for final input.

[2020-05-05 22:05] emily-phet commented on #484
Off to final feedback from the team. Closing this issue, as feedback will be requested on the sim as whole, not just the slider sounds.

[2020-05-05 22:15] emily-phet commented on #473
Please give a final listen to the latest sim on phettest. We'd like to finalize this sim asap, so please keep this in mind as you listen.

Please share your thoughts (good to go, or something else) in this comment, and check your name off when you're done. (@Ashton-Morris and @jbphet have already reviewed)

- [ ] @samreid
- [ ] @kathy-phet
- [ ] @arouinfar
- [x] @jbphet
- [x] @Ashton-Morris

 If y

[2020-05-05 23:03] arouinfar commented on #473
Overall, I think master is sounding great. I tested with speakers at 50% max volume, speakers at 100%, and headphones at 50%. In all cases, I could hear all of the sounds, and I thought they were appropriately balanced.

The only exception was the volume of the sound associated with the lighter probe. I find it practically impossible to hear unless using headphones. Compared the darker probe, it s

[2020-05-06 00:04] ariel-phet commented on #473
I definitely agree with @arouinfar that the lighter grey probe sounds too quiet to my ear and not in proportion to the darker grey probe.

I would also say that on my system (which has a subwoofer), the "Sound" screen bassy sound effect of the wave sounds good, but I think the ducking that is induced when I put in the probes is a bit much. When I take the probes out there is a very obvious differe

[2020-05-06 04:08] samreid commented on #473
I reviewed this on the built-in speakers of a 2016 15" MacBook Pro, I set the volume to around 40% and overall it sounds really great!  Two minor points:

If our goal was to purposefully make the water drop, speaker membrane and light sound effect louder than the button/checkbox sound effects, then we have achieved that goal.  But to me, that doesn't make it easier to pick up on them or learn from

[2020-05-08 21:51] jessegreenberg commented on #484
Reopening for the remaining questions about alternative input. https://github.com/phetsims/sun/issues/561 is done so this is no longer on hold and we should be able to remove the timeout.

The other question from https://github.com/phetsims/wave-interference/issues/484#issuecomment-614266199 was

Can `constrainValue` be used for this?

[2020-05-11 23:53] samreid commented on #487
Proposed fix committed, it looks like this:

![image](https://user-images.githubusercontent.com/679486/81623274-56529000-93b0-11ea-9823-b361cb2584b3.png)

@arouinfar can you please review?

[2020-05-12 00:06] samreid commented on #484
I used constrainValue and the new slider interface, works great!  Thanks @jessegreenberg, closing.

[2020-05-12 00:06] #484 closed

[2020-05-12 00:07] samreid opened #496 ""multi-bonk" sound when using keyboard navigation to reach the end of the slider range"
From https://github.com/phetsims/wave-interference/issues/484 I noted that holding down the arrow key on a slider will result in multiple "bonk" sounds even after you have reached the extremum.  Is this to be expected?

[2020-05-12 00:12] samreid commented on #412
I updated to use the TimeControlNode and placed it before the ResetAllButton in navigation order.  It seems like the only thing missing keyboard navigation is the toolbox and its tools:

![image](https://user-images.githubusercontent.com/679486/81624214-e265b700-93b2-11ea-93b5-af2b2fd7a997.png)

Are we adding that for the upcoming release?

[2020-05-12 13:36] emily-phet commented on #412
Thanks @samreid.

No, the toolbox and tools will not be accessible by alternative input for this release. Because of this, the sim should also not be publicly identified as having alternative input.

It would take more resources than we have available at the moment to support alternative input for three custom objects, each with sub-controls. Additionally, any solutions identified in the absence o

[2020-05-12 13:40] samreid commented on #412
Thanks @emily-phet.  This keyboard accessibility implementation is ready for review.

[2020-05-12 16:32] arouinfar commented on #412
@samreid I agree with @emily-phet. Since the tools do not have alternative input design patterns (which would take quite a bit of work), I think we should pass on including it in the upcoming release with sound.

For the record, I would place the toolbox between the main control panel (frequency, amplitude, checkboxes) and the continuous/pulse radio buttons. I think the tools are less important th

[2020-05-12 16:34] arouinfar commented on #487
Looks great @samreid, thanks!

[2020-05-13 14:05] emily-phet commented on #412
@samreid The focus order is ultimately up to the team, with the caveat that "reset all comes last" before navigation moves into the nav bar has become a convention. When making final decisions, it may be helpful to consider that the focus order will also need to align with the order in which objects are described, if/when this sim gets description.

Regarding placement of the toolbox - I believe w