[2018-12-19 21:41] pixelzoom commented on #1
Code review completed today, see #259, so I checked it off here in the master checklist.

[2018-12-19 22:32] pixelzoom commented on #266
If you need/want a quick fix, yes, handle the conversion from named to numbered placeholders in your code.   And/or wait to see what is decided in phetsims/scenery-phet#446.

[2018-12-19 23:47] ariel-phet commented on #270
@arouinfar @pixelzoom

Looking at the sim, I would actually be fine if the toggle button were always green. The default laser light color is now green, and I think adding the "pulse" symbol may be enough of a difference.

Then I think there would be less disconnect, and no special need to color code the two modes (pulsed vs continuous). And MD always used to love "green for go" :vulcan_salute:

[2018-12-20 00:01] arouinfar commented on #270
@ariel-phet I really like that suggestion! I'd be down with a green toggle button for both scenes.

[2018-12-20 02:35] pixelzoom commented on #270
+1 for green for 'pulse' and 'continuous'.

[2018-12-20 03:58] samreid opened #291 "Should TheoryInterferenceOverlay use red or colorblind red shade?"
We currently show the minima in red and maxima in yellow.  During code review #259 @pixelzoom asked if we should use our shade of colorblind red instead of pure red.  @arouinfar what do you think?

[2018-12-20 04:11] samreid commented on #269
All `//REVIEW` comments addressed, please review.  Close if all is well.

[2018-12-20 04:16] samreid commented on #259
Thanks for the thoughtful and thorough review, I appreciate it!

I noticed this item did not have a checkmark, red x or associated issue:

It appears that all remaining work is tracked in other issues.  Is that true?  If so, can this issue be closed?

[2018-12-20 06:09] pixelzoom commented on #282
To clarify, and for the sake of discussion...

Here's the anti-pattern used in `Scene` in its most basic form.  The superclass contains code that belongs in the subclasses.  And the superclass selects subclass-specific code by using knowledge about what type of subclass the constructed instance (`this`) is.  I don't know of any good argument for using this pattern in OO programming.

[code]

The c

[2018-12-20 06:18] pixelzoom commented on #291
I brought this up in code review because 'red' on 'black' has historically been a bad combination for some types of colorblindness.

[2018-12-20 06:19] pixelzoom commented on #274
This was addressed by @samreid in REVIEW comments.   Closing.

[2018-12-20 06:19] #274 closed

[2018-12-20 16:34] samreid opened #292 "ModelViewTransform2.create* is called 10 times in this simulation"
Inspired by https://github.com/phetsims/wave-interference/issues/264, I observed that `ModelViewTransform2.create*` is called 10 times in this simulation.  Many of these are duplicates and it would be good to isolate them.  It seems the appropriate place to track them is in each Scene.  But the problem is at the moment Scene is "model only".  Once the view is constructed and we know the wave area

[2018-12-20 16:34] samreid commented on #264
On hold until https://github.com/phetsims/wave-interference/issues/292 is resolved.

[2018-12-20 16:37] samreid commented on #266
On hold until https://github.com/phetsims/scenery-phet/issues/446 is decided.

[2018-12-20 16:44] samreid commented on #267
I converted several Math.round to Util.roundSymmetric.  The remaining cases are documented as:

[code]

Ready for review.

[2018-12-20 16:55] samreid commented on #268
Should I omit {number}?

[code]

[2018-12-20 17:01] pixelzoom commented on #259
More "summary" that I should have added to https://github.com/phetsims/wave-interference/issues/259#issuecomment-448748126 (sorry, I was in a hurry...)

Overall, the sim is in very good shape.  Generally nice documentation, good names for things, easy to find my way around,.... - impressive for a sim of this complexity.  I can't say that I totally understand how everything works, but that's due to

[2018-12-20 17:02] samreid commented on #268
I removed more cases where the type is obvious, wasn't sure about the cases mention in the preceding comment.  @pixelzoom can you please review?

[2018-12-20 17:03] jonathanolson commented on #281
I have a few cases of that pattern (from before the decision was made) in fractions-common. I'm happy to refactor to the "new" style (assigning myself).

[2018-12-20 17:23] pixelzoom commented on #268
The rule of thumb that I use is "include type expression unless the type is obviously identified in the definition". And I think this is something to keep in mind for the future, not to change retroactively.  It doesn't hurt anything to have redundant type expressions.  That said...

I think it's fine to omit `{number}` if the only value it can take is a number.  It also doesn't hurt to have the t

[2018-12-20 17:24] samreid commented on #271
Proposed fixes pushed for Wave Interference and Circuit Construction Kit, ready for review.

[2018-12-20 17:37] samreid commented on #273
Enum suffix added, please review.

[2018-12-20 17:42] pixelzoom commented on #269
All REVIEW threads have been reviewed and deleted.  Our work here is done.  Closing.

[2018-12-20 17:42] #269 closed

[2018-12-20 17:57] pixelzoom commented on #268
👍 Closing.

[2018-12-20 17:57] #268 closed

[2018-12-20 17:58] arouinfar commented on #291
Thanks for the suggestion @pixelzoom! Let's use `RED_COLORBLIND` instead of pure red @samreid.

[2018-12-20 17:59] pixelzoom commented on #273
👍 Closing.

[2018-12-20 17:59] #273 closed

[2018-12-20 18:01] arouinfar commented on #261
Looks nice @samreid, thanks!

[2018-12-20 18:01] #261 closed

[2018-12-20 18:02] pixelzoom commented on #283
Another thought...  Responsibility for "nestling the title text into the slider" might be best to handle in `WaveInterferenceSlider`, using the Decorator pattern.  That would be preferable to handling the titles separately in `WaveInterferenceControlPanel`, or duplicating the "nestling" in the proposed `FrequencyControl` and `AmplitudeControl`.

[2018-12-20 18:04] pixelzoom commented on #271
👍 Closing.

[2018-12-20 18:04] #271 closed

[2018-12-20 18:06] pixelzoom commented on #267
👍 Closing.

[2018-12-20 18:06] #267 closed

[2018-12-20 18:18] pixelzoom commented on #292
These 2 calls to `ModelViewTransform2.createRectangleMapping` look suspicious to me:

BarrierNode:
[code]

TheoryInterferenceOverlay:
[code]

Should/could these be using one the 3 transforms identified in implementation-notes.md?

The call in `TheoryInterferenceOverlay` occurs inside of `{function} updateLines` -- can it be moved outside this function so that it's computed once, or does it really

[2018-12-20 19:33] pixelzoom commented on #292
implementation-notes.md says:

There are 3 coordinate frames.  What are the transform relationships?  The names used in the code aren't very helpful -- I see  `transform`, `modelViewTransform`, `modelToLatticeTransform`, and `latticeToViewTransform`.   The last 2 are the only ones that I can easily correlate to the 3 coordinate frames identified in implementation-notes.md.  And the ones identified

[2018-12-20 19:35] samreid commented on #292
Should I take a first pass at factoring these out, storing them in Scene.js after the view is created, then reassigning to you for review?

[2018-12-20 19:36] pixelzoom commented on #292
`Scene` sounds like an appropriate place to store these transforms. In most of my sims, I've stored `ModelViewTransform2` instances in the model, typically in the model container's constructor.  The exception to that would be when creating the transform has to occur after ScreenView creation.

[2018-12-21 17:01] samreid commented on #270
After the above commit, all wave generator buttons are green.  Assigned to both @arouinfar and @pixelzoom to sign off. If you are the last one to sign off, please close the issue.

[2018-12-21 17:14] samreid commented on #275
What would the required parameters be?  What would the default values be for options?

What about adding a block of assertions like this near the top of the constructor?
[code]

What about using this pattern that is exercised in chipper? https://github.com/phetsims/chipper/blob/ef3eeb0c30a8c1e3b964926211e6e62b8376cc18/js/grunt/generateDevelopmentHTML.js#L26-L34

[code]

If we go with B, how do we

[2018-12-21 17:17] samreid commented on #276
Here's a visual diff:

![image](https://user-images.githubusercontent.com/679486/50354685-8c684900-0509-11e9-81ce-cdfe9108d16f.png)

The duplicated part is isolated to the `if` statement.

[2018-12-21 17:21] samreid commented on #276
Factored out in preceding commit, please review.

[2018-12-21 17:49] samreid commented on #277
Proposed fix pushed, please review.

[2018-12-21 17:50] arouinfar commented on #270
Looks good to me @samreid.

[2018-12-21 17:59] samreid commented on #278
I stripped out DiffractionScreen so it no longer appears in builds.  I also asked on the slack channel:

This seems sufficient to defer for 2.0.  @pixelzoom if you concur, please reassign to me and add "deferred" label.

[2018-12-21 19:50] samreid commented on #279
Good suggestion, I specified the Ranges in the model.  Please review.

[2018-12-21 20:10] samreid commented on #280
I converted the icons to constants and improved the naming, please review.

[2018-12-21 20:33] samreid commented on #281
Proposed fix committed, @pixelzoom can you please review this change for Wave Interference?  I'll create a separate issue for @jonathanolson for fractions common.  If this issue looks good for wave-interference, it can be closed.

[2018-12-21 20:52] samreid commented on #282
Good recommendation, proposed fix committed, please review.

[2018-12-21 21:08] samreid commented on #262
Spacing was adjusted in another issue, it looks like this now:

![image](https://user-images.githubusercontent.com/679486/50363665-dbbe7180-0529-11e9-9a5a-3ac080102ad1.png)

@arouinfar do you recommend further changes to segregate the radio button group from the checkbox?

[2018-12-21 21:34] pixelzoom commented on #277
`ImageDataRenderer` looks very nice, could be useful in common code someday (maybe even in Gas Properties).  With that in mind...

The first 2 lines of the constructor are:

[code]

... and the `lattice` is never used again.  How about changing to:

[code]

... with call sites like:

[code]

And perhaps move the `this.lattice.height - this.lattice.dampY * 2` computation into method of `Lattice`.

[2018-12-21 21:42] pixelzoom commented on #280
Code looks good.  Node constants can sometimes result in an unintended memory leak, so just confirming... Are these icons children of any Node that is disposed?  If so, you'll need to explicitly `removeChild` before `dispose`, so that these constant Nodes don't keep a reference to their parent.

[2018-12-21 21:45] pixelzoom commented on #280
Btw... This potential memory leak is why I prefer factory methods to constants, unless there's a clear performance/memory advantage to the constants.

[2018-12-21 21:46] pixelzoom commented on #281
👍 Closing.

[2018-12-21 21:46] #281 closed

[2018-12-21 21:52] pixelzoom commented on #278
Looks like 2 images and 1 string, nothing of consequence for 1.0.

[code]

Deferring for 2.0.

[2018-12-21 21:58] pixelzoom opened #293 "duplicated array in InterferenceScreenView"
Related to code review #259, noted while reviewing some other unrelated changes.

In InterferenceScreenView, `[ waterSceneRange, soundSceneRange, lightSceneRange ]` is repeated 3 times.  Factor out into:

[code]

[2018-12-21 21:59] pixelzoom commented on #279
👍 Closing.

[2018-12-21 21:59] #279 closed

[2018-12-21 22:13] pixelzoom commented on #282
Very nice, much easier to grok.

A couple of last nits in `Scene`:

- [ ] `setSourceValues` can be `@private`. It's currently `@protected` but doesn't seem to be used by any subclasses.

- [ ] `setSourceValues` is rather large. What do you think about breaking it into `@private` methods `setPointSourceValues` and `setPlaneSourceValues`, so that it becomes:

[code]

[2018-12-21 22:14] samreid commented on #280
These nodes are not involved in disposal, the scene selection buttons persist for the life of the sim.  Thanks for explaining that memory leak, I have seen it before but not been able to explain it so clearly.  OK to close?

[2018-12-21 22:17] pixelzoom commented on #280
👍 Closing.

[2018-12-21 23:54] kathy-phet opened #294 "Lesson Example: Use of reflecting barrier"
One good lesson that we are currently highlighting an an article uses the Wave Interference capability of going to no slit at all to look at a reflecting barrier - and drawing parallels to the behavior in wave on a string reflection.

Right now the new version would not support this aspect of this lesson. Just noting it for consideration. You can see that the in the center the reflected wave adds

[2018-12-22 01:06] pixelzoom commented on #275
There are 5 occurrences of `@param {Object} config`.

One is the view: `WaveInterferenceTimerNode`. The caller of `new WaveInterferenceTimerNode ` isn't providing an kind of complete configuration Object, it's providing a partial set of TimerNode options. And `config` is passed to the `TimerNode` superclass's as its `options` arg.  There's nothing about this that follows the config pattern, so rec

[2018-12-22 03:17] pixelzoom commented on #275
Here are the 23 fields that make up the `config` param for `Scene`, in the order that they appear in the constructor.  And there are a lot of problems with the "see below" approach to documenting `config`.

Related fields are not consistently co-located, so you can't tell by what's grouped together like you typically can with `options`.  And names don't always help, because some related fields don

[2018-12-22 03:18] pixelzoom commented on #275
Here are the 23 fields that make up the `config` param for `Scene`, in the order that they appear in the constructor.

[code]

`WaterScene` does something with `initialAmplitude` and `sourceSeparationRange`. The other subclasses (`SoundScene`, `LightScene`) do nothing with the config, and just pass it to `super`.

 There are a lot of problems with the "see below" approach to documenting `config`.

[2018-12-22 03:38] pixelzoom commented on #275
So back to @samreid's "What would the required parameters be? What would the default values be for options?"  The answer is: I have no idea.  And I have no idea because there's insufficient documentation of the config fields, and I don't have another 15-30 minutes to try to derive the documentation myself.

Similar to your Option A above... The most brute force approach would ne to put a minimum o

[2018-12-22 03:42] pixelzoom commented on #275
As I mentioned in the first comment, this is my first encounter with the "config" pattern.  So I also have a couple of broader concerns that extend beyond Wave Interference.

(1) Which developers are using this pattern and how are they applying it?

(2) In how many places is this pattern used? How many of them have the same problem that we're seeing here in Scene?

[2018-12-22 03:44] pixelzoom commented on #275
Have a look at what @jonathanolson did in area-model-common/Orientation.  `config` looks a lot like `options`, documented the same as `options`, but all of the default values are null.  Then validation occurs via assertions after the `_.extends` call.   I like this approach very much.

[2018-12-22 16:50] samreid commented on #275
The config pattern in Orientation.js has the advantage that it matches our style for options, but it has the disadvantage that validation, assignment and documentation are scattered about:

![image](https://user-images.githubusercontent.com/679486/50376739-a6b82a80-05ce-11e9-9ee6-3ccc4abd86c8.png)

We can use the `Validator` type introduced in https://github.com/phetsims/axon/issues/189 to consoli

[2018-12-22 19:45] samreid commented on #275
So are you proposing that Scene would begin like so?

[code]

[2018-12-22 19:51] pixelzoom commented on #275
That seems better to me.  I'd also like to see related config fields grouped together and potentially renamed (e.g. graph title and axis labels).

[2018-12-22 20:08] samreid commented on #275
I can see how the `config = _.extend( { ... },config )` call introduced in https://github.com/phetsims/wave-interference/issues/275#issuecomment-449593652 enhances readability and gets all of the config entries to be described together.  However, it seems odd to me that it provides no value at runtime.  For instance, the code with and without the `config = _.extend( { ... },config )` will have exa

[2018-12-22 20:37] pixelzoom commented on #275
I don't understand the foundation of this argument.  A program written in assembly language can provide identical behavior to one written in a higher-level language.  Which one would you prefer to maintain?

More CPU time and more object allocations than what, `Validator`?  I haven't taken a look inside `Validator` yet, but I'm skeptical of that claim.

Documentation separated from code is typical

[2018-12-22 20:46] samreid commented on #275
We are considering the following choices:

[code]

And

[code]

[code]

To summarize: Option A has _.extend(), Option B has none and C has a comment.  All 3 of these have the same runtime behavior.  I'm trying to figure out why you prefer A over B or C.  A has 24 more lines of code and much duplicated documentation that now has to be maintained and will likely get out of sync (compared to B).  Opt

[2018-12-22 20:57] samreid commented on #275
Pushed in the preceding commits, please review.

[2018-12-22 21:02] samreid commented on #277
Nice recommendation, thanks!  I pushed one commit, please review.

[2018-12-22 21:04] samreid commented on #277
Oops, previous commit had bad jsdoc params, fixed in an additional commit.

[2018-12-22 23:33] arouinfar commented on #294
@kathy-phet the barrier is not reflective, by design. See #13:

Making the barrier absorbing also addressed the issue of distracting reflections that had been reported by Wendy Adams in #38.

Setting the slit width to zero also had strange artifacts in the lattice where the plane wave would still leak through. I tried finding an issue for this, but couldn't. Tagging @samreid in case he remembers.

[2018-12-22 23:35] arouinfar commented on #262
@samreid I like the added negative space. I don't have any further UI changes to recommend, so closing.

[2018-12-22 23:35] #262 closed

[2018-12-23 01:03] pixelzoom commented on #277
👍 Closing.

[2018-12-23 01:03] #277 closed

[2018-12-24 04:02] pixelzoom opened #295 "SoundParticleLayer: issues with createSphereImage"
Related to code review #259, noted while investigating how I might use CanvasNode to render particles in Gas Properties.

A couple of issues with function `createSphereImage`in `SoundParticleLayer`, which looks like this:

[code]

(1) Node's `rasterized` method is documented as "Returns a node (backed by a scenery Image) that is a rasterized version of this node." and `@returns {Node}`.  That does

[2018-12-26 21:18] samreid commented on #282
Good ideas, I've done so in the preceding commit. Please review.

[2018-12-27 02:44] pixelzoom commented on #282
👍 Closing.

[2018-12-27 02:44] #282 closed

[2018-12-27 02:46] pixelzoom commented on #275
Groups and names of config fields looks good in the above commits.  Back to @samreid in case he still wants to discuss options identified in https://github.com/phetsims/wave-interference/issues/275#issuecomment-449596642.

[2018-12-27 04:03] samreid commented on #275
I'd like to get feedback from other developers, so I'll mark this for developer meeting.  This is a long issue, so I'll summarize briefly here and again during dev meeting.

Please refer to how _.extend(options) is used in wave-interference/js/common/model/Scene.js and area-model-common/js/common/model/Orientation.js.  In each case, the options object literal has all null values is more meant for

[2018-12-27 20:01] samreid commented on #275
We discussed this at developer meeting today.  Here are some raw notes.  Leaving self assigned to add more reflection before we move on:

JO: would be nice to quickly scan a file and see the ...
AccordionBox is quickly scannable and readable.

But maybe this belongs in documentation, not in a _.extends call.

It's too difficult to look into Validator.validate lines to see what all eth options are.

[2018-12-28 17:32] pixelzoom commented on #266
12/28/18 update: NumberDisplay (and therefore NumberControl) now supports both named and numbered placeholders.  So there is no need to apply the workaround in this sim.  You can simply used `{{value}}` in your strings, and pass them to NumberControl.

[2018-12-29 14:52] samreid commented on #283
Because FrequencySlider is used in lieu of WaveInterferenceSlider for the light scene, the title "nesting" should be implemented in a place it can be used by both the FrequencySlider and other WaveInterferenceSlider instances.  In the preceding commits, I moved the titles to FrequencyControl and AmplitudeControl, and factored out the spacing logic in WaveInterferenceUtils.getSliderTitleSpacing.

I

[2018-12-29 14:57] samreid commented on #284
In https://github.com/phetsims/wave-interference/issues/279 the slit width ranges were moved to the model, and now appear like this (e.g.,):

[code]
and

[code]

Please review.

[2018-12-29 15:11] samreid commented on #286
Proposed fix committed, please review.

[2018-12-29 15:13] pixelzoom commented on #286
👍 Closing.

[2018-12-29 15:13] #286 closed

[2018-12-29 15:14] pixelzoom commented on #284
👍 Closing.

[2018-12-29 15:14] #284 closed

[2018-12-29 15:18] pixelzoom commented on #283
👍 Looks great, much easier to digest.  Closing.

[2018-12-29 15:18] #283 closed

[2019-01-01 03:37] samreid commented on #287
Proposed fix committed, please review.

[2019-01-01 03:41] samreid commented on #288
Proposed fix pushed, please review.

[2019-01-01 03:45] samreid opened #296 "The theory rays don't reach the right side of the wave area."
Discovered in #289, the rays don't all reach the right side of the wave area:

![image](https://user-images.githubusercontent.com/679486/50570198-dee10b00-0d3c-11e9-947b-f7af20845545.png)

Is that by design, or should the rays be lengthened?

[2019-01-01 03:46] samreid commented on #289
Proposed fix is pushed, please review.

[2019-01-01 03:50] samreid commented on #290
Proposed fix committed, please review.

[2019-01-01 03:59] samreid commented on #295
@jonathanolson what do you recommend for this case?

[2019-01-01 20:31] arouinfar commented on #291
👍

[2019-01-01 20:31] #291 closed

[2019-01-01 20:49] pixelzoom commented on #288
👍 Closing.

[2019-01-01 20:49] #288 closed

[2019-01-01 20:50] pixelzoom commented on #289
👍 Closing.

[2019-01-01 20:50] #289 closed

[2019-01-01 20:50] pixelzoom commented on #290
👍 Closing.

[2019-01-01 20:50] #290 closed

[2019-01-01 20:51] pixelzoom commented on #287
👍 Closing.

[2019-01-01 20:51] #287 closed

[2019-01-01 20:51] pixelzoom commented on #293
👍 Closing.

[2019-01-01 20:51] #293 closed

[2019-01-01 21:52] samreid commented on #296
I made the rays longer, @arouinfar can you please review on phettest?  Close if all is well.

[2019-01-01 22:18] samreid commented on #245
Proposed fix is pushed, @arouinfar can you please review on phettest and close if all is well?

[2019-01-02 01:39] arouinfar commented on #245
Looks great!

[2019-01-02 01:39] #245 closed

[2019-01-02 01:46] arouinfar commented on #296
@samreid I just realized the issue -- the source point should be at the barrier. It looks like `?theory` is originating from the lattice origin for the previous screens.

[2019-01-02 02:17] arouinfar commented on #294
That's what I was thinking. Could you give a time estimate for adding such a feature @samreid?

Agreed @samreid.

[2019-01-02 02:48] samreid commented on #292
Proposed fix committed, please review.

[2019-01-02 02:50] samreid commented on #296
Thanks @arouinfar, a bug was introduced when working on the barrier coordinate frame.  Should be repaired now, please review on phettest and close if all is well.

[2019-01-02 02:52] samreid commented on #259
Closing to remove this issue from my todo list, all remaining work is tracked in other issues.

[2019-01-02 02:52] #259 closed

[2019-01-02 02:55] arouinfar commented on #296
Looks good!

[2019-01-02 02:55] #296 closed

[2019-01-02 03:06] samreid commented on #294
The main complication is that for the case of the absorbing barrier, we have an analytical model for plane waves left of the barrier.  If we introduce an emergent model in that same area, it will very likely look and behave differently than the analytical model (due to internal reflections at the top, bottom and left).  Alternatively, we could stick with an analytical model on the left, and incorp

[2019-01-02 03:14] samreid commented on #266
Proposed fix is pushed, @pixelzoom can you please review?

[2019-01-02 03:17] samreid commented on #275
I'll move the discussion about Validator and options to axon (where Validator lives), for more general discussion.  @pixelzoom can this issue be closed?

[2019-01-02 03:17] arouinfar commented on #294
Thanks @samreid. I do not think it is feasible to add a mirror to 1.0.

If @kathy-phet feels strongly about its inclusion in 2.0, we should discuss this further in design meeting. While I think it's a nice parallel to Wave on a String, I do not think the mirror serves any of the primary learning goals of this sim.

[2019-01-02 03:37] arouinfar commented on #285
The credits are currently up-to-date, but @KatieWoe will need to finalize the QA credits when this sim is in the last round of rc testing.

@DianaTavares you are currently credited as Diana López. Is this how you would like to be credited, or would you prefer Diana López Tavares?

[2019-01-02 03:41] DianaTavares commented on #285
I prefer Diana López Tavares, thanks!

[2019-01-02 03:43] pixelzoom commented on #285
Hmm... Diana's credits seem to be a little inconsistent across sims.  In Equality Explorer, she is "Diana Berenice López Tavares".   In Area Model suite and Interaction Dashboard, she is "Diana Lopez Tavares" (López incorrect).

[2019-01-02 04:12] DianaTavares commented on #285
I suggest  always use Diana López Tavares

[2019-01-02 12:54] samreid commented on #258
The strategy used in Java is asymmetrical--note that the dark wave only emits from one of the disabled lights:

![image](https://user-images.githubusercontent.com/679486/50592776-c6fbab00-0e52-11e9-98e2-1ce9aa27366a.png)

Also, I noticed it is not perfectly circular--not sure why.

[2019-01-02 14:06] samreid commented on #258
Note that in the "Slits" screen, when the wave is turned off, the light wave is instantly cleared everywhere.  This has the desired effect of changing the wave area to black.  Can we use this strategy for clearing the light scene on the first two screens?  It sounds like the implementation would be straightforward, probably less than an hour.

A strategy like the one in the Java implementation wou

[2019-01-02 15:10] samreid commented on #264
I updated the docs as part of #292, @pixelzoom can you please review and advise?

[2019-01-02 16:35] ariel-phet commented on #258
@samreid That might be a fine strategy for turning off the "continuous light". (In fact, I am totally on board with that strategy if the laser is button is turn in continuous mode on the waves screen). I am not sure what you would do on the interference screen since the buttons can be turned off independently? This strategy also does not seem to fix the problem of waves on in "pulse" mode on the w

[2019-01-02 16:38] ariel-phet commented on #255
@samreid generally the wave depiction in the entire wave area. Perceptually more noticeable with the plane wave before it his the barrier.

[2019-01-02 16:57] pixelzoom commented on #292
Looks great, much clearer. Closing.

[2019-01-02 16:57] #292 closed

[2019-01-02 17:05] pixelzoom commented on #264
Description of coordinate frames and transforms looks good.  I made some minor changes in the above commit.

Looks like all other points have been addressed, so feel free to close this if there's nothing else to do.

[2019-01-02 17:55] arouinfar commented on #285
Thanks @DianaTavares. I've updated the sim credits to always use Diana López Tavares.

Assigning to @KatieWoe to finalize the QA credits when this sim is in rc testing.

[2019-01-02 18:02] samreid commented on #264
Thanks for the link and formatting, closing.

[2019-01-02 18:02] #264 closed

[2019-01-02 18:20] arouinfar commented on #257
Looks good in master @samreid

[2019-01-02 18:20] #257 closed

[2019-01-02 18:41] arouinfar commented on #285
Thanks @pixelzoom. I was unaware of such a convention. @samreid (I presume) used `ó` in [wave-interference-main.js](https://github.com/phetsims/wave-interference/blob/master/js/wave-interference-main.js), which is the pattern I followed.

I have seen non-ASCII characters in sim credits before, including [hookes-law-main.js](https://github.com/phetsims/hookes-law/blob/master/js/hookes-law-main.js),

[2019-01-03 02:43] jonathanolson commented on #295
It looks like it's extracting the Canvas out, so directly using `node.toCanvas(...)` looks preferred in general.

[2019-01-03 18:08] samreid commented on #285
@jonathanolson can you please comment pros and cons for ascii vs unicode in credits?  What do you recommend?

[2019-01-03 18:34] pixelzoom commented on #285
https://dmitripavlutin.com/what-every-javascript-developer-should-know-about-unicode/#3unicodeinjavascript says:

While UTF-16 is used internally, JavaScript source code is usually not stored in that format. Unless you specify the encoding, you'll get a default encoding (based on a complicated set of rules), and that's where problems can arise.  So http://speakingjs.com/es5/ch24.html recommend:

.

[2019-01-03 22:59] samreid commented on #285
Thanks @jonathanolson. @arouinfar can you convert credits to use ascii and escapes?

[2019-01-03 23:34] arouinfar commented on #285
I have replaced `ó` with `\u00f3` and `ç` with `\u00e7` in sim credits.

@pixelzoom @samreid @jonathanolson I would recommend adding something to the code review checklist to check for non-ASCII characters in .js files. @DianaTavares will be credited in several more sims, so we are likely to run into `ó` showing up in sim credits again.

[2019-01-04 00:00] samreid commented on #285
Here's a lint rule that would prevent that:

[code]

[2019-01-04 03:49] samreid commented on #285
@pixelzoom I opened https://github.com/phetsims/chipper/issues/732 and @arouinfar used escape codes in Wave Interference credits, can this issue be closed?

[2019-01-04 03:53] samreid commented on #255
Pixellation of the wave area is discussed in https://github.com/phetsims/wave-interference/issues/256 and marked as deferred to 2.0+.  Let's leave this issue about the particular case of the leading edge of the plane wave as depicted in https://github.com/phetsims/wave-interference/issues/255#issue-391275776.  It sounds like this can also be deferred to 2.0+.  @ariel-phet does this all sound corre

[2019-01-04 03:54] samreid commented on #251
@ariel-phet can we re-evaluate this issue before addressing #258 because #258 will not impact water or sound scenes at all?  Will work on this issue be essential before 1.0 publication?

[2019-01-04 03:55] samreid commented on #206
@phet-steele the dev test version has been available for several weeks.  Can you please take a look?

[2019-01-04 15:54] samreid commented on #251
I agree #258 is important and work on that in #258.

For this issue, the proposal from the preceding comment is: On screen 1, all scenes, when the source is shut off, to clear the play area.  I realize I proposed this in https://github.com/phetsims/wave-interference/issues/258#issuecomment-450871586, however, this feels like "sweeping the problem under the rug", and will lead to an inconsistency w

[2019-01-04 15:55] samreid commented on #258
Once we solve this issue for light, it may be possible to leverage the same strategy to clear out trailing ripples for sound and water, which would address https://github.com/phetsims/wave-interference/issues/251.  Not 100% sure that will need to be done, but making a comment here in case it is helpful to keep that in mind.

[2019-01-04 16:05] samreid commented on #255
It does sound like a separate issue.  I'll leave this issue about the *leading edge of the advancing wave" and open a new issue about the issue you are describing.

[2019-01-04 16:11] samreid opened #297 "The plane wave looks "jittery" and lacks a "smoothness of propagation""
From https://github.com/phetsims/wave-interference/issues/255#issuecomment-447934027, @ariel-phet said:

@ariel-phet are you referring to the leading edge of the plane wave, or generally the wave depiction in the entire wave area?

Pixellation of the wave area is discussed in #256 and marked as deferred to 2.0+. Let's leave this issue about the particular case of the leading edge of the plane wave

[2019-01-04 16:14] samreid commented on #297
@ariel-phet is this behavior depicted in the gif @lmulhall-phet posted in https://github.com/phetsims/wave-interference/issues/255#issue-391275776?

[2019-01-04 16:17] samreid commented on #255
@ariel-phet now that I have opened https://github.com/phetsims/wave-interference/issues/297 how would you like to proceed with this issue, about the leading edge of the advancing wave?  Some possibilities:

* Leave this issue open and deferred, and do not address before 1.0
* Schedule me more time to investigate.  I have already looked into it in https://github.com/phetsims/wave-interference/issue

[2019-01-04 16:34] samreid commented on #295
Proposed fix is committed.  I also turned randomness to 0 to make sure the grid locations were not disturbed.  @pixelzoom can you please review?

[2019-01-04 16:38] samreid commented on #297
Also, do you think the same underlying problem is occurring for a point-source wave, but it is just easier to see for plane waves?

[2019-01-04 18:08] pixelzoom commented on #295
👍 Closing.

[2019-01-04 18:08] #295 closed

[2019-01-04 18:08] pixelzoom commented on #285
Nothing else that I'm aware of.

[2019-01-04 18:55] ariel-phet commented on #297
@samreid yes and yes. I think you can see this lack of smooth propagation in the gif, and yes, you can see it for a point source, but it is less noticeable than for a plane wave.

[2019-01-04 20:45] phet-steele commented on #206
It's goooood! ( I checked 1.0.0-dev.56)

[2019-01-04 20:45] #206 closed

[2019-01-04 22:55] ariel-phet commented on #255
@samreid I will mark this one deferred, the general smoothness is far more important to me, as removing the barrier and watching a plane wave a fairly uninteresting from a pedagogical standpoint.

[2019-01-05 00:21] samreid commented on #258
Here's a patch that looks like this:

![image](https://user-images.githubusercontent.com/679486/50717499-e65a2a00-1044-11e9-80b9-c4b7c86d547a.png)

It uses the strategy from Java to propagate a parallel lattice of "dark" values and can also be used to signify shutoff values.  However, there is a problem where the main wave leaks back into the shutoff wave.

![image](https://user-images.githubuserc

[2019-01-05 01:27] samreid opened #298 "At some screen sizes, there is an extra "frame" around the wave area"
At some screen sizes, there is an extra "frame" around the wave area

![image](https://user-images.githubusercontent.com/679486/50718577-60db7780-104e-11e9-8094-28961372656d.png)

[2019-01-05 03:37] samreid commented on #258
I made some improvements--support for pulse, and clear out the shutoff wave.  Still has significant problems though.  I'll push to a branch just in case.

[2019-01-05 03:38] samreid opened #299 "branch: dark-wave-1"
For #258

[2019-01-05 04:12] samreid opened #300 "branch: analytical-mask"
For #258

[2019-01-06 15:17] samreid opened #301 "Built issue: Error: <g> attribute transform: Expected number, "scale(NaN,NaN)"."
I've seen this on a built version intermittently, once on iPad Air and once on Mac Chrome:

![image](https://user-images.githubusercontent.com/679486/50737915-5d99d600-118b-11e9-899d-80afce373bd1.png)

[2019-01-06 15:19] samreid commented on #260
Current results over an 8 minute period on requirejs mode, using the analytical mask branch:

![image](https://user-images.githubusercontent.com/679486/50737948-b36e7e00-118b-11e9-9eed-f989a466aa33.png)

[2019-01-06 17:12] samreid commented on #280
This is causing crashing during startup, see #301.  The problem is that calling `new FaucetNode` outside of main tries to use the image before it has dimensions.

[2019-01-06 17:12] samreid commented on #301
Tracking in #280, closing as duplicate.

[2019-01-06 17:12] #301 closed

[2019-01-06 17:19] samreid commented on #258
The strategy proposed in #300 is working nicely, I'll promote it to master.

[2019-01-06 17:31] samreid commented on #280
Proposed fix is pushed, @pixelzoom can you please review?

[2019-01-06 17:33] samreid opened #302 "Letting the wave sit for 5 minutes causes it to oversaturate: 2 sources."
Letting the wave sit for 3 minutes on iPad air causes it to oversaturate. after several minutes, 2 sources.  I noticed this twice yesterday while developing #300, it will need to be carefully checked.

[2019-01-06 17:35] samreid opened #303 "Code review for TemporalMask and usages"
A significant new amount of code was developed in order to address https://github.com/phetsims/wave-interference/issues/258.  Once that solution is approved and vetted by the design team, and perhaps gone through dev testing, it would be good to have a code review.  Pinging @pixelzoom and @ariel-phet so they are aware this is coming up.

[2019-01-06 17:50] samreid commented on #260
Something must have gone horribly wrong in the recent few commits, or chrome dev tools are acting buggy.  These are 5 minutes apart on a built version:

![image](https://user-images.githubusercontent.com/679486/50739688-e4a57900-11a0-11e9-9b9e-d61a3922b369.png)

[2019-01-06 17:54] samreid opened #304 "Pulse isn't symmetrical"
During #258, I noted that the pulse isn't symmetrical.  I'm not sure what can be done about this, but thought I should bring it up for discussion:

![image](https://user-images.githubusercontent.com/679486/50739728-5bdb0d00-11a1-11e9-90e8-b478e696759c.png)

@arouinfar what do you think?

[2019-01-06 18:00] samreid commented on #251
The proposed strategy in #258 is also handling this problem nicely:

![image](https://user-images.githubusercontent.com/679486/50739753-bffdd100-11a1-11e9-90aa-00f0dcba742f.png)

You can still see this effect a little bit if you shut off one source while another is still on, but the problem is significantly muted:

![image](https://user-images.githubusercontent.com/679486/50739787-14a14c00-11a2-11

[2019-01-06 18:04] samreid commented on #302
I saw this after about 5 minutes on mac chrome:

![image](https://user-images.githubusercontent.com/679486/50739849-de180100-11a2-11e9-9b55-16081713dc6a.png)

[2019-01-06 18:06] samreid commented on #302
After a little longer:

![image](https://user-images.githubusercontent.com/679486/50739859-0d2e7280-11a3-11e9-86ab-df8e53f0c91e.png)

[2019-01-06 18:08] samreid commented on #251
On hold until I figure out #302

[2019-01-06 18:08] samreid commented on #258
On hold until I figure out #302, which may be related.

[2019-01-06 18:46] samreid commented on #302
That's odd, the whole thing is going negative:

![image](https://user-images.githubusercontent.com/679486/50740242-a1e79f00-11a8-11e9-9f46-c83337c41ad1.png)

[2019-01-06 19:04] samreid commented on #302
Adding in a damping scale factor of 0.999 seems to eliminate this effect.

[2019-01-06 19:09] samreid commented on #302
Maybe it is because the wave source isn't perfectly symmetrical?

![image](https://user-images.githubusercontent.com/679486/50740447-d14bdb00-11ab-11e9-880d-a9c913b46097.png)

top point is 7.99 and bottom point is -7.96.  Maybe over time the asymmetry is washing out the wave area?

[2019-01-06 21:02] pixelzoom commented on #303
Is this something new for the 1.0 release?

[2019-01-06 21:42] samreid commented on #303
Yes

[2019-01-06 22:14] samreid commented on #302
I ran a number of cycles and checked the source average--it wasn't too far off:

![image](https://user-images.githubusercontent.com/679486/50742255-c140f500-11c5-11e9-9bf9-1be7c617fb17.png)

[2019-01-07 02:20] samreid commented on #297
I suspect the lack of smooth propagation @ariel-phet is referring to is related to the fact that we are using a 61px by 61px lattice for the model.  We selected this size lattice so that we can attain a high frame rate on slower platforms. If desired, we could investigate increasing the lattice size (though it would not be trivial since several measures are calibrated for the 61x61 size and would

[2019-01-07 02:21] samreid commented on #302
I've committed the 0.999 damping since it seems to alleviate the numerical artifacts we were seeing without disturbing the overall behavior.  I also reached out to @jonathanolson on slack:

[2019-01-07 05:21] samreid commented on #298
Oh, it's this:

[code]

[2019-01-07 05:31] samreid commented on #298
I improved the geometry for that part (keeping the same stroke) and can't seem to break it any more.  @arouinfar can you please review?

[2019-01-07 16:42] ariel-phet commented on #297
@samreid a query parameter seems like a good idea for some experimentation

[2019-01-07 17:14] samreid commented on #297
I added a query parameter `latticeSize`.  Note it must be odd and 40 cells are subtracted off for padding around the edges.

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.58/phet/wave-interference_en_phet.html?latticeSize=201

[2019-01-07 18:59] arouinfar commented on #298
This is not something I have noticed before, but was able to reproduce in dev.56. Looks like it's been fixed in master @samreid.

[2019-01-07 18:59] #298 closed

[2019-01-07 19:07] samreid commented on #302
@jonathanolson helped me investigate this today, and we found the following odd behavior.  If we comment out any number of edges from the absorbing boundary conditions, then the problem goes away.  The problem only occurs when we have all 4 boundary edges *and* we call clearCell from applyMask (which only happens when the wave is initially propagating to the edge).

[2019-01-07 19:08] arouinfar commented on #304
@samreid this looks really problematic to me.

In dev.56 the wavefront looks nice and symmetric, both in the lattice and in the graph.
![image](https://user-images.githubusercontent.com/8419308/50787685-569ac280-1274-11e9-9c22-5c92528a25ec.png)

In dev.57, the pulse is quite deformed.
![image](https://user-images.githubusercontent.com/8419308/50787736-7d58f900-1274-11e9-9efe-3b1f6bc41d66.png)

As

[2019-01-07 19:14] arouinfar commented on #304
Pulsed light is pretty atrocious. Again, it looks like there's only half of a wavelength.
![image](https://user-images.githubusercontent.com/8419308/50788141-bfcf0580-1275-11e9-8a07-5bc23447fefe.png)

[2019-01-07 19:20] arouinfar commented on #251
@samreid this appears to be addressed in dev.57, though dev.57 does have other quirks, as reported in https://github.com/phetsims/wave-interference/issues/304#issuecomment-452046234. I'm not sure if we should close this, since it may need to get re-tested once #304 is addressed. Leaving this one up to @samreid.

[2019-01-07 19:21] arouinfar commented on #258
In terms of the lattice clearing when the source is turned off, dev.57 seems to do the trick. However #304 is super problematic.

Not sure that this is ready to close, so kicking it back to @samreid.

[2019-01-07 19:39] arouinfar commented on #304
@samreid I don't think this is necessarily a problem with the pulse -- I think it might be a general issue with the leading edge of the wave.

Here's a continuous water wave in dev.57. The leading edge of the wave disappears as it propagates across the lattice. I think this is the same phenomena as the pulse losing half of its wavelength in my previous comments..
![image](https://user-images.githu

[2019-01-07 20:59] pixelzoom commented on #280
Yeah, that's why I recommended factory methods and not constants.  Now we're sort of back to where we started, with an instantiated class.  But I guess that's OK.

[2019-01-07 21:36] samreid commented on #304
@jonathanolson and I discovered that the wave speed was incorrect, we also added a slight tolerance around the mask to prevent cramping the leading wave front.  Committed and pushed to master, @arouinfar can you please take a look?

[2019-01-07 21:51] #302 closed

[2019-01-07 21:59] pixelzoom commented on #280
Yep.

[2019-01-07 21:59] #280 closed

[2019-01-07 23:48] arouinfar commented on #304
@samreid things are definitely looking better, but there's still a bit of cramping on the leading wavefront, so perhaps the mask tolerance needs a bit more tuning.

![image](https://user-images.githubusercontent.com/8419308/50799908-5235d000-129b-11e9-9cf3-4cdcc6bd2180.png)

I think it's a bit more noticeable with light, which has the most closely spaced wavefronts.

![image](https://user-images.g

[2019-01-08 01:51] samreid commented on #304
I found that disturbance in the wave was caused by the `0.999` scaling factor for the wave that was meant to wash out numerical artifacts.  Tuning that to `0.9999` still seems to wash out the numerical artifacts, but doesn't disturb the wave as much.

The new masking effect seems promising, but involves several new parameters that need tuning.
1. Leading edge tolerance (4) - how much ahead of the

[2019-01-08 01:54] samreid commented on #304
I also noticed that at ?latticeSize=201, there is something fishy happening in the leading wavefront:

![image](https://user-images.githubusercontent.com/679486/50804995-acd82780-12ad-11e9-8557-a061c3a415b1.png)

Perhaps the wave speed isn't exactly the theoretical value of 0.5?

[2019-01-08 18:23] samreid opened #305 "Enum improvements"
Let's follow the proposal in https://github.com/phetsims/phet-core/issues/53 and reassign to @pixelzoom when ready.

[2019-01-08 19:49] samreid commented on #305
I moved to this pattern for DisturbanceType in this commit https://github.com/phetsims/wave-interference/commit/d538c9d2b66154b094a5f6b5866d30514859a3e8, @pixelzoom would you mind doing a micro-review before I continue?

Also, I noted that unfortunately WebStorm doesn't know how to highlight this too well and is showing a lot of gray underlines:

![image](https://user-images.githubusercontent.com/

[2019-01-08 20:37] arouinfar commented on #304
@samreid water and sound look pretty reasonable, but light isn't looking so great. The larger the wavelength, the better the light looks. The default frequencies and higher look pretty awful.

![image](https://user-images.githubusercontent.com/8419308/50855360-ced0b900-1344-11e9-9850-05d2f51c608b.png)
![image](https://user-images.githubusercontent.com/8419308/50854940-b57b3d00-1343-11e9-8425-00504

[2019-01-08 21:04] pixelzoom commented on #305
Looks good to me.

[2019-01-08 21:11] samreid commented on #304
I agree it is difficult to see the pulses on the chart for green and higher frequencies of light.  However, this does not seem to be caused by the new masking approach.  For instance, here are **three** pulses of violet light from https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.56/phet/wave-interference_en_phet.html

![image](https://user-images.githubusercontent.com/679486/50858539

[2019-01-08 22:50] arouinfar commented on #304
The jaggedness isn't ideal, but I don't think it's what's causing the problem. My worry is that the leading trough completely disappears. You can see the same effect on a continuous wave -- the leading trough will disappear as the wave propagates across the lattice. This is simply non-physical.

I don't think it's a mis-match between the lattice and the graph. The graph shows the leading trough di

[2019-01-09 00:00] samreid commented on #305
I fixed up the other enums, @pixelzoom can you please review?  Close if all is well.

[2019-01-09 00:04] samreid commented on #304
Thanks for clarifying about the nature of the problem.  @jonathanolson and I identified that some combination of the masking and the boundary conditions are leading to an overall "bias" effect that raises or lowers all values across the entire lattice--this could be causing the trough to disappear.  We found we could mute the effect a little by damping each wave value in every frame (this is the 0

[2019-01-09 00:05] samreid commented on #305
I fixed up the other enums, @pixelzoom can you please review? Close if all is well.

[2019-01-09 04:10] samreid commented on #304
I know we have already fine tuned the amplitude of the oscillator based on other concerns, but it seems one way to approach this problem is to increase it.  For instance, here is violet light with amplitude*10:

![image](https://user-images.githubusercontent.com/679486/50876307-a9b26980-1389-11e9-8a81-bd4be0e1d56b.png)

Note it is still not symmetrical, but it does have a trough at least.  Also, I

[2019-01-09 18:11] pixelzoom commented on #305
Enumerations look great.  Questions about a few related fields:

Should this field in Scene be documented as "read-only"?

[code]

I wonder if this Property in SoundScene might be better named `soundViewTypeProperty`, since it's value is of type `SoundViewType`.

[code]

Similarly in DiffractionModel, I wonder if this Property might be better named `apertureTypeProperty`:

[code]

[2019-01-10 16:22] samreid opened #306 "Apply temporal masking only in views so it doesn't disrupt the propagation"
Perhaps if we apply the temporal masking in the downstream views only, it will not perturb the wave physics.  We would need to apply it in all downstream views, including (but perhaps not limited to) the wave area display, the chart display, the intensity screen, etc.

@arouinfar do you think that's worth investigation?  It may be one way to address #304

[2019-01-10 17:38] samreid commented on #306
@arouinfar and I discussed this and agreed it sounds like it is worth investigation.

[2019-01-10 17:40] samreid commented on #306
This will also allow us to use a very narrow band (no tolerance) without disrupting the integration.

[2019-01-10 21:17] samreid commented on #306
Proposed fix is here and working great in initial testing.   Here's a dev version with this fix: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.59/phet/wave-interference_en_phet.html

[2019-01-10 21:51] samreid commented on #306
We agreed this is looking good, closing.

[2019-01-10 21:51] #306 closed

[2019-01-10 21:53] samreid commented on #304
@arouinfar reviewed this in https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.59/phet/wave-interference_en_phet.html and said it is good to go.  I'll create a new issue about the first trough being smaller than subsequent.

[2019-01-10 21:53] #304 closed

[2019-01-10 21:54] samreid commented on #303
@ariel-phet asked me to check if @pixelzoom is available to work on this.  Leaving self-assigned to make sure everything is all set.

[2019-01-10 21:59] samreid commented on #297
@samreid indicated this may be caused by the blowing up of the rendering of the 60px by 60px lattice on the GPU. It may be solved by rendering in WebGL.  We decided to defer to 2.0+

[2019-01-10 22:05] samreid commented on #258
In design meeting, this seemed good, closing.

[2019-01-10 22:05] #258 closed

[2019-01-10 22:05] samreid commented on #251
This seems much clearer after #300, closing.

[2019-01-10 22:05] #251 closed

[2019-01-10 22:06] samreid commented on #32
At today's design meeting, @ariel-phet and @arouinfar said this is not essential for 1.0, marking deferred.

[2019-01-10 23:22] samreid opened #307 "Plane wave is not waving"
Broken recently

[2019-01-10 23:22] samreid opened #308 "The first trough is smaller than subsequent troughs."
@arouinfar identified that the first trough is smaller than subsequent troughs.  Deferred for 2.0+

[2019-01-10 23:25] samreid opened #309 "When changing the plane wave frequency, clear the wave area to the right of the wave (like we do for light)"
When changing the plane wave frequency, clear the wave area to the right of the wave (like we do for light)

[2019-01-10 23:38] samreid commented on #303
@pixelzoom are you available to review this new component?  TemporalMask.js was introduced to address #258.  The code to be reviewed would be TemporalMask.js (119 lines of code) and its usages in Scene.js.  Ready when you are.

[2019-01-10 23:43] samreid commented on #307
Fixed in https://github.com/phetsims/wave-interference/commit/323c5bdcaf3fdc9ecdd0d2ccfac346e9273a5b4d, closing.

[2019-01-10 23:43] #307 closed

[2019-01-10 23:53] samreid commented on #309
Proposed fix is here.  Now the wave is cleared to the right of the barrier for water, sound and light.  @arouinfar can you please review on phettest?

[2019-01-10 23:55] samreid commented on #308
Note the first wavefront is smaller amplitude than following wavefronts.  This seems incorrect and nonphysical.  I'm not sure what explains it--seems to be more than the usual attenuation.

![image](https://user-images.githubusercontent.com/679486/51004578-81954880-14f8-11e9-8d1f-92354099a2b8.png)

[2019-01-11 00:02] samreid commented on #305
Thanks, I followed your recommendations, ready for review.

[2019-01-11 00:18] samreid commented on #143
I hardcoded a wave at 75th cell and it matched perfectly in all scenes:

![image](https://user-images.githubusercontent.com/679486/51005315-84456d00-14fb-11e9-82af-b6f4f19bfb3c.png)

I also tried a diagonal in case the vertical coordinate is the problem, but it still looked OK:

![image](https://user-images.githubusercontent.com/679486/51005353-a9d27680-14fb-11e9-8581-2623ccade12a.png)

[2019-01-11 00:20] samreid commented on #143
Green light looks pretty well matched on my Mac Chrome:

![image](https://user-images.githubusercontent.com/679486/51005413-e900c780-14fb-11e9-9784-bb3d4f12a9c8.png)

![image](https://user-images.githubusercontent.com/679486/51005419-f322c600-14fb-11e9-8e8c-73fe65dc6dff.png)

@arouinfar and @kathy-phet do you see the problem for the default green wavelength of light? Can you please paste a screens

[2019-01-11 00:21] samreid commented on #143
I wonder if there is some platform specific GPU issue that is misaligning the cells when blown up from 60x60 to full screen.

[2019-01-11 01:00] pixelzoom commented on #303
Sure. I can get to it first thing Monday. Is that soon enough?

[2019-01-11 01:03] pixelzoom commented on #305
👍 Closing.

[2019-01-11 01:03] #305 closed

[2019-01-11 01:10] samreid commented on #303
You bet, thanks!

[2019-01-11 03:42] samreid commented on #299
The temporal mask turned out to be simpler and more effective, deleting branch and closing.

[2019-01-11 03:42] #299 closed

[2019-01-11 16:45] samreid commented on #309
Here's a dev version with this fix:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.61/phet/wave-interference_en_phet.html

Also, this solution clears the wave to the right of the barrier and you can dynamically see the change in wavelength to the left of the barrier.  Is that as desired, or should area to the left of the barrier clear and the wave propagation begin again?

[2019-01-11 16:57] samreid opened #310 "Plane wave amplitude boosted when emerging from slit"
While testing https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.61/phet/wave-interference_en_phet.html I noticed that when the wave emerges from the slit, it gets a ~ 5% amplitude boost.  I don't know why this is happening.  @arouinfar can you please test and advise?

![boost](https://user-images.githubusercontent.com/679486/51048029-2a8a8480-1587-11e9-98e6-20cc59ca67d4.gif)

[2019-01-11 17:57] arouinfar commented on #143
@kathy-phet @samreid this is what I'm seeing on my Mac following the instructions in https://github.com/phetsims/wave-interference/issues/143#issuecomment-453365003.

<details><summary>Troubleshooting information</summary>

Name: ‪Wave Interference‬
URL: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.60/phet/wave-interference_en_phet.html
Version: 1.0.0-dev.60 2019-01-11 03:24:32 U

[2019-01-11 18:04] arouinfar commented on #309
@samreid I still see some of the artifacts in dev.61, though not as bad as what we saw in design meeting.
![image](https://user-images.githubusercontent.com/8419308/51051260-84dc1300-1590-11e9-9b27-2112b5a6f0b4.png)

After one cycle the noise is mostly gone.
![image](https://user-images.githubusercontent.com/8419308/51051310-af2dd080-1590-11e9-9645-04f2f9435628.png)

I think it would be better to

[2019-01-11 18:16] arouinfar commented on #310
@samreid I would imagine you have amplitude matching at the boundary, so I don't know what else to suggest.

I think the amplitude boost is pretty subtle, and I wonder if the low graph sampling rate makes it looks worse than it is.

[2019-01-11 18:53] samreid commented on #310
Yes, the wave values from the plane are the same values in the lattice going forward.  Want to close as will not fix?

[2019-01-11 19:39] kathy-phet commented on #143
Opening dev.60, mine looks like this - which seems different than Amy's:
![image](https://user-images.githubusercontent.com/5096804/51055664-c0c9a500-159d-11e9-8e7b-924df3500e77.png)

[2019-01-11 19:43] kathy-phet commented on #143
The relative positioning of the two representations seems to be effected by resizing the screen. Here is another snapshot at a different size of the screen:
![image](https://user-images.githubusercontent.com/5096804/51055851-63822380-159e-11e9-8144-cef81ca82113.png)

[2019-01-11 19:46] samreid commented on #143
Can you resize your screen until it is "as bad as possible", so we can see the most extreme case?

[2019-01-11 19:49] pixelzoom commented on #303
I had time to review this today.  A few questions/observations...

(1) In `matches`, I see:

[code]

"search back in time" seems to indicate that we'll be looking at elements from newest to oldest.  But
`set` adds elements to `deltas` using `push`, so this is searching oldest to newest.  Either the comment is misleading or the `for` iteration is incorrect.

(3) Elements in `deltas` are objects of

[2019-01-11 19:49] pixelzoom commented on #303
I had time to review this today.  A few questions/observations...

(1) In `matches`, I see:

[code]

"search back in time" seems to indicate that we'll be looking at elements from newest to oldest.  But
`set` adds elements to `deltas` using `push`, so this is searching oldest to newest.  Either the comment is misleading or the `for` iteration is incorrect.

(2) Elements in `deltas` are objects of

[2019-01-11 19:50] pixelzoom commented on #303
I had time to review this today.  A few questions/observations...

(1) In `matches`, I see:

[code]

"search back in time" seems to indicate that we'll be looking at elements from newest to oldest.  But
`set` adds elements to `deltas` using `push`, so this is searching oldest to newest.  Either the comment is misleading or the `for` iteration is incorrect.

(2) Elements in `deltas` are objects of

[2019-01-11 20:01] arouinfar commented on #310
👍

[2019-01-11 20:01] #310 closed

[2019-01-11 20:31] kathy-phet commented on #143
On dev.59, at my full screen aspect ratio - I see some off set:
![image](https://user-images.githubusercontent.com/5096804/51057957-7697f200-15a4-11e9-8717-ee875af18989.png)

This is what I see when closer to matching dev bounds aspect ratio. Pretty similar:
![image](https://user-images.githubusercontent.com/5096804/51058188-35eca880-15a5-11e9-9ea5-12f9a08213f8.png)

[2019-01-11 20:34] samreid commented on #143
Wasn't it much worse on your computer on Thursday?

[2019-01-11 20:36] kathy-phet commented on #143
With resizing I just she shifts around, here is what seems to be about as bad as I can get it. Which is similar to my previous version. I'm not sure why they resize relative to each other? Do you under stand that?
![image](https://user-images.githubusercontent.com/5096804/51058339-b0b5c380-15a5-11e9-956d-8938b0572897.png)

[2019-01-11 20:37] kathy-phet commented on #143
Overall though, I would say this degree of issue shouldn't block publication, but maybe could be reexamined at WebGL time?

[2019-01-11 20:38] kathy-phet commented on #143
I think it was worse on Thursday. I cannot explain why.

[2019-01-11 20:55] samreid commented on #303
I committed proposed fixes for (1) and (2).  For (2) I used the name `verticalLatticeCoordinate` because it seemed cleared.  (3) shouldn't be problematic because a delta is only created when the wave is turned on/off or moved, and hence are rare.

[2019-01-11 21:04] samreid commented on #309
Proposed fix is in https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.62/phet/wave-interference_en_phet.html.

[2019-01-11 21:07] samreid opened #311 "Why is the default "One Slit" and should the default be "Two Slits"?"
From slack:

Sam Reid [2:03 PM]
Why is the default “one slit” instead of “two slits”?

Amy Rouinfar [2:04 PM]
Probably because 1 < 2, but that’s not a particularly compelling reason.
Two slits would be a better comparison to the Interference screen.

Sam Reid [2:05 PM]
Would be nice to discuss before 1.0, but could easily be changed even after RC1.  Should I create an issue for discussion? (edited

[2019-01-11 21:08] samreid opened #312 "Design team testing"
The sim has been through numerous changes since the initial dev test, and it would be great if @arouinfar and possible other design team members could take it for a test drive before we request dev.2.

The latest version is published here:
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.62/phet/wave-interference_en_phet.html

[2019-01-11 21:32] kathy-phet commented on #311
I have mixed feelings here. One slit is the starting point to understanding slits ... that a slit acts as a point source and you can treat it like that. Interference adds onto this concept. I think we could keep the default as is for the start up, and the screen icon points people to the fact that you can also investigate 2 slits.

[2019-01-12 04:08] arouinfar commented on #312
@samreid dev.62 has the green light from me. :)

Assigning @kathy-phet and @ariel-phet if they'd also like to take a look.

[2019-01-14 18:20] ariel-phet commented on #311
The Java sim in essence scaffolds slits the same way. One slit interference is a bit more complex to understand than two slit interference, but I agree with @kathy-phet that there are plenty of cues to suggest moving toward two slits (the icon and the fact that slit separation is disabled until two slits are chosen)

I would leave as is. Back to @arouinfar

[2019-01-14 18:21] ariel-phet commented on #311
@arouinfar I do think the combo box is a little odd though, it lists

No barrier
One Slit
Two Slits

I would change it to

One Slit
Two Slits
No Barrier

So that when you open it the default of "One Slit" is up top, where the default normally sits. No Barrier is also pedagogically very uninteresting so seems like it belongs last.

[2019-01-14 20:48] samreid opened #314 "Should we increase the lattice size before 1.0?"
The current lattice size was chosen to attain acceptable performance on iPad 2.  We settled on 101x101 with 40 cells in each dimension for padding (approximately the same dimension as in Java).  The odd number is so that there will be a single row and column for symmetry.

If I increase this to 201x201 with 40 cells in each dimension for padding, we have the following performance profile on iPad A

[2019-01-14 21:02] arouinfar commented on #311
Looks like we'll leave one slit the default @samreid, but let's reorder the combobox items as @ariel-phet suggested.

[2019-01-14 21:04] samreid commented on #311
I reordered them and pushed, @arouinfar can you please test on phettest?

[2019-01-14 21:46] ariel-phet commented on #314
Discussed over Slack...summary is @arouinfar will test on chromebook with 201x201 and if all looks reasonable, @samreid will proceed with re-calibration of the model and moving towards a second dev test.

[2019-01-14 21:47] ariel-phet commented on #312
@samreid I have looked over the sim, and with @arouinfar comments this issue can be closed.

[2019-01-14 21:47] #312 closed

[2019-01-14 23:07] arouinfar commented on #314
I spent an hour testing dev.62 with on Chadwick with a lattice size of 201. During testing, I would have lots of options on -- Graph, Screen, Intensity, Particles, Wave Detector. I would also rapidly scrub sliders to create noise in the lattice.  The Waves and Slits screens consistently remained 50+ FPS, and the frame rate was often close to 60. On Interference, the performance was generally simil

[2019-01-14 23:12] arouinfar commented on #311
👍

[2019-01-14 23:12] #311 closed

[2019-01-14 23:47] samreid opened #315 "Increase lattice size"
In #314 we decided to increase the lattice size to 201x201.  We'll keep the same padding areas (20+20x20+20), I suspect.  We'll need to make this core change and recalibrate the model. Regarding timing and priority, on Slack, I said:

@ariel-phet replied:

[2019-01-15 03:45] samreid commented on #315
iPad Air drops to 40 FPS on Interference screen, showing waves and particles, showing graph and with the wave detector in the wave area.  But with the EventTimer, the physics is preserved.  Still seems responsive enough to move forward (in my opinion).

[2019-01-15 05:16] samreid commented on #315
With a lattice size of 201, the simplest way to recalibrate the physics was to increase the EVENT_RATE by the corresponding dimension of the visible part of the lattice, which was `( WaveInterferenceQueryParameters.latticeSize - LATTICE_PADDING * 2 ) / ( 101 - 20 * 2 )`.  However, at this rate, the iPad Air drops to 15 frames per second.  Maybe (a) this is acceptable, or (b) we need a different wa

[2019-01-15 15:01] samreid commented on #32
@arouinfar this feature is implemented and looks like this: https://github.com/phetsims/joist/issues/538#issuecomment-454282235

Would you like me to use this option for Wave Interference?

[2019-01-15 15:07] samreid commented on #314
We agreed to increase the lattice size before 1.0, I'll work on the details in #315, closing.

[2019-01-15 15:07] #314 closed

[2019-01-15 15:23] samreid opened #316 "Rapidly changing the source separation wrecks performance"
Even before increasing the lattice size, it is possible to make the simulation unusably slow by:

1. Interference
2. Turn sources on
3. Drag separation slider back and forth many times

Discovered during #315

[2019-01-15 15:44] samreid commented on #316
You can simulate the same problem by clicking the wave source on and off many many times.  There is a bug in `TemporalMask.prune`.

[2019-01-15 16:35] samreid commented on #316
The aforementioned fix corrects a memory leak and allows TemporalMask entries to be pruned when they have left the window.  However, rapidly dragging the source separation slider or pressing the on/off button can still swamp the TemporalMask with deltas.  More than 20 or so kills performance on my Mac Chrome.  The performance is restored in 15 seconds or so when the wave has moved out of the visib

[2019-01-15 16:38] samreid commented on #316
Also, @arouinfar I wonder if this is what you observed when the performance dropped on the Chromebook you tested.

[2019-01-15 17:12] arouinfar commented on #32
@samreid yes, let's use this option in Wave Interference.

[2019-01-15 17:50] ariel-phet commented on #316
@samreid @arouinfar

This is just not a pedagogically productive action at all (rapid changing of separation). It seems perhaps keeping only the last 5 or so deltas is a good solution. Basically, I am fine with a solution that allow performance to remain, but if things look a bit odd with you moving the separation slider back and forth rapidly, I am fine with that, since it is not a productive int

[2019-01-15 18:00] arouinfar commented on #316
@samreid I'm fairly certain this what I was seeing yesterday on the Chromebook. Perhaps I wasn't always changing separation rapidly or often enough to see it happen consistently.

I agree with @ariel-phet. Rapidly scrubbing the separation slider serves no pedagogical purpose, and would be a rare interaction. Keeping the last 5ish deltas also sounds reasonable to me. I do wonder what would happen i

[2019-01-15 18:21] samreid commented on #316
Yes, the temporal mask would "forget" the parts furthest from the oscillator.  You can see it in practice on phettest: http://phettest.colorado.edu/wave-interference/wave-interference_en.html?ea&brand=phet

Try the following tests:

Test 1
1. On the Waves screen
2. select the Speaker scene
3. Click the green speaker button 6 times before the wave reaches the right edge

Test 2
1. On the Interferen

[2019-01-15 18:38] samreid commented on #316
Also, the proposed "keep only 5 deltas" solution helps performance, but isn't entirely consistent--it clears the temporal mask without clearing the lattice so you can end up with situations where the light screen/chart is lit up without a wave there:

![image](https://user-images.githubusercontent.com/679486/51201734-0c3fc400-18ba-11e9-9621-8a5ea73a74d5.png)

[2019-01-15 18:52] samreid commented on #315
Regarding the preceding comment, using the simplest calibration via changing the EVENT_RATE, I measured performance on Interference Screen, Sound Scene, timer on, wave detector on, "Both" displayed and both sources on:

201: 8 fps (questionable)
101: 42 fps
151: 19 fps (looks OK in my opinion)

I'm inclined to check with @jonathanolson about whether I should be changing EVENT_RATE or some other pa

[2019-01-15 19:07] samreid commented on #315
In discussion with @jonathanolson we confirmed that an increase in lattice size must be met with a corresponding increase in number of steps (so the wave speed and frequency will remain the same).

[2019-01-15 19:43] ariel-phet commented on #316
@samreid I think given the nature of this issue (rare use case), dealing with the artifacts can be deferred until after 1.0 is published.

[2019-01-15 20:59] ariel-phet commented on #316
@samreid @arouinfar what about if we enforce that the source does not emit a wave while being moved, and not until it "settles" (so I slide to a new position, not until I release the slider does it begin to emit a wave again). Would that solve the general artifact issue? It seems seeing what the source is doing while moving is not pedagogically important.

[2019-01-15 21:14] samreid commented on #316
I believe that eliminate the numerical artifacts and help with the performance problem, but the user would no longer be able to see the interference pattern "morph" to another pattern.  Should I investigate?

[2019-01-15 21:22] samreid commented on #315
In the above commits, I calibrated the water wave speed and the time scale for sound and light.  Sound and light were measured to have proper frequency, wavelength and wave speed.  For the water wave, we choose the time scale to match wall time and measure the empirical wave speed and wavelengths.

[2019-01-15 21:23] arouinfar commented on #315
@samreid I took master for a test drive on iPad Air (iOS 11.4) and Chromebook, focusing on the worst-case scenario described in https://github.com/phetsims/wave-interference/issues/315#issuecomment-454507217 (but with the graph also on). I also spent a fair amount of time with light with Screen/Intensity on.

On the iPad Air, I generally observed 12-16 FPS. However, even at this frame rate, the an

[2019-01-15 21:31] samreid commented on #315
If we recalibrate in the future, we should just need to change the lattice size then do the steps in https://github.com/phetsims/wave-interference/issues/315#issuecomment-454556415 for water wave speed, and sound and light time scale.  The rest should be handled automatically by CALIBRATION_SCALE.

[2019-01-15 21:38] samreid commented on #315
My initial draft of recalibration at 151x151 (minus 20 on each edge for padding) is complete and published in a dev version here: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.63/phet/wave-interference_en_phet.html.  Please note these changes spanned many parts, including but not limited to:
* the sound particle physics
* recalibrating the time scale for sound and light to make su

[2019-01-16 03:35] samreid commented on #32
Committed, @arouinfar can you please test on phettest/master and make sure it looks and behaves as desired?

[2019-01-16 04:08] samreid commented on #316
The above commits "mute" the sources while the separation is being changed.  This was easy thanks to the pre-existing support in NumberControl, thanks @pixelzoom!

Setting the amplitude to 0 in each frame created odd artifacts at the wave sources, and would have required more complex logic to suppress deltas from the temporal mask.  Instead I tried the simpler solution of just skipping setting poi

[2019-01-16 04:57] samreid commented on #143
I wonder if this problem is impacted (hopefully for the better) by #315.

[2019-01-16 17:26] arouinfar commented on #32
👍

[2019-01-16 17:26] #32 closed

[2019-01-16 22:19] arouinfar commented on #315
@samreid I took dev.63 for a pretty thorough test drive, and I'm happy to report the physics looks good.

* The correspondence between the particle and wave views of sound looks great.
* Sound speed came in at 343 m/s, and speed of light 3.02x10^8 m/s. (Due to the scaling of the light screen -- a few px corresponds to several nm -- there's a bit more measurement error.)
* Min and max wavelengths o

[2019-01-16 22:19] #315 closed

[2019-01-17 00:13] arouinfar commented on #316
@samreid I think things are generally looking a bit better, I do find the artifacts in the lattice to be pretty distracting.

I'm not so sure the sim is behaving as proposed in https://github.com/phetsims/wave-interference/issues/316#issuecomment-454518891. Here, the only adjustment I made was a smooth slide from high to low separation. The lattice unexpectedly cleared, and the lattice ended up pr

[2019-01-17 17:21] samreid commented on #316
I pushed a commit that suppresses waves while the separation is changing.  @arouinfar can you please review on master?

[2019-01-17 17:57] samreid commented on #316
This version clears the sound particles.  Ready for testing
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.65/phet/wave-interference_en_phet.html

[2019-01-17 18:05] arouinfar commented on #316
@samreid this is looking much cleaner to me. I like it!

[2019-01-17 18:05] #316 closed

[2019-01-17 18:30] samreid opened #317 "Set up 2nd dev test"
Now that https://github.com/phetsims/wave-interference/issues/316 is complete, we are ready to set up the 2nd dev test.  I'll open an issue in the QA repo.

[2019-01-17 18:55] samreid commented on #317
@ariel-phet said the QA team may be able to start on this around Tuesday.  Until then @kathy-phet and @ariel-phet could take a more recent dev version for a test drive.

[2019-01-17 18:58] samreid opened #318 "Design team testing for dev.65"
As a precursor to QA testing in #317, it would be nice for the design team to take a closer look at the latest version:

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.65/phet/wave-interference_en_phet.html

This has the following recent changes:
https://github.com/phetsims/wave-interference/issues/316
https://github.com/phetsims/wave-interference/issues/315

@arouinfar already rev

[2019-01-22 02:42] samreid commented on #317
I opened a QA dev test issue, closing.

[2019-01-22 02:42] #317 closed

[2019-01-22 02:43] samreid commented on #318
I also published dev.66 and opened a QA issue.  If you are going to test, please use https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.66/phet/wave-interference_en_phet.html

[2019-01-22 16:39] KatieWoe opened #319 "Wave clears after some time"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/264
When a wave stops, the background returns to its default state following after the last wave.  However, often that wave disappears between 1/4 and 3/4 of the way through the screen.  This gives the appearance of the screen being reset in a sense, rather abru

[2019-01-22 17:41] KatieWoe opened #320 "Unsmooth transition when wave ends"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/264 likely minor
When a wave ends there is a clear line between the end of the wave and the default 0 state.
**Steps to reproduce:**
1. Go to the Waves screen and select water (easiest to see in multiple ways)
2. Select pulse and wend a single wave.  Note appear

[2019-01-22 17:46] arouinfar commented on #319
This is not the desired behavior @KatieWoe. I'm seeing the same thing on macOS 10.13.16/latest Chrome. Occasionally, the lattice will immediately clear when the source is turned off -- I saw this happen pretty often for light.

However, this is somewhat new, as the behavior was correct when I originally verified it on master. It looks like dev.65 and dev.64 are behaving the same as dev.66

[2019-01-22 17:50] KatieWoe commented on #319
I just checked master and it has the problem @arouinfar

[2019-01-22 17:52] arouinfar commented on #319
Thanks @KatieWoe, but what I meant is that when I verified it on master some time ago, this issue didn't exist. However, master now is not the same as master was then. I was hoping to help @samreid nail down a time frame where the problem was introduced.

[2019-01-22 17:57] arouinfar commented on #320
@KatieWoe the kink on the trailing end of the wave is due to the temporal mask that @samreid applied to clear the lattice, so there's nothing that can be done here. I think it had something to do with the wave speed not exactly matching up, but the alternative would be that lower wavelength waves would get very oddly cropped.

@samreid I forget the exact details of why the kink exists, so can you

[2019-01-22 19:07] KatieWoe opened #321 "Reset does not change sound display"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/264
When the orange reset button is pressed the setting in sound for "wave, particle, or both" does not reset.  If the sim was on particle or both before the reset and a wave was propagating, switching back to sound will show the particles behaving for a moment

[2019-01-22 19:14] arouinfar commented on #321
Good catch @KatieWoe. The ResetAllButton should always take the sim back to its startup state.

[2019-01-22 19:34] KatieWoe commented on #238
@samreid @ariel-phet  I saw something new in https://github.com/phetsims/QA/issues/264 on firefox.  Sometimes it appears as above, but I have also seen the dots remain intact but appear to be passing behind some object at certain points.  This was seen on the Waves screen, light scene, when the graph is selected.  I believe the graph is the determining factor.  I doubt this changes the priority at

[2019-01-22 20:35] ghost opened #322 "Latest iOS, iPad Air 2 performance is bad"
For https://github.com/phetsims/QA/issues/264. Performance isn't very good. See video.

https://drive.google.com/open?id=1hV6cgK10tV_uVH7XnzRJNGIyCbDjusGB

[2019-01-22 20:42] arouinfar commented on #200
Since we're nearing the Jan 31 deadline, I'll remove `status:on-hold`.

[2019-01-22 21:54] ariel-phet commented on #322
@samreid while this sim is less likely to be used on iPads considering its more advanced nature, iPad Air performance being poor is disconcerting, so I would say this issue warrants attention. We do not want to get in a performance rathole, but I am marking high priority to indicate it is worth a couple hours of investigation to see if the source of the performance bottleneck can at least be ident

[2019-01-22 22:11] arouinfar commented on #322
@lmulhall-phet which device were you testing on? I spent quite a bit of time testing on the iPad Air (can't remember the device name, but I think it was the the one with the sticker that warns not to update iOS), for https://github.com/phetsims/wave-interference/issues/315#issuecomment-454556621 and it was running smoothly. @samreid is your iPad Air running the latest iOS? Looks like I was testing

[2019-01-22 23:03] KatieWoe opened #323 "When amplitude is large water can go above faucet"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/264
Likely small and may not be easily solvable.  When water is in side view the water splash can be high enough to go over the faucet.  This can appear a bit odd.
**Steps to reproduce:**
1. Go to Wave Screen, Water side view scene
2. Adjust the Amplitude to be

[2019-01-22 23:33] rea-laura opened #324 "Timer sometimes "shivers" when changing numbers"
<b>Test Device</b>

Jordan

<b>Operating System</b>

MacOS 10.14.2

<b>Browser</b>

Chrome 71.0.3578.98

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/264:
Timer numbers occasionally shiver. This happens consistently when it changes to certain numbers - for example, 5, 8, 10, and 13.

<b>Steps to Reproduce</b>

1) open sim and go to "waves" page
2) select and drag timer too

[2019-01-22 23:38] arouinfar commented on #324
Nice observation @rea-laura. In https://github.com/phetsims/wave-interference/issues/239, we decided to use a monospaced font (Lucida Console) for the TimerNode so the numbers wouldn't shift. From the screenshot, it looks like the test device may not have that font, and so it's using the Arial fallback. I don't think there's anything in particular that we can do here. @samreid if you agree, please

[2019-01-23 04:14] samreid commented on #319
I don't feel like I have a deep understanding of the problem, but after committing the change above I am unable to create the buggy symptom.  @arouinfar and @KatieWoe can you please test on phettest/master?

[2019-01-23 04:17] samreid commented on #320
We reviewed this behavior in design meeting and decided it is OK for publication.  The problem is that some artifacts from https://github.com/phetsims/wave-interference/issues/251 are caught in the temporal mask.  We tried reducing the size of the mask, but that makes it too thin for high frequency waves, so we decided to stick with this for now.  @arouinfar or @ariel-phet anything to add?  Should

[2019-01-23 15:10] samreid commented on #324
In #239 we identified that there are other monospace fonts we can use, such as Courier, but it seemed the design team preferred Arial to Courier.  Therefore it seems appropriate to close this issue.

@arouinfar or @ariel-phet do you recommend further discussion or work here?

[2019-01-23 15:19] samreid commented on #322
I've been testing on iPad Air 2 "Dalton" which is running iOS 11.4.1.  I'm a bit confused because I thought iPad Air 1 was our lowest platform (and that's what I thought I was using) but was surprised to learn I have iPad Air 2 instead.  @KatieWoe or @arouinfar or @ariel-phet can you help clarify?

When I go use dev.66 Interference Screen, Sound + Particles, I'm getting 45FPS on iPad Air 2 "Dalton

[2019-01-23 15:20] samreid commented on #143
@kathy-phet can you please test https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.66/phet/wave-interference_en_phet.html and report if this problem is reduced on your platform now that the lattice resolution has been increased?

[2019-01-23 15:39] KatieWoe commented on #322
Leibniz is running iOS 12, it was upgraded when iOS 12 came out.  The simplified inventory reflects this, and I'll go in and change the full inventory.  We don't have any iPad Air 1's that I am aware of.  Our lowest device is Tycho, an iOS 9 iPad 2.  Beyond that, it is an iPad 4 with iOS 10.

[2019-01-23 15:44] KatieWoe commented on #321
Looks good on master @samreid

[2019-01-23 15:48] samreid commented on #321
Thanks, closing.

[2019-01-23 15:48] #321 closed

[2019-01-23 15:53] arouinfar commented on #322
I'm a bit surprised that the iOS 11.4 performance is so much better than the iOS 12 performance. @KatieWoe is Leibniz our only iOS 12 device?

[2019-01-23 15:54] KatieWoe commented on #322
We have one other.  Give me a minute to check it.

[2019-01-23 15:57] KatieWoe commented on #322
It seems ok on our other device.  I'm going to go troubleshoot Leibniz

[2019-01-23 15:57] arouinfar commented on #324
@samreid I think the team consensus was that Courier is a bit too strongly serifed and looks typewriter-y, which didn't look great in the TimerNode. The shifting digits aren't particularly harmful, so I think the Lucida Console/Arial combination is good enough.

[2019-01-23 15:57] #324 closed

[2019-01-23 16:02] arouinfar commented on #320
Thanks, that's what I also recall. @samreid let's leave things alone for 1.0. I'm not so keen on a sweep-it-under-the-rug hack, but I'll mark as deferred, in case you have some other thoughts about how it could be addressed in 2.0.  If nothing can be done for 2.0, that would also be fine with me.

[2019-01-23 16:39] KatieWoe commented on #322
From slack:

Further info: Confirmed that iPad Air 2 iOS 11 device in office did not show issue.  Issue still present in iPad Air 2 iOS 12, but not in iPad (2018) iOS 12 device.  After methods it seems like the behavior might be a bit better, but is still present.  See video.
https://drive.google.com/file/d/1zjiypySCLIr_S5nrVQWRj1O2It0OR8aT/view?usp=sharing

[2019-01-23 16:41] samreid commented on #322
Does the screen capture slow down the frame rate?  What is the reported FPS with `?profiler` (while not recording)?

[2019-01-23 16:54] rea-laura opened #325 "Hard to select positions on the slider"
<b>Test Device</b>

Chadwick

<b>Operating System</b>

Chrome OS 71.0.3578.127

<b>Browser</b>

Chrome 71.0.3578.127

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/264:

It is sometimes hard to click directly on a location on the slider to move the slider there. The slider pointer area seems so thin that it is difficult to get the cursor on it.

<b>Steps to Reproduce</b>

1

[2019-01-23 16:56] KatieWoe commented on #322
Not much if it does.  That's fairly representative.  With profiler it usually reads 59 or 60 fps, but when playing sound on Waves or Interference it drops to about 5 fps, or even 3 if using particles.  Checking the other iOS 12 device it drops to about 14 fps.

[2019-01-23 17:06] arouinfar commented on #319
Master looks good to me @samreid.

[2019-01-23 17:28] rea-laura opened #326 "Chromebook fonts too tall? Reload button overlap with slider panel"
<b>Test Device</b>

Chadwick

<b>Operating System</b>

Chrome OS 71.0.3578.127

<b>Browser</b>

Chrome 71.0.3578.127

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/264:
Reload button overlaps slightly with slider panel

<b>Steps to Reproduce</b>

1) open sim and go to "Slits" page
2) select the laser pointer
3) note that the bottom of the slits slider panel overlaps slightl

[2019-01-23 17:33] KatieWoe commented on #322
I decided to do a bit more profiler testing and saw that on my laptop there was no fps drop and on the iOS 11 it drops to anywhere from the high 30s to the low 50s, or more of a drop if on interference screen.  I think it may be an iOS 12 problem that our second device is better at handling.

[2019-01-23 17:35] arouinfar commented on #326
That's odd. This is what I see when using `?dev` on mac OS 10.13.6/latest Chrome.

![image](https://user-images.githubusercontent.com/8419308/51625473-7bd93300-1efa-11e9-94a4-1d28e6f9ffda.png)

[2019-01-23 17:38] rea-laura commented on #326
Interesting... I found it both in and out of full screen, and when resizing the window. It seems to keep the same amount of overlap no matter what I do to resize the sim.

[2019-01-23 17:42] KatieWoe commented on #243
For https://github.com/phetsims/QA/issues/264 I noticed this when dragging the end of the measure, rather than the measure itself.  It also catches the timer and wave examiner.

[2019-01-23 18:09] rea-laura commented on #326
iOS 10.14.2 latest chrome:
![screen shot 2019-01-23 at 11 06 20 am](https://user-images.githubusercontent.com/44005544/51627411-35d29e00-1eff-11e9-9041-9106d08c9c68.png)
Seems as though it only happened on the chrome book for whatever reason. I'll keep updating if I find it on anything else.

[2019-01-23 20:10] arouinfar commented on #326
@rea-laura can you load the sim with the ?dev query parameter on Chadwick and take a screenshot of the full screen (or sim window)?

[2019-01-23 22:15] samreid commented on #243
Good catch @KatieWoe, fix is pushed, can you please verify on phettest/master?

[2019-01-23 22:21] KatieWoe commented on #243
Looks good on master @samreid

[2019-01-23 22:31] samreid commented on #325
In https://github.com/phetsims/wave-interference/issues/148#issuecomment-423396629 it was requested that the slider track height be 1 pixel.  @arouinfar do you want to increase the slider track heights, or increase their pointer areas?  SUN/SliderTrack doesn't currently have support for increasing pointer area, but we could investigate it.

[2019-01-23 22:31] #243 closed

[2019-01-23 22:33] samreid commented on #326
Maybe Chromebook has slightly taller fonts than other platforms?  @arouinfar operating on that hypothesis, how do you want to proceed?

[2019-01-23 23:04] samreid commented on #326
I overlayed Mac/Chrome on the given screenshot to see the difference:  Chromebook is the lower one:

![image](https://user-images.githubusercontent.com/679486/51643063-84486280-1f28-11e9-97df-a749d3c1248e.png)

[2019-01-23 23:04] arouinfar commented on #326
Here's a side-by-side comparison of a Chromebook (Feynman) and MacBook.

Chromebook (left), MacBook Pro (middle), Overlap (right)
![image](https://user-images.githubusercontent.com/8419308/51642660-367f2a80-1f27-11e9-95c6-b37067376ea9.png)

The font sizes don't actually look different. Here are a few examples of what happens when I perfectly align some of the text in the sim. Somehow, the padding

[2019-01-23 23:08] arouinfar commented on #326
Unfortunately, it seems to be a general Chromebook issue, since @rea-laura first reported the issue on Chadwick, and the screenshots in https://github.com/phetsims/wave-interference/issues/326#issuecomment-457001204 are from Feynman.

[2019-01-23 23:10] KatieWoe commented on #326
@arouinfar don't know if you still need this but:
![pastedimage](https://user-images.githubusercontent.com/41024075/51643365-6af3e600-1f29-11e9-935b-627e6be3ad30.png)

[2019-01-23 23:13] arouinfar commented on #325
Thanks @rea-laura.

@samreid there's not exactly extra vertical space to go around, especially given the oddities in Chromebook layout described in #326. I don't think we should increase the height of the slider track. So long as the slider thumbs and tweakers are easily clickable/touchable (which they are), it's not really a usability concern, either.

[2019-01-23 23:13] #325 closed

[2019-01-23 23:22] arouinfar commented on #323
@samreid I'll go ahead and defer this for 1.0, but I think we should explore this option for 2.0:

[2019-01-24 00:13] KatieWoe opened #327 "CT running lint all task"
[code]

[2019-01-24 01:08] samreid commented on #322
@ariel-phet and @arouinfar do you want me to check out an iOS 12 iPad Air for investigation before RC.1?

[2019-01-24 01:17] samreid commented on #326
The overlap doesn't look great, but it doesn't seem pedagogically problematic--button is still visible and usable.  Perhaps leave it alone for this simulation and open a scenery issue about Chromebook font sizing?

[2019-01-24 01:21] samreid commented on #326
If we decide to investigate, a good first step seems to be to install the Chromebook font (Roboto?) on a development machine, update scenery to use that font by default, and try to reproduce the problem.

[2019-01-24 03:39] ariel-phet commented on #326
@samreid @arouinfar we are not putting the sim out with that overlap on chromebook

I think we can get the pixels we need with a few minor tweaks.
1. Shrink the panel vertically one pixel or so towards the Frequency label
2. Move the Separator line below sources and the check boxes underneath up tighter to the sources
3. Done below (original then tweaked) I think would buy enough pixels to remove

[2019-01-24 03:52] ariel-phet commented on #322
@samreid my suggestion would be to look at this on campus on Thursday during when design time meeting would be (since you are not on the agenda). See what you can find at that time on campus and lets discuss. We can also plan to finish dev meeting early, so perhaps you and @jonathanolson can look together.

[2019-01-24 04:08] samreid commented on #326
I tried installing and specifying Roboto, but it didn't seem to work.  This patch simulates the problem pretty well on Mac/Chrome:

[code]
That is, each text bounds is dilated by about 2 view units vertically.  I'll use this to apply the changes above.

[2019-01-24 04:17] samreid commented on #326
With that test harness, I adjusted the variables recommended in https://github.com/phetsims/wave-interference/issues/326#issuecomment-457055532

Specifically, I reduced the control panel y margin from 7 to 4 and the separator top spacing from 12 to 8 and it seems OK in my test harness.

It looks like this with the test harness, which hopefully mimics the Chrome problem well:

![image](https://user

[2019-01-24 04:20] ariel-phet commented on #326
@samreid that looks acceptable to me feel free to commit and push.

[2019-01-24 04:37] pixelzoom commented on #326
Re the patch in https://github.com/phetsims/wave-interference/issues/326#issuecomment-457060174...  You'd need to apply the same patch to RichText and any other text Nodes that aren't a subtype of Text.

[2019-01-24 04:57] ariel-phet commented on #318
Played a fair bit, overall things are looking good. Closing

[2019-01-24 04:57] #318 closed

[2019-01-24 16:08] KatieWoe commented on #326
@pixelzoom @samreid this issue seems resolved on Chadwick

[2019-01-24 16:10] samreid commented on #326
Thanks, I'll close this sim-specific issue and open a scenery issue for potential follow-up.

[2019-01-24 16:10] #326 closed

[2019-01-24 16:23] samreid commented on #322
Slack conversation with @KatieWoe

Kathryn Woessner [8:51 AM]
I saw you won't be here today.  If you wanted to look at https://github.com/phetsims/wave-interference/issues/322 we could try a zoom call later today.

Sam Reid [8:55 AM]
Sounds good, thanks.  My first thought was going to be commenting out different parts of the code to see what’s taking the most time.

Kathryn Woessner [8:55 AM]
Let

[2019-01-24 16:25] samreid commented on #322
Discussion of tests mentioned in preceding comment:

1. dev.56 (no temporal mask, latticeSize=101): slow frame rate
2. dev.62 (temporal mask, latticeSize=101): slow frame rate
3. dev.67 ?skipLatticeCanvasNode: 5fps
4. dev.67 ?latticeSize=50: 8-10fps

Is the performance problem only for the Sound scene?  It may be related to animating or rendering the sound particles.

[2019-01-24 16:41] samreid commented on #322
@KatieWoe can you please test these and report frame rates?

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.68/phet/wave-interference_en_phet.html?skipSoundParticlesStep&profiler

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.68/phet/wave-interference_en_phet.html?skipSoundParticlesRender&profiler

https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.68/p

[2019-01-24 16:52] KatieWoe commented on #322
1. 18 fps but then drops to 3 fps.  Noticeable either way.  1 speaker and 2.
2. Quite smooth looking 60 fps.  Particles do not appear though.
3. Quite smooth 60 fps.  Same as 2.

[2019-01-24 16:56] samreid commented on #322
It seems the slow part is rendering the particles, which is this code:

[code]

@jonathanolson any ideas how to optimize that?  Or should we go for WebGL?  If I go for WebGL, should I use SCENERY/Image or SCENERY/WebGLNode?

[2019-01-24 17:00] samreid commented on #322
I slacked @ariel-phet:

[2019-01-24 17:08] jonathanolson commented on #322
For micro-optimization, turning the forEach/callback into an actual for loop might help.

Using Image (with renderer:webgl) seems like hopefully the easier route that might be good to investigate first. WebGLNode only makes sense if that is not feasible, or gives bad performance.

[2019-01-24 17:14] samreid commented on #322
This version uses for loop instead of forEach: https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.69/phet/wave-interference_en_phet.html?profiler

@KatieWoe can you please test its performance and report frame rate?

[2019-01-24 17:19] KatieWoe commented on #322
3-15 fps looks laggy

[2019-01-24 18:11] samreid commented on #322
Sam Reid [11:03 AM]
Can you please try https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.70/phet/wave-interference_en_phet.html?profiler and report frame rate? Do the particles leak out of the box?

Kathryn Woessner [11:08 AM]
Around 60 FPS and they are going out of the box

I asked on slack dev-public:

[2019-01-24 21:07] samreid commented on #322
For https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.73/phet/wave-interference_en_phet.html

@KatieWoe reported:

@ariel-phet checked the behavior and reported:

This workaround is a pretty messy hack.  It uses a technology `webkitClipPath` that as far as I know we have never used like this.  It also depends on scenery internal details, for the naming of the webgl layer, and it assum

[2019-01-24 21:25] KatieWoe commented on #285
Kathryn Woessner, Liam Mulhal, Jacob Romero, Kelly Wurtz, Luara Rea, and Megan Lai

[2019-01-24 21:31] samreid commented on #285
Credits updated in the preceding commit.  @KatieWoe can you please double check?  If all is well, please close.

[2019-01-24 21:47] KatieWoe commented on #285
Looks good

[2019-01-24 21:47] #285 closed

[2019-01-24 22:21] ariel-phet commented on #322
@samreid if the workaround is stable (even if hacky) it is fine for 1.0

This sim will be continued to be worked on, and a longer term solution should be discussed, but not for RC.1

If you feel the workaround is acceptable (it certainly looked reasonable to me from a user perspective) and is not causing any major bugs, I think we should roll with it for 1.0 and then have a longer discussion once

[2019-01-24 22:46] arouinfar opened #328 "Screenshots"
As pointed out in https://github.com/phetsims/QA/issues/267, this sim needs screenshots for 1.0.

[2019-01-24 23:40] arouinfar commented on #328
Screenshots for 1.0 have been committed.

I am reserving alt3 for the Diffraction screen, which will be included in version 2.0.  Leaving this issue open, but marking `status:on-hold` until we near 2.0.

[2019-01-24 23:52] samreid commented on #322
I asked @jbphet and @zepumph to take a look and they expressed concern that this is a nonstandard solution and looks pretty fragile.  We were interested in the idea of changing the canvas size to fit, or a better way to monitor the bounds.  And we agreed it would be great for @jonathanolson to discuss before we take SHAs for RC.1.

[2019-01-25 01:49] samreid opened #329 "branch: webglnode"
For #322

[2019-01-25 16:35] samreid commented on #322
I discussed this with @ariel-phet and @KatieWoe on zoom this morning.  Our plan is that @KatieWoe will perform more thorough testing of the approach in dev.73, testing things like rotating the device, sleep/waking the device, and generally more testing to see if the approach is stable.  If there are minor concerns, they will be reviewed with @ariel-phet to see if they are acceptable.  If that phas

[2019-01-25 17:11] samreid commented on #322
I slightly refactored and published https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.74/phet/wave-interference_en_phet.html.  @KatieWoe this doesn't invalidate prior testing on dev.73, but can you please use dev.74 for any additional dev testing?

[2019-01-25 21:08] KatieWoe commented on #322
@samreid @ariel-phet After about 2 hours of testing, both Liam and I saw this phenomenon on both the waves and interference screens, at least 3 times:
![eea55c61-78e2-4ad6-8db3-a088cf47981f](https://user-images.githubusercontent.com/41024075/51772600-a0bfd880-20a9-11e9-8060-15fd005b7d83.png)
How far off the particles are varies each time it happens.  Hitting the orange reset button does not solve

[2019-01-25 21:11] KatieWoe commented on #322
May not be connected, but also saw some variant of https://github.com/phetsims/wave-interference/issues/319.  If you have the continuous wave going with Both particles and switch to pulse and fire a pulse, end of the continuous wave disappears too soon.

[2019-01-25 23:23] samreid commented on #319
@KatieWoe reported in https://github.com/phetsims/wave-interference/issues/322#issuecomment-457729922

[2019-01-25 23:25] samreid opened #330 "Sound particles temporarily smear when using renderer: 'webgl'"
From https://github.com/phetsims/wave-interference/issues/322#issuecomment-457728933

@KatieWoe said:

![3e3443c1-bdf1-4e2b-a8af-1bb317e961b6](https://user-images.githubusercontent.com/41024075/51773000-b08bec80-20aa-11e9-80ad-9c9b91182ac9.png)

[2019-01-25 23:37] samreid commented on #330
In the conversation in https://github.com/phetsims/wave-interference/issues/322#issuecomment-457769622 @KatieWoe and @ariel-phet indicated that this bug isn't critical to fix before publication.

[2019-01-27 03:15] samreid commented on #330
I reproduced this problem on Chrome with this change:

[code]

1. Choose "Sound" scene
2. Let it animate a bit.
3. Pause the sim
4. Select "Particles"

@jonathanolson is best qualified to help understand what is happening here.  @jonathanolson any ideas?

[2019-01-28 21:18] samreid opened #331 "Enable clipping for WebGL"
In https://github.com/phetsims/wave-interference/issues/322 we added a WebGL layer to attain reasonable performance, but to avoid complication, we omitted the clip area.  This should be restored (not for 1.0).

[2019-01-28 21:19] samreid commented on #322
Clipping removed, and I opened a new issue about restoring the clip area (at lower priority).  Closing.

[2019-01-28 22:18] samreid commented on #319
In the commit, I simplified the pruning logic and expanded the base set of deltas to 10.  If the user taps rapidly on the continuous wave on/off button, you can still create incorrect behavior, but we previously determined this is acceptable.

[2019-01-28 22:18] #319 closed

[2019-01-29 16:23] KatieWoe commented on #331
While testing https://github.com/phetsims/QA/issues/274, I saw that on iPads, even when clipping was off, it was on when taking a screenshot through the phet menu.  The second image is the sim, the first is the screenshot.  Cross referencing https://github.com/phetsims/scenery/issues/937.
![94400227-6bf9-4b9b-868b-cf3414b6dec8](https://user-images.githubusercontent.com/41024075/51922961-46739000-2

[2019-01-29 16:24] KatieWoe opened #332 "Clipping in screenshots"
While testing https://github.com/phetsims/QA/issues/274, I saw that on iPads, even when clipping was off, it was on when taking a screenshot through the phet menu.  The second image is the sim, the first is the screenshot.  Cross referencing https://github.com/phetsims/scenery/issues/937 and https://github.com/phetsims/wave-interference/issues/331.  Likely low priority.
![94400227-6bf9-4b9b-868b-c

[2019-01-29 16:27] ariel-phet commented on #332
Definitely deferred

[2019-01-29 17:34] arouinfar commented on #332
Nice find @KatieWoe!

[2019-01-29 20:53] lmulhall-phet opened #333 "Moving amplitude to 0 repeatedly results in waves being deleted, buggy-looking waves"
For https://github.com/phetsims/QA/issues/274. Seen on multiple devices. Propagating waves can be "deleted" by moving amplitude to 0 repeatedly.

![issue](https://user-images.githubusercontent.com/31285590/51939589-15a65180-23cd-11e9-93fd-5528c3869bec.gif)

[2019-01-29 22:01] samreid commented on #333
Setting the wave amplitude to zero has the same effect on the temporal mask as turning off the wave generator.  Hence it suffers from the same buggy behavior as described in https://github.com/phetsims/wave-interference/issues/319#issuecomment-458324396.  I'm not sure how this could be addressed, leaving assigned to @arouinfar and @ariel-phet to discuss and prioritize.

[2019-01-29 22:06] ariel-phet commented on #333
Deferring for now, we will reevaluate after 1.0. However, it seems like the action required to cause this bugginess is not pedagogically productive anyhow, so we might just leave as is.

[2019-01-29 22:47] samreid opened #334 "QA credits should be alphabetical"
From slack:

Kathryn Woessner [3:43 PM]
Not sure if there's an issue for this, so: QA for all add (if not there already): Steele Dalton, Megan Lai, Liam Mulhall, Laura Rea, Jacob Romero, Katie Woessner, and Kelly Wurtz
Credits

Sam Reid [3:44 PM]
Checking…
Got it.  It is in this order: Katie Woessner, Steele Dalton, Megan Lai, Liam Mulhall, Laura Rea, Jacob Romero, Kelly Wurtz.  Is that OK?

Kathr

[2019-01-29 22:51] arouinfar commented on #334
@samreid while you're in the credits, can you make sure the other categories are also alphabetized?

[2019-01-29 22:56] samreid commented on #334
I thought the policy was to put the current lead first, then others alphabetical.  Here's the current values:

[code]

Let me know what changes you recommend.

[2019-01-29 22:57] arouinfar opened #335 "Slits screen icon should have plane wave"
For https://github.com/phetsims/QA/issues/274.

@KatieWoe noticed that the screen icon has a spherical wave approaching the barrier. It would be more appropriate to show a plane wave, so I've updated the assets.

@samreid you can find the updated assets in the [sim design folder](https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYdWdmeGo0QVhvMUk) on Drive.

[2019-01-29 23:09] arouinfar commented on #334
@samreid looks like lead design credits are a bit all over the place. Some put HTML5 lead first, some alphabetize, and some specify codebase in parentheses after the name. Leaving things alphabetical seems reasonable to me.

[2019-01-30 03:46] samreid commented on #334
According to CreditsNode.js this convention apparently applies to design and software development only: https://github.com/phetsims/joist/blob/4768ca48781f7c92aedbeb7656a98d09ec2a0426/js/CreditsNode.js#L62-L103

I'll alphabetize QA.

[2019-01-30 03:48] samreid commented on #334
I'd prefer to list @arouinfar first in lead design, since she is the lead designer *for this version*.  However, I will not do so until cleared by @ariel-phet or @arouinfar.  Let me know if that's OK.

[2019-01-30 03:51] samreid commented on #334
It looks like team was already alphabetical.

[2019-01-30 03:58] samreid commented on #335
I committed the new icon and pushed to 1.0 branch.  I also merged to master so it can be tested on phettest.  @arouinfar do you mind reviewing on phettest?

[2019-01-30 05:12] arouinfar commented on #200
Teacher Tips have been completed.

[2019-01-30 05:12] #200 closed

[2019-01-30 05:13] arouinfar opened #336 "LoL Icons/Descriptions"
For #1

[2019-01-30 05:15] arouinfar opened #337 "Create Sim Primer"
For #1

- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

It's probably best to hold off on this until the Diffraction screen has been completed, so marking as `status:on-hold` until we're closer to 2.0.

[2019-01-30 05:15] ariel-phet commented on #334
@samreid yes, please put @arouinfar first in lead design

[2019-01-30 05:19] arouinfar commented on #335
👍

[2019-01-30 05:19] #335 closed

[2019-01-30 15:17] samreid commented on #334
My mistake, it looks like `Diana L\u00f3pez Tavares` should be alphabetized on T rather than L.  I'll push shortly.

[2019-01-30 15:30] samreid commented on #334
OK that's pushed.  Since credits changes (this issue) and icon changes (#335) were the only changes since RC.1, I decided to publish these changes as RC.2.  @arouinfar or @ariel-phet do you want to briefly check the credits and icon changes?
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-rc.2/phet/wave-interference_en_phet.html

Anything else before this is published to the PhET websit

[2019-01-30 16:45] arouinfar commented on #334
Well, I briefly went down the rabbit hole of figuring how one should alphabetize double surnames. The Chicago Style Manual says that in the absence of a hyphen, a double last name would be alphabetized by the 2nd last name (Tavares). However, APA style says that double last names should always be alphabetized by the first last name (López), regardless of whether it has a hyphen or starts with some

[2019-01-30 17:03] samreid commented on #334
In the commit, I rearranged the credits, here is RC.3 that can be used for verification.
https://phet-dev.colorado.edu/html/wave-interference/1.0.0-rc.3/phet/wave-interference_en_phet.html

Anything else before Wave Interference 1.0 is published to the PhET website?

Also, the Area Model suite has other occurrences where López Tavares is alphabetized as T in the credits.  Should we create an issue

[2019-01-30 17:24] ariel-phet commented on #334
@samreid that is Diana's full name, so no reason not to alphabetize that way. Alphabetizing the credits list is of very minor concern.

[2019-01-30 17:42] samreid commented on #334
Instructions unclear.  Do you want alphabetized as "T" or "L"?  Do you want me to change this and publish RC.4?  Anything else before publishing Wave Interference?

[2019-01-30 18:08] ariel-phet commented on #334
@samreid credits fine as is in RC.3. Please go ahead and publish

[2019-01-30 18:21] samreid commented on #334
Thanks, I'll close and publish.  Up to @arouinfar if she wants to do anything for Area Model.

[2019-01-30 18:21] #334 closed

[2019-01-30 18:32] samreid opened #338 "Publish 1.0"
In https://github.com/phetsims/wave-interference/issues/334 @ariel-phet said:

And @arouinfar gave a 👍

I haven't published a 1.0 sim for a while and wasn't sure if other steps need to be done first, such as preparing the screenshots.  I checked in the master checklist, and it showed:

![image](https://user-images.githubusercontent.com/679486/52003643-5a3ff480-2482-11e9-97c1-3e77a4274726.png)

and

[2019-01-30 18:35] samreid commented on #338
I noticed there is already a screenshot in "assets", added by @arouinfar in 69526f9c31c6d40df0330c64b456466afc11be43, but it had the old icon for the 3rd screen.

[2019-01-30 18:54] arouinfar commented on #338
@samreid nothing in the Design>Pre-Publication portion of checklist is publication-blocking. I usually  check those things off as I make 1.0 visible.

As for the screenshots, I can retake then with the updated screen icons, but I won't have time to do that before my next meeting. Earliest delivery would be 1:30. Not sure if that's a dealbreaker or not. I still have #328 open for 2.0, so alternativ

[2019-01-30 19:06] KatieWoe commented on #238
@samreid @ariel-phet
Firefox 65 was just released and I checked this issue out of curiosity.  It does seem to have resolved itself (I only looked for a few seconds).  Would you like this issue closed?

[2019-01-30 19:35] samreid commented on #338
1:30pm or thereabouts sounds great to me.  I'll hold off on deploying until I hear from you.

[2019-01-30 19:40] samreid commented on #238
I tested on Mac/Firefox 65 and I also don't see the problem.  I think it would be OK to close this issue, but let's double check with @ariel-phet first.

[2019-01-30 20:35] arouinfar commented on #328
According to @phet-steele:

I followed his advice, and the above commit appears to have done the trick. Screenshots are ready for 1.0 @samreid.

[2019-01-31 16:01] jonathanolson commented on #330
Not sure quite yet, but it definitely looks like something is preventing the gl.clear from happening, so it is just drawing on top of what was there before.

[2019-01-31 17:57] ariel-phet commented on #238
Agreed, closing

[2019-01-31 17:57] #238 closed

[2019-01-31 18:55] samreid commented on #98
Published, closing.

[2019-01-31 18:55] #98 closed

[2019-01-31 19:21] samreid opened #339 ""3rd party libraries" and "thanks to" are not correct"
@ariel-phet pointed out that the "3rd party libraries" and "thanks to" are not correct for Wave Interference.  A third-party-report step may need to be run again.

![image](https://user-images.githubusercontent.com/679486/52079597-2aaced00-2553-11e9-812f-0ee7494c7601.png)

[2019-01-31 19:22] samreid commented on #339
@mattpen or @jonathanolson do you know what step fills in those parts on the website?  I'm not sure how to fix this.

[2019-01-31 19:34] samreid commented on #339
Elevating priority so that our sponsor's names will be there when they look.

[2019-01-31 21:05] samreid commented on #339
@arouinfar is this something that can be input through the administration interface?

[2019-01-31 21:07] samreid commented on #339
The third-party-licenses.md file was updated during deploy in this commit: https://github.com/phetsims/sherpa/commit/590adc76c52948798d313fbf129d7b938ccd4bb1

[2019-01-31 21:37] arouinfar commented on #339
@samreid I can edit the "Third-party Libraries" and "Thanks To" fields directly in the administration interface. However, I'm pretty sure third-party libraries should automatically populate. I'm not sure if manually adding them would end up in duplicated results.

For "Thanks to", I'm happy to add acknowledgements for STROBE and/or Google.org. There's not currently a corresponding "thanks" section

[2019-01-31 21:57] arouinfar commented on #339
On Slack:

How should STROBE be credited in “Thanks to”? I can think of a few options:
STROBE
STROBE NSF Science and Technology Center
STROBE NSF Science and Technology Center on Real-Time Functional Imaging

I think the second one would be best

I added STROBE NSF Science and Technology Center to the "Thanks To" section of the sim page, but @samreid should probably add them to the sim credits too

[2019-01-31 22:07] samreid commented on #339
Like this?

![image](https://user-images.githubusercontent.com/679486/52088721-e711ad80-2569-11e9-8ed3-00ada69456e4.png)

[2019-01-31 22:08] samreid commented on #339
The pendulum lab example has a sentence.  Do you want something more like "Thanks to STROBE NSF Science and Technology Center for their support"?

[2019-01-31 22:17] mattpen commented on #339
Yes, they should.  I'll run that step manually tonight.  This could be avoided by completing phetsims/perennial#106

[2019-02-04 17:14] arouinfar commented on #339
@samreid let's go with "Thanks to STROBE NSF Science and Technology Center for their support".

Looks like the 3rd-party libraries have been populated on the sim page, so unassigning @mattpen @jonathanolson.

[2019-02-04 18:46] arouinfar commented on #339
Thanks @samreid. On second thought, perhaps we should use the more verbose version of STROBE's name, as we did in the email announcement. Let's also include a period at the end of the sentence. Can you update the text to the following:

"Thanks to the STROBE NSF Science and Technology Center on Real-Time Functional Imaging for their support."

@ariel-phet interfaces with the folks at STROBE, so hi

[2019-02-04 18:50] samreid commented on #339
Text updated on 1.0 and master, @arouinfar please review on phettest (make sure line break is OK).

[2019-02-04 18:59] arouinfar commented on #339
@samreid line break is fine, but it might look a bit better to put the break between "Imaging" and "for", so the second line has a bit more text. That's a pretty nit-picky suggestion, so up to you.

[2019-02-04 19:31] samreid commented on #339
We do not have control over the positioning of the line breaks, but a shorter sentence probably wouldn't incur a line break.  @arouinfar any thoughts or changes before maintenance release?

[2019-02-04 19:46] arouinfar commented on #339
Understood @samreid. I think it's better to use STROBE's full name when acknowledging them in the credits, so the line break can stay where it is.

[2019-02-04 20:08] arouinfar commented on #336
Icons & descriptions are up on Drive, and WI has been delivered to LoL.

[2019-02-04 20:08] #336 closed

[2019-02-04 20:09] samreid commented on #339
I published an RC here:
https://phet-dev.colorado.edu/html/wave-interference/1.0.1-rc.2/phet/wave-interference_en_phet.html

The only change in the maintenance branch of the wave-interference repo since 1.0 is the credits "thanks" change, but it would be good to have someone else spot check the credits change and make sure nothing unexpected happened.  @arouinfar or @ariel-phet or @KatieWoe can yo

[2019-02-04 20:15] arouinfar commented on #1
@ariel-phet the remaining items are yours. We also need an additional, pared-down checklist for 2.0.

[2019-02-04 20:23] arouinfar commented on #339
@samreid the credits dialog looks good. I lightly tested each screen, and nothing seems disturbed. If the only delta since 1.0 is the edits to the credits, I don't think we need to be worried about further testing.

[2019-02-04 22:12] samreid commented on #339
This change is published as 1.0.1, closing.

[2019-02-04 22:12] #339 closed

[2019-02-05 17:45] pixelzoom opened #340 "no need to replace {{value}} with {0}"
See https://github.com/phetsims/scenery-phet/issues/446#issuecomment-460726349

In ISLCObjectControlPanel.js, this:

`90 valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { value: '{0}', units: unitString } ),`

should be changed to this:

`90 valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { units: unitString } ),`

[2019-02-06 15:18] samreid commented on #308
This problem is significantly reduced after we increased the lattice size:

![image](https://user-images.githubusercontent.com/679486/52351085-3c751100-29e7-11e9-9444-959a42c6427f.png)

This indicates the problem is due to the discretization on the lattice.  As an experiment, I tried lattice size = 501.  The sim ran slowly but the leading wavefront had nearly the same amplitude as subsequent waves

[2019-02-06 15:20] samreid commented on #256
Here's how the same scene looks after we increased the lattice size:

![image](https://user-images.githubusercontent.com/679486/52351453-06845c80-29e8-11e9-8213-3c66c8e27d6f.png)

@arouinfar does this look OK to you?  Can this issue be closed?

[2019-02-06 16:04] arouinfar commented on #256
@samreid I think the increased lattice size adequately addresses the original issue. However, there should probably be a separate issue for WebGL investigation for 2.0, since I know it's come up a few times now.

[2019-02-06 16:20] arouinfar commented on #308
Since the dampening of the trough is more noticeable for closely-spaced wavefronts, here's the worst-case scenario:

![image](https://user-images.githubusercontent.com/8419308/52355229-3420d400-29ef-11e9-8f0a-4cd81de14aa4.png)

Compare that to a fully propagated wave (2nd wavefront is at the right edge of lattice):

![image](https://user-images.githubusercontent.com/8419308/52355390-78ac6f80-29ef-

[2019-02-06 16:52] samreid commented on #66
Reopened based on remarks in https://github.com/phetsims/wave-interference/issues/256#issuecomment-461079082

[2019-02-06 16:53] samreid commented on #256
I reopened https://github.com/phetsims/wave-interference/issues/66 and will close this particular issue.

[2019-02-06 16:53] #256 closed

[2019-02-14 18:04] samreid opened #341 "SoundParticleCanvasLayer.js and SoundParticleImageLayer.js have copied code"
@pixelzoom pointed out that SoundParticleCanvasLayer.js and SoundParticleImageLayer.js have copied code, they should be refactored to share code so we don't accidentally end up with a situation where things look different on one platform.

[2019-02-18 22:27] pixelzoom commented on #341
Consider encapsulating the look of sound particles in a new `SoundParticleNode`, similar to `GAS_PROPERTIES/ParticleNode`.

[2019-02-19 01:31] pixelzoom opened #342 "StepButton can enable/disable itself"
Noted while doing something similar in Gas Properties.

In TimeControls.js:

[code]

The listener for `model.isRunningProperty` is unnecessary.  StepButton is capable of observing `model.isRunningProperty` itself:

[code]

[2019-02-19 01:38] pixelzoom commented on #342
See also https://github.com/phetsims/scenery-phet/issues/466.

[2019-02-21 00:28] arouinfar commented on #9
The current design for the Diffraction screen does not include a diffraction grating, so I think we can close this issue.

[2019-02-21 00:28] #9 closed

[2019-02-27 12:43] samreid commented on #342
Implemented and tested, and it seems to be working nicely.  I think it's safe to close, but @pixelzoom feel free to reopen/double check if you wish.

[2019-02-27 12:43] #342 closed

[2019-02-27 21:13] oliver-phet opened #343 "User suggestion: Speaker option"

[2019-02-27 22:13] arouinfar commented on #343
@oliver-phet adding sound is a feature we've considered, but deferred for 1.0, see #80. I'll move this suggestion to that issue.

[2019-02-27 22:13] #343 closed

[2019-02-27 22:13] arouinfar commented on #80
In #343 @oliver-phet reported a related user request:

[2019-03-01 18:29] KatieWoe opened #344 "CT: Issue with the licenses for media types"
[code]

[2019-03-01 18:30] samreid commented on #344
Thanks, I corrected this in https://github.com/phetsims/wave-interference/commit/71e7c5277f55b4a456213580bfefb98a78f52295, closing for now.

[2019-03-01 18:30] #344 closed

[2019-03-04 03:19] samreid opened #345 "branch: js-kiss-fft2"
We have been using turbomaze fft implementation, but it would be good to compare with others to evaluate: speed, results and API.  I'll create a branch for testing js-kiss-fft2

[2019-03-04 03:24] samreid commented on #345
I added a prototype, the decoding of the FFT isn't quite right yet.  Also, this relies on sherpa/lib/js-kiss-fft-a.out-1.0.0.js and sherpa/lib/js-kiss-fft-1.0.0.js being checked in.

This approach can handle 512x512 whereas turbomaze fails after 256x256, it seems faster than turbomaze.  However, I don't understand the decoding and have a `<canvas>` on the HTML to help figure it out.

[2019-03-04 03:57] samreid commented on #345
After the above commit, I'm seeing this result:

![image](https://user-images.githubusercontent.com/679486/53709704-e08b8580-3df6-11e9-8208-f1d4b83bdd86.png)

Still some problem with decoding the data, not sure what I'm doing wrong.

[2019-03-04 04:01] samreid opened #346 "branch: imageprocessing-labs"
Here's a MIT JS FFT 2D library: https://github.com/wellflat/imageprocessing-labs, we should compare it to turbomaze and kiss-fft.

[2019-03-04 04:49] samreid commented on #346
The results of turbomaze and imageprocessing-labs are indistinguishable, except for a "crease" the latter shows--the left half of the matrix is shifted down by a pixel.

[2019-03-04 04:52] samreid commented on #346
Here are milliseconds for 512x512 on Mac Chrome:

375 turbomaze
180 imageprocessing

386 turbomaze
203 imageprocessing

370 turbomaze
183 imageprocessing

[2019-03-04 04:55] samreid commented on #346
For 256x256, imageprocessing takes around 30% as long:

[code]

[2019-03-11 15:38] samreid opened #347 "Compare performance of imageprocessing-labs and turbomaze"
I've written adapter for the 3rd party 2d FFT imageprocessing-labs and turbomaze.  Initials tests indicate imageprocessing-labs is higher performance but I would like to quantify that.

Mac/Chrome requirejs 256x256 TM | IP (milliseconds)
59 21
76 21
58 20
61 21
54 19

Mac/Firefox requirejs 256x256
124 15
38 15
94 22
37 15
88 25
39 16

[2019-03-11 16:32] samreid commented on #347
Using ?profiler to report these times on iPad Air 2 on a built version with 256x256, I'm seeing times like
215 18
220 27
204 17

[2019-03-11 16:34] samreid commented on #347
Running imageProcessing Labs alone on iPad Air 2 at 256x256 on a built version gives around 20FPS.  That seems good enough to proceed.

[2019-03-11 16:38] samreid commented on #347
2FPS running turbomaze on iPad AIr 2 at 256x256 built version (with a loop to map turbomaze complex => dot complex).

[2019-03-11 16:44] samreid opened #348 "There is a "seam" in the result from imageprocessing-labs 2D fft"
I observed a vertical "seam" in the middle of the FFT transform result:

![image](https://user-images.githubusercontent.com/679486/54141003-707a9200-43ea-11e9-9782-a7daa1a0ec76.png)

I reviewed issues in the imageProcessing labs repo and thought https://github.com/wellflat/imageprocessing-labs/issues `#1` may be related, but it's unclear.  I've intentionally left that unlinked so our issue won't s

[2019-03-11 16:47] samreid commented on #348
Note: I've been using turbomaze `Fourier.shift( result, MATRIX_DIMENSIONS );` and it is likely incompatible with imageprocessing-labs output.  Note the unshifted results look like this:

![image](https://user-images.githubusercontent.com/679486/54141236-e7178f80-43ea-11e9-8486-c93fbfbfe8d1.png)

As noted in https://www.cs.cmu.edu/afs/andrew/scs/cs/15-463/2001/pub/www/notes/fourier/fourier.pdf

[2019-03-11 17:19] samreid commented on #348
Fixed in preceding commits.  I've marked TODOs for reusing memory instead of generating garbage, closing.

[2019-03-11 17:19] #348 closed

[2019-03-11 17:35] kathy-phet opened #349 "Improve interference from "reflection" in single wave light screen for v2"
When we just have one source in the first or second screens, the "reflection" or lack of complete absorption that is happening on the far right of the lattice is causing interference to be visible on the light screen. I would like to spend some time investigating options for reducing this for this v2 work (see oscillatory behavior here). Can the model be tweaked so that after the wave has propogat

[2019-03-11 21:03] arouinfar commented on #139
The current design has five radio options for different diffraction targets. Mockups can be found in the design doc.

1. Circle - adjustable diameter (or major axis) and eccentricity
2. Square - adjustable length and width
3. Circle & Square - adjustable diameter/side length for each
4. 4x4 Lattice of Circles - adjustable diameter, spacing between circles, and disorder (described below)
5. Waving

[2019-03-11 21:04] arouinfar commented on #139
Assigning to @samreid for review/implementation. Please let me know if you have any questions, or would like to discuss over zoom.

[2019-03-11 21:09] arouinfar commented on #99
The design for the diffraction screen has been discussed in a few design meetings now, and the design is specified in the design doc. Now that #139 has been addressed, I don't think there is anything outstanding that would require this issue to remain open.

[2019-03-11 21:09] #99 closed

[2019-03-11 21:23] arouinfar commented on #349
@samreid is it possible that increasing the lattice size in https://github.com/phetsims/wave-interference/issues/315 could be the culprit here?

The apparent interference pattern in screen on Waves was previously discussed/addressed in https://github.com/phetsims/wave-interference/issues/171 and https://github.com/phetsims/wave-interference/issues/197. The brightness of the screen has also been ex

[2019-03-11 21:28] arouinfar commented on #349
Sorry for the potato quality, but here's a comparison of dev.61 (top) and rc.2 (bottom).

![dev 61-screen](https://user-images.githubusercontent.com/8419308/54159246-2d341980-4412-11e9-9526-91d0c45ce749.gif)
![rc 2-screen](https://user-images.githubusercontent.com/8419308/54159247-2dccb000-4412-11e9-9410-955d93f84521.gif)

[2019-03-12 02:37] samreid commented on #347
ImageProcessing labs outperforms Turbomaze and I got the quadrants swapping working, closing.

[2019-03-12 02:37] #347 closed

[2019-03-12 02:42] samreid commented on #346
Branch merged to master and deleted, closing.

[2019-03-12 02:42] #346 closed

[2019-03-12 02:45] samreid commented on #345
I'm going to stash the latest version of DiffractionModel from the branch in case we ever need to go back to it and delete the branch:

<details>

[code]

</details>

[2019-03-12 02:46] samreid commented on #345
Branch deleted, closing.

[2019-03-12 02:46] #345 closed

[2019-03-14 15:53] KatieWoe opened #350 "CT r.alignChildren is not a function"
[code]

[2019-03-14 15:56] samreid commented on #350
Thanks @KatieWoe I pushed a proposed fix, closing for now.

[2019-03-14 15:56] #350 closed

[2019-03-14 16:41] pixelzoom opened #351 "check phet.chipper.queryParameters.webgl first"
Non web-gl sims can experience a pause on MacBook due to GPU switching, see https://github.com/phetsims/scenery/issues/621

In WaveScreenView:

[code]

You need to check `phet.chipper.queryParameters.webgl` first if you want to prevent `Util.isWebGLSupported`, which is the scenery test that causes the GPU switching.

[2019-03-14 16:42] pixelzoom commented on #351
You might also want to check `platform.mobileSafari` before doing `Util.isWebGLSupported`.

[2019-03-18 03:07] samreid opened #352 "Update to use new NumberControl API"
In https://github.com/phetsims/scenery-phet/issues/451 the NumberControl API was changed, and the Slits screen control panel went from looking like this:

![image](https://user-images.githubusercontent.com/679486/54504240-6aa81380-48f8-11e9-82a1-1151528605af.png)

to looking like this:

![image](https://user-images.githubusercontent.com/679486/54504261-87444b80-48f8-11e9-8d5b-4de558d2b9d5.png)

Th

[2019-03-18 23:27] samreid opened #353 "What should the default wavelength be for the diffraction screen?"
The default value for screens 1-3 is the center of the frequency spectrum, which is 511nm.

![image](https://user-images.githubusercontent.com/679486/54570080-d3e46100-49a2-11e9-8a4b-6a8eb020274a.png)

The design doc specifies 550nm, which is a round number but is a little more washed out and noticeably different than the other screens:
![image](https://user-images.githubusercontent.com/679486/545

[2019-03-19 03:11] samreid opened #354 "How should we implement the case where the aperture width is much larger than the wavelength?"
The design doc said:

<img width="948" alt="image" src="https://user-images.githubusercontent.com/679486/54577476-9cd17800-49c1-11e9-9a75-f76f9fb8ac02.png">

At a recent design meeting, I asked how this might be implemented, and we agreed to see how the existing FFT algorithm would handle it, then we could decide whether additional modifications are necessary.

I finished implementing correct mode

[2019-03-22 14:11] samreid commented on #354
@kathy-phet reviewed the behavior yesterday and said it might be acceptable.  I indicated that the implementation will be simplest if we do not need to add an extra postprocessing step for this part.  It seems like it warrants further discussion.

[2019-03-22 14:25] samreid commented on #8
iPad Air 2 running a built version with ?screens=4 is currently giving 35fps for circle/square scenes.  6fps for the circle-diamond scene.  6fps for the lattice disorder scene.  16fps for the waving girl scene.

We moved to a faster FFT implementation in #346 which likely explains most of these speed-ups.  Based on design considerations, we will not be able to use image processing to simulate the

[2019-03-22 14:25] #8 closed

[2019-03-22 14:27] samreid opened #355 "Investigate using canvas approach for the FFT inputs on all scenes"
In https://github.com/phetsims/wave-interference/issues/8 we were surprised to learn that the waving girl scene has a frame rate nearly 3x higher than the lattice-disorder or square-diamond scenes.  (16fps vs 6fps).  I do not necessarily think that 6fps is a deal breaker for this simulation--smooth motion may not be essential here because it is not a sim about motion.  However, it may be worth inv

[2019-03-22 14:30] samreid commented on #121
@arouinfar @ariel-phet or @oliver-phet, is there a more appropriate place to keep this idea?  Do we have a brainstorming list of ideas for new sims, or something like that?

[2019-03-22 14:32] samreid commented on #328
We published 1.0 with screenshots, so I suppose this issue can be closed.

[2019-03-22 14:32] #328 closed

[2019-03-22 14:34] samreid commented on #352
This looks fixed, but it would be great if @arouinfar could compare phettest to 1.0 and make sure I didn't miss anything.

[2019-03-22 14:50] samreid commented on #351
Proposed fix committed.  Not sure how this issue overlaps with https://github.com/phetsims/scenery/issues/621, perhaps it is not covered in that issue because this sim does use webgl (at least for some platforms).  This seemed straightforward, but wouldn't hurt for @pixelzoom to double check, if you have a moment.

[2019-03-22 14:53] samreid commented on #351
I also noted that Chrome now requires high perf gpu even for the google homepage.  This seems different than before.  Some notes over here: https://apple.stackexchange.com/questions/124996/stop-chrome-from-switching-to-dedicated-gpu

[2019-03-22 16:19] samreid commented on #278
After #346 we are no longer using turbomaze, and imageprocessing-labs code has been moved to sherpa.  Also the unused images have been removed.  Closing.

[2019-03-22 16:19] #278 closed

[2019-03-22 17:25] pixelzoom commented on #351
https://github.com/phetsims/wave-interference/commit/948d5500149f161a12eb354fd207390b18f1d719 inspected, looks good to me.  I'm not familiar with where this was an issue in Wave Interference, so didn't test.   Feel free to close if nothing else to do.

[2019-03-22 18:28] arouinfar commented on #121
I think @oliver-phet has a Google sheet to keep track of new sim ideas.

[2019-03-22 18:44] arouinfar commented on #354
@samreid I think this would be most productively discussed in a design meeting once @ariel-phet and I are back. Assuming everyone will be in town, let's plan on putting this sim on the 4/4 design meeting docket.

At first glance, the behavior seems reasonable, but  when I open the full-size screenshot in a new tab, the fringe effects become pretty obvious. I'm sure there is some balance between ch

[2019-03-22 19:06] arouinfar commented on #352
I compared master and 1.0, and the NumberControls look like a perfect match.

[2019-03-22 19:06] #352 closed

[2019-03-22 19:07] arouinfar commented on #353
Let's go with 511 nm @samreid. I'm not sure where that 550 nm came from, maybe just a mistake on my part.

[2019-03-22 21:36] samreid commented on #353
OK thanks, the code already has 511nm, closing.

[2019-03-22 21:36] #353 closed

[2019-03-22 21:42] samreid commented on #80
Labeling for meeting:design to see if we want this feature for 2.0

[2019-03-22 21:44] samreid commented on #66
Before investing in WebGL for this simulation, I'd like to be clear what problem we are trying to solve.  We have determined in https://github.com/phetsims/wave-interference/issues/256#issuecomment-461079082 that the wave is no longer pixellated because of the increased lattice resolution.  And we determined that performance is good enough on all our supported platforms.

[2019-03-22 21:52] samreid commented on #139
I've implemented a very rough draft and am ready for initial feedback from @arouinfar.  Known remaining issues:
* I did not match the coordinate frame as in the design document--not sure if that is worth any effort, please let me know
* The design doc shows lattice spacing 0->1000nm, should this be more like 1000->200nm?  Or make it more qualitative?
* General feedback, anything else to do for thi

[2019-03-22 21:53] samreid commented on #143
Labeling for design meeting to see if there's anything else to do for this issue.

[2019-03-24 00:20] samreid opened #356 "Create a Wave Interference variant where each screen is a different wave type"
From my notes from Thursday's status meeting:

* We would like to create a basic waves sim, with one screen for each scene.
* I could start on that without too much more design work.
* New repo "waves" or "Waves: Basics"--email with @arouinfar to come up with a name.
* It would be good to get started on this.

This idea is also mentioned in the design meeting notes from February 19, 2019.

I'd lik

[2019-03-24 00:22] samreid opened #357 "What should we call the Wave Interference sim variant where each screen is a different wave medium?"
From https://github.com/phetsims/wave-interference/issues/356

@kathy-phet, @arouinfar and @ariel-phet what do you recommend for this simulation name?

[2019-03-24 01:51] samreid commented on #356
Is this supposed to be based on the "waves" screen of Wave Interference, with neither slits nor multiple source?

[2019-03-24 08:35] arouinfar commented on #356
@samreid there hasn't been any design work beyond the one brainstorming meeting.

The sim would only include the Waves screen of Wave Interference. Instead of three scenes (one for each wave type), we would have three screens -- Water, Sound, and Light. I would say a first pass at implementation would be to split the Waves screen into these three separate screens, but we would really need to have

[2019-03-25 15:31] samreid commented on #356
In the preceding commit, I created a rough draft for the simulation, you can see it on phettest at:
http://phettest.colorado.edu/wave-interference/wave-interference_en.html?ea&brand=phet&mediumScreens

I'll create issues for some follow-up work/questions.

[2019-03-25 15:32] samreid opened #358 "Screen icons for the "one medium per screen" sim"
As part of https://github.com/phetsims/wave-interference/issues/356 we will need icons for the screens.  Currently it looks like this:

![image](https://user-images.githubusercontent.com/679486/54932685-d6821180-4ee0-11e9-8df8-f81e476e43e1.png)

[2019-03-25 15:33] samreid opened #359 "Should we eliminate the separator in the control panel?"
As part of https://github.com/phetsims/wave-interference/issues/356 I'm wondering if we should eliminate the separator in the control panel.

![image](https://user-images.githubusercontent.com/679486/54932516-8c992b80-4ee0-11e9-8e63-9748607a858a.png)

![image](https://user-images.githubusercontent.com/679486/54932540-94f16680-4ee0-11e9-80a8-057ceea0f1ac.png)

![image](https://user-images.githubuse

[2019-03-25 15:33] samreid commented on #356
The main work is done, I noted 2 issues above.  Reassigning to @arouinfar for other feedback on this rough draft.

[2019-03-25 15:46] arouinfar commented on #359
@samreid I think the separator line helps keep the sliders and other UI controls separate. For water especially, I think the line draws attention to the check box, which could be overlooked. Another option would be to separate the controls into two separate panels, but I think that would look pretty odd for water, which just has the one checkbox.

If you'd like to discuss further in design meeting

[2019-03-25 15:50] arouinfar commented on #358
A few ideas to mock up:
- Scene icons from Wave Interference
- Each source emitting a wave
- More iconic view of the screens, e.g. water drop, music note

[2019-03-25 15:55] arouinfar commented on #356
Thanks @samreid! Could you publish this as a dev version instead? The VPN is super sluggish here.

[2019-03-25 16:01] samreid commented on #359
My initial instinct was this looked odd, but I agree there are good reasons to keep it.  Let's close this issue.

[2019-03-25 16:01] #359 closed

[2019-03-25 19:46] samreid commented on #356
I'm happy to create a new dev version, but suffering from the problem described in https://github.com/phetsims/special-ops/issues/133, so cannot easily create dev versions at the moment.  I'll keep you posted.

[2019-03-25 20:34] samreid commented on #356
@zepumph kindly created one here:
https://phet-dev.colorado.edu/html/wave-interference/1.1.0-dev.1/phet/wave-interference_en_phet.html?mediumScreens

[2019-03-25 21:31] samreid commented on #308
At the moment, `paintCanvas` is taking up about 18.5% of the application time (on a built version, on Mac Chrome).  Moving to WebGL would likely reduce this, but not to zero.  Would it allow us enough CPU to increase the lattice size?  Maybe a little bit.  We are already at a lattice size of 151x151 = 22801 cells. If we go to 200x200=40000 that is a 175% increase in number of cells, which will con

[2019-03-26 04:01] samreid commented on #355
This is underway, but I haven't been marking commits against this issue.

[2019-03-26 04:02] samreid commented on #354
After implementing #355, there are many fewer artifacts, especially for the ellipse scene.  We can also tune the "blurring" of the aperture if that helps.

[2019-03-26 13:48] samreid commented on #139
I'm going to reimplement this using a strategy that gives better performance and a smoother result. Things may end up looking a little different. Removing "ready-for-review" label until the change is complete.

[2019-03-26 16:19] arouinfar commented on #139
@samreid I currently have this issue earmarked for my flight back on Friday. If you finish up the implementation by Thursday, can you publish a new dev version?

200-1000 sounds like a much more reasonable range, so let's give that a try. I likely copied and renamed one of the other NumberControls in the mockups, without fixing a range.

[2019-03-26 16:23] arouinfar commented on #356
Thanks @zepumph!

@samreid everything's looking good. I don't have any further suggestions for now, but this will be useful when discussing the big picture in design meeting.

[2019-03-26 22:58] samreid opened #360 "Failure during dev deploy"
[code]

[2019-03-26 23:01] samreid commented on #139
I'm trying to publish a new dev version, but running into unknown problems, detailed in https://github.com/phetsims/wave-interference/issues/360.  Not sure if I'll have a dev version ready by then--I'll keep you posted.

[2019-03-27 01:00] samreid commented on #360
@jessegreenberg said:

I was just able to deploy a dev version. It looks like it is trying to make a new directory for wave-interference while it already exists.

[2019-03-27 01:02] samreid commented on #360
I wonder if having @zepumph deploy a dev version earlier caused some interference?

[2019-03-27 01:06] samreid commented on #360
[code]

[2019-03-27 01:07] samreid commented on #360
I tried this:
[code]

[2019-03-27 01:15] samreid commented on #360
If I just run the command that claims to be failing, it seems to succeed:

[code]

[2019-03-27 01:18] samreid commented on #360
It looks like it is incorrectly detecting that the sim directory does not exist.  Here is the code from dev.js
[code]

That's what's printing out in the error message.  So why does it think the wave-interference directory doesn't exist?

[2019-03-27 01:20] samreid commented on #360
On my local:

[code]

On bayes:

[code]

[2019-03-27 01:21] samreid commented on #360
On the remote:
[code]

Perhaps this was disturbed when @mattpen and I were working on fixing my bayes login.

[2019-03-27 01:24] samreid commented on #360
I tried to change my shell but it says I do not exist:

[code]

[2019-03-27 01:36] samreid commented on #360
@mattpen can you please help me set my shell to bash?

[2019-03-27 01:59] samreid commented on #360
After chatting with @pixelzoom on slack, we agreed I should try https://unix.stackexchange.com/questions/46645/how-can-i-use-bash-as-my-login-shell-when-my-sysadmin-refuses-to-let-me-change-i

I did this and logged in again and it seemed to have no effect:

[code]

[2019-03-27 02:21] arouinfar commented on #139
No worries @samreid! I have plenty of other things I can catch up on. 😄

[2019-03-28 03:11] samreid commented on #139
I published a dev version here which uses the strategy described in #355, ready for feedback:
https://phet-dev.colorado.edu/html/wave-interference/1.1.0-dev.2/phet/wave-interference_en_phet.html

[2019-03-28 12:01] arouinfar commented on #139
Excellent, thanks @samreid! I will review it tomorrow.

[2019-03-30 17:15] samreid commented on #355
All scenes are now rendered through the same canvas approach, and this has improved smoothness, performance and uniformity, as well as reducing the size of code in several cases.  Closing.

[2019-03-30 17:15] #355 closed

[2019-03-30 17:21] samreid opened #361 "Create a "waves-intro" repo"
Now that we have a preliminary name in https://github.com/phetsims/wave-interference/issues/357, we can create the repo.  I'll create it according to: phet-info/checklists/new_repo_checklist.md.  I messaged the team on slack dev-public:

I’m working a little today and planning to create a new repo according to the “new repo” checklist.  I’ll try to make sure Bayes CT or other aspects are not distu

[2019-03-30 17:46] samreid commented on #361
I finished the checklists, and used "gas-properties" as a prototype for description and collaboration teams.  None of the steps mentioned Bayes CT, so maybe it will update automatically.  I'll make a note to check it within one business day to see if we need to add steps to any of the checklists.

[2019-03-30 17:47] samreid commented on #361
Leaving this issue open until I confirm CT is OK

[2019-03-31 00:18] samreid commented on #361
CT is doing ok and waves-intro is showing properly.  Closing.

[2019-03-31 00:18] #361 closed

[2019-03-31 15:07] samreid opened #362 "Factor our duplicated code between MediumScreen and WavesScreen"
To develop "Waves Intro", I copied WavesScreen to MediumScreen and generalized it.  There are many similarities between the two screens.  These screens should probably not vary independently, so perhaps this duplication should be factored out and isolated.

[2019-03-31 15:41] samreid commented on #156
Now that we are using #355 and imageProcessing-labs FFT, I am no longer seeing this problem.  Closing.

[2019-03-31 15:41] #156 closed

[2019-03-31 15:42] samreid opened #363 "Diffraction Screen number control stepSize should not be 1"
Diffraction Screen number control stepSize should not be 1.  For instance, in the square scene, the step size is 1, but the range is 400-8000 so you have to hit step many times before seeing any change.

[2019-03-31 15:43] samreid commented on #196
In my opinion, the value of this feature would not exceed its cost and I recommend to close without fixing.  Assigning for design meeting to discuss.

[2019-03-31 15:53] samreid commented on #255
Since this problem was reported, the lattice size was increased in https://github.com/phetsims/wave-interference/issues/315 and the leading edge jitter is gone or significantly reduced.  Can this issue be closed?

[2019-03-31 15:57] samreid commented on #297
After this issue was reported, we increased the resolution of the lattice, see https://github.com/phetsims/wave-interference/issues/315.  Has that resolved or reduced the severity of the problem in this issue?

[2019-03-31 16:12] samreid commented on #308
Reassigned to @arouinfar for discussion.  Not sure if it should also be marked for design meeting.

[2019-03-31 16:13] samreid commented on #320
Marked for discussion in next design meeting.  I don't know offhand an easy solution to this problem, but we can decide whether it is worth scheduling time for investigation.

[2019-03-31 16:20] samreid commented on #323
Self-assigned for initial investigation.

[2019-03-31 16:25] samreid opened #364 "Fix range for disorder scene controls"
From https://github.com/phetsims/wave-interference/issues/139#issuecomment-476728172

200-1000 sounds like a much more reasonable range, so let's give that a try. I likely copied and renamed one of the other NumberControls in the mockups, without fixing a range.

[2019-04-01 03:31] samreid commented on #362
Factored out to a new base type.  Closing.

[2019-04-01 03:31] #362 closed

[2019-04-01 03:46] samreid commented on #364
I set the range to be 200nm-1000nm and set the default value to be the midpoint.  Note this is more compressed than the previous version.  @arouinfar, is this what you had in mind?

[2019-04-01 03:47] #351 closed

[2019-04-01 03:56] samreid commented on #349
On Thursday, March 21, @kathy-phet reiterated that it would be good to eliminate this interior reflection that is leading to a pattern in the signal.  I previously experimented with several approaches to eliminate or reduce reflections at the edge of the barriers, and the best approach we have implemented so far is described in this comment: https://github.com/phetsims/wave-interference/issues/197

[2019-04-01 03:58] samreid commented on #349
Note we expect to perform some recalibration in https://github.com/phetsims/wave-interference/issues/323#issuecomment-457005586

[2019-04-01 03:59] samreid commented on #323
If we like the rest of the calibration, perhaps this could be adjusted by simply changing the scale factor for the "side view" water height.  @arouinfar do you think that could work?  It could save a lot of time over re-tuning brightness/intensity screen/graph/etc.

[2019-04-01 04:03] samreid commented on #363
@arouinfar can you please recommend step sizes for the controls? (For any controls that aren't already as desired).

[2019-04-01 14:56] samreid opened #365 "How should we label the diamond sizing control?"
From the design document:

![image](https://user-images.githubusercontent.com/679486/55337216-7698e700-545b-11e9-98b4-fbb2264b8ca5.png)

Throughout the code, I have named that variable as "diamond" and hence in the initial draft I used the label "Diamond Diameter", but it is a bit long and gets scaled down:

![image](https://user-images.githubusercontent.com/679486/55337264-8dd7d480-545b-11e9-9076

[2019-04-01 15:56] arouinfar commented on #323
@samreid that sounds like a great idea! Let's give it a try.

[2019-04-01 15:58] arouinfar commented on #308
@samreid thanks for the assessment. I think this is something we can close as wont-fix, but would be good to get final approval from the group, so leaving tagged for design meeting.

[2019-04-01 16:03] arouinfar commented on #297
@samreid I think #315 sufficiently addressed the jitter in the plane wave. Comparing master or 1.0 to [dev.57](https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.57/phet/wave-interference_en_phet.html), there is a noticeable improvement. Since @ariel-phet originally reported this issue, I'll leave it up to him for final review and closure (if he agrees).

[2019-04-01 16:06] arouinfar commented on #255
This seems like the same underlying issue as #297. I think the increased lattice size sufficiently addressed this issue, and I am seeing very little jitter in master, though I'll leave this one up to @ariel-phet for final sign-off.

[2019-04-01 16:14] arouinfar commented on #365
Thanks @samreid. I think diamond is certainly a better descriptor than square. However, I think "diameter" could still be problematic, as it may be interpreted as the diagonal length, which would be a factor of sqrt(2) larger than the side length. Perhaps "Diamond Side" would do the trick?

Good points @samreid. I slightly prefer the diamond, but I recognize that it does have some baggage. Let's c

[2019-04-01 16:18] arouinfar commented on #358
I moved this issue to the waves-intro repo, see link above. Closing.

[2019-04-01 16:18] #358 closed

[2019-04-02 19:15] arouinfar commented on #323
@samreid I think it will be acceptable. After all, earlier dev versions didn't extend above the faucet in side-view (for example, [dev.55](https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.55/phet/wave-interference_en_phet.html)). I'm not sure we want to disproportionally scale the amplitudes, so I'd prefer to stick to the global approach.

Can you push this change to master so I can

[2019-04-02 22:20] samreid commented on #323
Pushed to master, please review on phettest.

[2019-04-03 21:59] arouinfar commented on #323
Looks good in master @samreid!

[2019-04-04 02:04] samreid commented on #323
Thanks, closing.

[2019-04-04 02:04] #323 closed

[2019-04-04 19:44] samreid commented on #365
We discussed options:

* diamond side
* side length
* diamond side length

We like to have the word "diamond" in the label, but it is a bit wordy.  We will go with "diamond side length" but will need to adjust the layout accordingly.

[2019-04-04 19:47] samreid commented on #356
Other than the screen icons, we need to address the patterns on the light screen accumulator (would prefer no interference pattern).

@samreid will also publish a dev version for review.

[2019-04-04 19:50] samreid commented on #349
In discussion, @arouinfar and I decided to try a hollywood or larger averaging window, only for the waves screen.  You would still see this problem on the interference screen if one source is on, but that is a rarer case.

[2019-04-04 19:52] samreid commented on #320
In design meeting today, @arouinfar and I discussed that we do not think this problem warrants further investigation.  We would still like @kathy-phet or @ariel-phet to approve this decision, deferring discussion until then.

[2019-04-04 19:54] arouinfar commented on #196
I don't think `?theory` is essential for the Interference screen, so I'd be fine with closing.

[2019-04-05 16:21] samreid commented on #365
Proposed fix committed, @arouinfar can you please review?

[2019-04-05 16:38] samreid commented on #356
Here's an initial dev version:
https://phet-dev.colorado.edu/html/waves-intro/1.0.0-dev.1/phet/waves-intro_en_phet.html

@arouinfar anything else for this issue?

[2019-04-05 17:02] samreid commented on #349
For the screens with a single source, I increased the averaging window for the screen.  This smooths out the noise. @arouinfar can you please review?

[2019-04-05 17:44] arouinfar commented on #349
@samreid this looks great! Since the Waves screen has its own averaging window, I think it would be good to also change the brightness calibration for Waves too. With the amplitude at 50%, the brightness is quite low, and would seem closer to the brightness I would expect at 10%.

| Amplitude | Screen Brightness |
| --- | --- |
| 100% | <img src="https://user-images.githubusercontent.com/8419308/5

[2019-04-05 17:59] arouinfar commented on #356
Don't think so! I'll go ahead and close, thanks.

[2019-04-05 17:59] #356 closed

[2019-04-05 18:04] arouinfar commented on #365
I like it @samreid! I think we still need to decide on diamond vs. square in design meeting, so I'll leave this open.

[2019-04-05 19:10] samreid commented on #349
If I multiply the overall brightness scaling by a factor of 3, the 50% value seems better:

![image](https://user-images.githubusercontent.com/679486/55650827-031d0f80-57a4-11e9-9049-b106e54c8b81.png)

but even 25% seems very dark:

![image](https://user-images.githubusercontent.com/679486/55650851-19c36680-57a4-11e9-8f15-1af025816fd1.png)

Do you think we will need to introduce a nonlinearity for

[2019-04-05 20:36] samreid commented on #349
@arouinfar and I reviewed this and decided we would like to try a piecewise linear function to get better behavior across the range of intensities.

[2019-04-05 23:01] samreid commented on #349
I committed an initial version for this, @arouinfar can you please take a look?

[2019-04-06 17:04] samreid opened #366 "Wave chart jumps when going across an undefined value"
It looks like this:

![image](https://user-images.githubusercontent.com/679486/55672733-ae3cd000-585b-11e9-8128-fe3778f302db.png)

and it could be solved by https://github.com/phetsims/griddle/issues/33

[2019-04-07 02:16] samreid commented on #366
I added support for no-value values in https://github.com/phetsims/griddle/issues/33 and it looks like this:

![image](https://user-images.githubusercontent.com/679486/55677647-cb4bc000-58a8-11e9-8be5-23a6f0100386.png)

@arouinfar can you please check this behavior on phettest and close if it seems OK to you?

[2019-04-08 18:28] arouinfar commented on #366
The behavior in master is generally looking pretty good @samreid!

I noticed that the vertical position of the dot doesn't reset when the probe encounters "no value".  Instead, it remembers the last value it read. I think it would look a bit more natural if the dot moved back to zero.
![image](https://user-images.githubusercontent.com/8419308/55747464-8edba980-59f9-11e9-85b7-fc9e9a771330.png)

If

[2019-04-08 18:39] arouinfar commented on #349
@samreid the updated brightness on Waves looks great!

However, the screen is broken elsewhere in the sim. The intensity graph appears undisturbed, though.
![image](https://user-images.githubusercontent.com/8419308/55748066-f21a0b80-59fa-11e9-9ff0-a6171a2f7766.png)
![image](https://user-images.githubusercontent.com/8419308/55748103-09f18f80-59fb-11e9-95bd-02845270bcb8.png)
![image](https://user-im

[2019-04-08 18:58] samreid commented on #349
Good catch, thanks!  I'll take a look.

[2019-04-08 19:30] samreid commented on #349
I committed a proposed fix, can you please take a look on phettest?

[2019-04-08 19:37] samreid commented on #366
Proposed fix committed, @arouinfar can you please review?

[2019-04-08 20:49] arouinfar commented on #366
Looks great @samreid!

[2019-04-08 20:54] arouinfar commented on #349
Looks great @samreid! I'll tag for design meeting review.

[2019-04-08 21:09] arouinfar commented on #364
@samreid let's try these values.

Circle Diameter
* Range: 100-500 nm
* Default: 300 nm
* constrainValue: 10 nm

Lattice Spacing
* Range: 500-1500 nm
* Default: 1000 nm
* constrainValue: 50 nm

[2019-04-08 21:11] arouinfar commented on #364
Since Disorder is purely qualitative, I don't think it needs a NumberControl. Can you instead make it a traditional slider with 4 tick marks? The range would still be "None" to "Lots".

[2019-04-08 22:01] samreid commented on #364
I updated the ranges and removed the readout from the disorder control.  To keep the disorder control looking unified with the other controls, I left it as a `DiffractionNumberControl`, so it would line up and be easy to position correctly.  It would be a bit more work to center the title, let me know if I should take that step.

![image](https://user-images.githubusercontent.com/679486/55759765-7

[2019-04-08 22:08] arouinfar commented on #364
@samreid the ranges are looking good to me! I think the tweakers should still keep a step size of 1, but the thumb snappiness feels good.

That sounds reasonable to me. I think the Disorder slider looks nice.

[2019-04-08 22:27] arouinfar commented on #363
@samreid I think we actually do want the tweaker size to be 1, so apertures can be tuned to match the wavelength. We can use `constrainValue` to make the thumb snap in larger steps.

## Circle
Diameter
* Range: 200-8000 nm
* Default: 500 nm
* constrainValue: 50 nm (This is still a LOT of steps, but I want users to be able to tune the aperture size to the ballpark of the wavelength without using th

[2019-04-08 22:37] arouinfar opened #367 "Waving Girl height should scale, not squish"
Noticed in https://github.com/phetsims/wave-interference/issues/363

In the Waving Girl scene, reducing the height squishes the image:
![image](https://user-images.githubusercontent.com/8419308/55761081-5d73d580-5a1b-11e9-88d4-b413c3c0442b.png)

Instead, we want to proportionally scale the entire image.
![image](https://user-images.githubusercontent.com/8419308/55761375-51d4de80-5a1c-11e9-810d-cdd

[2019-04-08 22:37] arouinfar commented on #139
@samreid everything is looking good. I'll tag for design meeting for review with the rest of the team.

[2019-04-09 02:28] samreid commented on #364
I forgot the `delta` and `constrainValue` vary independently--https://github.com/phetsims/wave-interference/issues/363#issuecomment-481031114 helped me remember.  I'll change the `constrainValues` as specified above.

[2019-04-11 03:45] samreid commented on #349
Raw notes for archival purposes, in case we come back to this.

80% (default) 0.13
100% 0.21 (oversaturated)
50% => 0.05 (looks good)
40% => 0.036 (this is what 25% should look like)
30% => 0.019 (this is what 10% should look like)

Maybe take sqrt for the display?  This idea did not pan out quickly, we investigated linear piecewise instead.
[code]

[2019-04-11 19:29] samreid opened #368 "Investigate aliasing in the aperture view"
@ariel-phet pointed out the aperture view is somewhat aliased.  We should look into that and see if it can be improved.  The rectangular scene is no problem, but the circles, diamond and waving girl are problematic.  @ariel-phet said it's not the most important feature, but I'll investigate and report back.

[2019-04-11 20:27] samreid commented on #349
In the design meeting, we agreed this is looking much better.  @kathy-phet said she will take a closer look later on.

[2019-04-11 20:35] samreid commented on #320
@ariel-phet recommends to mark low priority, may not be worth the effort to completely solve, but could warrant some time to understand.  But not worth any time for that at the moment.

[2019-04-11 20:37] samreid commented on #308
@ariel-phet and @kathy-phet agree this can be closed without further investigation.

[2019-04-11 20:37] #308 closed

[2019-04-11 20:40] samreid commented on #196
@kathy-phet says it would be nice to make sure the empirical result matches the theoretical result, and it could potentially be something to share with teachers as well.  @samreid gave a time estimate of 2-3 hours.

[2019-04-11 20:42] samreid commented on #143
@ariel-phet and @kathy-phet will take a look at the published sim (which has the larger lattice) and see if it suffers from problem we discussed in this issue.

[2019-04-11 20:50] samreid commented on #365
@ariel-phet recommends to use the term "size" instead of "side length".
@kathy-phet said what about "diamond side"
@ariel-phet said "diamond width" and make it the hypotenuse length.

@ariel-phet is fine with making it a square (not rotated) and calling it "Square width".
@samreid is on board with that
@kathy-phet is fine with that too.

[2019-04-11 21:02] samreid commented on #354
@ariel-phet suggested cross-blending (fading) the diffraction pattern with the shape of the aperture when a>>Lambda.

@samreid will experiment with when the Airy disk breaks down to determine the point for a>>lambda.
@ariel-phet said maybe 2000nm or 4000nm for 500nm light, we could start blending over to the aperture pattern.

@ariel-phet will look into it further and report back.

[2019-04-11 21:07] samreid commented on #294
@ariel-phet recommends to leave this feature out until there is a more compelling reason to add it.
@kathy-phet is fine with waiting, but we can re-evaluate if we get more requests for it.

@samreid points out this would complicate the "black part of the wave" propagation computation---not clear how that could be done.

[2019-04-11 21:09] samreid commented on #139
@kathy-phet said it looks good.
@ariel-phet said it gets the point across.

@kathy-phet points out that once we have an initial version, we could present this to our collaborators.

[2019-04-15 14:51] samreid commented on #196
I adapted the existing `?theory` code to show for the interference screen, with the assumption that 2 sources are oscillating.  Testing the default value for water:

![image](https://user-images.githubusercontent.com/679486/56142131-5be66800-5f5b-11e9-9845-9a279aeb5282.png)

Testing the max frequency for sound:

![image](https://user-images.githubusercontent.com/679486/56142175-6ef93800-5f5b-11e9-

[2019-04-15 15:34] samreid commented on #354
Blending for a cross-fade leaves an odd intermediate state:

![image](https://user-images.githubusercontent.com/679486/56145491-9e12a800-5f61-11e9-82db-3789a80dd590.png)

[2019-04-15 17:26] samreid commented on #354
I created a dev version to demonstrate the cross-fade approach.  I'd like to get feedback on this before going further on this issue.  I created a dev version which is only set up for "Ellipse" scene, please do not select other scenes.  I'm asking in part because the intermediate state like https://github.com/phetsims/wave-interference/issues/354#issuecomment-483302547 seemed odd
https://phet-dev.

[2019-04-15 17:36] samreid commented on #365
In the preceding commit, I converted from diamond to square.  Over to @arouinfar for review and feedback.  Also, we increased the control panel widths to accommodate the long string "Diamond Side Length", do you want to reduce the control panel widths now that the labels are shorter?

[2019-04-15 17:40] samreid commented on #367
Committed the proposed fix, @arouinfar can you please review on phettest?

[2019-04-15 18:06] ariel-phet opened #369 "Adjustment to credits to include STROBE award number"
@samreid Ellen from STROBE wrote the following:

Can we make this adjustment in the "Thanks" section? They also asked if a logo could be included but I am pretty sure that is not possible within the "Thanks" section (unless that is already possible we do not need to pursue including a logo).

I have made the change to the credits on the website already, please make this change to the sim on master

[2019-04-15 19:04] samreid commented on #369
I searched CreditsNode and AboutDialog for logo/image/picture and didn't see anything like that.

[2019-04-15 19:08] samreid commented on #369
There is an existing string in the "Thanks" that says:

It is unclear whether to append or replace.  I looked at the credits in https://phet.colorado.edu/en/simulation/wave-interference and it looks like it was replaced, so I'll do a replacement as well, but let me know if you want to open with the "Thanks to the STROBE NSF Science and Technology Center on Real-Time Functional Imaging for their su

[2019-04-15 19:10] samreid commented on #369
I updated the "thanks" section of the about dialog credits, @ariel-phet can you please review it on phettest and let me know if you recommend any changes?

[2019-04-15 19:24] arouinfar commented on #196
@samreid the correspondence in the screenshots you've posted looks fine to me. However, the lines don't appear to shift when the separation changes. I'm also seeing a pretty big delay between changing the frequency and the shift in the `?theory` lines for the water scene.

[2019-04-15 19:25] arouinfar commented on #367
Looks good @samreid!

[2019-04-15 19:25] #367 closed

[2019-04-15 19:30] arouinfar commented on #365
@samreid looks good in master. Let's keep the increased panel width. It feels a bit less cramped, and has some room for i18n this way.

We'll also need to update the scene icon to be a square, so back to @samreid.

[2019-04-15 19:36] ariel-phet commented on #369
@samreid looks good. Yes, this was intended to replace, not append.

[2019-04-15 19:36] #369 closed

[2019-04-15 19:41] samreid commented on #365
Good catch @arouinfar, ready for review on phettest.

[2019-04-15 20:00] samreid commented on #196
Thanks @arouinfar, in the preceding commit, the theory lines update when the source separation changes.

Regarding the delay in the water scene, I was surprised to see this behavior as well.  Looking into it, I realized changing the separation or frequency via the user interface doesn't immediately change the oscillatory behavior of the model.  Instead, it schedules the new frequency/separation fo

[2019-04-15 20:50] samreid commented on #368
Proposed fix committed, @ariel-phet can you please review on phettest and provide feedback?

[2019-04-15 21:05] samreid commented on #363
Ranges, defaults, deltas and constrainValues should be better now, @arouinfar can you please double check on phettest?

[2019-04-15 21:05] samreid commented on #364
Ranges, defaults, deltas and constrainValues should be better now, @arouinfar can you please double check on phettest?

[2019-04-15 21:16] samreid opened #370 "Design review for scaling aperture as a function of wavelength"
In order to show how the diffraction pattern changes for a fixed aperture size and a varying wavelength, we scale the input to the 2D FFT based on the wavelength.  After experimentation, I settled on this rule for scaling:

[code]

For example, at the default wavelength, the scaleFactor is 1, and at a wavelength of 380nm, the scaleFactor is 1.38 and at a wavelength of 780, the scaleFactor is 0.21.

[2019-04-15 21:40] ariel-phet commented on #370
@samreid I will write a more detailed explanation later, but I think what we are going to need to do is set up actual dimensions in the model...get things correct for the airy disk, and base everything off that. It looks like in my initial dive into things, that our assumptions are a bit off, but I will put some numbers and such down in this issue (probably later today).

[2019-04-16 05:07] ariel-phet commented on #368
All looking much cleaner. Closing

[2019-04-16 05:07] #368 closed

[2019-04-16 14:57] samreid commented on #139
I recommend we close this issue, should we open a new issue to track what to discuss with our collaborators?

[2019-04-16 14:59] #294 closed

[2019-04-16 15:22] samreid commented on #341
Proposed fix committed, @pixelzoom would you like to review?

[2019-04-16 16:10] arouinfar commented on #139
Sounds reasonable to me @samreid! Let's close.

[2019-04-16 16:10] #139 closed

[2019-04-16 16:44] arouinfar commented on #364
Looks good @samreid, thanks!

[2019-04-16 16:44] #364 closed

[2019-04-16 16:46] arouinfar commented on #363
Looks great @samreid!

[2019-04-16 16:46] #363 closed

[2019-04-16 16:48] arouinfar commented on #365
👍

[2019-04-16 16:48] #365 closed

[2019-04-16 17:33] pixelzoom commented on #341
👍 Closing.

[2019-04-16 17:33] #341 closed

[2019-04-16 20:20] arouinfar commented on #196
Looks good @samreid.

That makes a lot of sense, thanks @samreid. However, while the sources are off, I'm still noticing a pretty big delay which still seems odd.

[2019-04-16 21:14] samreid commented on #196
There are actually "invisible drops" that send a signal to the lattice to stop oscillating.   They fall at the same rate as the visible drops, so it should have the same delay pattern.  Is this acceptable for this use case, or want me to investigate wiring things up to the "desired" instead of "actual" for the water drops?

[2019-04-16 21:35] arouinfar commented on #196
Ah, got it. Thanks for the clarification.

Since I was fine with limiting `?theory` to only the Slits screen, I would lean towards not spending any more time on this issue. However, I think it's best to defer to @kathy-phet on this one.

[2019-04-16 21:38] arouinfar commented on #196
@kathy-phet can you review the behavior of `?theory` on the Interference screen? There is good correspondence between the `?theory` overlay and the lattice. However, the overlay is quite slow to update on water because as @samreid  described:

@kathy-phet is this acceptable? @samreid also proposed this alternative:

[2019-04-17 17:19] ariel-phet commented on #370
The short story is that we are seeing numerical artifacts when we exist the far-field condition, and that the dimensions we are labeling our aperture need to be scaled up quite a bit for more "typical" dimensions of such an experiment. We will want to re-calibrate everything to work nicely within the far-field range. Below is going to be some documentation for those conditions.

Alright, let's beg

[2019-04-17 17:32] ariel-phet commented on #370
Setting up the conditions above in a situation with some reasonably round numbers and a clear first minima we see that currently we have something like:
wavelength = 500 nm
chosen aperture in sim = 370 nm
displacement of first minima on screen = 60 pixels corresponds to 1.2 cm (50 pixels per cm)
corresponding aperture size for calibration = 50 microns (5e-5 m)

![calibration](https://user-images.g

[2019-04-17 17:37] ariel-phet commented on #370
Given the conditions stipulate for the far field, we should start to see numerical artifact when we exceed an aperture diameter of about 500 microns.

Converting what we saw above, things should start to look a little whacky at around 3700 nm aperture in the current sim scaling, and we see some numerical artifacts just creeping in, since we are crossing the boundary to where the Fourier transform

[2019-04-17 17:47] ariel-phet commented on #370
So to stay in the far field (for our range of wavelengths and assuming the dimensions above)

For 380 nm wavelength, we should keep the aperture below 435 microns (3220 nm currently in sim)
For 780 nm wavelength, we should keep the aperture below 625 microns (4625 nm currently in sim)

[2019-04-17 17:55] ariel-phet commented on #370
@samreid we should discuss, but my current recommendations for the sim would be:

1. For the circular aperture, make the current 3000 nm size in the sim be labelled 400 microns, and make that the largest value of the slider, Make the current 370 nm size in the sim be labeled 50 microns and have that be the lowest value on the slider. (So basically reduce the slider range from 370 nm to 3000 nm, an

[2019-04-17 19:19] ariel-phet commented on #354
related to #360, we will want to address that issue before revisiting this one

[2019-04-17 20:25] arouinfar commented on #354
Marking as `status:on-hold` and reassigning to @samreid for review once #370 has been addressed.

[2019-04-17 21:05] samreid commented on #354
As discussed in https://github.com/phetsims/wave-interference/issues/370, we will not go out of the FFT range, closing.

[2019-04-17 21:05] #354 closed

[2019-04-17 21:08] samreid commented on #370
Notes from discussion with @ariel-phet:

- [ ] Reduce ranges to prevent going beyond good FFT results
- [ ] Relabel values for new ranges.  Relabel 3000 nm as 400 microns. (not sure what units, see below)
- [ ] Relabel 370 nm size as labeled 50 micron
- [ ] Relabel the 1000nm |<-->| would be 133.84 microns. That is an odd number, so shrink it to 100 microns = 0.1mm
- [ ] indicate the dimensions on

[2019-04-17 21:26] arouinfar commented on #370
@samreid @ariel-phet I think it makes sense to keep the aperture controls in nm, so students can more easily compare to the wavelength.

For the scale bars, we might want to keep those in the same units instead of mixing microns and cm. I don't think nm is the right choice, but perhaps mm would work well here?

[2019-04-17 21:30] arouinfar commented on #370
I'm not sure that showing the precise distance in the sim adds any pedagogical value. However, the Teacher Tips could certainly indicate that the distance is large (on the order of a meter), or even provide the precise value.

[2019-04-17 21:41] KatieWoe opened #371 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Arrows at the ends of sliders could have slightly larger pointer areas

Screenshots:
![Image from iOS (1)](https://user-images.githubuserc

[2019-04-17 21:47] arouinfar commented on #371
@samreid  asymmetric dilation of NumberControl tweakers was added in https://github.com/phetsims/scenery-phet/issues/489. Here's a mockup of updated touch areas in green, which would apply to all tweakers.

![image](https://user-images.githubusercontent.com/8419308/56323066-fa272900-6127-11e9-964d-90e6d9b662db.png)

[2019-04-18 02:30] ariel-phet commented on #297
I tried out master on both my desktop and laptop. There is a bit of a strobing effect still on my desktop, but my laptop (on chrome) looks pretty smooth. Since that is a bit hardware dependent, master is an improvement over the published version, and we seem to have no major complaints about the published version, I think we can close.

[2019-04-18 02:30] #297 closed

[2019-04-18 02:31] ariel-phet commented on #255
Looking pretty good on my laptop on master, and the no barrier case is by far the least interesting/pedagogically important, so I agree, sufficiently addressed. Closing.

[2019-04-18 02:31] #255 closed

[2019-04-18 04:57] ariel-phet commented on #370
@arouinfar I think mm could be fine for scales on both the aperture and screen views

However, I think using nm for the aperture dimensions is problematic unless you want to use scientific notation (500 microns is 500000 nm), perhaps putting everything besides the wavelength in mm makes sense? If the scale on the aperture view is mm, isn't it natural to have the control in mm?

[2019-04-18 16:16] samreid commented on #370
More notes that may come in handy:

[code]

[2019-04-19 03:25] samreid commented on #370
It seems we are deciding between:
[code]

On the one hand, μm is somewhat an obscure measurement.  On the other hand, showing ranges in the 0.05-0.4 range is somewhat unwieldy.

Our new coding convention is to code the units directly in the model, so this is not something that can be easily factored out and it will save us the most time to decide on this in advance.  It sounds like @arouinfar and

[2019-04-22 14:45] samreid commented on #370
I've completed an initial pass of the checklist in https://github.com/phetsims/wave-interference/issues/370#issuecomment-484262232.  Next steps:

- [ ] Review the changes in the sim and make sure they are going in the right direction.  Review the notes marked with "UPDATE" in the comment, which indicate the particular ways things were implemented or raise questions.
- [ ] Recommend changes to the

[2019-04-22 14:55] samreid commented on #371
I expanded touch areas for NumberControl arrowButtons in the commit.  It will be simplest if we can use the same dilation constants for each NumberControl in the sim, even though they don't align with the containers exactly in every case.  @arouinfar can you please review on phettest?

[2019-04-22 17:24] ariel-phet commented on #370
@samreid I checked on master, and everything looks pretty spot on (getting the correct values for minima for a range of aperture sizes and wavelengths, within measurement error).

The one change I would make is cut off the low end of the aperture size at 0.04 mm for square and circle.

The units question should probably have @kathy-phet involved and we can answer at a design meeting.

[2019-04-22 17:26] ariel-phet commented on #370
@samreid I am assuming you have not yet changed the scaling of the pictorial view of the aperture?

[2019-04-22 17:28] samreid commented on #370
Changed in the preceding commit.

[2019-04-22 18:05] samreid commented on #370
@ariel-phet and I discussed the pictoral view of the aperture over slack, and I committed to show the aperture rectangle at 1/2 size and the aperture pattern at 1/4 size.  Ready for review.

[2019-04-22 18:35] ariel-phet commented on #370
@samreid I think this all looks good, To me this screen is getting now to the final "pixel polish" stage.

[2019-04-22 18:36] ariel-phet commented on #370
Marking for design meeting, so we can decide on units, and look over with the team.

[2019-04-22 21:17] samreid commented on #366
Since this will be released in upcoming deploy and there is no further work necessary, nor clients requesting this feature, it seems good to close this issue.

[2019-04-22 21:17] #366 closed

[2019-04-23 03:13] arouinfar commented on #371
That seems reasonable to me @samreid.

The updated touch areas look good, but I'll wait to close until I can test it out on my phone when I'm on campus tomorrow.

[2019-04-23 16:14] samreid opened #372 "Plan for publication for wave-interference 2.0 with diffraction"
This simulation is getting closer to being ready for publication.  Some steps we will need to take (not necessarily in chronological order)

- [x] Preliminary dev testing (could do early dev testing before other parts complete), see https://github.com/phetsims/QA/issues/322
- [x] Code review #376
- [x] Interviews on the diffraction screen https://github.com/phetsims/wave-interference/issues/409
-

[2019-04-23 16:34] arouinfar commented on #371
Testing on my phone, I didn't have any missed tweaker hits on master, but definitely noticed a few in the app. The expanded touch areas are working nicely!

[2019-04-23 16:34] #371 closed

[2019-04-23 17:15] ariel-phet commented on #372
@samreid, we need to do some interviews on the diffraction screen, but otherwise things look good.

[2019-04-23 19:26] samreid opened #373 "Sound Screen: Play a sine wave (when selected via checkbox) with the correct tone"
Request from the google doc:

[2019-04-23 22:00] samreid commented on #373
I added a rough draft for a sine wave + checkbox in the preceding commits.  @jbphet can you please review and give feedback?

Aside from general review feedback, I had some questions in particular (also marked with TODOs):
- [ ] I noticed the sound sounds buggy if I put `{connectImmediately: true}`, can you help me understand what is happening in that case?
- [ ] I passed all `enableControlPropert

[2019-04-23 22:17] samreid commented on #373
Also, there is a brief pitch change on reset all.  I thought this patch would eliminate it, but it didn't:

[code]

[2019-04-24 14:10] samreid opened #374 "Water Screen: Play a water drop sound when water hits"
From yesterdays sonification design meeting, we would like to play a water drop sound when the water drop hits.

[2019-04-24 16:01] samreid commented on #374
I'm using PitchedPopGenerator as a placeholder until we have better audio effects for this part.  Assigning to @Ashton-Morris to work on better sound effects.

[2019-04-24 18:27] arouinfar opened #375 "Diffracted beam representation"
The diffracted beam could use a bit of cleanup so that it looks like it hits the entire screen, with a higher saturation near the center.
![image](https://user-images.githubusercontent.com/8419308/56684073-2db80500-668c-11e9-94ff-a9635e92d161.png)

Here are some diagrams from papers which show a similar representation.
![image](https://user-images.githubusercontent.com/8419308/56684042-21cc4300-66

[2019-04-24 19:16] samreid opened #376 "Diffraction Screen: Code Review"
@ariel-phet said:

I replied:

@ariel-phet said:

I enumerated a number of steps in #372 that may need to be accomplished before I turn this over to @pixelzoom for code review.  Putting on hold until then.

[2019-04-24 19:57] jbphet commented on #373
Responses:

The `connectImmediately` flag is intended to bypass the sound manager and connect directly to the audio context for easy testing of a sound generator during development, and isn't intended for use in production code.  The documentation for this parameter in `SoundGenerator` is intended to convey this, but if it didn't get the point across, I could use some help from you in how to make

[2019-04-24 20:06] samreid commented on #376
@ariel-phet said late next week would work well.

[2019-04-24 21:30] samreid commented on #373
I was testing on Mac/Chrome.

[2019-04-24 21:31] samreid commented on #373
Would it be valuable to rewrite tambo so that no audio contexts are created until after the first user input?

[2019-04-24 21:46] samreid commented on #373
It appears `OscillatorNode` cannot be restarted.  Are you suggesting to create new `OscillatorNode` when the audio is restarted?

[2019-04-24 21:58] samreid commented on #372
I changed package.json over to 2.0 series for subsequent dev deploys.

[2019-04-24 22:41] arouinfar opened #377 "Pixel polishing for Diffraction screen"
@ariel-phet and I discussed some minor pixel polishing for the Diffraction screen. There is some Illustrator work to do, so I'll self assign for now.

[2019-04-24 23:45] ariel-phet commented on #143
I looked carefully at the published sim on Win 10 on both Chrome and FF. I also tried at some different aspect ratios, everything looked completely fined at lined up to as best as my eye could tell. We also have no reports of this issue from "the world" so I am confident it is safe to close, and @kathy-phet does not need to bother testing.

[2019-04-24 23:45] #143 closed

[2019-04-25 19:25] jbphet commented on #373
I considered this but decided against for two main reasons.  The first is because I think it would be complex to defer **all** audio context manipulations until the audio context starts, and so far this hasn't been necessary, the only consequence being a pretty minor issue with playing a sound based on the very first action that the user takes (and this may go away as browser support for Web Audio

[2019-04-26 04:19] samreid opened #378 "Waves Intro: remaining work for sonification"
Notes from discussion with @jbphet today:

- [x] Use a sound clip, and set the playback speed setPlaybackRate(), which has a time constant.  setPlaybackRate(1=nominal).
- [x] Create a new Oscillator each time
- [x] What about other "earcon" sounds, is there a way to opt in to defaults, or have to add them on a case by case basis?
- [x] SoundClip, register as SoundGenerator

[2019-04-26 04:31] samreid commented on #373
@jbphet I updated it to recreate oscillators, can you please check that the implementation is correct, particularly about order of stop/disconnect, and connect/start or if there are other issues?

[2019-04-26 04:34] #378 closed

[2019-04-26 13:49] samreid commented on #373
Doesn't that happen anyways because the audio context cannot start until the user input?  Or is there other overhead you are thinking of?

[2019-04-26 14:46] KatieWoe opened #379 "CT issue with the licenses for media types"
In CT of Wave Intro as well
[code]

[2019-04-26 14:52] samreid commented on #379
Thanks @KatieWoe, I corrected this in https://github.com/phetsims/wave-interference/commit/69212918c5d336da70fd5f8f998311cbed29caf7, closing

[2019-04-26 14:52] #379 closed

[2019-04-26 22:23] samreid opened #380 "Sonification for Laser"
Notes from @Ashton-Morris

[2019-04-29 15:36] samreid opened #381 "Sound plays during startup if you click the splash screen"
Sound plays during startup if you click the splash screen

[2019-04-29 17:27] Ashton-Morris commented on #374
I have sent some water drop sounds

[2019-04-29 22:27] arouinfar commented on #375
For the diffracted beam, I drew a 2D shape which extends from the top/bottom corners of the aperture rectangle, and extends to the outer corners of the screen (outlined in magenta in first image). I then applied a linear gradient, concentrating the original beam color in the middle. Since the screen is obscured, I turned down the opacity of the entire diffracted beam (middle), but that washes out

[2019-04-30 01:04] ariel-phet commented on #375
@arouinfar mainly I would narrow the left of the shape, so it more looked like it was coming from an aperture at the center of the aperture rectangle, rather than from the whole rectangle. Basically give it a much sharper "cone" appearance at the left end. Otherwise I think the look on the diffraction screen and such is really nice.

[2019-04-30 13:05] samreid commented on #375
Let's try rendering this in code first.  I'll take a look.

[2019-04-30 14:49] samreid commented on #380
@jbphet Can you clarify on that part?

[2019-04-30 15:32] samreid commented on #381
Fixed, closing.

[2019-04-30 15:32] #381 closed

[2019-04-30 16:49] arouinfar commented on #375
Thanks for the feedback @ariel-phet. I think having a true point at the aperture ended up looking a bit too sharp, but I do like the look of a shaper cone, generally. Is this what you were thinking?

![image](https://user-images.githubusercontent.com/8419308/56978648-39e10e00-6b35-11e9-93e7-ddfae51c01f6.png)

[2019-04-30 18:01] ariel-phet commented on #375
@arouinfar yes, exactly what I was thinking.

I am fine with whatever cone size you feel works best.

[2019-04-30 18:21] jbphet commented on #380
Well, I wouldn't call it a trick.  Basically, I ran into problems creating the loop and starting it but leaving the volume at zero and just turning it up when needed.  One problem was that on some browsers it wouldn't start at all because of the autoplay policy.  On others, an initial sound would be heard at startup because the volume wouldn't update until a signal started going through the gain n

[2019-04-30 18:44] jbphet commented on #373
From what I can glean from the behavior that I see and hear on the sound implementations done thus far, the browsers allow you to do things like creating sound sources and setting gain values with an audio context that is in the `suspended` state, it just doesn't allow any sound to actually be produced, and the audio context doesn't "run", meaning the `audioContext.currentTime` doesn't increase.

[2019-04-30 20:15] arouinfar commented on #375
@ariel-phet thanks!

@samreid what would be the next steps? Would it be helpful to send you artwork for this polygon?

![image](https://user-images.githubusercontent.com/8419308/56990374-2a23f280-6b52-11e9-9424-a4fe21e5eee3.png)

[2019-04-30 20:18] samreid commented on #375
I'll take a first pass at drawing it in the code, thanks!

[2019-04-30 22:47] KatieWoe opened #382 "CT mismatched var in string"
[code]

[2019-04-30 22:49] samreid commented on #382
Thanks @KatieWoe, fixed, closing.

[2019-04-30 22:49] #382 closed

[2019-05-01 03:58] arouinfar commented on #377
@samreid here are the requested pixel polishes. Please let me know if you would like to discuss any of the changes over Zoom.

### Wavelength panel
- [ ] Top-align with scale bar
- [ ] Left-align with laser
- [ ] Format like Wavelength NumberControl in Bending Light -- Readout between tweakers above track
- [ ] Increase width of slider track 50%
- [ ] Match height of slider track to FrequencySlide

[2019-05-01 04:23] arouinfar opened #383 "Updates to slider ranges, defaults, constrainValue"
Due to the changes in #370, the ranges, defaults, and constrainValues specified in https://github.com/phetsims/wave-interference/issues/363#issuecomment-481031114 will need some updating.

Circle Diameter, Square Width/Height, Waving Girl Height should have the same values
* Range 0.04-0.40 mm
* Default: 0.10 mm
* constrainValue: 0.02 mm
* tweaker: 0.1 mm

The other sliders are still looking good.

[2019-05-01 19:05] jbphet commented on #373
I just reviewed `SineWaveGenerator.js`, and while the approach isn't what I've been doing, it looks good to me.  I've been using the enable controls just to set the overall enable state, and then using explicit methods to start and stop the sounds, so the approach of using additional enable properties to the constructor and linking to the `fullyEnabledProperty` and triggering the sound directly fr

[2019-05-01 22:22] samreid opened #384 "Some audio clicking when tone ends"
@jbphet says there can be some clicking when an audio clip ends. You can use delay parameter on stop, like 10ms.  And also set the volume to 0, something like stop(10ms). Probably can use the default time constant for setOutputLevel(0).  If you still hear the clicks, adjust the time constant.

[2019-05-01 22:22] samreid commented on #374
From this week's meeting:

Ashton will record other water drop variants and we will randomize between them. The variation should be pretty subtle.

[2019-05-01 22:23] samreid opened #385 "The smaller drop should also have a lower setOutputlevel (volume)"
The smaller drop should also have a lower setOutputlevel (volume)

[2019-05-01 22:27] samreid opened #386 "The single wavefront sound pitch should fade gradually instead of instantly cutting off."
From this week's sonification meeting:

@Ashton-Morris: The single wavefront sound pitch should fade gradually instead of instantly cutting off.
@samreid: Maybe all tone can fade out?

[2019-05-01 22:28] samreid opened #387 "The laser sound should be more "air"-y"
From this week's sonification meeting:

AP/KP: The sound audio should be more "airy", less sandpaper-y.  Or more rubbery.
	AM: I'll see what I can do, but I'll be careful to eliminate low frequencies, which make it sound too loud.
	KP: What about when you stretch a rubber band?
		AM: We can try that!

KP: The light wave sounds a bit too metallic.
SR: I like having the number of wavefronts match up

[2019-05-01 22:28] samreid opened #388 "Deal with interference between sound beats and tone"
From this week's sonification meeting:

JB: Could do audio ducking for the speaker sound clip when sine wave oscillator is playing.
AP: What about another checkbox to turn the speaker sound clip on/off?
??: What about turning off the speaker sound clip completely when the sine wave oscillator is on.

Consensus: We'll try ducking first, if that isn't nice enough, we'll turn it off completely.

[2019-05-01 22:30] samreid opened #389 "Should we have sound for when the screen icon buttons are pressed?"
At this week's sonification meeting, we asked:

We decided it should be discussed with @emily-phet

[2019-05-01 22:32] samreid opened #390 "For the tools, add pick-up drop-off sounds"
AM: Sounds for the tools in the top-right toolbox?

[2019-05-01 22:32] samreid opened #391 "Sound for rotating the wave view"
AM: Do you want a rotation sound for the Top/Side buttons?
	KP: I could imagine something like that.  Not sure what it would sound like exactly.

[2019-05-06 14:10] samreid commented on #373
Thanks for the discussion and review @jbphet, I'm inclined to close this issue and continue in https://github.com/phetsims/wave-interference/issues/384 and https://github.com/phetsims/wave-interference/issues/386

[2019-05-06 14:10] #373 closed

[2019-05-06 14:15] samreid commented on #384
I added `10` then `100` ms delay to the `stop` call and still heard the clicking when the tone ends.  The problem seems to be happening on `this.oscillator.disconnect( this.masterGainNode );`.  I wonder if we need to schedule that for after the stop delay has occurred?  @jbphet can you please advise?

[2019-05-06 15:19] samreid commented on #386
I wonder if this will be addressed by https://github.com/phetsims/wave-interference/issues/384.

[2019-05-06 15:57] samreid commented on #384
@jbphet and I looked into it.  SoundGenerator is already doing the fade out, we just need to wait until the fade out is complete before stopping the oscillator.  Committed, tested and closing.

[2019-05-06 15:57] #384 closed

[2019-05-06 15:59] samreid commented on #386
@jbphet and I addressed the clicks on oscillator stop in #384, perhaps this is addressed too. @Ashton-Morris can you please listen and let me know if this issue can be closed?

[2019-05-06 17:46] Ashton-Morris commented on #386
@samreid (Chrome) The first time I turn on the Play Tone box after already having it previously turned on once, I do get a pop. After that initial pop I get no more no mater how many times I turn it on and off.

(Safari) Every time I turn off the Play Sound button I get a click/pop.

I'm not sure what your target browsers are? But I test in Chrome and Safari usually

[2019-05-06 21:50] samreid commented on #386
I can reproduce both those problems, thanks! I've been primarily developing on Chrome but we are targeting the platforms listed here: https://phet.colorado.edu/en/help-center/running-sims

[2019-05-06 21:58] samreid commented on #386
I tried adding a delay to the start like so:

[code]
But now it pops every time on chrome instead of only the 2nd time.  @jbphet can you help me investigate?

[2019-05-07 12:54] emily-phet commented on #389
Sure - but perhaps just use the generic 'push button' sound brought up in a separate issue.

Also - I agree with all the issues on creating a standard default sound for radio buttons, push buttons, etc. I would suggest selecting something that sounds reasonable from what @Ashton-Morris and @jbphet propose. While it's desirable to select something we won't change going forward, I would suggest not

[2019-05-07 13:02] emily-phet commented on #390
I would suggest a less strong sound for pick-up/drop in Waves. In BASE and Friction etc., the object being picked up is the main thing. We want that to sound salient and important. In something like Waves, I think we want the sound to provide confirmation of the action, but not sound as important. Maybe something more neutral, slightly lower volume, than friction would be good. Maybe using a timbr

[2019-05-07 14:31] samreid opened #392 "Should the sound wave tone and corresponding checkbox appear in Wave Interference 2.0?"
We are developing the sound wave tone and "Play Tone" checkbox as part of the Waves Intro sim, but I don't recall if we discussed adding it to Wave Interference itself.  @arouinfar @kathy-phet @ariel-phet what do you recommend?

[2019-05-07 14:35] kathy-phet commented on #392
Yes, that would be good.

Kathy

Sent from my iPhone

On May 7, 2019, at 8:31 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #392<https://github.com/phetsims/wave-interference/issues/392> to @kathy-phet<https://github.com/kathy-phet>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/ph

[2019-05-07 15:50] samreid commented on #375
I added a rough draft of a cone and gradient.  Some notes about the implementation:

* I used a vertically symmetrical linear gradient with color stops for the opacity.  These can be changed if desired
* It looks like the beam gets weaker as it goes further to the right in https://github.com/phetsims/wave-interference/issues/375#issuecomment-488098774, I'm not sure how to implement that and that e

[2019-05-07 16:20] arouinfar commented on #392
Agreed with @kathy-phet. We should include Play Tone in Wave Interference, but I think it can wait until 2.0.

[2019-05-07 16:39] arouinfar commented on #375
@samreid overall things are looking great! My only nit-pick is that it looks like the beam is somewhat misaligned with the screen.

<img src="https://user-images.githubusercontent.com/8419308/57316828-ef6f0c80-70b3-11e9-80e6-100f420b0137.png" width=300>

Looks good!

In Illustrator, I was able to add a horizontal opacity gradient skewed to the end of the beam which greatly reduced the opacity of t

[2019-05-07 18:01] ariel-phet commented on #392
@kathy-phet  decision works for me.

[2019-05-07 18:02] samreid opened #393 "Suppress oscillator sound effects during "step""
From today's sonification meeting: Suppress oscillator sound effects during "step"

[2019-05-07 19:49] samreid commented on #375
I wonder if we are seeing an optical illusion?  When I turn the opacity to a constant, it seems to line up correctly:

![image](https://user-images.githubusercontent.com/679486/57328155-e55a0780-70cd-11e9-9ef0-e2ac9749ca6a.png)

Here's how 380nm light looks on my side without guards:

![image](https://user-images.githubusercontent.com/679486/57328247-27834900-70ce-11e9-8225-00aeba3f193d.png)

Assu

[2019-05-07 20:17] samreid commented on #376
#375 and #377 and #383 will need to be addressed before we can go to code review, so this will be on hold longer.

[2019-05-08 03:13] samreid opened #394 "Format like Wavelength NumberControl in Bending Light -- Readout between tweakers above track"
From https://github.com/phetsims/wave-interference/issues/377,

This capability doesn't exist in common code.  Bending light disabled the WavelengthSlider tweakers and added separate ones:

[code]

The best long-term solution would be to develop this as a new feature in scenery-phet.  I'll open a scenery-phet issue and leave this as a marker.

[2019-05-08 03:28] samreid commented on #377
This was already in place

[2019-05-08 03:45] samreid commented on #377
With the English strings, the discrepancy between the widths is caused by the lengths of the tick labels.  Changing the minimum angle from "0" to "0.00" nearly completely unifies these sizes.  Brainstorming ways to proceed:

a) Change the minimum angle from "0" to "0.00".  Doesn't exactly match, but much closer (off by a few pixels).  Easy to implement, but not very robust--changes in labels or te