[2020-05-14 20:00] samreid commented on #473
Here's a recent dev version for discussion:
https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.20/phet/waves-intro_en_phet.html

[2020-05-14 20:27] samreid commented on #473
We reviewed this at today's design meeting:

@arouinfar recommends: The lighter probe should have its volume increased.

@jbphet recommends to reduce the water drop sounds by 10%
@kathy-phet says the water drops should be louder than the other button-y sounds.

@jbphet recommends to reduce the speaker membrane sound by 20%

[2020-05-14 20:55] samreid opened #497 "Update speaker membrane sound immediately on changes and on reset"
From https://github.com/phetsims/wave-interference/issues/473 we would like the speaker membrane sounds to update immediately on changes or on reset all rather than waiting for the next cycle.  Thanks for the recommendation @jbphet !

[2020-05-14 20:58] samreid commented on #497
@jbphet mentioned this may be easier with a continuous loop and low frequency oscillator.  He may add better support for that, since it is coming up in Proportion Playground as well.  But for now, we should keep track of the existing SoundClip and update it accordingly.

[2020-05-14 21:20] samreid commented on #473
For after the meeting:
The lighter probe should have its volume increased. Try to make them sound the same volume at the same spot.

[2020-05-14 21:23] samreid commented on #496
@jbphet says it is OK to repeat the "bonk" sound after reaching the extremum.

[2020-05-14 21:23] #496 closed

[2020-05-14 21:26] samreid commented on #412
At today's design meeting, we reviewed the tab order today and agreed it seems reasonable.  @jbphet asked if @terracoda should take a look.

@kathy-phet agreed @terracoda can take a look, but this is somewhat different since it doesn't have interactive descriptions.

[2020-05-14 21:31] samreid commented on #412
In today's meeting, we decided to defer this discussion until we add keyboard navigation for those tools.

[2020-05-15 00:33] terracoda commented on #412
Keyboard order looks fine to me.
I did not listen with a screen reader :-)

Note that scenery-phet now has a hotkey for Pause/Play in common code.

[2020-05-15 00:38] terracoda commented on #412
Also, not in Molecules in Light we decided to move the Sims Speeds to the left of the Pause/Play. The slow motion is much more useful for blind learners.

Ultimately, it is up to the team to decide if the Sim Speed radios are a preferred option to Pause/Play/Step and then reverse the order, or leave as is.

[2020-05-15 03:50] samreid commented on #473
Patch from design meeting:

[code]

[2020-05-17 02:45] samreid commented on #473
On second thought, it seems we the audio files should also be balanced, in case we decide to use them in another context.

[2020-05-17 22:58] samreid commented on #472
@arouinfar can you please advise for this issue?

[2020-05-17 22:59] samreid commented on #413
Thanks for your comments, closing.

[2020-05-17 22:59] #413 closed

[2020-05-17 23:02] samreid commented on #435
It seems like making the next release contingent on a robust solution here may push out the publication date too far.  Should this be deferred until a future release?

[2020-05-17 23:18] samreid commented on #412
I think it works OK as it is, though my only hesitation with moving the radio buttons to the left is they be right next to another set of radio buttons:

![image](https://user-images.githubusercontent.com/679486/82162501-42040c80-9862-11ea-81eb-5883603432c9.png)

Or we could move the play/pause button further to the right?

![image](https://user-images.githubusercontent.com/679486/82162510-5f38db0

[2020-05-18 18:59] arouinfar commented on #472
Locking the two sources to be in phase was a deliberate design decision.

If we wanted to make this change, I think the control would need to adjust the phase relatively (e.g. 1/4 or 1/2 cycle offset). However, I do think this goes beyond the scope of the learning goals and I suspect the resulting interference pattern would be incredibly hard to interpret. Closing.

[2020-05-18 18:59] #472 closed

[2020-05-19 12:21] samreid commented on #322
I tried removing the empty Rectangle from the sound screen particle view, and could not tell any difference, with or without webgl enabled, so I removed it.  Flagging for a closer look during next QA test.

[2020-05-19 12:23] samreid commented on #461
All TODOs are now completed or marked with issue numbers, closing.

[2020-05-19 12:23] #461 closed

[2020-05-19 22:44] samreid commented on #497
After the commit, the frequency, amplitude, pause and reset all update the sound right away.  The sound still waits for the next cycle when creating a new sound, but perhaps that is not essential for the first release.  @jbphet can you please review?

[2020-05-19 22:47] samreid commented on #497
I also noticed https://github.com/phetsims/tambo/issues/106 is now implemented.  Can you please describe how we would set it up to emulate the speaker membrane sound?

[2020-05-20 16:56] arouinfar commented on #412
@terracoda I am hesitant to generalize a pattern that worked in MAL to all sims. In MAL, play/pause is a much more secondary action for all users and it simplified the described experience.

Having the radio buttons on the left will always be worse for i18n since the strings have less room to expand. The trapped space between the ragged edge of the strings and the play/pause button is also less ae

[2020-05-20 16:58] samreid commented on #412
Thanks, it seems this issue is ready to close.

[2020-05-20 16:58] #412 closed

[2020-05-20 17:01] oliver-phet opened #498 "User reported issue: increase graph trace contrast"
This was reported into phethelp by a Linux user and was likely caused by a graphics issue on their machine. However, I thought it would be best to get it recorded so that if/when this sim is revisited we could investigate increasing the contrast or modifying the colors of the probes/traces.

[2020-05-20 17:02] arouinfar commented on #494
Thanks @michAtEl. We will be handling this request in #498. Closing.

[2020-05-20 17:02] #494 closed

[2020-05-20 17:34] jbphet commented on #497
Sure.  I feel like it would simplify the existing code, but there are some tradeoffs (not the least of which is that you have something working which may suffice), so it will be up to you @samreid as to whether this is worthwhile.

To produce the speaker membrane sound using an amplitude modulator, you'd create a subclass of `SoundGenerator` called something like `SpeakerMembraneSoundGenerator` th

[2020-05-22 16:19] jbphet commented on #497
Unassigning myself until @samreid has a chance to determine the next steps.

[2020-05-26 19:26] samreid commented on #498
@arouinfar thanks for providing the code for this!  Committed and pushed, can you please double check?  Close if all is well.

[2020-05-26 20:19] samreid commented on #497
Thanks for describing how this could be done, the existing implementation seems appropriate for the upcoming release.  In the future if more work is warranted in this area or changes are necessary, we can try the proposal above.  @jbphet anything else for this issue before dev or RC testing?

[2020-05-26 20:44] samreid commented on #473
Since all aspects of this issue have been addressed aside from the wave meter probe sound normalizing, let's move that to a separate issue and close this parent issue.

[2020-05-26 20:45] samreid commented on #473
I reopened https://github.com/phetsims/wave-interference/issues/485 and will close this issue

[2020-05-26 20:45] #473 closed

[2020-05-26 20:59] samreid commented on #485
From https://github.com/phetsims/wave-interference/issues/473#issuecomment-628892946

The light probe is the "smooth" one and the dark one sounds more like a "saw".

[2020-05-26 21:26] samreid commented on #485
Reducing the saw tone by -19dB sounds like it makes them the same in the sim.  I'll commit this, then we will need to boost both sounds in the sim.

[2020-05-26 21:42] samreid commented on #485
According to https://www.silisoftware.com/tools/db.php this corresponds to a 8.912509381337454x increase in amplitude, so I'll multiply that accordingly.

[2020-05-26 21:51] samreid commented on #485
OK I've boosted the light probe by 19dB=8.9 amplitude, and it sounds well-matched to me.  I published a dev version here:
https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.21/phet/waves-intro_en_phet.html

@Ashton-Morris @arouinfar @ariel-phet can you please test this version and report on the wave meter probe normalization?

[2020-05-26 22:44] samreid commented on #426
@jbphet would you like to review this sonification code before we go to dev testing?  Please be aware of https://github.com/phetsims/tambo/issues/74 which is under discussion.

[2020-05-27 03:22] arouinfar commented on #498
Looks good in master @samreid, thanks!

[2020-05-27 03:46] arouinfar commented on #485
I tested with headphones at 50% volume and I found the light probe to be very overpowering. I experimented with the multiplier locally, and something like 1.2 sounds better to me.

[2020-05-27 16:04] samreid commented on #485
Does the light probe sound the same volume as the dark probe?  If not, how much louder would you say it is?  Are you saying that the light probe should be reduced from 8.9 to 1.2, leaving the dark probe the same volume?

[2020-05-27 16:26] jbphet commented on #497
Yes.  If you're going with the current implementation, I still need to review that, as noted in my comment above.

[2020-05-27 21:06] samreid commented on #498
Thanks, I'll leave this open and on-hold as a reminder that after publication @oliver-phet can notify the client.

[2020-06-01 15:17] samreid commented on #485
On my Macbook Pro speakers, they sound well-balanced, but using my external speakers it sounds like the light probe is 40-60% louder than the dark probe.

[2020-06-01 15:34] samreid commented on #485
Let's take the following steps:

1. re-balance the light probe using my external speakers
2. add a query parameter for adjusting its volume
3. share a dev version with the waves intro sonification team and find the best tuning for that parameter.

[2020-06-01 15:53] arouinfar commented on #485
No, not at all. The light probe sounds significantly louder to the point that I really cannot bear to listen to it if it is close to the source. (Testing with headphones, volume 50%.)

The probes sound fairly balanced to me in this configuration, despite the amplitudes being very different.
![image](https://user-images.githubusercontent.com/8419308/83426906-1bf77400-a3ed-11ea-90ed-c4697fb3bc2e.png

[2020-06-01 16:02] samreid commented on #485
Here's a dev version with the rebalanced value of 0.42:

https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.22/phet/waves-intro_en_phet.html?lightProbeVolumeAmplitude=0.42

Please test and let me know what value you recommend.

[2020-06-01 16:05] samreid commented on #485
That value in the code is applied to both dark and light probes.

[2020-06-01 16:07] Ashton-Morris commented on #485
I feel like the volume levels of the meter reader sound balanced

[2020-06-01 16:17] arouinfar commented on #485
@samreid the rebalanced version sounds much better to me.

[2020-06-01 16:20] samreid commented on #485
Thanks, I removed the query parameter.  Closing.

[2020-06-01 16:20] #485 closed

[2020-06-01 16:24] samreid commented on #450
Measuring tape now moves to the front in the mentioned issue.

[2020-06-01 16:30] arouinfar commented on #435
Yes, it seems reasonable to continue deferring.

[2020-06-01 16:49] samreid commented on #450
Implemented and would be nice to have some QA testing for this feature.

[2020-06-01 16:50] samreid commented on #451
@ariel-phet or @arouinfar should we work on this issue for the upcoming Waves Intro sonification/keyboard navigation release?

[2020-06-01 16:58] arouinfar commented on #451
My guess is no, but it would be good for @ariel-phet to confirm.

[2020-06-01 20:51] ariel-phet commented on #451
@samreid we will not work on this issue. Marking as `wontfix`

[2020-06-01 20:52] #451 closed

[2020-06-02 22:54] jbphet commented on #426
Review complete, see `//REVIEW` markers in the code.

Also, on the topic of `WavesScreenSoundView` having a static init function, this doesn't seem very consistent with how we handle visual views.  Here is a suggestion: Consider adding an field to the options parameter in `Screen.js` named something like `createSoundView`, similar to the required `createModel` and `createView` parameters, and have

[2020-06-02 22:56] jbphet commented on #497
Reviewed while working on https://github.com/phetsims/wave-interference/issues/426.  @samreid - you can probably close this issue and just address the comments in #426 if you like.

[2020-06-03 15:00] samreid commented on #497
Excellent, thanks!  Closing.

[2020-06-03 15:00] #497 closed

[2020-06-03 16:48] samreid commented on #426
Thanks for the code review, @jbphet, good suggestions!  I addressed them in the commits.  Ready for your re-review.

[2020-06-15 18:20] jbphet commented on #426
@samreid - most of the commits look good.  One question: In https://github.com/phetsims/wave-interference/issues/426#issuecomment-637849233, as part of this review, I suggested a different way to handle the initialization of the sound view rather that using an init function that is called from `WavesScreenView`.  It looks like that part wasn't done.  Was this considered and rejected, or was it jus

[2020-06-16 01:23] ariel-phet commented on #435
Considering this sim has been out in the wild for sometime without complaints, I am fine with continuing to defer. Unassigning myself.

[2020-06-16 17:34] samreid commented on #426
Thanks, I neglected to comment on that part. I don't like the existing pattern:

[code]

The proposal from the comment is to add a new Screen.js method like `Screen.createSoundView`, so that the constructor would change from

[code]

to

[code]

I do not agree with this proposal.  The `model` and `view` parts of `Screen.js` indicate the model and view parts from an MVC pattern, and `createView` sh

[2020-06-17 15:07] jbphet commented on #426
@samreid - what you responded to is not quite what I proposed.  I proposed an *option* called `createSoundView`, not a parameter.  This option would be set to `null` and unused by default but, if set, the function would be called and the created object stepped if it has a step method.  So let's be clear: when you say "I do not agree with this proposal", do you also disagree with there being an opt

[2020-06-18 04:44] samreid commented on #426
Thanks for the correction, I did write my comment based on a required parameter, but all of the same comments apply equally well to an option.  To be clear, I do not think there should be an option to create a sound view, and that `createView` should create the root of the view, which contains all view components, not just the visual one.  I'll go ahead with assigning `this.wavesScreenSoundView` a

[2020-06-23 15:38] samreid commented on #426
I converted WavesScreenSoundView from static init to constructor, @jbphet can you please review and check the last few comments.  Anything else to do here?

[2020-06-23 17:34] jbphet commented on #426
Looks good to me.  I think we're done here.  Closing.

[2020-06-23 17:34] #426 closed

[2020-06-23 19:38] samreid commented on #66
It seems unlikely we will need this optimization, closing.

[2020-06-23 19:38] #66 closed

[2020-06-23 19:46] samreid opened #499 "Dev testing for keyboard navigation + sonification release"
The sonification has been finalized and we would like to move toward publication.  The next step is a dev test.  There are currently 2 issues labeled for blocks-publication.

https://github.com/phetsims/perennial/issues/172 updateHTMLVersion.js fails after reverting version in package.json
https://github.com/phetsims/chipper/issues/954 Create a message that we don't support IE 11

I don't understa

[2020-07-06 15:51] samreid commented on #499
Dev testing issue created in https://github.com/phetsims/QA/issues/511, closing.

[2020-07-06 15:51] #499 closed

[2020-08-12 23:54] arouinfar opened #507 "Disable Play Tone checkbox when sound is muted from the navbar"
When muting sound from the navbar, it turns off ALL sound in the sim. This can lead to an odd UX with the Play Tone checkbox. It's possible to interact with the checkbox, but nothing will happen. This feels really broken to me.

@samreid would it be possible to set the `enabledProperty` of the Play Tone checkbox to false if the sound is muted? I realize this is still not a perfect solution because

[2020-10-07 03:23] samreid commented on #433
@ariel-phet can you please comment on this issue as it pertains to the upcoming publication of CCK-AC?

[2020-10-13 21:00] DevonQui opened #500 "Slight alignment and resizing issues"
**Test device**
MacBook Pro

**Operating System**
10.15.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/511
When doing the stringTest=long query parameter, both the play button and skip forward button appear to lose center. Also the tool bar shrinks for some reason to where it becomes hard to even see what your clicking on.

**Steps to reproduce**
1

[2020-10-14 19:59] loganbraywork commented on #500
Same issues occur on Win 10 Chrome
![2020-10-13WavesIntroSmallstringtestlongtext](https://user-images.githubusercontent.com/54685448/96039180-7ede2a80-0e25-11eb-81f1-994ac217bd6e.PNG)

[2020-10-14 20:23] loganbraywork opened #501 "No pointer area box on "Sound Effect" button, seems inconsistent with other buttons having pointer area boxes"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Chrome Version 86.0.4240.75

**Problem description**

For https://github.com/phetsims/QA/issues/511

There is no pointer area box on the Sound Effect button in the Light screen. This seems inconsistent with other pointer area boxes on other screens, which include Play Tone specifically on the Sound screen.

*

[2020-10-14 21:35] loganbraywork opened #502 "Speaker flashes when first used on Firefox"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Firefox 81.0.2 (64-bit)

**Problem description**

For https://github.com/phetsims/QA/issues/511

On the Sound Screen, when the Speaker is activated for the first time it flashes white. This seems to only occur in Firefox, and only on the first use of the Speaker in the sim.

**Steps to reproduce**

1. Refresh

[2020-10-21 15:42] brooklynlash commented on #450
Works in dev.24

[2020-10-23 22:43] KatieWoe commented on #322
For Dev.24. This issue was seen mostly on iOS 12 if I recall correctly. This platform is less supported now. @samreid should we discuss what this test should look like?

[2020-10-26 19:31] DevonQui opened #503 "Waves no longer appear properly at high frequencies"
**Test device**
MacBook Pro

**Operating System**
Catalina 10.15.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/511
For the light and sound wave simulations, the waves will begin to stick together at the wave origin when the wave frequency is high. Fortunately, I was unable to produce this in the Water Wave simulation although the visuals might be

[2020-10-26 21:29] KatieWoe commented on #330
Noting this in https://github.com/phetsims/QA/issues/511

[2020-10-26 21:41] KatieWoe commented on #503
Noting that this happens in the published sim as well. It also only happens from using the continuous wave setting, as the pulse button is disabled when pressed until a full wave has been created.

[2020-10-26 22:29] arouinfar commented on #330
This issue is pretty stale. I recommend we either close as wont-fix, or reassign to @jonathanolson/@samreid if it's worth digging into the gl.clear issue. I'm fine with closing, but I'll let @ariel-phet make that call.

[2020-10-26 22:32] samreid commented on #330
We saw another issue in Natural Selection where the first webgl render was missed, I wonder if it could be related?

[2020-10-26 22:59] KatieWoe commented on #322
Things look ok in dev.24

[2020-10-26 23:32] samreid commented on #503
I believe we discussed this problem as part of https://github.com/phetsims/wave-interference/issues/316#issuecomment-454458763 and were aware that it was a disadvantage of the temporal masking approach.  @arouinfar or @ariel-phet do you have a clearer recollection?  How do you wish to proceed?

[2020-10-27 00:10] arouinfar commented on #503
If I remember correctly, the temporal masking was introduced to smooth out the graph data, intensity plot, and wave meter plots. Some concessions had to be made for reasonable performance for typically lower-performing devices. If the behavior is only present during interactions that are not pedagogically useful, such as rapidly scrubbing sliders or mashing the on/off button, then it's not an issu

[2020-10-27 00:39] ariel-phet commented on #503
@DevonQui thanks for identifying this issue, but yes, considering the compromises we have had to make for the sim to function well, coupled with this behavior not being pedagogically useful we will close as `wontfix`

[2020-10-27 00:39] #503 closed

[2020-10-27 21:48] KatieWoe opened #504 "Suggestion for keyboard nav order"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/511
If using keyboard nav, you pass through a number of options on the panel when going between the on/off for the wave source and the continuous/pulse options. This makes sense in regards to where everything is on the screen. However, since switching turns of

[2020-10-27 21:51] samreid commented on #504
@emily-phet can you please comment on this, or assign someone accordingly?

[2020-10-27 23:14] arouinfar commented on #504
Thanks for the suggestion @KatieWoe. There hasn't been much keyboard navigation design in this sim, and what's currently implemented is incomplete (toolbox/tools are not keyboard accessible). The continuous/pulse radio group is a secondary control, and I don't think I would move it up in the focus order. However, we could consider creating a custom keyboard shortcut to turn the source on/off.

I'd

[2020-10-28 03:08] emily-phet commented on #504
Let's consider this when full keyboard navigation is implemented.

[2020-10-29 03:11] zepumph opened #505 "Minor regression in pulse icon RoundButton size"
Over in https://github.com/phetsims/sun/issues/657, RoundButton began to scale down its content when the specified radius option couldn't support it. I was able to cover every case I found expect for in wave interference.  When you swap scene selection buttons, an icon appears on the laser/faucet that looks like a pulse or a wave of some sort. That is slightly smaller since __.

@samreid would you

[2020-10-29 15:02] samreid commented on #505
This seems OK to me, thanks!  Closing.

[2020-10-29 15:02] #505 closed

[2020-11-02 18:49] pixelzoom opened #506 "TimeControlNode changes?"
From https://github.com/phetsims/QA/issues/572#issuecomment-719880346.  It's unlikely that this is related to sun button changes, and more likely related to changes to TimeControlNode.

@ariel-phet noted that TimeControlNode layout and sizing differs between published and master. If this is a know (or acceptable) regression, that's fine.

Wave Interference published (2.0.2):
![WI-published](https:

[2020-11-02 19:08] samreid commented on #506
This change is likely due to conversion to use TimeControlNode (and its defaults).  That seems reasonable to me, but please reopen if changes are recommended.

[2020-11-02 19:08] #506 closed

[2020-11-03 16:45] samreid commented on #500
I centered the play/pause buttons under the way area, and reduced the maxWidth for the StopwatchNode numberDisplay.  @DevonQui I wasn't 100% sure what you meant by "tool bar" in this sentence:

@arouinfar can you please review?

[2020-11-03 17:02] samreid commented on #501
I centralized the pointer area code and applied it to the light sound effect checkbox, @loganbraywork or @arouinfar please review and close if all is well.

[2020-11-03 17:09] samreid commented on #502
I was not able to reproduce this problem on macOS 10.15.7 running Firefox 82.0.2 (64-bit) and https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.24/phet/waves-intro_all_phet.html

[2020-11-03 17:16] samreid commented on #502
Testing on Windows 10 Home 19041.572 running Firefox 82.0.1 I see a delayed appearance, then rapid flickering on first use.  After updating to 82.0.2, I see rapid flickering on first use.

[2020-11-03 17:40] samreid commented on #502
@jonathanolson recommended testing with `renderer: 'canvas'` and that seems to be working well and without side-effects.  I published a dev version here which can be used for testing: https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.25/phet/waves-intro_en_phet.html

@loganbraywork can you please test in dev.25?  Close if all is well.

[2020-11-05 14:46] arouinfar commented on #501
👍

[2020-11-05 14:46] #501 closed

[2020-11-05 14:53] arouinfar commented on #500
I don't see any layout-breaking issues with `stringTest=long` in master, though I do wonder if the time scale string in the upper-right corner of the lattice on the Sound and Light screens has a maxWidth. The layout doesn't break because there is lots of room in that part of the sim, but it might be a good practice to give that string a maxWidth, just in case.
![image](https://user-images.githubus

[2020-11-10 22:47] loganbraywork commented on #502
Seems fixed, was not able to reproduce in https://phet-dev.colorado.edu/html/waves-intro/1.1.0-dev.25/phet/waves-intro_en_phet.html

[2020-11-10 22:47] #502 closed

[2020-11-14 00:28] samreid commented on #507
I moved this issue to "wave-interference" repo since that's where the code is and so we can associate it with the milestone.

[2020-11-14 00:46] emily-phet commented on #507
@arouinfar Just a thought - I'll defer to your decision on this.

I agree that having the Play Tone checkbox checked + global sound disabled (=Play Tone sound not perceivable) does not visually cue why the enabled feature does not result in sound (or anything). Totally agree.

With that noted, this is behavior of every other instance in a web browser when something should be playing sound. For exa

[2020-11-15 02:45] samreid commented on #507
I added notes to describe the detail in https://github.com/phetsims/wave-interference/issues/507#issuecomment-726936679.    @arouinfar can you please review the preceding comment and recommend how to proceed (a) for Waves Intro and (b) in general?  If Waves Intro is good with respect to this issue, let's close it.  If more discussion is warranted, perhaps it could be moved to the sonification repo

[2020-11-15 02:50] samreid commented on #500
The preceding commit https://github.com/phetsims/wave-interference/commit/d8b66f74036a8298342d99b5614ab8702adfff46 centers the "play/pause" button in the middle of the play area.  Instead, if I center the time control node, it comes out like this (because the time control node includes "normal/slow":

![image](https://user-images.githubusercontent.com/679486/99161750-97569480-26b2-11eb-91d5-995d3d

[2020-11-16 18:25] arouinfar commented on #500
@samreid let's center the TimeControlNode under the lattice. That is currently what is done in the latest published versions of waves-intro and wave-interference and it looks quite good. I'm not seeing any issues with `stringTest=long` either.
![image](https://user-images.githubusercontent.com/8419308/99292358-579cc380-27fe-11eb-8ec5-a8468d2a4905.png)

[2020-11-16 18:45] arouinfar commented on #507
I completely agree @emily-phet. I think the case we're considering here is pretty narrow, and I don't think it's a pattern we can or should generalize more broadly. There is a sound in these sims (literal sine wave sound) that we want users to be able to opt-out of separately from the rest of the other sounds, and it's done with a simple UI element.

@samreid we can proceed as planned for Waves In

[2020-11-16 18:45] #507 closed

[2020-11-16 22:41] samreid commented on #500
Centering it in master currently looks like this:

![image](https://user-images.githubusercontent.com/679486/99316756-1fa77780-2822-11eb-8dbf-9afc9f4c9d3e.png)

Should I nudge it to the right a little?  Or reduce the maxWidth of topView/SideView?

[2020-11-16 22:59] arouinfar commented on #500
@samreid  let's reduce the maxWidth of the Normal/Slow radio buttons to match the Top/Side view. That should reduce the overall width of the TimeControlNode and remove the overlap currently in master.

[2020-11-17 17:25] samreid commented on #500
I set the time control maxWidth to match the maxWidth of the perspective radio button text, and committed.  It looks like this:

![image](https://user-images.githubusercontent.com/679486/99424635-26d09300-28bf-11eb-9477-6e0b56584bf6.png)

@arouinfar please review.

[2020-11-18 05:28] arouinfar commented on #500
Look good to me @samreid

[2020-11-18 05:45] #500 closed

[2020-11-19 16:28] ariel-phet commented on #330
I think closing as `wontfix` is the correct call

[2020-11-19 16:28] #330 closed

[2020-11-21 20:37] samreid opened #508 "Create an RC"
I think all issues from the dev test are complete, so we can proceed to make an RC and RC testing issue.  I'll follow the new methodology of creating a placeholder issue, then taking SHAs as late as possible.

[2020-11-24 18:03] samreid commented on #508
I created https://github.com/phetsims/QA/issues/580, closing.

[2020-11-24 18:03] #508 closed

[2020-12-19 00:52] samreid opened #509 "Publish Waves Intro with Sonification and Basic Keyboard Support"
Issue for milestone https://github.com/phetsims/wave-interference/milestone/1

[2020-12-21 18:21] samreid commented on #509
I linked the QA issue above

[2020-12-23 19:32] ariel-phet commented on #433
I think this issue can be dealt with in the future by https://github.com/phetsims/sun/issues/48

Closing this issue as it can be taken care of by layout manager work in the future (and is not pressing currently)

[2020-12-23 19:32] #433 closed

[2020-12-28 18:13] KatieWoe opened #510 "Speaker ends in a different location after a pulse"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome/Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/580. Very minor. Happens in published
If you manually pulse the speaker, it ends in a slightly different position than where it starts/returns to after reset all.

**Visuals**
![smallspeakershift](https://user-images.githubusercontent.com/41024075/103234788-

[2020-12-29 03:57] samreid commented on #510
I am able to reproduce the problem on my Mac Chrome.  There are 2 factors at play:

1. `pulseFiringProperty` is set to false at the end of the cycle, but later in the model there is a guard that prevents updating when `pulseFiringProperty` is marked to false.  Correcting this problem alleviates the observable symptoms.
2. `dt` can overshoot the end of the cycle.  I didn't see any frequency values

[2020-12-29 03:57] samreid commented on #510
@KatieWoe can you please test in master?

[2021-01-04 17:49] KatieWoe commented on #510
Looks fixed on master

[2021-01-04 18:25] samreid commented on #510
@KatieWoe and I discussed whether this should be cherry-picked to the branch, and we agreed that 15-20 minutes more of testing on master (not testing the speaker position itself, but the broader context) would be good to make sure there were no unintended side-effects before we cherry-pick this to the branch.

[2021-01-04 19:12] DevonQui opened #511 "Keyboard Navigation use with Simulation Tools?"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.0.1

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/580

I'm not entirely sure if this was intentional or not but when I was testing the keyboard navigation in the simulation, I was unable to access the tools above the wave settings. Tools such as the timer, measuring tape, etc. I haven't te

[2021-01-04 19:16] DevonQui commented on #511
I just tested this out in Safari as well and I was still unable to access the simulation tools using keyboard navigation.

[2021-01-04 19:25] samreid commented on #511
The tools in the top toolbox are not designed to be keyboard accessible for this version.

[2021-01-04 20:48] KatieWoe commented on #510
The sound effect now seems to be out of synch in master. So when you hit pulse, sometimes the sound happens, sometimes it doesn't, and sometimes it happens twice.
https://drive.google.com/file/d/1CItJS_E_G84ozA_IDFkGCEBxXSnKHh4l/view?usp=sharing
Didn't seem to happen in rc.3, so I think it is connected

[2021-01-05 00:26] samreid commented on #510
Great discovery, thanks for finding this problem!  I replicated the problem and will take a look.

[2021-01-11 19:03] samreid commented on #510
In the commit, I adjusted the threshold for sound generation and the problem seems resolved.

I noticed a separate issue where you can stop the continuous sound with the speaker membrane at any position--and this can affect the sound playback, but this problem is less severe and I don't think it will be addressed for this publication.  I'll open a side issue for that part (likely at low priority),

[2021-01-11 19:04] samreid opened #512 "You can pause the continuous speaker membrane at any position, and when you resume playing, it may not trigger a sound depending on the membrane position."
Discovered in https://github.com/phetsims/wave-interference/issues/510, you can pause the continuous speaker membrane at any position, and when you resume playing, it may not trigger a sound depending on the membrane position.

[2021-01-11 19:05] samreid commented on #510
Ready for feedback on this issue, reassigning to @KatieWoe for testing in master.  I think we are still undecided about whether these changes should be cherry-picked to the branch.

[2021-01-11 19:51] KatieWoe commented on #510
The issue looks mostly fixed in master. I think I saw what @samreid mentioned in https://github.com/phetsims/wave-interference/issues/510#issuecomment-758158006. If you stop a wave at as the sound starts, it can mess up the sound when it starts at a new frequency. I have had the wrong frequency start then fix itself, or the sound take a fair amount of time to start.
https://drive.google.com/file/d

[2021-01-12 14:26] samreid commented on #512
In https://github.com/phetsims/wave-interference/issues/510#issuecomment-758184046 @KatieWoe said:

https://drive.google.com/file/d/1N7DIgNoMb2OKR13YHVgrcMhqMSXopjN4/view?usp=sharing

[2021-01-12 14:29] samreid commented on #510
Thanks, I moved the preceding comment to https://github.com/phetsims/wave-interference/issues/512.  Can this issue be closed?

[2021-01-12 16:11] KatieWoe commented on #510
Probably, unless you want it checked in an rc.

[2021-01-12 16:16] samreid commented on #510
Reopening to consider whether these changes should be cherry-picked to the branch.

[2021-01-12 22:16] KatieWoe commented on #512
I just noticed that this seems to happen in https://github.com/phetsims/QA/issues/580, so it is unlikely to be related to the fix for #510

[2021-01-12 22:31] KatieWoe commented on #450
I noticed in 1.1.0 rc.3 that this works in most cases, but if the stopwatch is behind another tool, and you press one of its buttons, it does not jump to the top. It does if you grab a non-button area.
![moveforwardbuttons](https://user-images.githubusercontent.com/41024075/104382389-3c42f180-54eb-11eb-89b3-c06c858c5278.gif)

[2021-01-13 17:31] KatieWoe opened #513 "Long strings can throw off pointer areas"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/580.
The way strings in the timer changes under string tests, such as `?stringTest=long`, means that in the new rc, the timer looks longer. This throws off the grabbable area when in the toolbox. If you try to grab the measure tape, you often accidentally grab the

[2021-01-13 17:47] KatieWoe commented on #513
I also noticed that the wave inspector tool handles long strings differently now too, and it looks a bit odd.
Now:
<img width="321" alt="nowview" src="https://user-images.githubusercontent.com/41024075/104489284-afe90b00-558c-11eb-8b2b-3fad2fdef2c3.png">
Published:
<img width="227" alt="thenview" src="https://user-images.githubusercontent.com/41024075/104489303-b4adbf00-558c-11eb-940d-20a3d45b91da

[2021-01-13 21:49] KatieWoe opened #514 "Safari: timer restart button is darker in toolbox"
Device
MacBook Air and iPad 6th Gen
OS
MacOS 10.15 and iPadOS 14.3
Browser
Safari
Problem Description
For https://github.com/phetsims/QA/issues/580. Does not occur in published.
The restart timer button on the timer is disabled while it is in the toolbox since the timer is at 0. However, in Safari, what that looks like in the box and out of the box is different. In the box, the button is darker. O

[2021-01-14 18:45] KatieWoe opened #515 "iPad sim crashes and restarts"
For https://github.com/phetsims/QA/issues/580.
On iPad 6th gen, iPadOS 14.3 Safari, the Waves Intro sim crashed and reloaded after several minutes of use. The sim had the `?stringTest= rtl` and it happened on the sound screen when switching to the particle view. This sort of thing was more common with older iOS and older devices, but hasn't happened on up-to-date devices often. I only saw it once

[2021-01-15 04:11] samreid commented on #514
I wonder if a filter is getting applied twice?

[2021-01-19 03:50] samreid commented on #514
@jonathanolson does this seem like it is related to the scenery filters?

[2021-01-20 03:50] samreid commented on #514
I confirmed this problem is happening on Mac Safari but not Mac Chrome on https://phet-dev.colorado.edu/html/waves-intro/1.1.0-rc.3/phet/waves-intro_all_phet.html.  It is also happening on master.

[2021-01-20 11:53] samreid commented on #513
I confirmed the problem.  Here are the bounds according to the scenery inspector:

![image](https://user-images.githubusercontent.com/679486/105171343-54ae9f80-5adb-11eb-9add-9d600099788c.png)

I'll move the preceding comment to a new issue.

[2021-01-20 11:54] samreid opened #516 "The wave inspector tool handles long strings differently now too, and it looks a bit odd"
From https://github.com/phetsims/wave-interference/issues/513#issuecomment-759611876

I also noticed that the wave inspector tool handles long strings differently now too, and it looks a bit odd.
Now:
<img width="321" alt="nowview" src="https://user-images.githubusercontent.com/41024075/104489284-afe90b00-558c-11eb-8b2b-3fad2fdef2c3.png">
Published:
<img width="227" alt="thenview" src="https://use

[2021-01-20 12:03] samreid commented on #513
Even when I set the mouse and touch areas, the pickable bounds remains incorrect.  Here is what ?showPointerAreas shows:

![image](https://user-images.githubusercontent.com/679486/105172306-a7d52200-5adc-11eb-92b0-d2f753fade36.png)

But I can still select the area indicated in the scenery inspector.

This seems like it should block publication, and I'll likely need @jonathanolson's help.

[2021-01-20 12:19] samreid commented on #516
Proposed fix pushed to master.  If it seems good, please reassign to me and I'll cherry pick into the release branch.

[2021-01-20 17:52] KatieWoe commented on #516
Tool looks good on master.

[2021-01-20 18:34] samreid commented on #516
OK I'll mark as ready for QA for testing in the next RC, as a reminder to cherry-pick.

[2021-01-27 15:11] samreid commented on #513
From slack:

Jonathan Olson  9:59 AM
I think solving it is going to require rethinking how node.rasterized() sets up bounds and mouse/touch areas

Sam Reid  10:00 AM
I see

Jonathan Olson  10:01 AM
The actual Image is larger, but it's contained in a Node that has a smaller constrained localBounds overridden, but for input purposes, the larger Image's bounds are used, unless we want to do use hitTe

[2021-01-28 21:49] jonathanolson commented on #514
Yes, seems like https://github.com/phetsims/scenery/issues/1142. Is this blocking for this sim (presumably?)

[2021-01-29 03:04] arouinfar commented on #514
In https://github.com/phetsims/scenery/issues/1142#issuecomment-764834443 we decided this is not a blocking issue.

[2021-01-29 20:57] samreid commented on #513
This patch hides the numbers before creating the icon, and doesn't suffer from the problem:

![image](https://user-images.githubusercontent.com/679486/106326419-abce1600-6239-11eb-93e4-c1a5ced8251e.png)

<details>

[code]

</details>

[2021-01-29 21:05] samreid commented on #513
Even an eroded clip doesn't solve this problem:

![image](https://user-images.githubusercontent.com/679486/106327230-fa2fe480-623a-11eb-932e-715ae452c023.png)

[code]

[2021-01-29 21:11] samreid commented on #513
Setting the clip area of the rasterized node seems to work OK.  I wonder if that would be a reasonable short/long term solution to add in rasterized by default?  @jonathanolson what do you recommend?

This also seems ready to cherry-pick into the RC shas.

[2021-01-29 21:25] samreid commented on #450
There is a natural place we could add a `moveToFront` listener in the restart button.  But the play pause button is a `BooleanRectangularToggleButton` and has no apparent places to listen for press.  We could listen to the play/pause property and move to front when it changes, but then it would also move to front when it changes without a button press.  @jonathanolson and @pixelzoom I noticed you

[2021-01-29 21:30] KatieWoe commented on #513
Looks ok on master for Waves Intro

[2021-01-29 21:34] samreid commented on #513
Thanks for testing, I'll mark for cherry picking into the release branch.

[2021-01-29 23:00] jonathanolson commented on #513
Seems like an ok temporary option, but wouldn't want to do it in general (the clipping would have performance characteristics that are undesirable in the general case).

[2021-01-29 23:04] jonathanolson commented on #450
What is the desired behavior? I'm still very uneasy about having a default "moveToFront" inside a component (but I guess you can always wrap it with a Node if desired?)

That seems like something that might be nice to have for this and other reasons.

I think the better approach is to NOT have moveToFront baked into StopwatchNode (especially just in the dragTarget!!!), but instead a client can add

[2021-01-29 23:23] samreid commented on #450
I discussed with @arouinfar and we agreed that it's not a blocking publication issue that clicking the buttons doesn't bring the stopwatch to the front.  Since waves intro 1.1.0-rc.3 moves the stopwatch node to front for all except for the buttons, I'll remove this issue from the milestone.

That seems like a nontrivial issue which would probably need to be discussed with the dev team, and may go

[2021-01-29 23:32] jonathanolson commented on #450
Or, presumably we'd want all StopwatchNodes to moveToFront with the buttons, so StopwatchNode could create a listener on ALL of itself?

[2021-01-29 23:39] samreid commented on #515
I fuzzed "manually" on the iPad 7 for 80 seconds and did not see any problems. I turned on ?fuzz on the iPad and it ran for 3 minutes without crashing.  Perhaps we should consider this a "sighting" and reopen if we hear more reports of this problem.  Closing.

[2021-01-29 23:39] #515 closed

[2021-01-29 23:44] samreid commented on #450
This patch seems to be working OK, is it what you had in mind?

[code]

[2021-01-29 23:45] samreid commented on #450
I noticed the patch doesn't pop it to the front when dragging out of the toolbox though.

[2021-01-29 23:48] samreid commented on #512
This does not feel blocking to me, @arouinfar what do you recommend?

[2021-01-29 23:59] samreid commented on #509
I cherry picked the fixes for
https://github.com/phetsims/wave-interference/issues/510
https://github.com/phetsims/wave-interference/issues/516
https://github.com/phetsims/wave-interference/issues/513

[2021-01-30 01:18] jonathanolson commented on #450
Presumably we'd want to handle touch-snag and the toolbox pattern! Having a DragListener with `attach:false` would handle the first, however the second would almost require information from the actual DragListener being triggered, right?

[2021-01-30 02:03] samreid commented on #450
I'll move the latter part of the conversation to a new issue in scenery-phet.

[2021-01-30 02:06] samreid commented on #450
Since this issue is non-blocking for Waves Intro, I'm unassigning.  We can continue in https://github.com/phetsims/scenery-phet/issues/659 as appropriate

[2021-02-01 17:24] arouinfar commented on #512
Nice find! @samreid I would agree that this is not blocking. At worst, the speaker membrane sound is missing/off for one round which doesn't seem particularly serious to me.

[2021-02-02 02:03] jonathanolson commented on #513
I think something that would hit the majority of use cases, IF `wrap` and `useTargetBounds` are true (the defaults), then we could make the wrapped image `pickable:false` and set mouse/touch areas on the wrapping Node.

It would also be possible to subclass Image with e.g. RasterizedImage, where it specifically overrides either selfBounds or containsSelfPoint, so that with hit-testing it only hits

[2021-02-02 02:50] samreid commented on #513
That sounds like a good proposal to me.

[2021-02-02 02:53] jonathanolson commented on #513
@zepumph would you be willing to discuss tradeoffs sometime, and go for an implementation together?

[2021-02-04 01:38] zepumph commented on #513
@jonathanolson and I met to discuss this today. We didn't finish the conversation because we ran out of time. I took up most of the time asking questions about how scenery handles bounds as well as details about `Picker.js` and hit testing. I also learned about the strangeness behind `Text.getSafeSelfBounds()`.

It isn't clear what would be best. @jonathanolson let me know if you want to discuss a

[2021-02-05 19:38] jonathanolson commented on #513
@samreid I believe the above change to the resulting rasterized node should fix this. Can you try removing the workaround and verifying?

[2021-02-08 16:14] samreid commented on #513
I removed the workaround, and tested with and without the scenery change, and confirmed the behavior is as desired.  The scenery inspects still shows the larger bounds (even though they are not pickable), is that to be expected?

![image](https://user-images.githubusercontent.com/679486/107246921-fd229600-69ed-11eb-9314-25472ca38ec5.png)

After discussing this last question, this issue can probabl

[2021-02-08 21:22] zepumph commented on #513
Yes this is expected. The reason is because of how Text.getSafeSelfBounds() works. This is basically a workaround estimate that is imperfect in this case, making the self bounds much larger than they actually are. What you are seeing here is that the Image itself includes all the transparent pixels on either side of the tool as you see above, but then we use the `useTargetBounds` option to manuall

[2021-02-09 03:21] samreid commented on #513
If we know the bounds well enough to set the `imageBounds`, can those bounds used to be set the actual size of the raster?  I'm trying to understand why the raster should include the transparent pixels on either side of the tool, if we know they should be clipped.

[2021-02-09 03:35] zepumph commented on #513
I think the point is that we don't know that they should be clipped? Since we don't know how well the text self bounds actually represents the text (because of browsers). I am running out of my ability to respond here. Perhaps I should tap in @jonathanolson.

[2021-02-09 04:12] jonathanolson commented on #513
Rendered text can appear outside of the bounds that browsers give us. Only rasterizing those areas will likely clip off certain text, so generally we rasterize it with additional padding. The amount of padding needed is proportional to the size of the text, so we can't use a fixed amount.

[2021-02-09 13:21] samreid commented on #513
Ah, that makes sense, thanks for helping me understand.  I think this issue is ready to close.

[2021-02-09 13:21] #513 closed

[2021-02-12 23:16] liam-mulhall opened #517 "Sliders slightly misaligned with long strings"
### Test Device

MacBook Air

### Operating System

macOS 11.2

### Browser

Safari 14.0.3

### Problem Description

For https://github.com/phetsims/QA/issues/603. While verifying https://github.com/phetsims/wave-interference/issues/513, I noticed that the alignment of the sliders is ever so slightly off with long strings. See screenshots. Only documenting because QA policy is to over-document, no

[2021-02-14 03:12] samreid commented on #517
Thanks for the report @liam-mulhall, this problem is akin to https://github.com/phetsims/wave-interference/issues/433 and will likely be dealt with in the same way--that is, with a long term solution in https://github.com/phetsims/sun/issues/48, closing.

[2021-02-14 03:12] #517 closed

[2021-03-15 20:43] KatieWoe commented on #510
looks good in rc.4

[2021-03-15 20:43] #510 closed

[2021-03-15 20:58] KatieWoe commented on #516
looks good in rc.4

[2021-03-15 20:58] #516 closed

[2021-03-22 15:33] samreid commented on #509
RC.4 completed indicating all known issues resolved and no new issues discovered.  I'll proceed with publication.

[2021-03-22 15:56] samreid commented on #509
I published the production version of 1.1.0 on the main site: https://phet.colorado.edu/en/simulation/waves-intro

@arouinfar or @emily-phet do we need to update the description or other metadata?

[2021-03-23 23:01] arouinfar commented on #509
I tagged the sim with Sound & Sonification and @BLFiedler uploaded the Sound Features video. I don't think there's any other metadata that needs to be updated, so closing.

[2021-03-23 23:01] #509 closed

[2021-03-29 17:22] KatieWoe opened #518 "CT Failed with status code 6"
[code]

[2021-03-29 17:40] KatieWoe commented on #518
Also in perennial:
[code]

[2021-03-29 20:02] samreid commented on #518
Fixed, closing.

[2021-03-29 20:02] #518 closed

[2021-04-16 00:11] pixelzoom opened #519 "No sound when clicking on a slider track"
Noted while working on https://github.com/phetsims/fourier-making-waves/issues/56.

Sounds occur when dragging the slider.  But there is no sound when you click on the track.  And that's a standard feature of Slider.   Is this an oversight?

[2021-04-16 00:29] pixelzoom opened #520 "Misleading "click" naming in WaveInterferenceSlider.js"
Noted while working on phetsims/fourier-making-waves#56, because I was told to use WaveInterferenceSlider.js as an example.

In WaveInterferenceSlider.js

[code]

Naming is really confusing here. If this did have something to do with "clicks", it would be better to call it "press", because click is mouse specific.  And in fact it has nothing to do with click or press.  It's the time between drag e

[2021-04-16 00:36] pixelzoom opened #521 "Issues with sound ducking"
Noted in https://github.com/phetsims/fourier-making-waves/issues/55, where I was asked to use WaveMeterNode.js as an example of how to duck sounds.

In WaveMeterNode.js:

[code]

And then that Property is observed elsewhere, to set the output of sound clips.

Problems:

(1) No documentation about the semantics of `duckingProperty` or its type. It's actually `{number}` and it's an output level.

(2

[2021-04-16 14:15] samreid commented on #520
I believe the clicks refer to the clicking sound that is made as you move across the slider tick marks.  I'll update the documentation accordingly.

[2021-04-16 14:17] samreid commented on #520
I updated the documentation, but couldn't think of a superior variable name.  @pixelzoom what do you recommend?

[2021-04-16 17:04] pixelzoom commented on #520
Doc in https://github.com/phetsims/wave-interference/commit/409e3b5d3fbdad8971308284a0074a4961f0e42e looks OK.

 https://github.com/phetsims/ratio-and-proportion/commit/e0bf77f4b61941340b6a84dc9e54d7e7ac93020e looks unrelated to this issue, probably an accidental commit.

Closing.

[2021-04-16 17:04] #520 closed

[2021-04-16 17:08] samreid commented on #520
In https://github.com/phetsims/ratio-and-proportion/commit/e0bf77f4b61941340b6a84dc9e54d7e7ac93020e I noticed a copy/pasted version of the bad documentation, so I updated it at the same time.

[2021-04-22 16:10] pixelzoom opened #522 "Value for MIN_INTER_CLICK_TIME"
In WaveInterferenceSlider.js:

[code]

Consider reducing this to a value.  Or at least explain the 4 magic numbers that you're using.

[2021-04-23 15:56] samreid commented on #522
I simplified the constants, closing.

[2021-04-23 15:56] #522 closed

[2021-04-26 17:53] pixelzoom opened #523 "Questions about sound implementation in WaveInterferenceSlider.js"
Some questions, to help proceed with https://github.com/phetsims/fourier-making-waves/issues/56 and https://github.com/phetsims/sun/issues/697

WaveInterference.js adds sound support to `HSlider`.

For the `if ( event.isFromPDOM() )` code path:

(1) Why is a different code path required when `event.isFromPDOM()`?

(2) Why is `TOLERANCE` needed in this code path, and not the mouse/touch code path?

[2021-04-28 22:41] samreid commented on #523
From the keyboard, there should be a sound with every keypress.  For mouse/pointer, there should only be a sound when you pass by a tickmark.

From my testing, it doesn't appear to be needed in either code path.  It was described in https://github.com/phetsims/wave-interference/commit/0b9318753ece23b5f6f3892efe84247585037a6a but that doesn't seem accurate any more.

Same as the response to (1).  A

[2021-04-28 22:54] pixelzoom commented on #523
Thanks for the answers!

It sounds like you're assuming that `event.isFromPDOM()` equates to keyboard, which is slower than mouse/touch.  That's not the case -  `event.isFromPDOM()` is any alternative input, see SceneryEvent.js:

[code]

.... and I can certainly imagine an input device that has teh same "too many sounds to play at the same time" problem as mouse/touch.

Closing.

[2021-04-29 20:12] #523 closed

[2021-07-04 01:51] samreid commented on #514
On hold until https://github.com/phetsims/scenery/issues/1142 has progress.

[2021-07-04 13:04] samreid commented on #521
Unassigning until we return our attention to this sim.

[2021-07-07 15:09] pixelzoom opened #524 "soundManager.enabledProperty listeners do not fire"
https://github.com/phetsims/joist/issues/724 made big changes to audio, and caused soundManager.enabledProperty listeners to stop firing. There are 2 such listeners in WaveInterferenceConrolPanel.js.

In https://github.com/phetsims/joist/issues/724#issuecomment-875207660, @jessegreenberg said:

[2021-07-08 16:38] samreid commented on #524
I'll take a closer look when we return attention to this sim.

[2021-07-20 18:36] jessegreenberg commented on #524
After changes in https://github.com/phetsims/joist/issues/724, the change that you likely want to apply is to replace links to `soundManager.enabledProperty` with `audioManager.audioAndSoundEnabledProperty` so that the checkboxes controlling output of sound in the Sim UI are only enabled if it is possible for the soundManager to have output.

[2021-10-13 23:15] pixelzoom opened #525 "in-sim credit and the sim-page credit do not match."
In https://github.com/phetsims/fourier-making-waves/issues/208#issuecomment-942776878, @kathy-phet said:

[2021-10-15 16:00] samreid commented on #525
I fixed it in master, but the shas are too old to cherry pick automatically (merge conflicts), so I'll do manual commits instead.

[2021-10-15 16:43] arouinfar commented on #525
@samreid looks good in the RC's.

[2021-11-01 20:38] arouinfar commented on #525
This was blocked by a character limit in the "Thanks to" field, but it was expanded in https://github.com/phetsims/website/issues/1280. The full text is now up on the wave-interference and waves-intro sim pages.

[2021-11-01 20:38] #525 closed

[2021-11-11 20:47] zepumph opened #526 "branch: altInputToolbox"
For prototyping work to be done in https://github.com/phetsims/a11y-research/issues/166

[2022-01-27 23:29] KatieWoe opened #527 "Amplitude of waves regularly go off screen after v1.1 of Waves Intro"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
Seen during https://github.com/phetsims/qa/issues/770 and while taking screenshots. Happens in intro as well. Appeared in v1.1 of Waves Intro. May not happen in Wave Interference (at least not as obviously). Wave Interference is more likely to see this if there are two sources added together. May be connect

[2022-01-28 16:40] samreid commented on #527
@KatieWoe and I discussed the behavior above and it seems like the next step is for @arouinfar to recommend how to proceed.

[2022-02-24 19:17] KatieWoe commented on #322
This seems ok and has been published. Closing

[2022-02-24 19:17] #322 closed

[2022-03-11 23:30] jbphet opened #528 "Integrate sound generation that is now supported by Slider"
In https://github.com/phetsims/sun/issues/697, generalized support for sound generation by sliders was added.  The time was not taken to integrate this into all sims that were doing customized sound generation related to sliders, such as this one.  Instead, the default sound was simply turned off via the options.  Before this sin is released again off of master, we should consider integrating the

[2022-03-14 19:31] jbphet commented on #528
This has been implemented.  Assigning to @samreid to review the behavior and implementation for both wave-interference and waves-intro.

[2022-08-28 21:54] samreid opened #529 "Convert to TypeScript"

[2022-08-28 23:22] samreid commented on #529
To avoid merge problems, I decided to commit intermediate work with typescript eslint rules disabled and some ts-nochecks.  Local testing is passing, hopefully this doesn't cause issues for our workflow.

[2022-09-02 01:33] samreid commented on #529
@kathy-phet said:

[2022-09-06 16:45] pixelzoom opened #530 "Sound files have both .js and .ts checked in."
I see both .ts and .js for many sound files checked in for wave-interference. It’s causing `transpile.js --watch` to thrash a bit every time it starts, see below.  Looks like this problem was introduced on 8/28/2022 for https://github.com/phetsims/wave-interference/issues/529.

[code]

[2022-09-06 21:48] samreid commented on #530
Thanks, good catch!  I deleted the *.js versions.  I don't think tracking that history in these derived data files is important.  Closing.

[2022-09-06 21:48] #530 closed

[2022-10-18 04:17] arouinfar commented on #519
As of https://github.com/phetsims/sun/issues/697, sliders now have an API for sounds. Clicking on the slider track produces a sound, so closing.

[2022-10-18 04:17] #519 closed

[2022-10-29 15:34] samreid commented on #52
I'm going to move this to scenery-phet for https://github.com/phetsims/sound/issues/6. There is no history on the PNG files (just one commit), so I don't think I need to transmit version history.

[2022-10-29 16:06] #52 closed